<h1>Canvas Facebook Website Test</h1>
<p>
	This page is intended to show how the RFacebook on Rails plugin works for canvas apps.
	You should be visiting this link from http://apps.facebook.com/YOUR_APP_NAME.
</p>

<h2>Examples</h2>
<p>
	Here are two broad examples of the RFacebook on Rails plugin.  They demonstrate the
	ActionController extensions as well as the ActiveRecord extensions.
</p>
<ul>
	<li><%= link_to "ActionController extensions sample", :action => "controllerextensions" %></li>
	<li><%= link_to "ActiveRecord extensions sample", :action => "modelextensions" %></li>
</ul>
