                  <h2 class="dot">Control Panel for Profile ID : <%=@myuser.id.to_s%>
</h2><br/>
Click <a href="/myprofile/<%=@myuser.id.to_s%>">here </a>to view your profile<br/>
                  	<% if @myuser.sex_id == 1%>
                  <img src="/images/id_img/woman.jpg" width="60" height="60"/>
                  <% else %>
                  <img src="/images/id_img/man.jpg" width="60" height="60"/>
                  <% end %>
                  
                  <% @mycount = Ad.count(:conditions => 'member_id = ' + @myuser.id.to_s)%>
                  <% if @mycount > 0 %>
                  <% @m1count = Ad.count(:conditions => ' status = 1 and member_id =' + @myuser.id.to_s)%>
                  <% if @m1count > 0 %>
                 
                  <% else %>
                  <br/> Your Profile is waiting for Approval 
                  <% end %>
                  <% else %>
                  <% end %>

                        <% @myuser = Member.find(session[:member]) %>
                       
                        
                  
                   
			   <table width="100%"  cellpadding="5" cellspacing="5" style="border: 2px solid #CFE4FA;"> 

		<tr>
<td>
	
	<img src="/images/icons/profile.gif"/></td><td><a href="/editprofile" class="searchlink">Edit Phone Number and Password</a></td>
<td><img src="/images/icons/resume.gif"/></td><td><a href="/editmyprofile" class="searchlink">Create/Edit My Profile</a></td>
</tr>
		<tr>
<td><img src="/images/icons/pmessages.gif"/></td><td><a href="/mypms" class="searchlink">My Private Messages</a></td>
<td><img src="/images/icons/jobagent.png"/></td><td><a href="/mysavedsearches" class="searchlink">Automatic Email Alerts</a></td>
</tr>
		<tr>
<td><img src="/images/icons/star.gif"/></td><td><a href="/myfavorites" class="searchlink">My Favorite Profiles</a></td>
<td><img src="/images/icons/help.gif"/></td><td><a href="/faq" class="searchlink">Help and Contact</a></td>
</tr>

<td><% @m1count = Ad.count(:conditions => '  member_id =' + @myuser.id.to_s)%>
<% if @m1count > 0 %><tr><td>
	<img src="/images/icons/delpro.png"/></td><td><%=link_to_remote("Delete My Profile", :update => 'delprodiv', :url => '/userfunctions/delmyprofile/') %>
	</td></tr>
	<% end %>





		</table>
<div id="delprodiv">
		<br/>
		 <table width="100%"  cellpadding="5" cellspacing="5" style="border: 2px solid #CFE4FA;"> 
		 	<% @myad = Ad.find(:first, :conditions => 'status = 1 and member_id = ' + @myuser.id.to_s)%>
		 	<% if @myad %><tr><td><a href="/myprofile/<%=@myuser.id.to_s%>">Click Here to View Your Profile </a></td></tr><% end %>
		 	<% @mypay = Memberpayment.find(:first, :conditions => ' member_id = ' + @myuser.id.to_s)%>
		 	<% if @mypay%><tr><td><img src="/images/icons/emailalert.png" alt=" ">Your Membership Expires on <%=@mypay.exp_date.strftime("%d-%m-%Y")%> - <a href="/paynow">Renew Now!</a></td></tr>
		 	<% end %>
		 	
		 	</table>
		 	<br/>

	 <table width="100%"  cellpadding="5" cellspacing="5" style="border: 2px solid #CFE4FA;"> 
		 	<tr><td><img src="/images/icons/smiley.png" alt=""/><a href="/userfunctions/myints">Find Out Who Have Expressed Interest in me or Profiles Which I sent an Expression of Interest</a>
		 	
		 	</table>
		 	<br/>
		 	
		
		<table  border="0" cellspacing="0" cellpadding="5">
			<tr><td><img src="/images/icons/cupid48.jpg"/></td><td><b>Who Has a Crush On Me or is interested in my profile?</b></td><td>
				<img src="/images/icons/cupid48.jpg"/></td></tr></table>
				<table  border="0" cellspacing="0" cellpadding="15">
				<tr>
<td><img src="/images/favorites_48.gif"></td><td><a href="/userfunctions/whoisfavorite" class="searchlink">Find Out Who Has my profile into their Favorites!</a></td>
</tr>
				
				</table>
		



