                  <h2>Confirmation of Your Email</h2>
           

We have sent an email with a confirmation link to verify your email. <br/>
Click on the link or copy and paste to an internet browser<br/>
Thanks 






