     
                  <h2><img src="/images/new_mail_48.gif"/> My Private Messages</h2>
               

			   <table width="100%" border="0" cellspacing="0" cellpadding="5">
                  
               
<tr><td>My InBox</td></tr>
<% for pm in @myinbox %>
<% @fromuser = Member.find(:first, :conditions => 'username = "' + pm.from_user_name + '"')%>
<% @mycount = Ad.count(:conditions => ' member_id = ' + @fromuser.id.to_s)%>
  <tr><td><div class="loginlh">
    <%= pm.pmdate[0..10]%><br/><b> Profile ID <%= @fromuser.id.to_s%> </b></td></div><td><div class="loginlh">
    	<% if @mycount > 0 %>
    	<% @myad = Ad.find(:first, :conditions => ' member_id = ' + @fromuser.id.to_s)%> 
    	
    	  <% @link = url_for(:action => 'adshow', :controller =>  'rents101', :id => @myad.id, :boygirl => @myad.adtype.url, :brahmintype => @myad.brahmintype, :addescr => @myad.myurl) %>
        <a href="<%=@link%>" TARGET="_blank" class="searchlink">View This Profile</a>
        <% end %></div>
    	</td>
    	 <td><div class="loginlh">
<% if pm.read_on %>
<%= pm.title %>
<%else%>
<img src="/images/new.gif" alt="New PM"><b><%= pm.title %></b>
<%end%> <br/>
<%= link_to 'Reply', :action => 'pmreply',:reply_member_id => pm.from_user_id,  :id => pm.message_id%>  | 
<%= link_to 'Delete', { :action => 'pmdelete', :id => pm.message_id, :boxid => 'inbox' }, :confirm => 'Are you sure?', :method => "post" %></div></td><td>
<div id="ViewMessage<%=pm.message_id%>"><img src='/images/viewme.gif'><%=link_to_remote("ViewMessage", :update => 'ViewMessage'+pm.message_id.to_s, :url => '/userfunctions/pm_details/'+pm.message_id.to_s) %></div></td></tr>
<% end %>

                        
                        
                  
                    </table><hr><br/>

			   <table  border="0" cellspacing="0" cellpadding="5">
<tr><td>My Sent Items</td></tr>
<% for pm in @mysentbox%><tr><td><div class="loginlh">
  
  <% @touser = Member.find(:first, :conditions => 'username = "' + pm.to_user_name + '"')%>
<% @mycount = Ad.count(:conditions => ' member_id = ' + @touser.id.to_s)%>

    <%= pm.pmdate[0..10]%> <br/><b>Profile ID <%=@touser.id.to_s%></b></div> </td>
    <td><div class="loginlh">
    	   	<% if @mycount > 0 %>
    	<% @myad = Ad.find(:first, :conditions => ' member_id = ' + @touser.id.to_s)%> 
    	
    	  <% @link = url_for(:action => 'adshow', :controller =>  'rents101', :id => @myad.id, :boygirl => @myad.adtype.url, :brahmintype => @myad.brahmintype, :addescr => @myad.myurl) %>
        <a href="<%=@link%>" TARGET="_blank" class="searchlink">View This Profile</a>
        <% end %>
        </div>
    	</td>
    <td><div class="loginlh">
<%= pm.title %><br ><%=pm.description%> </div></td>

<td>
    <%= link_to 'Delete', { :action => 'pmdelete', :id => pm.message_id, :boxid => 'sentbox' }, :confirm => 'Are you sure?', :method => "post" %>
</td></tr>  
<% end %>


		</table>



