        <table border="0" cellspacing="0" cellpadding="1" style="width: 525px;">
<tr>
	
	<td class="goldtop" style="width: 520px;"><h3 class="goldtop">Login</h3></td>
	
</tr>
</table>

       <%=form_tag({:controller => 'userfunctions', :action=>'signin'}, :multipart => true)%>
			  <table width="100%" border="0" align="center" cellpadding="4" bgcolor="#CFE4FA" cellspacing="1">
                      <tr>
                        <td width="27%" align="left">Enter Email or Profile ID :- </td>
                        <td colspan="2" align="left"><%= text_field_tag "userid" %></td>
                        </tr>
                      <tr>
                        <td>Password :- </td>
                        <td colspan="2"><%= password_field_tag "passwd" %></td>
                        </tr>
                      
                      <tr>
                        <td>&nbsp;</td>
                        <td width="32%">
                        <input type="submit" value="Log-in" class="searchbtn" /></form>
                        </a></td>
                        <td width="41%" ><%= link_to 'Forgot My Password', :controller => 'rents101', :action => 'forgot_password' %></td>
                      </tr>
                      <tr>
                        <td>&nbsp;</td>
                        <td height="30" colspan="2" >New user please <a href="/register" class="forgotlink">register here for free</a> </td>
                        </tr>
                    </table>
        			   <br />
 <table bordercolor="#ff8080" bgColor=#fdfeeb  border="1" cellspacing="0" cellpadding="0">

        <tr>
          <td bgcolor="#fcf83f"><div class="loginlh"><strong>By logging on to our site you agree to our <a href="/terms.html">Terms</a>. You also agree that the site owners are not liable for any errors/omissions, changes to marital status of the profiles entered by individuals</strong> </div></td>
        </tr>
       </table>
               <br />
               <h2 class="dot">Contact Customer Support :-</h2><br />
               <br />
               <br />
               <table width="70%" border="0" cellspacing="0" cellpadding="5">
               	<% if Sitestuff::MYDOMAIN != 'MarryaSunni.com'%>
                 <tr>
                   <td width="8%" align="left"><img src="/images/call.gif" alt="" width="29" height="29" /></td>
                   <td width="92%" align="left">Call: 0944 204 3570</td>
                 </tr>
                 <% end %>
                 <tr>
                   <td><img src="/images/live-chat.gif" alt="" width="29" height="29" /></td>
                   <td><a href="/livehelp"  class="forgotlink">Live Chat</a></td>
                 </tr>
                 <tr>
                   <td><img src="/images/contactus.gif" alt="" width="29" height="29" /></td>
                   <td><a href="mailto:support@<%=Sitestuff::MYDOMAIN%>m"  class="forgotlink">Contact Us</a></td>
                 </tr>
               </table>
        