<%= error_messages_for 'ad' %>

<!--[form:ad]-->
<p><label for="ad_person_type">Person type</label><br/>
<%= text_area 'ad', 'person_type'  %></p>

<p><label for="ad_property_price">Property price</label><br/>
<%= text_area 'ad', 'property_price'  %></p>

<p><label for="ad_property_address">Property address</label><br/>
<%= text_area 'ad', 'property_address'  %></p>

<p><label for="ad_property_city">Property city</label><br/>
<%= text_area 'ad', 'property_city'  %></p>

<p><label for="ad_neighbourhood">Neighbourhood</label><br/>
<%= text_area 'ad', 'neighbourhood'  %></p>

<p><label for="ad_property_age">Property age</label><br/>
<%= text_area 'ad', 'property_age'  %></p>

<p><label for="ad_building_type">Building type</label><br/>
<%= text_area 'ad', 'building_type'  %></p>

<p><label for="ad_bedrooms">Bedrooms</label><br/>
<%= text_area 'ad', 'bedrooms'  %></p>

<p><label for="ad_bathrooms">Bathrooms</label><br/>
<%= text_area 'ad', 'bathrooms'  %></p>

<p><label for="ad_size">Size</label><br/>
<%= text_area 'ad', 'size'  %></p>

<p><label for="ad_size2">Size2</label><br/>
<%= text_area 'ad', 'size2'  %></p>

<p><label for="ad_property_view">Property view</label><br/>
<%= text_area 'ad', 'property_view'  %></p>

<p><label for="ad_parking">Parking</label><br/>
<%= text_area 'ad', 'parking'  %></p>

<p><label for="ad_laundry">Laundry</label><br/>
<%= text_area 'ad', 'laundry'  %></p>

<p><label for="ad_cooking">Cooking</label><br/>
<%= text_area 'ad', 'cooking'  %></p>

<p><label for="ad_deposit">Deposit</label><br/>
<%= text_area 'ad', 'deposit'  %></p>

<p><label for="ad_when_available">When available</label><br/>
<%= text_area 'ad', 'when_available'  %></p>

<p><label for="ad_amenities">Amenities</label><br/>
<%= text_area 'ad', 'amenities'  %></p>

<p><label for="ad_title">Title</label><br/>
<%= text_area 'ad', 'title'  %></p>

<p><label for="ad_description">Description</label><br/>
<%= text_area 'ad', 'description'  %></p>

<p><label for="ad_visibility">Visibility</label><br/>
<%= text_area 'ad', 'visibility'  %></p>

<p><label for="ad_priority">Priority</label><br/>
<%= text_area 'ad', 'priority'  %></p>

<p><label for="ad_template">Template</label><br/>
<%= text_area 'ad', 'template'  %></p>

<p><label for="ad_view">View</label><br/>
<%= text_field 'ad', 'view'  %></p>

<p><label for="ad_reply">Reply</label><br/>
<%= text_field 'ad', 'reply'  %></p>

<p><label for="ad_save">Save</label><br/>
<%= text_field 'ad', 'save'  %></p>

<p><label for="ad_created_on">Created on</label><br/>
<%= datetime_select 'ad', 'created_on'  %></p>

<p><label for="ad_updated_on">Updated on</label><br/>
<%= datetime_select 'ad', 'updated_on'  %></p>

<p><label for="ad_enddate">Enddate</label><br/>
<%= date_select 'ad', 'enddate'  %></p>

<p><label for="ad_status">Status</label><br/>
<%= text_field 'ad', 'status'  %></p>

<p><label for="ad_air_condition">Air condition</label><br/>
<%= text_field 'ad', 'air_condition'  %></p>

<p><label for="ad_microwave">Microwave</label><br/>
<%= text_field 'ad', 'microwave'  %></p>

<p><label for="ad_furnished">Furnished</label><br/>
<%= text_field 'ad', 'furnished'  %></p>

<p><label for="ad_water_supply">Water supply</label><br/>
<%= text_field 'ad', 'water_supply'  %></p>

<p><label for="ad_security">Security</label><br/>
<%= text_field 'ad', 'security'  %></p>

<p><label for="ad_storage">Storage</label><br/>
<%= text_field 'ad', 'storage'  %></p>

<p><label for="ad_bus_stop">Bus stop</label><br/>
<%= text_field 'ad', 'bus_stop'  %></p>

<p><label for="ad_train_station">Train station</label><br/>
<%= text_field 'ad', 'train_station'  %></p>

<p><label for="ad_swimming_pool">Swimming pool</label><br/>
<%= text_field 'ad', 'swimming_pool'  %></p>

<p><label for="ad_excercise">Excercise</label><br/>
<%= text_field 'ad', 'excercise'  %></p>

<p><label for="ad_tennis">Tennis</label><br/>
<%= text_field 'ad', 'tennis'  %></p>

<p><label for="ad_spa">Spa</label><br/>
<%= text_field 'ad', 'spa'  %></p>

<p><label for="ad_garbage">Garbage</label><br/>
<%= text_field 'ad', 'garbage'  %></p>

<p><label for="ad_dishwasher">Dishwasher</label><br/>
<%= text_field 'ad', 'dishwasher'  %></p>

<p><label for="ad_fireplace">Fireplace</label><br/>
<%= text_field 'ad', 'fireplace'  %></p>

<p><label for="ad_balcony">Balcony</label><br/>
<%= text_field 'ad', 'balcony'  %></p>

<p><label for="ad_cable_tv">Cable tv</label><br/>
<%= text_field 'ad', 'cable_tv'  %></p>

<p><label for="ad_pets">Pets</label><br/>
<%= text_field 'ad', 'pets'  %></p>

<p><label for="ad_internet">Internet</label><br/>
<%= text_field 'ad', 'internet'  %></p>

<p><label for="ad_shopping">Shopping</label><br/>
<%= text_field 'ad', 'shopping'  %></p>

<p><label for="ad_center_of_town">Center of town</label><br/>
<%= text_field 'ad', 'center_of_town'  %></p>

<p><label for="ad_for_men">For men</label><br/>
<%= text_field 'ad', 'for_men'  %></p>

<p><label for="ad_for_women">For women</label><br/>
<%= text_field 'ad', 'for_women'  %></p>

<p><label for="ad_for_couples">For couples</label><br/>
<%= text_field 'ad', 'for_couples'  %></p>

<p><label for="ad_for_students">For students</label><br/>
<%= text_field 'ad', 'for_students'  %></p>

<p><label for="ad_for_all">For all</label><br/>
<%= text_field 'ad', 'for_all'  %></p>

<p><label for="ad_food">Food</label><br/>
<%= text_field 'ad', 'food'  %></p>

<p><label for="ad_hot_water">Hot water</label><br/>
<%= text_field 'ad', 'hot_water'  %></p>

<p><label for="ad_study_tables">Study tables</label><br/>
<%= text_field 'ad', 'study_tables'  %></p>

<p><label for="ad_image1">Image1</label><br/>
<%= text_field 'ad', 'image1'  %></p>

<p><label for="ad_image2">Image2</label><br/>
<%= text_field 'ad', 'image2'  %></p>

<p><label for="ad_image3">Image3</label><br/>
<%= text_field 'ad', 'image3'  %></p>

<p><label for="ad_watermarked">Watermarked</label><br/>
<%= text_field 'ad', 'watermarked'  %></p>

<p><label for="ad_veg">Veg</label><br/>
<%= text_field 'ad', 'veg'  %></p>

<p><label for="ad_vasthu">Vasthu</label><br/>
<%= text_field 'ad', 'vasthu'  %></p>

<p><label for="ad_lat">Lat</label><br/>
<%= text_field 'ad', 'lat'  %></p>

<p><label for="ad_lng">Lng</label><br/>
<%= text_field 'ad', 'lng'  %></p>

<p><label for="ad_maptitle">Maptitle</label><br/>
<%= text_field 'ad', 'maptitle'  %></p>

<p><label for="ad_maplandmark">Maplandmark</label><br/>
<%= text_field 'ad', 'maplandmark'  %></p>

<p><label for="ad_nobrokers">Nobrokers</label><br/>
<%= text_field 'ad', 'nobrokers'  %></p>
<!--[eoform:ad]-->

