<h1>Listing ads</h1>



<% for ad in @ads %>
<table border="0" width="60%" id="table1">
<tr>
<td><%= h ad.adtype.adtypename %> <%= h ad.propertytype.propertytypename %> in <%= h ad.adcity.adcityname %> 
</td>
<td><b><%=link_to ad.title, :action => 'show', :id => ad %></b></td><td>Price: <b>Rs. <%=ad.property_price%></b> <%=ad.created_on %></td>
</tr>
</table>
<table border="0" width="60%" id="table1">
<tr><td><%=h ad.description%> </td></tr>
</table>
<hr>
<% end %>


<%= link_to 'Previous page', { :page => @ad_pages.current.previous } if @ad_pages.current.previous %>
<%= link_to 'Next page', { :page => @ad_pages.current.next } if @ad_pages.current.next %> 

<br />

<%= link_to 'New ad', :action => 'new' %>


