
<table border="0" width="60%" id="table1">
<tr>
<td><%= h @ad.adtype.adtypename %> <%= h @ad.propertytype.propertytypename %> in <%= h @ad.adcity.adcityname %> 
</td>
<td><b><%=h @ad.title %> </b></td><td>Price: <b>Rs. <%=@ad.property_price%></b> <%=@ad.created_on %> 
Contact Phone Number : <span style="background-color: #00FFFF"><%=@ad.member.phone%></span> </td>
</tr>
</table>
<table border="0" width="60%" id="table1">
<tr><td><%=h @ad.description%> </td></tr><tr><td>
No Of Bedrooms : <%=@ad.bedrooms%>
No Of Bathrooms : <%=@ad.bathrooms%>
Address : <%=@ad.property_address%>
Neighbourhood : <%= @ad.neighbourhood %>
Age of Property : <%= @ad.property_age%>
Building Type : <%=@ad.building_type%>
Total Size and Living Size : <%= @ad.size + "-" + @ad.size2%>
View From the Property : <%= @ad.property_view %>
Parking : <%=@ad.parking%>
Deposit : <%=@ad.deposit%>
</td></tr><tr><td>
Availability : <%=@ad.when_available%></td></tr><tr><td>
</td></tr>
</table>
<table border="0" width="60%" id="table1">
<tr>
<td><%= check_box 'ad', 'security'  %><label for="ad_security">Security</label></td>
<td><%= check_box 'ad', 'storage'  %><label for="ad_storage">Storage</label></td>
<td><%= check_box 'ad', 'water_supply'  %><label for="ad_water_supply">24 Hour Water Supply</label></td>
<td><%= check_box 'ad', 'bus_stop'  %><label for="ad_bus_stop">Near Bus Stop/Stand/Depot</label></td></tr>
<tr>
<td><%= check_box 'ad', 'train_station'  %><label for="ad_train_station">Near Train Station</label></td>
<td><%= check_box 'ad', 'swimming_pool'  %><label for="ad_swimming_pool">Swimming Pool</label></td>
<td><%= check_box 'ad', 'excercise'  %><label for="ad_excercise">Excercise Facility</label></td>
<td><%= check_box 'ad', 'tennis'  %><label for="ad_tennis">Tennis Court</label></td></tr>
<tr>
<td><%= check_box 'ad', 'spa'  %><label for="ad_spa">Sauna/Spa</label></td>
<td><%= check_box 'ad', 'garbage'  %><label for="ad_garbage">Garbage Disposer</label></td>
<td><%= check_box 'ad', 'dishwasher'  %><label for="ad_dishwasher">DishWasher</label></td>
<td><%= check_box 'ad', 'fireplace'  %><label for="ad_fireplace">FirePlace</label></td></tr>
<tr>
<td><%= check_box 'ad', 'balcony'  %><label for="ad_balcony">Balcony/Patio</label></td>
<td><%= check_box 'ad', 'cable_tv'  %><label for="ad_cable_tv">Cable TV</label></td>
<td><%= check_box 'ad', 'pets'  %><label for="ad_pets">Pets Allowed</label></td>
<td><%= check_box 'ad', 'internet'  %><label for="ad_internet">High Speed Internet</label></td></tr>
<tr>
<td><%= check_box 'ad', 'shopping'  %><label for="ad_shopping">Near Shopping Complex/Mall/Market</label></td>
<td><%= check_box 'ad', 'center_of_town'  %><label for="ad_center_of_town">Center Of the Town</label></td>
<td><%= check_box 'ad', 'for_men'  %><label for="ad_for_men">Men Only</label></td>
<td><%= check_box 'ad', 'for_women'  %><label for="ad_for_women">Women Only</label></td></tr>
<tr>
<td><%= check_box 'ad', 'for_couples'  %><label for="ad_for_couples">For Couples Only</label></td>
<td><%= check_box 'ad', 'for_students'  %><label for="ad_for_students">For Students Only</label></td>
<td><%= check_box 'ad', 'for_all'  %><label for="ad_for_all">For Everyone</label></td>
<td><%= check_box 'ad', 'food'  %><label for="ad_food">Food Available</label></td></tr>
<tr>
<td><%= check_box 'ad', 'hot_water'  %><label for="ad_hot_water">Hot Water/Maid</label></td>
<td><%= check_box 'ad', 'study_tables'  %><label for="ad_study_tables">Study Tables/Lamps</label></td>
</tr>
</table>