<%= error_messages_for 'mrtstation' %>

<!--[form:mrtstation]-->
<p><label for="mrtstation_mrtname">Mrtname</label><br/>
<%= text_field 'mrtstation', 'mrtname'  %></p>

<p><label for="mrtstation_lat">Lat</label><br/>
<%= text_field 'mrtstation', 'lat'  %></p>

<p><label for="mrtstation_lng">Lng</label><br/>
<%= text_field 'mrtstation', 'lng'  %></p>
<!--[eoform:mrtstation]-->

