<script type="text/javascript">

    /*
     Initialize the navbar and toolbars
     */

    $(function() {
        $( "[data-role='navbar']" ).navbar();
        $( "[data-role='header'], [data-role='footer']" ).toolbar();
    });

    $().ready(function() {$("#signupnow").validate();
    });

</script>
<div data-role="header"  >
  <a href="/mobile/myhome" data-ajax="false" data-icon="home">Home</a>
  <h1>Free Signup</h1>
</div>

<div data-role="page" id="msignup1" data-title="Signup">
  <div role="main" class="ui-content">
    <form action="/muser/updatecompany" id="signupnow" enctype="multipart/form-data" data-ajax="false" class="ui-body ui-body-a ui-corner-all" method="post" data-transition="pop">




      <h2 class="dot">Create or Edit Your Profile ID <%=@myuser.id.to_s%></h2>

      <table width="100%" border="0" cellspacing="1" cellpadding="5">


        <tr>
          <td height="25"><font class="redtext">*</font>Name  </td>
          <td height="25"><%= text_field 'ad', 'realname', :class =>  'required'  %></td>
        </tr>

        <tr>
          <td height="25"><font class="redtext">*</font>Marital Status  </td>
          <td height="25"><%= select("ad","maritalstatus_id", Maritalstatus.find(:all, :order => "name").collect { |s1| [s1.name, s1.id]} )%></td>
        </tr>

        <tr>
          <td height="25"><font class="redtext">*</font>Date Of Birth</td>
          <td height="25"><%= select("ad","year_id", Year.find(:all, :order => "name").collect { |s1| [s1.name, s1.id]} )%>
            <%= select("ad","month_id", Month.find(:all, :order => "id").collect { |s1| [s1.name, s1.id]} )%>
            <%= select("ad","day_id", Day.find(:all, :order => "name").collect { |s1| [s1.name, s1.id]} )%>
          </td>
        </tr>

        <tr>
          <td height="25"><font class="redtext">*</font>Type  </td>
          <td height="25"><%= select("ad","propertytype_id", Propertytype.find(:all, :order => "propertytypename").collect { |s1| [s1.propertytypename, s1.id]} )%></td>
        </tr>

        <tr>
          <td height="25"><font class="redtext">*</font>Profession  </td>
          <td height="25"><%= select("ad","adcity_id", Adcity.find(:all, :order => "adcityname").collect { |s1| [s1.adcityname, s1.id]} )%></td>
        </tr>


        <tr>
          <td height="25"><font class="redtext">*</font>Gothra  </td>
          <td height="25"><%= select("ad","gothra_id", Gothra.find(:all, :order => "name").collect { |s1| [s1.name, s1.id]} )%></td>
        </tr>

        <tr>
          <td height="25"><font class="redtext">*</font>Subsect  </td>
          <td height="25"><%= select("ad","subsect_id", Subsect.find(:all, :order => "name").collect { |s1| [s1.name, s1.id]} )%></td>
        </tr>

        <tr>
          <td height="25"><font class="redtext">*</font>Birth Star  </td>
          <td height="25"><%= select("ad","birthstar_id", Birthstar.find(:all, :order => "name").collect { |s1| [s1.name, s1.id]} )%></td>
        </tr>



        <tr>
          <td height="25"><font class="redtext"></font>Zodiac  </td>
          <td height="25"><%= select("ad","zodiac_id", Zodiac.find(:all, :order => "name").collect { |s1| [s1.name, s1.id]} )%></td>
        </tr>

        <tr>
          <td height="25"><font class="redtext"></font>Horoscope Matching  </td>
          <td height="25"><%= select("ad","horoscope_id", Horoscope.find(:all, :order => "name").collect { |s1| [s1.name, s1.id]} )%></td>
        </tr>
        <br/>

        <tr>
          <td height="25"><font class="redtext">*</font>Education</td>
          <td height="25"><%= text_field 'ad', 'degrees', :class =>  'required'  %></td>
        </tr>


        <tr>
          <td height="25"><font class="redtext"></font>University</td>
          <td height="25"><%= text_field 'ad', 'eduinst'  %></td>
        </tr>
        <tr>
          <td height="25"><font class="redtext">*</font>Major  </td>
          <td height="25"><%= select("ad","educationmajor_id", Educationmajor.find(:all, :order => "name").collect { |s1| [s1.name, s1.id]} )%></td>
        </tr>




        <tr>
          <td height="25"><font class="redtext">*</font>Current Job</td>
          <td height="25"><%= text_field 'ad', 'occupation', :class =>  'required'  %></td>
        </tr>

        <tr>
          <td height="25"><font class="redtext">*</font>Salary</td>
          <td height="25"><%= select("ad","salaryrange_id", Salaryrange.find(:all, :conditions => 'showthis = 1', :order => "sortorder").collect { |s1| [s1.name, s1.id]} )%>
            <br/>
            Or Enter your Foreign Salary  <%= text_field 'ad', 'forsal', :class =>  'required'  %>

          </td>
        </tr>






        <tr>
          <td height="25"><font class="redtext">*</font>Visa Status if Outside India  </td>
          <td height="25"><%= text_field 'ad', 'visastatus'  %></td>
        </tr>

        <tr>
          <td height="25"><font class="redtext">*</font>Citizen Of  </td>
          <td height="25"> <%= select("ad","citizen_id", Citizen.find(:all, :order => "name").collect { |s1| [s1.name, s1.id]} )%></td>
        </tr>


        <tr>
          <td height="25"><font class="redtext">*</font>Contact Address (Not Email)  </td>
          <td height="25"><%= text_field 'ad', 'homeaddress', :class =>  'required'  %></td>
        </tr>
        <tr>
          <td height="25"><font class="redtext">*</font>Country and City</td>
          <td height="25"> <%= select("ad","mycountry_id", Mycountry.find(:all, :order => "name").collect { |s1| [s1.name, s1.id]} )%>
            <br/>	<% if @ad %>
                <% if @ad.mycountry_id%>
                    <%= select("ad","mycity_id", Mycity.find(:all, :conditions => 'id =1 or mycountry_id = ' + @ad.mycountry_id.to_s, :order => "name").collect { |s1| [s1.name, s1.id]} )%>
                <% end %>

            <% else %>
                <%= select("ad","mycity_id", Mycity.find(:all, :order => "name").collect { |s1| [s1.name, s1.id]} )%>
            <% end %>
            <br/>
            If your City is not listed please type here : - <%= text_field 'ad', 'mycity1'  %>
          </td>
        </tr>

        <tr>
          <td height="25"><font class="redtext">*</font>Zip/Pin Code  </td>
          <td height="25"><%= text_field 'ad', 'zip', :class =>  'required'  %></td>
        </tr>




        <tr>
          <td height="25"><font class="redtext"></font>Keywords (Seperate with , - Used in searches. Examples : TCS, Manglik, Sai)</td>
          <td height="25"><%= text_field 'ad', 'mykeywords', "size" => 55  %></td>
        </tr>

        <tr>
          <td height="25"><font class="redtext">*</font>Profile Title</td>
          <td height="25"><%= text_field 'ad', 'title', "size" => 55 , :class =>  'required' %></td>
        </tr>

      </table>

      <br/>
      <table width="100%" bordercolor="#ff8080" bgColor=#fdfeeb  border="1" cellspacing="0" cellpadding="0">

        <tr>
          <td bgcolor="#fcf83f"><div class="loginlh"><strong>Enter your Profile Desscription. You can personalize this with all the tools - *** Important *** Please do not include any contact Information in this like email or phone no - we will remove it as per our policy </strong> </div></td>
        </tr>
      </table>
      <table width="100%" border="0" cellspacing="0" cellpadding="0">




        <tr>

          <td >
            <%= text_area('ad', 'description', "size" => '60x40', :class =>  'required')%>

          </td>
        </tr>
      </table><br/>
      <table width="100%" bordercolor="#ff8080" bgColor=#fdfeeb  border="1" cellspacing="1" cellpadding="5">

        <tr>
          <td bgcolor="#fcf83f"><div class="loginlh"><strong>Enter your Personal Data</strong> </div></td>
        </tr>
      </table>
      <table width="100%" border="0" cellspacing="1" cellpadding="5">
        <tr>
          <td height="25"><font class="redtext"></font> Ancestral Origin</td>
          <td height="25"><%= text_field  'ad', 'ancestral'  %>
          </td>
        </tr>
        <tr>
          <td height="25"><font class="redtext"></font> Family Details  </td>
          <td height="25"><%= text_area  'ad', 'family', "size" => '40x4'  %>
          </td>
        </tr>

        <tr>
          <td height="25"><font class="redtext"></font> Family Values  </td>
          <td height="25"><%= select("ad","familyvalue_id", Familyvalue.find(:all, :order => "name").collect { |s1| [s1.name, s1.id]} )%></td>
        </tr>

        <tr>
          <td height="25"><font class="redtext"></font> Family Status  </td>
          <td height="25"><%= select("ad","familystatus_id", Familystatus.find(:all, :order => "name").collect { |s1| [s1.name, s1.id]} )%></td>
        </tr>
        <tr>
          <td height="25">Father's Profession  </td>
          <td height="25"><%= text_field 'ad', 'fathocc'  %></td>
        </tr>
        <tr>
          <td height="25">Mother's Occupation  </td>
          <td height="25"><%= text_field 'ad', 'mothocc'  %></td>
        </tr>

        <tr>
          <td height="25">No Of Siblings  </td>
          <td height="25"><%= text_field 'ad', 'siblings', "size" => 2  %></td>
        </tr>

        <tr>
          <td height="25">Brothers  </td>
          <td height="25">Married: <%= text_field 'ad', 'marrbro', "size" => 2  %>  Unmarried: <%= text_field 'ad', 'unmarrbro', "size" => 2  %>  </td>
        </tr>
        <tr>
          <td height="25">Sisters  </td>
          <td height="25">Married: <%= text_field 'ad', 'marrsis', "size" => 2  %>  Unmarried: <%= text_field 'ad', 'unmarrsis', "size" => 2  %>  </td>
        </tr>



        <tr>
          <td height="25"><font class="redtext"></font> Hobbies and Interests  </td>
          <td height="25"><%= text_area  'ad', 'hobbies', "size" => '40x4'  %></td>
        </tr>

        <tr>
          <td height="25">Preferred Dress Style  </td>
          <td height="25"><%= text_field 'ad', 'dress'  %></td>
        </tr>

        <tr>
          <td height="25">Music I like  </td>
          <td height="25"><%= text_field 'ad', 'music'  %></td>
        </tr>

        <tr>
          <td height="25">Favorite Books  </td>
          <td height="25"><%= text_field 'ad', 'reads'  %></td>
        </tr>

        <tr>
          <td height="25">Types of Movies I like  </td>
          <td height="25"><%= text_field 'ad', 'movies'  %></td>
        </tr>

        <tr>
          <td height="25">Fitness and Sports Activities  </td>
          <td height="25"><%= text_field 'ad', 'sports'  %></td>
        </tr>

        <tr>
          <td height="25">Favorite Cuisine  </td>
          <td height="25"><%= text_field 'ad', 'food'  %></td>
        </tr>

        <tr>
          <td height="25"><font class="redtext"></font> Mother Tongue  </td>
          <td height="25"><%= select("ad","language_id", Language.find(:all, :order => "name").collect { |s1| [s1.name, s1.id]} )%></td>
        </tr>

        <tr>
          <td height="25">Known Languages  </td>
          <td height="25"><%= text_field 'ad', 'lang'  %></td>
        </tr>



        <tr>
          <td height="25"><font class="redtext"></font> Physical Status  </td>
          <td height="25"><%= select("ad","handicap_id", Handicap.find(:all, :order => "name").collect { |s1| [s1.name, s1.id]} )%></td>
        </tr>

        <tr>
          <td height="25"><font class="redtext"></font> Height  </td>
          <td height="25"><%= select("ad","height_id", Height.find(:all, :order => "cms").collect { |s1| [s1.name, s1.id]} )%></td>
        </tr>
        <tr>
          <td height="25"><font class="redtext"></font> Weight  </td>
          <td height="25"><%= select("ad","myweight_id", Myweight.find(:all, :order => "name").collect { |s1| [s1.name, s1.id]} )%></td>
        </tr>
        <tr>
          <td height="25"><font class="redtext"></font> Complexion  </td>
          <td height="25"><%= select("ad","complexion_id", Complexion.find(:all, :order => "name").collect { |s1| [s1.name, s1.id]} )%></td>
        </tr>

        <tr>
          <td height="25"><font class="redtext"></font> Body Type  </td>
          <td height="25"><%= select("ad","bodytype_id", Bodytype.find(:all, :order => "name").collect { |s1| [s1.name, s1.id]} )%></td>
        </tr>

        <tr>
          <td height="25"><font class="redtext"></font> Blood Group  </td>
          <td height="25"><%= select("ad","bloodgroup_id", Bloodgroup.find(:all, :order => "name").collect { |s1| [s1.name, s1.id]} )%></td>
        </tr>

        <tr>
          <td height="25"><font class="redtext"></font> My Facial Features Look Like  </td>
          <td height="25">

            <%= select("ad","facial_id", Facial.find(:all, :conditions => "adtype_id = " + @myuser.sex_id.to_s, :order => "name").collect { |s1| [s1.name, s1.id]} )%>


          </td>
        </tr>


        <tr>
          <td height="25"><font class="redtext"></font>Doshas If Any  </td>
          <td height="25">Sevvai Dosha <%= check_box 'ad', 'sevvai'  %>  | Kuja Dosha <%= check_box 'ad', 'kuja'  %> |</td>
        </tr>


        <tr>
          <td height="25"><font class="redtext"></font> Manglik?  </td>
          <td height="25">Manglik <%= check_box 'ad', 'mangla'  %> </td>
        </tr>

        <tr>
          <td height="25"><font class="redtext"></font> Vegetarian  </td>
          <td height="25"><%= check_box 'ad', 'vegeterian'  %></td>
        </tr>

        <tr>
          <td height="25"><font class="redtext"></font> Don't Drink  </td>
          <td height="25"><%= check_box 'ad', 'teetotaler'  %></td>
        </tr>

        <tr>
          <td height="25"><font class="redtext"></font> Non Smoker  </td>
          <td height="25"><%= check_box 'ad', 'dontsmoke'  %></td>
        </tr>


        <tr>
          <td height="25"><font class="redtext"></font> Sathya Sai Devotee  </td>
          <td height="25"><%= check_box 'ad', 'sai'  %><img src="/images/icons/sai_big.jpg"/></td>
        </tr>

        <tr>
          <td height="25"><font class="redtext"></font> Shirdi Sai Baba Devotee  </td>
          <td height="25"><%= check_box 'ad', 'shirdi'  %><img src="/images/icons/shirdi.jpg"/></td>
        </tr>




      </table>


      <table width="100%" bordercolor="#ff8080" bgColor=#fdfeeb  border="1" cellspacing="0" cellpadding="0">

        <tr>
          <td bgcolor="#fcf83f"><div class="loginlh"><strong>Upload Up to 3 Pictures including horoscopes - Only upload pictures - No pdf or word files. Load images which are less than 100Kb. Only the following types are supported - jpg, gif, png</strong> </div></td>
        </tr>
      </table>

      <table width="100%">

        <tr><td>Picture1 : <%= file_column_field "ad", "image1" %></td><td>        <% if @ad.image1 %>
              <%= image_tag url_for_file_column("ad", "image1", "thumb"),{ "class" => "gallery_pic_bdr"} %>
              <br/><%=link_to "Clear this Image", :controller => 'userfunctions', :action => 'clearphoto', :myadid => @ad.id, :myimageid => 1 %>


          <% end %>
        </td></tr>


        <tr><td>Picture2 : <%= file_column_field "ad", "image2" %>         </td><td> <% if @ad.image2 %>
              <%= image_tag url_for_file_column("ad", "image2", "thumb"),{ "class" => "gallery_pic_bdr"} %>
              <br/><%=link_to "Clear this Image", :controller => 'userfunctions', :action => 'clearphoto', :myadid => @ad.id, :myimageid => 2 %>
          <% end %>
        </td></tr>
        <tr><td> Picture3 : <%= file_column_field "ad", "image3" %>        </td><td> <% if @ad.image3 %>
              <%= image_tag url_for_file_column("ad", "image3", "thumb"),{ "class" => "gallery_pic_bdr"} %>
              <br/><%=link_to "Clear this Image", :controller => 'userfunctions', :action => 'clearphoto', :myadid => @ad.id, :myimageid => 3 %>
          <% end %>
        </td></tr>



      </table>


      <table width="100%" bordercolor="#ff8080" bgColor=#fdfeeb  border="1" cellspacing="0" cellpadding="0">

        <tr>
          <td bgcolor="#fcf83f"><div class="loginlh"><strong>Upload Up to 1 Private Password Protected photos. Load images which are less than 100Kb. Only the following types are supported - jpg, gif, png</strong> </div></td>
        </tr>
      </table>

      <table width="100%">

        <tr>
          <td height="25"><font class="redtext"></font> Password for Private Photos  </td>
          <td height="25"><%= text_field 'ad', 'privatepass'  %></td>
        </tr>

        <tr><td>Private Photo1 : <%= file_column_field "ad", "pimage1" %></td><td>        <% if @ad.pimage1 %>
              <%= image_tag url_for_file_column("ad", "pimage1", "thumb"),{ "class" => "gallery_pic_bdr"} %>
              <br/><%=link_to "Clear this Image", :controller => 'userfunctions', :action => 'clearphoto', :myadid => @ad.id, :myimageid => 11 %>
          <% end %>
        </td></tr>





      </table>

      <br/>

      <table width="100%" bordercolor="#ff8080" bgColor=#fdfeeb  border="1" cellspacing="0" cellpadding="0">

        <tr>
          <td bgcolor="#fcf83f"><div class="loginlh"><strong>Upload Up to 1 Scanned images of your Horoscope. Load images which are less than 100Kb. Only the following types are supported - jpg, gif, png</strong> </div></td>
        </tr>
      </table>

      <table width="100%">



        <tr><td>Horoscope 1 : <%= file_column_field "ad", "himage1" %></td><td>        <% if @ad.himage1 %>
              <%= image_tag url_for_file_column("ad", "himage1", "thumb"),{ "class" => "gallery_pic_bdr"} %>
              <br/><%=link_to "Clear this Image", :controller => 'userfunctions', :action => 'clearphoto', :myadid => @ad.id, :myimageid => 14 %>
          <% end %>
        </td></tr>






      </table>





      </br/>
      <table width="100%" bordercolor="#ff8080" bgColor=#fdfeeb  border="1" cellspacing="0" cellpadding="0">

        <tr>
          <td bgcolor="#fcf83f"><div class="loginlh"><strong>Must Fill! Details of the Ideal Match You Are looking for</strong> </div></td>
        </tr>
      </table>

      <table width="100%" border="1" cellspacing="1" cellpadding="5">
        <tr>
          <td height="25"><font class="redtext">*</font> Age Range  </td>
          <td height="25"><%= select("ad","agerange1_id", Agerange1.find(:all, :order => "age").collect { |s1| [s1.age, s1.id]} )%>-<%= select("ad","agerange2_id", Agerange2.find(:all, :order => "age").collect { |s1| [s1.age, s1.id]} )%></td>
        </tr>


        <tr>
          <td height="25"><font class="redtext">*</font> Job Type  </td>
          <td height="25"><%= text_field 'ad', 'lookingjobtype', :class =>  'required' %></td>
        </tr>
        <tr>
          <td height="25"><font class="redtext">*</font> Subsect  </td>
          <td height="25"><%= text_field 'ad', 'lookingsubsect', :class =>  'required' %></td>
        </tr>

        <tr>
          <td height="25"><font class="redtext">*</font> Complexion  </td>
          <td height="25"><%= text_field 'ad', 'lookingcomplexion', :class =>  'required'  %></td>
        </tr>

        <tr>
          <td height="25"><font class="redtext">*</font> Brahmin Type, Sub Sect and Gothra  </td>
          <td height="25"><%= text_field 'ad', 'lookingbrahmintype', :class =>  'required' %></td>
        </tr>

        <tr>
          <td height="25"><font class="redtext">*</font> Origin  </td>
          <td height="25"><%= text_field 'ad', 'lookingorigin', :class =>  'required'%></td>
        </tr>


        <tr>
          <td height="25"><font class="redtext">*</font> Height Range  </td>
          <td height="25"><%= select("ad","lookingheight_id", Lookingheight.find(:all, :order => "name").collect { |s1| [s1.name, s1.id]} )%></td>
        </tr>


        <tr>
          <td height="25"><font class="redtext">*</font> Body Type  </td>
          <td height="25"><%= select("ad","lookingbodytype_id", Lookingbodytype.find(:all, :order => "name").collect { |s1| [s1.name, s1.id]} )%></td>
        </tr>

        <tr>
          <td height="25"><font class="redtext">*</font> Ideal Match Description  </td>
          <td height="25"><%= text_area 'ad', 'partnerdescription', "size" => '40x5', :class =>  'required'  %></td>
        </tr>


        <tr>

          <td ><input type="submit" value="Submit" class="searchbtn" />  </td>
        </tr>

      </table>










    </form>

  </div>


</div>