<h2> My Saved Searches </h2>
<% for savedsearch in @savedsearches %>
<%=savedsearch.savedname%>  | <%= savedsearch.created_on.strftime("%d-%m-%Y") %>
<%= link_to 'Edit', :action => 'savedsearchedit', :id => savedsearch %> |
<%= link_to 'Search', :action => 'savedsearchsearch', :id => savedsearch %> | 
<%= link_to 'Delete', { :action => 'savedsearchdestroy', :id => savedsearch }, :confirm => 'Are you sure?', :post => true %>
<br /><hr>
<% end %>

