 <h3 class="lheading">Private Photos of Profile ID <a href="/myprofile/<%=@myad.member_id.to_s%>"><%=@myad.member_id.to_s%></a></h3>
     

			   <table width="100%" bgcolor="#FFFFFF" border="0" cellspacing="0" cellpadding="0">
                  
                
 		<tr>
 			<td>
 				
	<% if @myad.pimage1 %>
	
	
	
<a href="<%= image_path(url_for_file_column("myad", "pimage1", "medium")) %>" rel="lightbox['+@myad.id.to_s+']" title="<%=h(@myad.title) %>">    <%= image_tag url_for_file_column("myad", "pimage1", "thumb") %> </a>


<% end %>

 			</td>
 			<td>
 				<% if @myad.pimage2 %>
	
	
	
<a href="<%= image_path(url_for_file_column("myad", "pimage2", "medium")) %>" rel="lightbox['+@myad.id.to_s+']" title="<%=h(@myad.title) %>">    <%= image_tag url_for_file_column("myad", "pimage2", "thumb") %> </a>


<% end %>
 			</td>
 			<td>
 				<% if @myad.pimage3 %>
	
	
	
<a href="<%= image_path(url_for_file_column("myad", "pimage3", "medium")) %>" rel="lightbox['+@myad.id.to_s+']" title="<%=h(@myad.title) %>">    <%= image_tag url_for_file_column("myad", "pimage3", "thumb") %> </a>


<% end %>
 			</td>
 		</td>
				        </tr></table>
				      


 
 


