	
  <table width="617" border="0" cellspacing="0" cellpadding="0">
        <tr>
          <td>&nbsp;</td>
        </tr>
        <tr>
          <td valign="top"><table width="607" border="0" cellspacing="0" cellpadding="0">
            <tr>
              <td width="11"><img src="/images/left-left.gif" alt="" width="11" height="12" /></td>
              <td width="585" class="ltop">&nbsp;</td>
              <td width="11"><img src="/images/left-right.gif" alt="" width="11" height="12" /></td>
            </tr>
            <tr>
              <td class="lleft"><img src="/images/left-m-left.gif" alt="" width="11" height="146" /></td>
              <td class="lmiddle"><img src="/images/bullet.gif" alt="" width="19" height="18" />
                  <h1 class="lheading">Login</h1>
                <br />
                <br />
               <div class="lmargin">
               <%=form_tag({:controller => 'userfunctions', :action=>'signin'}, :multipart => true)%>
			   <table width="70%" border="0" cellspacing="0" cellpadding="0">
                  
                  <tr>
                    <td width="12"><img src="/images/blue-left.gif" alt="" width="12" height="12" /></td>
                    <td class="brtop">&nbsp;</td>
                    <td width="12"><img src="/images/blue-right.gif" alt="" width="12" height="12" /></td>
                  </tr>
                  <tr>
                    <td class="brleft"><img src="/images/blue-m-left.gif" alt="" width="12" height="97" /></td>
                    <td class="brmiddle"><table width="100%" border="0" align="center" cellpadding="4" cellspacing="1">
                      <tr>
                        <td width="27%" align="left">User Name :- </td>
                        <td colspan="2" align="left"><%= text_field_tag "userid" %></td>
                        </tr>
                      <tr>
                        <td>Password :- </td>
                        <td colspan="2"><%= password_field_tag "passwd" %></td>
                        </tr>
                      
                      <tr>
                        <td>&nbsp;</td>
                        <td width="32%">
                        <%= submit_tag "Sign in" %></form>
                        </a></td>
                        <td width="41%"><%= link_to 'Forgot My Password', :controller => 'rents101', :action => 'forgot_password' %></td>
                      </tr>
                      <tr>
                        <td>&nbsp;</td>
                        <td height="30" colspan="2">New user please <a href="/register" class="forgotlink">register here for free</a> </td>
                        </tr>
                    </table></td>
                    <td class="brright"><img src="/images/blue-m-right.gif" alt="" width="12" height="97" /></td>
                  </tr>
                  <tr>
                    <td><img src="/images/blue-b-left.gif" alt="" width="12" height="12" /></td>
                    <td class="brbottom">&nbsp;</td>
                    <td><img src="/images/blue-b-right.gif" alt="" width="12" height="12" /></td>
                  </tr>
                </table>
			   <br />
               <br />
               <h1 class="lheading1">Contact Customer Support :-</h1><br />
               <br />
               <br />
               <table width="70%" border="0" cellspacing="0" cellpadding="5">
                 <tr>
                   <td width="8%" align="left"><img src="/images/call.gif" alt="" width="29" height="29" /></td>
                   <td width="92%" align="left">Call: 510 793 9304</td>
                 </tr>
                 <tr>
                   <td><img src="/images/live-chat.gif" alt="" width="29" height="29" /></td>
                   <td><a href="/livehelp"  class="forgotlink">Live Chat</a></td>
                 </tr>
                 <tr>
                   <td><img src="/images/contactus.gif" alt="" width="29" height="29" /></td>
                   <td><a href="#"  class="forgotlink">Contact Us</a></td>
                 </tr>
               </table>
               </div>
                </td>
              <td class="lright"><img src="/images/left-m-right.gif" alt="" width="11" height="146" /></td>
            </tr>
            <tr>
              <td><img src="/images/left-b-left.gif" alt="" width="11" height="12" /></td>
              <td class="lbottom">&nbsp;</td>
              <td><img src="/images/left-b-right.gif" alt="" width="11" height="12" /></td>
            </tr>
          </table></td>
        </tr>
      </table>
      </td>

