<%= error_messages_for 'member' %>
<!--[form:member]-->
<label for="member_username">Username*</label><br/><%= text_field 'member', 'username'  %><br />
<label for="member_password">Password*</label><br/>
<%= password_field 'member', 'password'  %><br />



<label for="member_email">Email*</label><br/>
<%= text_field 'member', 'email'  %><br />
<label for="member_fname">First Name</label><br/>
<%= text_field 'member', 'fname'  %><br />


<label for="member_lname">Last Name*</label><br/>
<%= text_field 'member', 'lname'  %><br />

    <div id="box3"><p> Problems signing up? Please <a href="mailto:support@<%=Sitestuff::MYDOMAIN%>">contact us</a> or check our <a href="/livehelp.html">LiveHelp</a>!</p>
</div>
<label for="member_address">Address1</label><br/>
<%= text_field 'member', 'address'  %><br />




<label for="member_Address2">Address2</label><br/>
<%= text_field 'member', 'address2'  %><br />

<label for="member_city">City</label><br/>
<%= text_field 'member', 'city'  %><br />



State<br/><%=
   select("member","state_id", State.find_all.collect { |s1| [s1.statename, s1.id]} )%><br />




<label for="member_country">Country</label><br/>
<%= text_field 'member', 'country'  %><br />

<label for="member_zip">PinCode</label><br/>
<%= text_field 'member', 'zip'  %><br />


<label for="member_phone">Phone</label><br/>
<%= text_field 'member', 'phone'  %><br />

<label for="member_fax">Fax</label><br/>
<%= text_field 'member', 'fax'  %><br />


<label for="member_website">Website</label><br/>
<%= text_field 'member', 'website'  %><br />

<label for="member_aim">Aim</label><br/>
<%= text_field 'member', 'aim'  %><br />



<label for="member_yim">Yim</label><br/>
<%= text_field 'member', 'yim'  %><br />
<label for="member_icq">Icq</label><br/>
<%= text_field 'member', 'icq'  %><br />

<label for="member_msn">Msn</label><br/>
<%= text_field 'member', 'msn'  %><br />

<%= check_box  'member', 'subscribe_to_letter',{},1,0  %><label for="member_subscribe_to_letter">Subscribe to letter</label><br />



<img src="/rents101/code_image"><br/>
Enter the exact 'Code' from the Image above: 
<input type="text" name="typed_code" size="4"><br/>

<%= check_box 'member', 'terms'  %><label for="member_terms">I accept the Terms*</label>


<!--[eoform:member]-->

