<% for column in Member.content_columns %>
<p>
  <b><%= column.human_name %>:</b> <%=h @member.send(column.name) %>
</p>
<% end %>

<%= link_to 'Edit', :action => 'edit', :id => @member %> |
<%= link_to 'Back', :action => 'list' %>
