<h1>Listing adreporttypes</h1>

<table>
  <tr>
  <% for column in Adreporttype.content_columns %>
    <th><%= column.human_name %></th>
  <% end %>
  </tr>
  
<% for adreporttype in @adreporttypes %>
  <tr>
  <% for column in Adreporttype.content_columns %>
    <td><%=h adreporttype.send(column.name) %></td>
  <% end %>
    <td><%= link_to 'Show', :action => 'show', :id => adreporttype %></td>
    <td><%= link_to 'Edit', :action => 'edit', :id => adreporttype %></td>
    <td><%= link_to 'Destroy', { :action => 'destroy', :id => adreporttype }, :confirm => 'Are you sure?', :post => true %></td>
  </tr>
<% end %>
</table>

<%= link_to 'Previous page', { :page => @adreporttype_pages.current.previous } if @adreporttype_pages.current.previous %>
<%= link_to 'Next page', { :page => @adreporttype_pages.current.next } if @adreporttype_pages.current.next %> 

<br />

<%= link_to 'New adreporttype', :action => 'new' %>
