
<table border="1" cellspacing="0" cellpadding="5"><tr>
<% mycount = 0 %>
<% colcount = 0 %>
<% for @ad in @randad %>
<% @myage = Date.today.year - @ad.year.name %>
<td><center>

<b>
<%= @ad.propertytype.propertytypename%> </b><br/>

	<% @link = "http://www.brahminsmatrimony.com/myprofile/" + @ad.member_id.to_s %>
<a href="<%=@link%>" > <%= image_tag url_for_file_column("ad", "image1", "thumb") %> </a><br/>
<b>Age: <%=@myage.to_s%><br/>
<%=@ad.adcity.adcityname%>	<br/>
<img src="http://www.brahminsmatrimony.com/images/viewme.gif" alt="view profile" alt="view full profile"/> <a href="<%=@link%>" class="jlink">View Profile</a>
<% mycount = mycount + 1 %>
<% break if mycount == 15 %>
</center></td>
<% colcount = colcount + 1 %>
<% if colcount == 3 %> <% colcount = 0 %> </tr><tr><%end%>
<% end %>
</center></td>
</tr>
<table>
</center>
<a href="http://www.brahminsmatrimony.com/agebrowse/all/all/all">Click Here for More Brahmin Girls and Boys</a>

