<%@myc = Mycomment.count(:conditions => " status = 1 and commentable_id = " + @ad.id.to_s)%>
<% if @myc > 0 %>
	
<div class="box-container">
<div class="box-header">
<div class="box-left"></div>
<div class="box-mid"><h5>Comments and Feedback for this profile</h5></div>
<div class="box-right"></div>
</div>
<div class="box-content">
<% @myadcomments = Mycomment.find(:all, :conditions => " status = 1 and commentable_id = " + @ad.id.to_s) %>
  <% for @myc in @myadcomments%>

<%=@myc.title%></b> said on <%=@myc.created_at.strftime("%d-%m-%Y") %> 
<%=@myc.desc%> <br/> <a href="/matcommon/showcomm/<%=@myc.id%>">Click Here For Contact Details</a>
<% end %>	
	

</div>
<% end %>