<%= error_messages_for 'mycomment' %>
<% if @tmpid%>
	<% @myval = @tmpid.to_s%>
	<% else%>
	<%@myval = '101'%>
	<% end %>
<%=form_tag({:controller => 'matcommon', :action=>'add_comment'}, :multipart => true)%>
<table border="0">
	
<% if session[:member] %>
	
	<% else %>
	<tr><td>
Name(*):<br/> <%= text_field "mycomment", "title", "size"=>"20" %></td></tr>
<tr><td>
Email (will not be displayed to public):<br/> <%= text_field "mycomment", "email", "size"=>"20" %></td></tr>
<tr><td>
Phone Number (will not be displayed to public):<br/> <%= text_field "mycomment", "myphone", "size"=>"20" %></td></tr>
	<% end %>
	<tr><td>
Comment(Do Not enter any contact info here):<br/> <%= text_area "mycomment", "desc", "size" => '20x4'  %></td></tr></table>
<%= hidden_field "mycomment", "commentable_id", :value => @myval.to_s%>
<%= show_simple_captcha %>  
<%= submit_tag "Go!" %>
</form>
