      <table width="617" border="0" cellspacing="0" cellpadding="0">
        <tr>
          <td>&nbsp;</td>
        </tr>
        <tr>
          <td valign="top">
          	<table width="607" border="0" cellspacing="0" cellpadding="0">
            <tr>
              <td width="11"><img src="/images/left-left.gif" alt="" width="11" height="12" /></td>
              <td width="585" class="ltop">&nbsp;</td>
              <td width="11"><img src="/images/left-right.gif" alt="" width="11" height="12" /></td>
            </tr>
            <tr>
              <td class="lleft"><img src="/images/left-m-left.gif" alt="" width="11" height="146" /></td>
              <td class="lmiddle">
             
<% if controller.action_name == 'resumebrowse' %>
<%= render :partial => 'resumebrowsebycat' %>
<% end %>               

             
                                       <table width="100%" border="0" cellspacing="0" cellpadding="0">
                  
                  <tr>
                    <td width="12"><img src="/images/blue-left.gif" alt="" width="12" height="12" /></td>
                    <td class="brtop">&nbsp;</td>
                    <td width="12"><img src="/images/blue-right.gif" alt="" width="12" height="12" /></td>
                  </tr>
                  <tr>
                    <td class="brleft"><img src="/images/blue-m-left.gif" alt="" width="12" height="97" /></td>
                    <td align="center" class="brmiddle">
                    	<table width="100%" border="0" cellspacing="0" cellpadding="5">
                      
                    </table>
                      <br />

                      ..........................................................................................................................................<br />
                      <br />
<table width="100%" border="0" cellspacing="0" cellpadding="7">
                        
                        <tr>
                          <td colspan="2" align="left">
                          	<table width="100%" border="0" cellpadding="5" cellspacing="1" bgcolor="#CFE4FA">
                            <tr>
                              <td width="44%" align="left" bgcolor="#EAF4FE"><strong>Short Description</strong></td>
                              <td width="24%" align="left" bgcolor="#EAF4FE"><strong>Category</strong></td>
                              <td width="11%" align="left" bgcolor="#EAF4FE"><strong> Exp </strong></td>
                              <td width="15%" align="left" bgcolor="#EAF4FE"><strong>Location</strong></td>
                              <td width="6%" align="left" bgcolor="#EAF4FE">&nbsp;</td>
                            </tr>

                                                        <% for @myresume in @resumes %>

                            <tr>
<% @mystate=nil%>
<% @myprop = Propertytype.find(@myresume.propertytype_id) %>
<% @mycity = Adcity.find(@myresume.adcity_id) %>
<% @mylink = url_for(:action => 'checkcredits', :id => @myresume.resid) %>
<% @mycount = Jbstate.count(:conditions => "id = " + @mycity.jbstate_id.to_s) %>
<% @myres = Jbresume.find(@myresume.resid) %>
<% if @mycount > 0 %>

<% @myst = Jbstate.find(@mycity.jbstate_id) %>
<% @mystate = @myst.name %>
<% end %>



                              <td align="left" valign="top" bgcolor="#FFFFFF"><font class="loginlh"><a href="<%=@link%>" class="searchlink"></a>


<br />
                               <%  if @myresume.resumeactive == 0 %>
								<h2>Inactive Resume </h2>
							    <% end %>
                               <%=@myresume.description[0..99]%> <% if @myres.member.profile.securityclearance.name == 'Yes' %> 
										<img src="/images/security_16.jpg" alt="Has Clearance" title="Has Security Clearance"/>

										<% end %>

                               <br/><a href="<%=@mylink%>"  class="searchlink" target="_blank">View Resume</a><br/>
<div id="star-ratings-block">
    <%= render :partial => "menu/rateresume", :locals => { :ad => @myres } %>
</div>
                            
</td>
                              <td align="left" valign="top" bgcolor="#FFFFFF"><%=@myprop.propertytypename%>
</td>
                              <td align="left" valign="top" bgcolor="#FFFFFF"><%=@myres.member.profile.experiencelevel.name%></td>
                              <td align="left" valign="top" bgcolor="#FFFFFF"><%=@mycity.adcityname%> <% if @mystate %> ,<%= @mystate%> <% end %>
                              <td align="left" valign="top" bgcolor="#FFFFFF">
                                                              </td>
                            </tr>
                            <% end %>
                          </table></td>
                          </tr>
  

                        <tr><td>
                        <%= link_to 'Previous page', { :page => @ad_pages.current.previous, :typed_search => @mysearch} if @ad_pages.current.previous %> | <%= link_to 'Next page', { :page => @ad_pages.current.next, :typed_search => @mysearch} if @ad_pages.current.next %>  | 
                        </td></tr>
                      </table></td>
                    <td valign="middle" class="brright"><img src="/images/blue-m-right.gif" alt="" width="12" height="97" /></td>
                  </tr>
                  <tr>
                    <td><img src="/images/blue-b-left.gif" alt="" width="12" height="12" /></td>
                    <td class="brbottom">&nbsp;</td>
                    <td><img src="/images/blue-b-right.gif" alt="" width="12" height="12" /></td>
                  </tr>
                </table>
			   
                </td>
              <td class="lright"><img src="/images/left-m-right.gif" alt="" width="11" height="146" /></td>
            </tr>
            <tr>
              <td><img src="/images/left-b-left.gif" alt="" width="11" height="12" /></td>
              <td class="lbottom">&nbsp;</td>
              <td><img src="/images/left-b-right.gif" alt="" width="11" height="12" /></td>
            </tr>
          </table></td>
        </tr>
      </table>  </td>
      