		<div id="example" class="post">
			<h2 class="title"><span>Post New Ad</span></h2>
			<div class="story">
<% form_for :ad, @ad, :url=> {:action => 'adcreate' }, :html=>{:multipart=>true} do |f| %>

  <%= render :partial => 'adform' %>
<br /><br /> <h3> Use Google Map to Mark your Property </h3>
<h4>Hint: Zoom Out and move to change your location; Zoom in to your location and click on your property. Put a title and it will be marked and saved! </h4>
<div id="map" style="width: 420px; height: 460px"></div>
<br />
  <%= submit_tag " Post My Ad" %>

<% end %>

			</div>
		</div>

