<h2><img src="/images/favorites_48.ico"> My Favorites </h2>
<% for @myfavorite in @myfavorites %>
<%=@myfavorite.created_on.strftime("%d-%m-%Y") %> |  <a href="<%=@myfavorite.url%>"><%= @myfavorite.url %></a> | <%= link_to 'Delete', { :action => 'delfavorite', :id => @myfavorite }, :confirm => 'Do you really want to delete?', :post => true %><br>
<% end %>

