      <table width="617" border="0" cellspacing="0" cellpadding="0">
        <tr>
          <td>&nbsp;</td>
        </tr>
        <tr>
          <td valign="top">
          	<table width="607" border="0" cellspacing="0" cellpadding="0">
            <tr>
              <td width="11"><img src="/images/left-left.gif" alt="" width="11" height="12" /></td>
              <td width="585" class="ltop">&nbsp;</td>
              <td width="11"><img src="/images/left-right.gif" alt="" width="11" height="12" /></td>
            </tr>
            <tr>
              <td class="lleft"><img src="/images/left-m-left.gif" alt="" width="11" height="146" /></td>
              <td class="lmiddle">
             
               
             
                                       <table width="100%" border="0" cellspacing="0" cellpadding="0">
                  
                  <tr>
                    <td width="12"><img src="/images/blue-left.gif" alt="" width="12" height="12" /></td>
                    <td class="brtop">&nbsp;</td>
                    <td width="12"><img src="/images/blue-right.gif" alt="" width="12" height="12" /></td>
                  </tr>
                  <tr>
                    <td class="brleft"><img src="/images/blue-m-left.gif" alt="" width="12" height="97" /></td>
                    <td align="center" class="brmiddle">
                    	<table width="100%" border="0" cellspacing="0" cellpadding="5">
                      <tr>
                        <td colspan="7" align="left"><strong>Search Results for : <%= @query%>
</strong></td>
                                                    
                    </table>
                      <br />

                      ..........................................................................................................................................<br />
                      <br />
<table width="100%" border="0" cellspacing="0" cellpadding="7">
                        <tr>
                          <td width="46%" align="left"> <strong><%= @total%> Resume(s) found  </strong></td>
                          
                        </tr>
                        
                        <tr>
                          <td colspan="2" align="left">
                          	<table width="100%" border="0" cellpadding="5" cellspacing="1" bgcolor="#CFE4FA">
                            <tr>
                              <td width="44%" align="left" bgcolor="#EAF4FE"><strong>Summary</strong></td>
                              <td width="24%" align="left" bgcolor="#EAF4FE"><strong>Security Clearance</strong></td>
                              <td width="11%" align="left" bgcolor="#EAF4FE"><strong>City</strong></td>
                              <td width="15%" align="left" bgcolor="#EAF4FE"><strong>State and Country</strong></td>
                              <td width="6%" align="left" bgcolor="#EAF4FE">&nbsp;</td>
                            </tr>
                            <% for jbresume in @jbresumes %>
                            <% if jbresume[:id] %>
                            <% @myresume = Jbresume.find_by_id(jbresume[:id])%>
                            <% @jobseeker = Member.find_by_id(@myresume.member_id) %>
                            <% @link = url_for(:action => 'checkcredits', :id => @myresume) %>

                                                        

                            
                            <tr>
                              <td align="left" valign="top" bgcolor="#FFFFFF"><font class="loginlh">
                               <br/>
                               <% if jbresume[:name] %>
                               <%=jbresume[:name][0..80]%>...<br/>
                               <% end %>

                               <% if jbresume[:description] %>
                               <%=jbresume[:description]%>
                               <% end %> 
<% if @myresume.member.profile %>
<% if @myresume.member.profile.securityclearance.name == 'Yes' %>
<img src="/images/security_16.jpg" alt="Has Security Clearance" title="Has Security Clearance"/>

<% end %>
<% end %>

<div id="star-ratings-block">
    <%= render :partial => "menu/rateresume", :locals => { :ad => @myresume } %>
</div>
<br/><a href="<%=@link%>" target="_blank"  class="searchlink">View Resume</a>
                              <td align="left" valign="top" bgcolor="#FFFFFF"><font class="loginlh">
						<% if @jobseeker.profile %>
		
						<%=@jobseeker.profile.securityclearance.name%>
						<% end %>
                                  </font></td>
                              <td align="left" valign="top" bgcolor="#FFFFFF"><%=jbresume[:mycity]%></td>
                              <td align="left" valign="top" bgcolor="#FFFFFF"><%=jbresume[:mystate]%></td>
                              <td align="left" valign="top" bgcolor="#FFFFFF">
                                <input type="checkbox" name="checkbox" value="checkbox" />                              </td>
                            </tr>
                            <% end %>
                            <% end %>
                          </table></td>
                          </tr>
  

                        <tr><td>
                   
                   <%= link_to 'Previous page', { :page => @pages.current.previous, :typed_search => @query} if @pages.current.previous %>
<%= pagination_links(@pages, :params => { :typed_search=> @query }) %>
<%= link_to 'Next page', { :page => @pages.current.next, :typed_search => @query} if @pages.current.next %>
                   
                   
                        </td></tr>
                      </table></td>
                    <td valign="middle" class="brright"><img src="/images/blue-m-right.gif" alt="" width="12" height="97" /></td>
                  </tr>
                  <tr>
                    <td><img src="/images/blue-b-left.gif" alt="" width="12" height="12" /></td>
                    <td class="brbottom">&nbsp;</td>
                    <td><img src="/images/blue-b-right.gif" alt="" width="12" height="12" /></td>
                  </tr>
                </table>
			   
                </td>
              <td class="lright"><img src="/images/left-m-right.gif" alt="" width="11" height="146" /></td>
            </tr>
            <tr>
              <td><img src="/images/left-b-left.gif" alt="" width="11" height="12" /></td>
              <td class="lbottom">&nbsp;</td>
              <td><img src="/images/left-b-right.gif" alt="" width="11" height="12" /></td>
            </tr>
          </table></td>
        </tr>
      </table>  </td>
      