<h1>Give us your feedback</h1>
<p>Fields marked <b>bold</b> are required! </p>
<%=form_tag({:controller => 'feedbackadmin', :action=>'feedbackcreate'}, :multipart => true)%>
  <%= render :partial => 'feedbackform' %>
  <%= submit_tag "Send My Feedback" %>
</form>

