<h1>comments</h1>
<table>
<% for @myc in @mycomms%>
<tr>
	<td><%=@myc.title%> | <%=@myc.commentable_id.to_s%>
</td>


<td><%=@myc.desc%>
</td>

<td><%=@myc.ipaddress%>
</td>

<td><%=@myc.email%>
</td>

<td><%=@myc.myphone%>
</td>

<td><a href="/superuser/apprcomm/<%=@myc.id.to_s%>">approve</a> | <a href="/superuser/delcomm/<%=@myc.id.to_s%>">delete</a>
</td>


</tr>
<% end %>
</table>