	<div id="menu">
		<ul>
                  <% if controller.action_name == 'adbrowse'   %>
				<li class="active"><a href="/browse/all/all/all/all" title="">Browse</a></li>
			<% else %>
				<li><a href="/browse/all/all/all/all" title="">Browse</a></li>
			<% end %>
                  <% if controller.action_name == 'mapme'   %>
				<li class="active"><a href="/newad" title="">Post New Ad</a></li>
			<% else %>
				<li><a href="/newad" title="">Post New Ad</a></li>
			<% end %>
    	            <% if session[:member] %>
                 		<% if controller.action_name == 'myads'   %>
					<li class="active"><a href="/myads" title="">My Ads</a></li>
				<% else %>
					<li><a href="/myads" title="">My Ads</a></li>
				<% end %>

	                  <% if controller.action_name == 'editprofile'   %>
					<li class="active"><a href="/editprofile" title="">My Profile</a></li>
				<% else %>
					<li><a href="/editprofile" title="">My Profile</a></li>
				<% end %>


			<% else %>
                 		<% if controller.action_name == 'membernew'   %>
					<li class="active"><a href="/register" title="">Register (Free!)</a></li>
				<% else %>
					<li><a href="/register" title="">Register (Free!)</a></li>
				<% end %>

	                  <% if controller.action_name == 'signin_form'   %>
					<li class="active"><a href="/login" title="">Login</a></li>
				<% else %>
					<li><a href="/login" title="">Login</a></li>
				<% end %>


			<% end %>
	            <% if controller.action_name == 'new'   %>
				<li class="active"><a href="/tell-a-friend" title="">Tell A Friend</a></li>
			<% else %>
				<li><a href="/tell-a-friend" title="">Tell A Friend</a></li>
			<% end %>
		</ul>
	</div>
