                     <table width="405" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
              </tr>
              <tr>
                <td width="11"><img src="/images/left-left.gif" alt="" width="11" height="12" /></td>
                <td width="383" class="ltop">&nbsp;</td>
                <td width="11"><img src="/images/left-right.gif" alt="" width="11" height="12" /></td>
              </tr>
              <tr>
                <td class="lleft"><img src="/images/left-m-left.gif" alt="" width="11" height="146" /></td>
                <td class="lmiddle"><img src="/images/bullet.gif" alt="" width="19" height="18" />
                    <h1 class="lheading">Latest Profiles</h1><br /><br />
					<table width="85%" border="0" align="center" cellpadding="5" cellspacing="5">
<% @myads = Ad.find(:all, :conditions => 'status=1', :order => "id desc")%>
<% @mycount = 0 %>
<% for @myad in @myads%>
<% @myage = Date.today.year - @myad.year.name %>
  <tr>
   <td>
   	
   
	 <% @link = url_for(:action => 'adshow', :id => @myad.id, :boygirl => @myad.adtype.url, :brahmintype => @myad.brahmintype, :addescr => @myad.myurl) %>
	 
	 
	  <% if @myad.image1%>
	  <%= render :partial => 'singlenewphoto' %>
	  <% else %>
	 
	 	 <% if @myad.member.sex_id == 1%>
	  <% @myimg = '/images/id_img/woman.jpg'%> 
	 <% else%>
	 <% @myimg = '/images/id_img/man.jpg'%> 
	 <% end %>
	 
	 
	
	 
	 <% if !@myad.image1 %>
	
	                  <% if @myad.picaddon > 0%> 
	 
	                  <% @myimg = '/images/id_img/' + @myad.member_id.to_s + '_0_'+ @myad.picaddon.to_s + '.jpg'%>     <% end %>
	 
	                 <% @myimg = 'http://' + Sitestuff::MYDOMAIN + @myimg%>
	                 <% if controller.action_name == 'adshow' and @myad.picaddon > 0%>
	                          <% @mydone = 0%>
                             	 (Click On The Photo)<br/>
	 
	 <% if @myad.pic1 > 0 %>
	 <% if @mydone == 0 %>
	 <% @mydone = 1 %>
	 <a href="/images/id_img/<%=@myad.member_id.to_s%>_1_<%=@myad.pic1.to_s%>.jpg" rel="lightbox['+@myad.id.to_s+']" title="<%=@myad.title%>"><div class="thumbnail_block" style="float:left; width:110px; height:110px; background-image:url(<%=@myimg%>);"><img src="/images/icons/spacer.gif"  style="width:110px; height:110px;" alt="<%=@myad.title%>" title="<%=@myad.title%>" /></a></div>
	 <% else%>
	 <a href="/images/id_img/<%=@myad.member_id.to_s%>_1_<%=@myad.pic1.to_s%>.jpg" rel="lightbox['+@myad.id.to_s+']" title="<%=@myad.title%>">Photo1<br/></a>
	 
	 <% end %>
	 <% end %>
	 
	 
	  <% if @myad.pic2 > 0 %>
	 <% if @mydone == 0 %>
	 <% @mydone = 1 %>
	 <a href="/images/id_img/<%=@myad.member_id.to_s%>_2_<%=@myad.pic2.to_s%>.jpg" rel="lightbox['+@myad.id.to_s+']" title="<%=@myad.title%>"><div class="thumbnail_block" style="float:left; width:110px; height:110px; background-image:url(<%=@myimg%>);"><img src="/images/icons/spacer.gif"  style="width:110px; height:110px;" alt="<%=@myad.title%>" title="<%=@myad.title%>" /></a></div>
	 <% else%>
	 <a href="/images/id_img/<%=@myad.member_id.to_s%>_2_<%=@myad.pic2.to_s%>.jpg" rel="lightbox['+@myad.id.to_s+']" title="<%=@myad.title%>">Photo2<br/></a>
	 
	 <% end %>
	 <% end %>
	 
	 
	 	
	  <% if @myad.pic3 > 0 %>
	 <% if @mydone == 0 %>
	 <% @mydone = 1 %>
	 <a href="/images/id_img/<%=@myad.member_id.to_s%>_3_<%=@myad.pic3.to_s%>.jpg" rel="lightbox['+@myad.id.to_s+']" title="<%=@myad.title%>"><div class="thumbnail_block" style="float:left; width:110px; height:110px; background-image:url(<%=@myimg%>);"><img src="/images/icons/spacer.gif"  style="width:110px; height:110px;" alt="<%=@myad.title%>" title="<%=@myad.title%>" /></a></div>
	 <% else%>
	 <a href="/images/id_img/<%=@myad.member_id.to_s%>_3_<%=@myad.pic3.to_s%>.jpg" rel="lightbox['+@myad.id.to_s+']" title="<%=@myad.title%>">Photo3<br/></a>
	 
	 <% end %>
	 <% end %>
	 
	 
	  <% if @myad.pic4 > 0 %>
	 <% if @mydone == 0 %>
	 <% @mydone = 1 %>
	 <a href="/images/id_img/<%=@myad.member_id.to_s%>_4_<%=@myad.pic4.to_s%>.jpg" rel="lightbox['+@myad.id.to_s+']" title="<%=@myad.title%>"><div class="thumbnail_block" style="float:left; width:110px; height:110px; background-image:url(<%=@myimg%>);"><img src="/images/icons/spacer.gif"  style="width:110px; height:110px;" alt="<%=@myad.title%>" title="<%=@myad.title%>" /></a></div>
	 <% else%>
	 <a href="/images/id_img/<%=@myad.member_id.to_s%>_4_<%=@myad.pic4.to_s%>.jpg" rel="lightbox['+@myad.id.to_s+']" title="<%=@myad.title%>">Photo4<br/></a>
	 
	 <% end %>
	 <% end %>
	 
	 
	  <% if @myad.pic5 > 0 %>
	 <% if @mydone == 0 %>
	 <% @mydone = 1 %>
	 <a href="/images/id_img/<%=@myad.member_id.to_s%>_5_<%=@myad.pic5.to_s%>.jpg" rel="lightbox['+@myad.id.to_s+']" title="<%=@myad.title%>"><div class="thumbnail_block" style="float:left; width:110px; height:110px; background-image:url(<%=@myimg%>);"><img src="/images/icons/spacer.gif"  style="width:110px; height:110px;" alt="<%=@myad.title%>" title="<%=@myad.title%>" /></a></div>
	 <% else%>
	 <a href="/images/id_img/<%=@myad.member_id.to_s%>_5_<%=@myad.pic5.to_s%>.jpg" rel="lightbox['+@myad.id.to_s+']" title="<%=@myad.title%>">Photo5<br/></a>
	 
	 <% end %>
	 <% end %>
	 
	 
	 
	 
	 
	 
	 <% else%>
	 <div class="thumbnail_block" style="float:left; width:110px; height:110px; background-image:url(<%=@myimg%>);"><a href="<%=@link%>"><img src="/images/icons/spacer.gif"  style="width:110px; height:110px;" alt="<%=@myad.title%>" title="<%=@myad.title%>" /></a></div>
<% end %>
	 
	 <% end %>
	 
   
	
	 
	 <% end %>
	 
	 
	 
   	
   	
   	
   	
   	
</td><td><font class="loginlh">
<b>Profile ID : <%=@myad.member_id.to_s%></b><br/>
<b>Age <%=@myage.to_s%> - <%=@myad.propertytype.propertytypename%> - <%=@myad.adcity.adcityname %> - <%=@myad.member.sex.name%></b><br/>
                              	<%=@myad.occupation%> <br/>Salary:  <%=@myad.salaryrange.name%><br/>
                              	Currently In <%=@myad.mycity1%>, <%=@myad.mycountry.name%> 
                              	<img src="/images/flags/<%=@myad.mycountry.iso2.downcase%>.gif" alt="<%=@myad.mycountry.iso2.downcase%>" title="<%=@myad.mycountry.iso2.downcase%>" /><br/>
	</font></td>
  </tr>
  <% @mycount = @mycount + 1 %>
  <% break if @mycount > 9%>
  <% end %>
</table>

                </td>
                <td class="lright"><img src="/images/left-m-right.gif" alt="" width="11" height="146" /></td>
              </tr>
              <tr>
                <td><img src="/images/left-b-left.gif" alt="" width="11" height="12" /></td>
                <td class="lbottom">&nbsp;</td>
                <td><img src="/images/left-b-right.gif" alt="" width="11" height="12" /></td>
              </tr>
            </table>


   <table width="405" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
              </tr>
              <tr>
                <td width="11"><img src="/images/left-left.gif" alt="" width="11" height="12" /></td>
                <td width="383" class="ltop">&nbsp;</td>
                <td width="11"><img src="/images/left-right.gif" alt="" width="11" height="12" /></td>
              </tr>
              <tr>
                <td><img src="/images/left-b-left.gif" alt="" width="11" height="12" /></td>
                <td class="lbottom">&nbsp;</td>
                <td><img src="/images/left-b-right.gif" alt="" width="11" height="12" /></td>
              </tr>
            </table>


   <table width="405" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
              </tr>
              <tr>
                <td width="11"><img src="/images/left-left.gif" alt="" width="11" height="12" /></td>
                <td width="383" class="ltop">&nbsp;</td>
                <td width="11"><img src="/images/left-right.gif" alt="" width="11" height="12" /></td>
              </tr>
              <tr>
                <td class="lleft"><img src="/images/left-m-left.gif" alt="" width="11" height="146" /></td>
                <td class="lmiddle"><img src="/images/bullet.gif" alt="" width="19" height="18" />
                    <h1 class="lheading">Exclusive Matrimonial Portal For <font class="lheading1"><%=Sitestuff::MYSINGLEKEY%> Only</font></h1>
                  <br />
                  <br />
                    <table width="85%" border="0" align="center" cellpadding="0" cellspacing="0">
 
                      <tr>
                        <td valign="top"><img src="/images/icons/search.png" alt="search for <%=Sitestuff::MYSINGLEKEY%> brides and grooms"  /></td>
                        <td valign="middle"><div class="articlediv">
<% @myp = Myparam.find(:first, :conditions => 'id="homepage"')%>
<%=@myp.desc%>
  </div></td>
                      </tr>
                  </table></td>
                <td class="lright"><img src="/images/left-m-right.gif" alt="" width="11" height="146" /></td>
              </tr>
              <tr>
                <td><img src="/images/left-b-left.gif" alt="" width="11" height="12" /></td>
                <td class="lbottom">&nbsp;</td>
                <td><img src="/images/left-b-right.gif" alt="" width="11" height="12" /></td>
              </tr>
            </table>