<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<%= render :partial => 'menu/title' %>
<%= render :partial => 'menu/jsvariable' %>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link href="/stylesheets/style.css" rel="stylesheet" type="text/css" />
<link href="/stylesheets/boxes.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="/javascripts/prototype.js"></script>


<% if controller.action_name == 'adshow'  or controller.action_name == 'madshow'  or controller.action_name == 'privatephoto' %>
<script type="text/javascript" src="/javascripts/application.js"></script>
<script type="text/javascript" src="/javascripts/effects.js"></script>
<script type="text/javascript" src="/javascripts/controls.js"></script>
<script type="text/javascript" src="/javascripts/dragdrop.js"></script>
<script type="text/javascript" src="/javascripts/effects.js"></script>

<script type="text/javascript" src="/javascripts/lightbox.js"></script>
<script type="text/javascript" src="/javascripts/scriptaculous.js?load=effects"></script>
<%= stylesheet_link_tag "lightbox", :media => "all" %>

<% end %>

<!-- socialize.js script should only be included once -->
<script type="text/javascript" src="http://cdn.gigya.com/js/socialize.js?apiKey=2_KUSCEbF0n0swUJK_FriBiaLdUum2YTZXDr86d5hF4nuvTJisNIXyrNH8v9UFfvh2"></script>
<script type="text/javascript">
var conf={}
</script>


<script language="Javascript">
<!--
//This credit must stay intact
//Script by http://www.java-Scripts.net and http://wsabstract.com
 function doClear(theText) {
     if (theText.value == theText.defaultValue) {
         theText.value = ""
     }
 }
//-->
</script>

<script>

if( /Android|webOS|iPhone|iPod|BlackBerry/i.test(navigator.userAgent) ) {

if ( localStorage.getItem('desktop') ) { }
else {

window.location = "http://www.brahminsmatrimony.com/mobile/myhome0"; }

}
</script>


</head>
<body  <% if controller.action_name == 'adshow' %> onload="initLightbox()"  <% end %>   >
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=188274407984997";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
<div id="container">
<%= render :partial => 'menu/topnew' %>
<% if controller.action_name == 'home' %>
	<%= render :partial => 'menu/searchnew' %>
<% end %>
<!-- content -->
<table width="100%" border="0" cellspacing="0" cellpadding="0" id="content">
<% if flash[:notice] %>
	<tr><td style="width: 525px;">	
      <table  bordercolor="#ff8080" bgColor=#fdfeeb  border="1" cellspacing="0" cellpadding="0">

        <tr>
          <td bgcolor="#fcf83f"><div class="loginlh"><strong><%= flash[:notice] %></strong> </div></td>
        </tr>
       </table>
   </td></tr>
<% end %>


<tr>
<!-- start right column -->
	<td style="width: 525px;">	
		
		
 
<%= @content_for_layout %> 


<%= render :partial => 'menu/sidemenunew' %>
<!-- find love -->


<!-- / end fine love --></td>
<!-- / end left column -->
</tr>
</table>

<!-- / end content -->

<!-- bottom nav row -->
<% cache(:action => 'faq', :part => 'hourbottom1') do %> 
<center>
	<a href="http://www.addtoany.com/share_save"><img src="http://static.addtoany.com/buttons/share_save_171_16.png" width="171" height="16" border="0" alt="Share/Save/Bookmark"/></a><script type="text/javascript">a2a_linkname=document.title;a2a_linkurl=location.href;</script><script type="text/javascript" src="http://static.addtoany.com/menu/page.js"></script> | <a href="/rss">RSS Feed <img src="/images/rss.png" alt="RSS Feed" title="RSS Feed"/></a>
	</center>
<div id="bottomnav">
<ul id="bnav">
		
		<li style="border-right: 1px solid #fff;"><a href="/paynow">Membership Plan</a></li>
		<li style="border-right: 1px solid #fff;"><a href="http://community.brahminsmatrimony.com/profiles/blog/list?tag=faq">FAQ's</a></li>
		<li style="border-right: 1px solid #fff;"><a href="/whyfaq">Features</a></li>
		<li style="border-right: 1px solid #fff;"><a href="/contactus.html">Contact us</a></li>
	
		<li style="border-right: 1px solid #fff;"><a href="/privacy.html">Privacy policy</a> </li>
		<li><a href="/terms.html">Terms of use</a></li>
                    <li><a href="http://community.brahminsmatrimony.com/profiles/blog/list">Our Blog</a></li>
</ul>
</div><!-- / end bottom nav -->
<br/>
<br />Copyright &copy; 2008.  <%=Sitestuff::MYDOMAIN%>. All rights reserved 
<img src="/seshadri.jpg" alt="seshadrhi"  title="seshadhri" />
<!-- / end container -->

<% end %>
<!-- begin olark code -->
<script data-cfasync="false" type='text/javascript'>/*<![CDATA[*/window.olark||(function(c){var f=window,d=document,l=f.location.protocol=="https:"?"https:":"http:",z=c.name,r="load";var nt=function(){
f[z]=function(){
(a.s=a.s||[]).push(arguments)};var a=f[z]._={
},q=c.methods.length;while(q--){(function(n){f[z][n]=function(){
f[z]("call",n,arguments)}})(c.methods[q])}a.l=c.loader;a.i=nt;a.p={
0:+new Date};a.P=function(u){
a.p[u]=new Date-a.p[0]};function s(){
a.P(r);f[z](r)}f.addEventListener?f.addEventListener(r,s,false):f.attachEvent("on"+r,s);var ld=function(){function p(hd){
hd="head";return["<",hd,"></",hd,"><",i,' onl' + 'oad="var d=',g,";d.getElementsByTagName('head')[0].",j,"(d.",h,"('script')).",k,"='",l,"//",a.l,"'",'"',"></",i,">"].join("")}var i="body",m=d[i];if(!m){
return setTimeout(ld,100)}a.P(1);var j="appendChild",h="createElement",k="src",n=d[h]("div"),v=n[j](d[h](z)),b=d[h]("iframe"),g="document",e="domain",o;n.style.display="none";m.insertBefore(n,m.firstChild).id=z;b.frameBorder="0";b.id=z+"-loader";if(/MSIE[ ]+6/.test(navigator.userAgent)){
b.src="javascript:false"}b.allowTransparency="true";v[j](b);try{
b.contentWindow[g].open()}catch(w){
c[e]=d[e];o="javascript:var d="+g+".open();d.domain='"+d.domain+"';";b[k]=o+"void(0);"}try{
var t=b.contentWindow[g];t.write(p());t.close()}catch(x){
b[k]=o+'d.write("'+p().replace(/"/g,String.fromCharCode(92)+'"')+'");d.close();'}a.P(2)};ld()};nt()})({
loader: "static.olark.com/jsclient/loader0.js",name:"olark",methods:["configure","extend","declare","identify"]});
/* custom configuration goes here (www.olark.com/documentation) */
olark.identify('8238-294-10-8341');/*]]>*/</script><noscript><a href="https://www.olark.com/site/8238-294-10-8341/contact" title="Contact us" target="_blank">Questions? Feedback?</a> powered by <a href="http://www.olark.com?welcome" title="Olark live chat software">Olark live chat software</a></noscript>
<!-- end olark code -->
</body>
</html>
