<!doctype html>
<html>
<head>
<title><%=@mytitle%></title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <link rel="stylesheet" href="/themes/muni1.min.css" />
  <link rel="stylesheet" href="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css" />
<script type="text/javascript" src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
  <script type="text/javascript" src="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>
  <script type="text/javascript" src="/javascripts/jqueryvalidate/dist/jquery.validate.min.js"></script>

  <% if  controller.action_name == 'myhome0'%>

  <link href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,300,600,700' rel='stylesheet' type='text/css'>
  <link href="/owl/assets/css/bootstrapTheme.css" rel="stylesheet">
  <link href="/owl/assets/css/custom.css" rel="stylesheet">

  <!-- Owl Carousel Assets -->
  <link href="/owl/owl-carousel/owl.carousel.css" rel="stylesheet">
  <link href="/owl/owl-carousel/owl.theme.css" rel="stylesheet">

  <!-- Prettify -->
  <link href="/owl/assets/js/google-code-prettify/prettify.css" rel="stylesheet">


  <!-- Le fav and touch icons -->
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/owl/assets/ico/apple-touch-icon-144-precomposed.png">
  <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/owl/assets/ico/apple-touch-icon-114-precomposed.png">
  <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/owl/assets/ico/apple-touch-icon-72-precomposed.png">
  <link rel="apple-touch-icon-precomposed" href="/owl/assets/ico/apple-touch-icon-57-precomposed.png">
<% end %>

</head>
<body>


<%= yield  %>

</body>
</html>

