<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<%= render :partial => 'menu/title' %>
<%= render :partial => 'menu/jsvariable' %>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link href="/stylesheets/jobstyle.css" rel="stylesheet" type="text/css" />

<script type="text/javascript" src="/javascripts/prototype.js"></script>

 <%= javascript_include_tag :defaults %>
 <%= active_scaffold_includes %>
 
<% if controller.action_name == 'adshow' %>
<script type="text/javascript" src="/javascripts/application.js"></script>
<script type="text/javascript" src="/javascripts/effects.js"></script>
<script type="text/javascript" src="/javascripts/controls.js"></script>
<script type="text/javascript" src="/javascripts/dragdrop.js"></script>
<script type="text/javascript" src="/javascripts/effects.js"></script>

<script type="text/javascript" src="/javascripts/lightbox.js"></script>
<script type="text/javascript" src="/javascripts/scriptaculous.js?load=effects"></script>
<%= stylesheet_link_tag "lightbox", :media => "all" %>

<% end %>




<STYLE>

<% if controller.action_name == 'home'   %>
#toplink { 
font-family:'Lucida Sans Unicode';
font-size:12px;
text-decoration:none;
font-weight:normal;
color:#ADCEEE;
background-image:url(/images/top-link-back.gif);
height:62px;
line-height:16px;
background-repeat:no-repeat;
} 
<% else %>
#toplink { 
font-family:'Lucida Sans Unicode';
font-size:12px;
text-decoration:none;
font-weight:normal;
color:#ADCEEE;
background-image:url(/images/blank_top.gif);
height:62px;
line-height:16px;
background-repeat:no-repeat;}

<% end %>
</STYLE>

</head>
<body  <% if controller.action_name == 'adshow' %> onload="initLightbox()"  <% end %>   >
<%= render :partial => 'menu/top' %>
<%= render :partial => 'menu/body' %>
<%= render :partial => 'menu/bottom' %>

<!-- AddThis Feed Button END -->
    <a href="http://validator.w3.org/check?uri=referer">Validate</a></center>

</body>
</html>
