    <table width="617" border="0" cellspacing="0" cellpadding="0">
        <tr>
          <td width="202">&nbsp;</td>
          <td width="415">&nbsp;</td>
        </tr>

        <tr>
          <td valign="top">
	<%= render :partial => 'menu/leftside' %></td>
	<td valign="top"><%= render :partial => 'menu/featured' %>
<%= render :partial => 'menu/mainbottom' %></td>

        </tr>
      </table>