Logo&nbsp; <a href="/">Home</a> <a href="/list">List</a>
<% @link = url_for(:controller => 'rents101', :action => 'adbrowse', :adtype => 'all',:propertytype => 'all', :adcity => 'all') %>
 <a href="<%=@link%>">Browse</a> | <a href="/newad">New_Ad</a> | <a href="/tell-a-friend"><img src="/images/tellf.gif" alt="Tell a friend" />Tell A Friend</a>&nbsp;  
<% unless session[:member] %><a href="/register">Register</a>&nbsp; 
<a href="/tell-a-friend">Tell A Friend</a>&nbsp;  
| <a href="/login">Login</a>
<%else%> <% @member = Member.find(session[:member]) %> Welcome <%= @member.username %> 
<% if session[:superuser]==101 %>
<h2>Super User</h2>
<% end %>
<a href="/logout">Logout</a> <%= render :partial => 'menu/usermenu' %>
<%end%>
<%=form_tag({:controller => 'rents101', :action=>'searchads'}, :multipart => true)%>
<table border="0" width="38%" id="table1">
<tr>
<td width="48"><p align="right"><font face="Verdana" color="#FFFFFF"><b>Search</b></font></td>
<td><input type="text" name="typed_search" size="18">
  <%= submit_tag "Search" %></td></tr>
</form>
</table>


