		<div id="sponsors" class="boxed">
			<div class="title">
				<h2>User Menu</h2>
			</div>
			<div class="content">

    <div id="box202"> 

<%@myinbcount = Pmessage.count(:conditions => "to_user="+session[:member].to_s + " and read_on is null and receiver_delete = 0 ")%>
<%if @myinbcount > 0 %>
<a href="/mypms">My PMs</a> <img src="/images/new.gif">
<%else%>
<a href="/mypms">My PMs</a> <img src="/images/new_mail_16.gif"> 
<%end%><br/>
<a href="/myfavorites">My Favourites</a> <img src="/images/favorites_16.gif"/><br/>
<a href="/mysavedsearches">My Saved Searches</a> <br/>
<a href="/logout">Logout</a>
</div>
			</div>
		</div>
