

<% if controller.action_name == 'adbrowse' or controller.action_name == 'manglikbrowse' or  controller.action_name == 'adagebrowse' or controller.action_name == 'adcountrybrowse' or controller.action_name == 'adstarbrowse' or controller.action_name == 'admarbrowse'%>

                         
                         
                         
	<% if controller.action_name == 'adagebrowse' %>
	 <% @mycolname = 'Age Range' %>
	 <% @actionname = 'adagebrowse'%>
	<% elsif controller.action_name == 'admarbrowse' %>
	 <% @mycolname = 'Marital Status' %>
	 <% @actionname = 'admarbrowse'%>
	 <% elsif controller.action_name == 'manglikbrowse' %>
	 <% @mycolname = 'Manglik or Sevvai Dosha' %>
	 <% @actionname = 'manglikbrowse'%>
	<% elsif controller.action_name == 'adstarbrowse' %>
	 <% @mycolname = 'Birth Star' %>
	 <% @actionname = 'adstarbrowse'%>
	<% elsif controller.action_name == 'adcountrybrowse' %>
	 <% @mycolname = 'Location (country)' %>
	 <% @actionname = 'adcountrybrowse'%>
	<% else %>
	<% @mycolname = 'Job Type' %>
	<% @actionname = 'adbrowse'%>
	<% end %>
	

	
<h2>Browse By <%=@mycolname%></h2>	                    
<table width="100%" border="0" cellpadding="5" cellspacing="1" bgcolor="#CFE4FA">
                            <tr><td>
                            	<form action="/rents101/shortbrowse" enctype="multipart/form-data" method="post">

Gender: <br/>
	<select id="adtype" name="adtype"  style="width:70px;">
		
		<option value="-1" <%if  session[:adtype] == "all" %>selected<%end%>>All</option>
		<% for @my in @myadtypecounts %>
		<option value="<%=@my.adtypename%>" <%if @my.adtypename == session[:adtype] %>selected<%end%>>
			<% if @my.adtypename == "Girls (Brides)"%>
			Girls
			<% else %>
			Boys
			<% end %>
		</option>
	
	<% end %>
	</select>  </td><td>    
Brahim Type: <br/>
	<select id="propt" name="propt" style="width:150px;">
		
		<option value="-1" <%if  session[:propertytype] == "all" %>selected<%end%>>All</option>
		<% for @my in @myadpropertycounts %>
		<option value="<%=@my.propertytypename%>" <%if @my.propertytypename == session[:propertytype] %>selected<%end%>><%=@my.propertytypename%></option>
	
	<% end %>
</select>    </td>  <td>


	
	<%=@mycolname%>: <br/>
	<select id="agerange" name="agerange"  style="width:150px;">
		
		<option value="-1" <%if  session[:adcity] == "all" %>selected<%end%>>All</option>
		<% for @my in @myadcitycounts %>
		<option value="<%=@my.adcityname%>" <%if @my.adcityname == session[:adcity] %>selected<%end%>><%=@my.adcityname%></option>
	
	    <% end %>
	</select>      
	

	</td><td>

<input type="hidden" name="myaction" value="<%=controller.action_name%>"><br/>
	<input type="submit" name="login" value="Go"  class="logbtn" /></form>
                      	
                            	
</td></tr></table>   


<% end %>
                         
                                               






               

             
                      <br />

                    
                    
                         
                            
                           
                        <% for @myad in @ads %>
                        <table width="100%"  cellpadding="5" cellspacing="0" style="border: 2px solid #CFE4FA;"> 
<%= render :partial => 'singlead' %>
</table>
                      <br/>
						<% end %>                            
						
      
                            
                         
                         
<h3>
                         <%= link_to 'Previous page', { :page => @ad_pages.current.previous, :typed_search => @mysearch} if @ad_pages.current.previous %>  <%= link_to 'Next page', { :page => @ad_pages.current.next, :typed_search => @mysearch} if @ad_pages.current.next %></h3>
<br/>
<br/>
<br/>
	<script type="text/javascript"><!--
google_ad_client = "pub-8650959444792054";
/* 468x60, created 10/22/09 */
google_ad_slot = "8318530969";
google_ad_width = 468;
google_ad_height = 60;
//-->
</script>
<script type="text/javascript"
src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
</script>
<br/>

<% if controller.action_name == 'adbrowse' or controller.action_name == 'adagebrowse' or controller.action_name == 'manglikbrowse'  or controller.action_name == 'adcountrybrowse' or controller.action_name == 'adstarbrowse' or controller.action_name == 'admarbrowse'%>
<%= render :partial => 'browsebycat' %>
<% end %>               

