<%= error_messages_for 'savedsearch' %>

<!--[form:savedsearch]-->
<tr>
                        <td width="37%" height="25" align="left"><font class="redtext"></font> Boy/Girl</td>

                        <td height="25" align="left"><%=select("savedsearch","adtype_id", Adtype.find(:all, :order => "adtypename ASC").collect { |s1| [s1.adtypename, s1.id]} ) %></td>
                        </tr>
                        
                        
                      <tr>
                        <td width="37%" height="25" align="left"><font class="redtext"></font> Type Of <%=Sitestuff::MYSINGLEKEY %></td>

                        <td height="25" align="left"><%=select("savedsearch","propertytype_id", Propertytype.find(:all, :order => "propertytypename ASC").collect { |s1| [s1.propertytypename[0..20], s1.id]} ) %></td>
                        </tr>

  <tr>
                        <td width="37%" height="25" align="left"><font class="redtext"></font> Age Range</td>

                        <td height="25" align="left"><%=select("savedsearch","agerange1_id", Agerange1.find(:all, :order => "age ASC").collect { |s1| [s1.age, s1.id]} ) %> - <%=select("savedsearch","agerange2_id", Agerange2.find(:all, :order => "age ASC").collect { |s1| [s1.age, s1.id]} ) %></td>
                        </tr>
                        

<tr>
                        <td width="37%" height="25" align="left"><font class="redtext"></font> Height Range</td>

                        <td height="25" align="left"><%=select("savedsearch","height1", Height.find(:all, :order => "cms ASC").collect { |s1| [s1.name, s1.id]} ) %> - <%=select("savedsearch","height2", Height.find(:all, :order => "cms ASC").collect { |s1| [s1.name, s1.id]} ) %></td>
                        </tr>
                        
                        <tr>
                        <td width="37%" height="25" align="left"><font class="redtext"></font> Marital Status (Use Control Key to select Multiple Choices)</td>
                        

                        <td height="25" align="left">
                        	<select name="savedsearch[maritalstatus_ids][]". multiple="multiple">
                        		<%= options_from_collection_for_select(Maritalstatus.find(:all), :id, :name)%>

</select>
                        		
                        		
                        	</td>
                        </tr>


  
                        <tr>
                        <td width="37%" height="25" align="left"><font class="redtext"></font> Birth Stars (Use Control Key to select Multiple Choices)</td>
                        

                        <td height="25" align="left">
                        	<select name="savedsearch[birthstar_ids][]". multiple="multiple">
                        		<%= options_from_collection_for_select(Birthstar.find(:all, :order => "name"), :id, :name)%>

</select>
                        		
                        		
                        	</td>
                        </tr>                                                

                                                                    <tr>
                        <td width="37%" height="25" align="left"><font class="redtext"></font> Key Words</td>

                        <td height="25" align="left"><%= text_field 'savedsearch', 'searchterms'  %></td>
                        </tr>
                         <tr>
                        <td width="37%" height="25" align="left"><font class="redtext"></font> Search Profiles with Photos Only</td>

                        <td height="25" align="left"><%= check_box 'savedsearch', 'withphoto'  %></td>
                        </tr>

                                                                    <tr>
                        <td width="37%" height="25" align="left"><font class="redtext"></font> Profile Search Agent Name</td>

                        <td height="25" align="left"><%= text_field 'savedsearch', 'savedname'  %></td>
                        </tr>
     <tr>
                        <td width="37%" height="25" align="left"><font class="redtext"></font> Send Alerts by Email</td>

                        <td height="25" align="left"><%= check_box 'savedsearch', 'emailalert', :checked => 'checked'  %></td>
                        </tr>

                        <tr><td>
    <% if controller.action_name == 'home'   %>
                        <input type="submit" value="Search" class="searchbtn" />
    <% else %>
                       <input type="submit" value="Save and Search" class="searchbtn" />

    <% end %>
                        </td></tr>
                        

