<% if Sitestuff::MYDOMAIN != 'HindusOnlyMatrimony.com' and Sitestuff::MYDOMAIN != 'MarryASunni.com' %>
	
	<% if controller.action_name == 'adagebrowse' %>
	 <% @mycolname = 'Age Range' %>
	 <% @actionname = 'adagebrowse'%>
	<% elsif controller.action_name == 'admarbrowse' %>
	 <% @mycolname = 'Marital Status' %>
	 <% @actionname = 'admarbrowse'%>
	<% elsif controller.action_name == 'adstarbrowse' %>
	 <% @mycolname = 'Birth Star' %>
	 <% @actionname = 'adstarbrowse'%>
	<% elsif controller.action_name == 'adcountrybrowse' %>
	 <% @mycolname = 'Location (country)' %>
	 <% @actionname = 'adcountrybrowse'%>
	<% else %>
	<% @mycolname = 'Job Type' %>
	<% @actionname = 'adbrowse'%>
	<% end %>
	
	

                 
                  <h3>
                  	<% if session[:superuser]%>
                  	<%= link_to 'All('+Ad.count.to_s+')', {:action => @actionname , :adtype => 'all', :propertytype => 'all', :adcity => 'all'} %>  
                  	<% else%>
                  	<%= link_to 'All', {:action => @actionname, :adtype => 'all', :propertytype => 'all', :adcity => 'all'} %>  
                  	<% end %>
<% for @myadtype in  @myadtypecounts %> 
| <% @link = url_for(:action => @actionname, :adtype => @myadtype.adtypename, 
:propertytype => session[:propertytype] ? session[:propertytype] : 'all', 
:adcity => session[:adcity] ? session[:adcity] : 'all' ) %>
<a href="<%=@link%>" ><%=@myadtype.adtypename  %></a>

<%end %>

</h3>

<br/>

                
              
			       <table width="100%" style="border: 2px solid #CFE4FA;" cellspacing="0" cellpadding="5">

                  
                 
                
<tr>
	<td><b>Brahmin Type</b>

</td><td><b>
	<%=@mycolname%>
	
</b></td></tr>

<tr>

<td bgcolor="#FFFFFF"><font class="loginlh">
  
<% for @myadproperty in  @myadpropertycounts %> 
<% @link = url_for(:action => @actionname, :adtype => session[:adtype] ? session[:adtype] : 'all', 
:propertytype => @myadproperty.propertytypename, 
:adcity => session[:adcity] ? session[:adcity] : 'all'  ) %>
<a href="<%=@link%>" class="searchlink"><%=@myadproperty.propertytypename  %></a> 
<br/>
<% end %>

<br/>

</font>
</td>

<td bgcolor="#FFFFFF"><font class="loginlh">
  
<% for @myadcity in  @myadcitycounts %>  
<% @link = url_for(:action => @actionname, :adtype => session[:adtype] ? session[:adtype] : 'all', 
:propertytype => session[:propertytype] ? session[:propertytype] : 'all', 
:adcity => @myadcity.adcityname ) %>
<a href="<%=@link%>" class="searchlink"><%=@myadcity.adcityname%></a>
<% if controller.action_name == 'adcountrybrowse' %>
<img src="/images/flags/<%=@myadcity.iso2.downcase%>.gif" alt="<%=@myadcity.iso2.downcase%>"/>
<% end %>
<br/><%end %>


</font>
</td>

</tr>


                        
                        
                  
                    </table>



<% else %>


	<% if controller.action_name == 'adagebrowse' %>
	 <% @mycolname = 'Age Range' %>
	 <% @actionname = 'adagebrowse'%>
	<% elsif controller.action_name == 'admarbrowse' %>
	 <% @mycolname = 'Marital Status' %>
	 <% @actionname = 'admarbrowse'%>
	<% elsif controller.action_name == 'adcountrybrowse' %>
	 <% @mycolname = 'Location (Country)' %>
	 <% @actionname = 'adcountrybrowse'%>
	 	<% else %>
	<% @mycolname = 'Job Type' %>
	<% @actionname = 'adbrowse'%>
	<% end %>

   
                  <h3>Browse By Gender, Origin, <% if Sitestuff::MYDOMAIN == 'MarryaSunni.com'%>Math’hab followed 
                  	<% else %>Caste
                  	<% end %> and <%=@mycolname%></h3><br/>
                  <% if session[:superuser] %>
                  <% @mylink = 'All('+Ad.count.to_s+')' %>
                  <% else %>
                  <% @mylink = 'All'%>
                  <% end %>
<br/><h3><%= link_to @mylink, {:action => @actionname, :adtype => 'all', :propertytype => 'all', :adcity => 'all'} %>  
<% for @myadtype in  @myadtypecounts %> 
| <% @link = url_for(:action => @actionname, :adtype => @myadtype.adtypename, 
:propertytype => session[:propertytype] ? session[:propertytype] : 'all', 
:adcity => session[:adcity] ? session[:adcity] : 'all' ) %>
<a href="<%=@link%>" ><%=@myadtype.adtypename %></a>

<%end %>

</h3>

<br/>

  
 
               

			   <table width="100%" border="1" bordercolor="#CFE4FA" cellspacing="0" cellpadding="5">
                  
              
<tr><td><b>Origin</b></td><td><b><% if Sitestuff::MYDOMAIN == 'MarryaSunni.com'%>Math’hab followed<% else %> Caste<% end %></b>

</td><td><b><%=@mycolname%></b></td></tr>
	<tr>
	<td bgcolor="#FFFFFF"><font class="loginlh">
  
<% for @myadproperty in  @myadpropertycounts %> 
<% @link = url_for(:action => @actionname, :adtype => session[:adtype] ? session[:adtype] : 'all', 
:propertytype => @myadproperty.propertytypename, 
:adcity => session[:adcity] ? session[:adcity] : 'all'    )  %>
<a href="<%=@link%>" class="searchlink"><%=@myadproperty.propertytypename %></a> 
	<% if Sitestuff::MYDOMAIN == 'MarryaSunni.com'%>
	<% @myc = Mycountry.find(:first, :conditions => 'id in (select propertytypes.id from propertytypes where propertytypename ="' + @myadproperty.propertytypename + '")')%>
	<% if @myc %>
	<img src="/images/flags/<%=@myc.iso2.downcase%>.gif" alt="<%=@myc.iso2.downcase%>" title="<%=@myc.iso2.downcase%>"/>
	<% end %>
	<% end %>
<br/>
<% end %>

<br/>

</font>
</td>

<td bgcolor="#FFFFFF"><font class="loginlh">
  
<% for @myadcity in  @myadcitycounts %>  
<% @link = url_for(:action => @actionname, :adtype => session[:adtype] ? session[:adtype] : 'all', 
:propertytype => session[:propertytype] ? session[:propertytype] : 'all', 
:adcity => @myadcity.adcityname  )  %>
<a href="<%=@link%>" class="searchlink"><%=@myadcity.adcityname %></a>
<br/><%end %>


</font>
</td>





</tr>


                        
                        
                  
                    </table>
<% end %>