<%= error_messages_for 'member' %>
<!--[form:member]-->
<table border="0" width="60%" id="table1"><tr>
<tr><td><p><label for="member_email">Email*</label><br/>
<%= text_field 'member', 'email'  %></p></td>
</td>
</tr>
</table>
<!--[eoform:member]-->

