                            <% @link = url_for(:action => 'madshow', :id => @myad.id, :mcaty => @myad.mcatname, :addescr => @myad.myurl) %>

 <tr>     
                       	 <td align="left" valign="top" bgcolor="#FFFFFF"><font class="loginlh"><a href="<%=@link%>" class="searchlink"><%=@myad.title[0..59]%></a>
<br />
<b>Category : <%=@myad.mcat.name%></b><br/>

  
	
	
<br/>                                 

<%  if @myad.status == 0 %>
<h1>Pending Ad </h1>
<% end %>
 
                       	
                       	
                              <td align="left" valign="top" bgcolor="#FFFFFF"><font class="loginlh">
                              	
                              	
                              	
                              </font>

</td>

 <td align="left" valign="top" bgcolor="#FFFFFF">
 	<% if @myad.image1 %> <a href="<%=@link%>"><%= image_tag url_for_file_column("myad", "image1", "thumb") %>
 		<% end %>
 	</a>
 	
</td>
						</tr>