 <%= render :partial => 'menu/sidemenutop' %>
    <% if (controller.action_name == 'adshow' && !session[:employer])  || controller.action_name == 'viewmyresume'   %>

          <table width="267" border="0" cellspacing="0" cellpadding="0">
            <tr>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
            </tr>
            <tr>
              <td width="12"><img src="/images/blue-left.gif" alt="" width="12" height="12" /></td>
              <td width="243" class="brtop">&nbsp;</td>
              <td width="12"><img src="/images/blue-right.gif" alt="" width="12" height="12" /></td>
            </tr>
            <tr>
              <td class="brleft"><img src="/images/blue-m-left.gif" alt="" width="12" height="97" /></td>
              <td class="brmiddle">
<% if controller.action_name == 'adshow' %>
Your Comment<b> On This Job!</b>
<%@myid = @ad.id %>
<% else %>
<% @myid = @jbresume.id %>
Share Your Anonymous Comments with other Recruiters <b> About this Candidate!</b>
<% end %>
<%=form_tag({:controller => 'rents101', :action=>'add_comment'}, :multipart => true)%>
<table><tr><td>
Title:<br/> <%= text_field "comment", "title", "size"=>"20" %></td></tr><tr><td>
Comment:<br/> <%= text_area "comment", "comment", "size" => '20x3'  %></td></tr></table>
<%= hidden_field "comment", "commentable_id", :value => @myid%>
<%= submit_tag "Go!" %>
</form>
</td>
              <td class="brright"><img src="/images/blue-m-right.gif" alt="" width="12" height="97" /></td>
            </tr>
            <tr>
              <td><img src="/images/blue-b-left.gif" alt="" width="12" height="12" /></td>
              <td class="brbottom">&nbsp;</td>
              <td><img src="/images/blue-b-right.gif" alt="" width="12" height="12" /></td>
            </tr>
          </table>
<% end %>



<% if session[:member] %>
<% else %>
          <table width="267" border="0" cellspacing="0" cellpadding="0">
            <tr>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
            </tr>
            <tr>
              <td width="12"><img src="/images/blue-left.gif" alt="" width="12" height="12" /></td>
              <td width="243" class="brtop">&nbsp;</td>
              <td width="12"><img src="/images/blue-right.gif" alt="" width="12" height="12" /></td>
            </tr>
            <tr>
              <td class="brleft"><img src="/images/blue-m-left.gif" alt="" width="12" height="97" /></td>
              <td class="brmiddle"><h1 class="bluehead">Empl<b>oyers</b></h1>
                  <ul id="bluelist">
                    <li><a href="/login">Login</a></li>
                    <li><a href="/register">Register and Post a Job For Free!</a></li>
                    <li><a href="/employersfaq">Products &amp; Services</a></li>
                  </ul></td>
              <td class="brright"><img src="/images/blue-m-right.gif" alt="" width="12" height="97" /></td>
            </tr>
            <tr>
              <td><img src="/images/blue-b-left.gif" alt="" width="12" height="12" /></td>
              <td class="brbottom">&nbsp;</td>
              <td><img src="/images/blue-b-right.gif" alt="" width="12" height="12" /></td>
            </tr>
          </table>
<% end %>
<% if controller.action_name == 'home' %>
<br/>

                    <%=form_tag({:controller => 'rents101', :action=>'advsearchcreate'}, :multipart => true)%>

        <table width="267" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td width="12"><img src="/images/red-left.gif" alt="" width="12" height="12" /></td>
            <td width="243" class="rrtop">&nbsp;</td>
            <td width="12"><img src="/images/red-right.gif" alt="" width="12" height="12" /></td>
          </tr>
          <tr>
            <td class="rrleft"><img src="/images/red-m-left.gif" alt="" width="12" height="97" /></td>
            <td class="rrmiddle">
			<h1 class="redhead">Quick <b>Job Search</b></h1>
			<ul id="redlist">
			Job Category <br/>
			<%=select("savedsearch","propertytype_id", Propertytype.find(:all, :order => "propertytypename ASC").collect { |s1| [s1.propertytypename, s1.id]} ) %>
			</ul>			</td>
            <td class="rrright"><img src="/images/red-m-right.gif" alt="" width="12" height="97" /></td>
          </tr>
          <tr>
            <td><img src="/images/red-b-left.gif" alt="" width="12" height="12" /></td>
            <td class="rrbottom">&nbsp;</td>
            <td><img src="/images/red-b-right.gif" alt="" width="12" height="12" /></td>
          </tr>
        </table>
</form>
        
<% end %>


          <table width="267" border="0" cellspacing="0" cellpadding="0">
            <tr>
              <td width="12">&nbsp;</td>
              </tr>
            <tr>
              <td class="redbar"><div class="redbardiv">Career Question and Answers?</div></td>
            </tr>
            <tr>
              <td>&nbsp;</td>
            </tr>
            <tr>
              <td>
			  <ul id="redbarlist">
			  <li><a href="http://blogs.brahminsmatrimony.com">If I get Security Clearance will it raise my salary or can I get a better job?</a><br /><img src="/images/spacer.gif" alt="" width="220" height="1" vspace="7" /></li>
			  <li><a href="http://blogs.brahminsmatrimony.com">What are the tips for Federal Job interviews?</a><br /><img src="/images/spacer.gif" alt="" width="220" height="1" vspace="7" /></li>
			  <li><a href="http://blogs.brahminsmatrimony.com">Can I get a high paying job in Iraq or Kuwait?</a><br /><img src="/images/spacer.gif" alt="" width="220" height="1" vspace="7" /></li>
			  <li><a href="http://blogs.brahminsmatrimony.com">Where are the jobs for US Citizens?</a><br /><img src="/images/spacer.gif" alt="" width="220" height="1" vspace="7" /></li>
			  </ul>			  </td>
            </tr>
          </table>
          <table width="267" border="0" cellspacing="0" cellpadding="0">

            <tr>
              <td class="bluebar"><div class="redbardiv">Job Seekers Corner</div></td>
            </tr>
            <tr>
              <td>&nbsp;</td>
            </tr>
            <tr>
              <td><ul id="bluebarlist">
                  <li><a href="/resources.html">Career Resources</a><br /><img src="/images/line.gif" alt="" width="220" height="1" vspace="7" /></li>
				  <li><a href="http://blogs.brahminsmatrimony.com">Blogs - Share your experience</a><br /><img src="/images/line.gif" alt="" width="220" height="1" vspace="7" /></li>
				  <li><a href="http://blogs.brahminsmatrimony.com">Jobseeker Events</a><br /><img src="/images/line.gif" alt="" width="220" height="1" vspace="7" /></li>
				  <li><a href="/resumeservices">Resume Services</a><br /><img src="/images/line.gif" alt="" width="220" height="1" vspace="7" /></li>
				  </ul></td>
            </tr>
          </table>

<% if controller.action_name == 'home' %>


          <table width="267" border="0" cellspacing="0" cellpadding="0">
            <tr>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
            </tr>
            <tr>
              <td width="12"><img src="/images/blue-left.gif" alt="" width="12" height="12" /></td>
              <td width="243" class="brtop">&nbsp;</td>
              <td width="12"><img src="/images/blue-right.gif" alt="" width="12" height="12" /></td>
            </tr>
            <tr>
              <td class="brleft"><img src="/images/blue-m-left.gif" alt="" width="12" height="97" /></td>
              <td class="brmiddle"><h1 class="bluehead">Latest<b>Jobs</b></h1>
                  <ul id="bluelist">
<% @myads = Ad.find(:all, :order => " id desc", :limit => 9) %>
<% for myad in @myads %>
<% @link = url_for(:action => 'adshow', :id => myad, :addescr => myad.myurl) %>

		<li><a href="<%=@link%>"><%=myad.title[0..30]%>...</a></li>
<% end %>

                  </ul></td>
              <td class="brright"><img src="/images/blue-m-right.gif" alt="" width="12" height="97" /></td>
            </tr>
            <tr>
              <td><img src="/images/blue-b-left.gif" alt="" width="12" height="12" /></td>
              <td class="brbottom">&nbsp;</td>
              <td><img src="/images/blue-b-right.gif" alt="" width="12" height="12" /></td>
            </tr>
          </table>

<% end %>
