<% if session[:superuser] %>
<h2> Super User Menu </h2>
<% if @ad.member.referredby%>
Referred by <%=@ad.member.referredby%> <br/>
<% end %>
<h3>IP Address: <%=@ad.member.ipaddress%>  <br/></h3>
Other profiles from this IP address
<% if @ad.member.ipaddress %>
	<% @mydups = Member.find(:all, :conditions => 'id in (select member_id from ads) and ipaddress = ' + '"' + @ad.member.ipaddress + '"' )%>
	<% for @mydup in @mydups%>
	<% if @mydup.id != @ad.member_id %>
	<%=@mydup.id.to_s%> <br/>
	<% end %>
	<% end %>
	<% end %>
<table border="1" cellpadding=5 cellspacing=5><tr>
	<td><%=@ad.member.usertype.name%></td>
	<td>
		<% if @ad.status ==0%>
<%=link_to "Approve/Pause Ad", :controller => 'userfunctions', :action => 'adapprove', :id => @ad %> </td> <% end %> <td>
<%=link_to "Edit", :controller => 'superuser', :action => 'edituserprofile', :id => @ad.member_id %></td><td>
<%= link_to 'Delete', { :controller => 'userfunctions', :action => 'addestroy', :id => @ad, :boxid => 'inbox' }, :confirm => 'Are you sure?', :post => true %></td><td>
<%=link_to "One Year Upgrade", :controller => 'superuser', :action => 'paiduser', :id => @ad.member_id %>
<br/>
<%=link_to "6 months Upgrade", :controller => 'superuser', :action => 'silverupgrade', :id => @ad.member_id %>
<br/>

<%=link_to "3 months Upgrade", :controller => 'superuser', :action => 'bronzeupgrade', :id => @ad.member_id %>
<br/>

<% @tmpmy = Memberpayment.find(:first, :conditions => ' member_id = ' + @ad.member_id.to_s ) %>
<% if @tmpmy %> Expires <%=@tmpmy.exp_date%> <%end%>

</td>
<td><%=link_to "Verify Email", :controller => 'superuser', :action => 'emailverify', :id => @ad.member_id %></td>
<td>
<%=link_to "Profile Verified", :controller => 'superuser', :action => 'verified', :id => @ad.id %></td>
<td>
<%=link_to "Dont display Phone", :controller => 'superuser', :action => 'nophone', :id => @ad %> </td>
<td>
<%=link_to "Clear Images", :controller => 'superuser', :action => 'clearimages', :id => @ad.id %></td>
<td>
<%=link_to "Change Gender", :controller => 'superuser', :action => 'genderchange', :id => @ad.member.id %></td></tr></table>
<% end %>
