<h3>Added to Compare Table! </h3>
<table bordercolor="#339966" cellspacing="0" cellpadding="0" width="90%" bgcolor="#ffffff" border="1">
  
  <tr valign="top">
    <td><font face="Arial" color="#000000" size="2">
      <div>Ads to Compare</div></font></td></tr>
<% if session[:comp1] %>
  <tr valign="top">
    <td><%= session[:comp1] %></td></tr>
<% end %>

<% if session[:comp2] %>
  <tr valign="top">
    <td><%= session[:comp2] %></td></tr>
<% end %>
<% if session[:comp3] %>
  <tr valign="top">
    <td><%= session[:comp3] %></td></tr>
<% end %>
<% if session[:comp4] %>
  <tr valign="top">
    <td><%= session[:comp4] %></td></tr>
<% end %>
<% if session[:comp5] %>
  <tr valign="top">
    <td><%= session[:comp5] %></td></tr>
<% end %>


</table>

<% @complink = url_for(:controller => 'rents101', :action => 'docompare') %>
<a href="<%=@complink%>" title="Visually Compare the Ads">Compare Ads Now!</a>
