var countries  = [
<% @mycs = Jbcountry.find(:all, :order => " relative_order, name ") %>
<% for @myc in @mycs %>
,['<%=@myc.id.to_s%>','<%=@myc.name%>']
<% end %>
<br/><br/>
var states  = [
<% @mysts = Jbstate.find(:all, :order => "relative_order, jbcountry_id, name") %>
<% for @myst in @mysts %>
['<%=@myst.id.to_s%>','<%=@myst.name%>', '<%=@myst.jbcountry.name%>'],<br/>
<% end %>


<br/><br/>
var cities  = [
<% @mysts = Jbstate.find(:all, :order => "relative_order, jbcountry_id, name") %>
<% for @myst in @mysts %>
    <% @mycities = Adcity.find(:all, :conditions => 'jbstate_id = ' + @myst.id.to_s, :order=> 'adcityname' )%>
    <% for @mycity in @mycities %>
             ['<%=@mycity.id.to_s%>','<%=@mycity.adcityname%>','<%=@myst.name%>', '<%=@myst.jbcountry.name%>'],<br/>
    <% end %>
<% end %>
