    <h2>Contac Us</h2>

			   <table width="100%" border="0" cellspacing="0" cellpadding="0">
                  
                 <tr>
                        
              <td class="brmiddle"> <div class="loginlh">
 

Email: support@<%=Sitestuff::MYDOMAIN%><br/>
<% @myp = Myparam.find(:first, :conditions => 'id="contact"')%>
<%=@myp.desc%>
	
  
  
              </div>

</td>
        </tr>
      </table>


 
 


