<% for ad in @ads %>
<p><b><%= h ad.adtype.adtypename %></b> <%= h ad.propertytype.propertytypename %> in <b><%= h ad.adcity.adcityname %></b> 
<% @link = url_for(:action => 'adshow', :id => ad, :addescr => ad.adtype.adtypename + '-' + ad.adcity.adcityname+'-'+ad.title.gsub(/[ ]/, '-')+".html") %>

<b><a href="<%=@link%>"><%=ad.title%></a></b> Price: <b>Rs. <%=ad.property_price%></b> <%=ad.created_on.strftime("%d-%m-%Y")%><% @myad = ad %><% if @myad.image1 %>
<%= image_tag url_for_file_column("myad", "image1", "thumb") %> <%end%>
<%=h ad.description[0..80]%> <a href="<%=@link%>"> ...More...</a>
<hr>
<% end %>


<%= link_to 'Previous page', { :page => @ad_pages.current.previous, :typed_search => @mysearch} if @ad_pages.current.previous %> | <%= link_to 'Next page', { :page => @ad_pages.current.next, :typed_search => @mysearch} if @ad_pages.current.next %>  | 
<%= link_to 'New ad', :controller => 'userfunctions', :action => 'adnew' %>



