<% cache(:action => 'faq', :part => 'faq') do %>
		<div id="example" class="post">
			<h2 class="title"><span>F.A.Q</span></h2>
			<div class="story">
<p ><u>How do I sign up? </u></p>
<p >Use the register link on the left. Or click <a href="/register">here</a>&nbsp;When you sign up make 
sure that the check box for "Agree to terms" is checked on.</p>
<p >&nbsp;</p>
<p ><u>What is the free trial?</u></p>
<p >You can use our site for free for 7 days. After that you need to pay a nominal amount.<a href="/paynow">Click here for the rate chart</a> </p>
<p >&nbsp;</p>

<p ><u>I have a profile ID. How do I search for it?</u></p>
<p >Type the profle ID in the search box on the top right and hit enter </p>
<p >&nbsp;</p>


<p ><u>What is Advanced Search/Profile Search Agent</u></p>
<p >Advanced search option will allow you to narrow your filter to search for profiles. You can set up automtatic search agent to send you an email every day for the nw profiles you are looking for. For example if you are looking for Iyer boys in the age range 30-35 you create an advanced search/Profile search agent, give a name like iyerboy30-35 and click on the check box for Email alerts. So whenever an Iyer boy in the age range 30-35 registes in our site from the current date, we will send an automatic email with the link to the new profile matching your selection criteria</p>
<p >&nbsp;</p>


<p ><u>I can not send Private Messages</u></p>
<p >Only paid members are allowed to send private messages</p>
<p >&nbsp;</p>



<p><u>Someone
Else used my Email ID to create my profile which I did not authorize.
What I should do?.</u></p>
<ul>
  <li>First of all send an email
to support@brahminsmatrimony.com from the email ID requesting the
profile to be deleted</li>
  <li>Remember we track all IP
addresses with date and time stamp. If you think someone misused it we
can talk to local law enfrocement officers to find the person who might
have done this and take legal action.</li>
  <li>If you or if any one of your
family members created the profile (which is traceable to the IP
address) then you will be liable for any damages and we will have the
right to take legal action.</li>
</ul>
<p>&nbsp;</p>



<p ><u>How do I get more help.</u></p>
<p >Send email to support@ <%=Sitestuff::MYDOMAIN%> </p>
<p >Call us 0944 204 3570</p><p >&nbsp;</p>





<p ><u>Advertising in our site</u></p>
<p >If you are interested in advertising in our site (links or 
text banners), please contact
<a style="color: blue; text-decoration: underline; text-underline: single" href="mailto:support@<%=Sitestuff::MYDOMAIN%>">
support@ <%=Sitestuff::MYDOMAIN%></a>. As you can see our main focus is to serve our 
customers and to be the number one matrimonial portal for <%=Sitestuff::MYSINGLEKEY %> Only. Ad revenue is not our 
main focus and we want to have very few ads which will add value to our 
visitors.</p>

			</div>
		</div>


<% end %>

