<h2>Forgot my password or resend my Confirmation Code</h2>
<%=form_tag({:controller => 'rents101', :action=>'process_forgot'}, :multipart => true)%>
  <%= render :partial => 'forgot_password' %>
  <%= submit_tag "Send My Password" %>
</form>

