<% cache(:action => 'faq', :part => 'hourhomemuniad') do %> 
	<img src="/images/welcome.gif" width="362" height="43" alt="" /><br />
	<% @myp = Myparam.find(:first, :conditions => 'id="homeslogan"')%>
	<%=@myp.desc%>
	<br /><br />

<img alt=""  src="/images/asterik.jpg" width="5" height="6"/> <a href="/browse/all/all/all" class="reddish"><strong>View <%=Sitestuff::MYSINGLEKEY%> Profiles</strong></a>
<br /><br />
<table border="0" cellspacing="0" cellpadding="0" style="width: 525px;">
<tr>
	<td class="goldtop" style="width: 262px;"><h3 class="goldtop">Latest Profiles Of Girls </h3></td>
	<td class="dotted"> </td>
	<td class="redtop" style="width: 262px;"><h3 class="redtop">Latest Profiles Of Boys</h3></td>
</tr>
<% @myboys = Ad.find(:all, :limit => Sitestuff::MYMAXADS.to_i, :order => "id desc", :conditions => 'status = 1 and adtype_id=2')%>
<% @mygirls = Ad.find(:all, :limit => Sitestuff::MYMAXADS.to_i, :order => "id desc", :conditions => 'status = 1 and adtype_id=1')%>


<tr style="height: 8px;"><td> </td><td class="dotted"></td><td> </td></tr>
<tr>
	<td>
		
		<% for @myad in @mygirls %>
	
	<%= render :partial => 'menu/homeonead' %>
	<% end %>
	</td>
	
	<td class="dotted"> </td>
	
	<td>
		<% for @myad in @myboys %>
	
	<%= render :partial => 'menu/homeonead' %>
	<% end %>
	</td>
</tr>

</table>
<br />
	<!-- couple -->
<div class="sborder">
<h2 class="dot">Exclusive Matrimonial Portal For <%=Sitestuff::MYSINGLEKEY%> Only</h2>
	<div style="padding-left:17px; padding-top:9px; padding-right:10px; padding-bottom:12px"><a href="#"><img src="/images/couple.jpg" width="87" height="76" alt="" class="imgborder" /></a>
		<% @myp = Myparam.find(:first, :conditions => 'id="homepage"')%>
<%=@myp.desc%>
<br /><br />
                  
</div>

</div>

<br />
<!-- end couple -->

<div id="partner"><h2 class="grayHDR">Browsing Options</h2>
<div style="float: left; width: 210px;padding-left: 5px; padding-right: 5px;"><br />
	<ul id="prelist">
	<% @mycats = Propertytype.find(:all, :order => 'propertytypename')%>
                	<% for @mycat in @mycats%>
                  <li><a href="/agebrowse/all/<%=@mycat.propertytypename%>/all"><%=@mycat.propertytypename%></a></li>
				  
				  <% end %> </ul>
	
	<br /><br /></div><div style="float: right; width: 210px;padding-left: 5px; padding-right: 5px; margin-right: 5px;"><br />
			<ul id="prelist2">
	<% @mycats = Adcity.find(:all, :order => 'adcityname')%>
                	<% for @mycat in @mycats%>
                  <li><a href="/browse/all/all/<%=@mycat.adcityname%>"><%=@mycat.adcityname%></a></li>
				  
				  <% end %> </ul>
	
		<br /><br /></div>
<div style="clear: both;"></div>
</div><!-- / end partner -->

<div style="clear: both;"></div>
<br />

<% if Sitestuff::MYDOMAIN == 'MarryaSunni.com'%>
	<!-- couple -->
<div class="sborder">
<h2 class="dot">Couple Of The Month</h2>
	<div style="padding-left:17px; padding-top:9px; padding-right:10px; padding-bottom:12px"><a href="#"><img src="/images/couple.jpg" width="87" height="76" alt="" class="imgborder" /></a><h3>Couple from Karachi, Pakistan</h3>

<a href="#" class="green"><strong>Happily Married!</strong></a><br />
<br />
We are thankful to your website for a successful marriage!
<br /><br />
<img alt=""  src="/images/asterik.jpg" width="5" height="6"/> <a href="#" class="reddish"><strong>view more info</strong></a></div>

</div>

<br />
<!-- end couple -->
<a href="/browse/all/all/all/all" ><img src="/images/dont-let-love.jpg" width="273" height="95" alt="Don't Let Love" /></a>
<% else %>

<!-- couple -->
<div class="sborder">
<h2 class="dot">Couple Of The Month</h2>
	<div style="padding-left:17px; padding-top:9px; padding-right:10px; padding-bottom:12px"><a href="#"><img src="/images/couple.jpg" width="87" height="76" alt="" class="imgborder" /></a><h3>Couple from Coimbatore, Tamil Nadu</h3>

<a href="#" class="green"><strong>Happily Married!</strong></a><br />
<br />
<% if Sitestuff::MYDOMAIN == 'HindusOnlyMatrimony.com'%>
We (24 Manai Chettiar) are thankful to your website for a successful marriage! This is the luckiest website indeed!
<% else %>
We got married after we met each other in your site. Thank you for your help!   A.Srinivasan and Vidhya Srinivasan
<% end %>
<br /><br />
<img alt=""  src="/images/asterik.jpg" width="5" height="6"/> <a href="#" class="reddish"><strong>view more info</strong></a></div>
</div>

<br />
<!-- end couple -->

<% end %>
<% end %>
