      <table width="617" border="0" cellspacing="0" cellpadding="0">

        <tr>
          <td>&nbsp;</td>
        </tr>
        
        <tr>
          <td valign="top"><table width="607" border="0" cellspacing="0" cellpadding="0">
            <tr>
              <td width="11"><img src="/images/left-left.gif" alt="" width="11" height="12" /></td>
              <td width="585" class="ltop">&nbsp;</td>
              <td width="11"><img src="/images/left-right.gif" alt="" width="11" height="12" /></td>

            </tr>
            <tr>
              <td class="lleft"><img src="/images/left-m-left.gif" alt="" width="11" height="146" /></td>
              <td class="lmiddle"><img src="/images/bullet.gif" alt="" width="19" height="18" />
                  <h1 class="lheading">Employer FAQ</h1>
                <br />
                <br />
               <div class="lmargin">

			   <table width="100%" border="0" cellspacing="0" cellpadding="0">
  
                  <tr>
                    
                   
                        
              <td> <div class="loginlh">
              <p><strong><u>Benefits of Signing As Employer 
in our site</u></strong></p>
<ul>
  <li>
<div><strong>For a limited time you can sign 
  up for free and post one job for free</strong></div></li>
  <li>
<div><strong>Search thousands of qualified 
  employees</strong></div></li>
  <li>
<div><strong>Thousands of employees with 
  who are willing to work part time and within your budget</strong></div></li>
  <li>
<div><strong>Pay as you go. Buy credits for 
  viewing resumes or posting jobs.</strong></div></li></ul>

<p><strong>Our rates are very 
competitive.</strong></p>
<p><a 
href="mailto:support@brahminsmatrimony.com">Contact</a> us for your requirement 
on how many jobs you want to post and how many resumes you want to view.</p>
              </div>

</td>
                   
                  </tr>
                  <tr>
                    <td><img src="/images/blue-b-left.gif" alt="" width="12" height="12" /></td>
                    <td class="brbottom">&nbsp;</td>
                    <td><img src="/images/blue-b-right.gif" alt="" width="12" height="12" /></td>
                  </tr>
                </table>			   
               </div></td>
              <td class="lright"><img src="/images/left-m-right.gif" alt="" width="11" height="146" /></td>

            </tr>
            <tr>
              <td><img src="/images/left-b-left.gif" alt="" width="11" height="12" /></td>
              <td class="lbottom">&nbsp;</td>
              <td><img src="/images/left-b-right.gif" alt="" width="11" height="12" /></td>
            </tr>
          </table> 
</td>
        </tr>
      </table></td>


 
 


