		<select style="width:100px" name="Country" ID="countryDDL" onchange="javascript:countryChanged();"></select>&nbsp;
		<select style="width:100px" name="State" ID="stateDDL" onchange="javascript:stateChanged();"></select>&nbsp;
		<select style="width:100px" name="City" ID="cityDDL"  onchange="javascript:cityChanged();"></select>&nbsp;


<form>
<input type="button" value="Click me!" id="myButton" onclick="alertId()" />
</form>
