<h1>Privacy Policy</h1>      

			   <table width="100%" border="0" cellspacing="0" cellpadding="0">
                  
                <tr>
                   
                        
              <td class="brmiddle"> 
              	
              	<span class="Apple-style-span"
 style="border-collapse: separate; color: rgb(0, 0, 0); font-family: 'Times New Roman'; font-size: 16px; font-style: normal; font-variant: normal; font-weight: normal; letter-spacing: normal; line-height: normal; orphans: 2; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px;"><span
 class="Apple-style-span"
 style="color: rgb(42, 40, 40); font-family: 'lucida sans unicode'; font-size: 12px; line-height: 16px; text-align: justify;"><strong>What
information do we collect?</strong><span
 class="Apple-converted-space">&nbsp;</span><br>
<br>
We collect information from you when you register on our site,
subscribe to our newsletter or fill out a form.<span
 class="Apple-converted-space">&nbsp;</span><br>
<br>
Any data we request that is not required will be specified as voluntary
or optional.<span
 class="Apple-converted-space">&nbsp;</span><br>
<br>
When ordering or registering on our site, as appropriate, you may be
asked to enter your: name, e-mail address or phone number. You may,
however, visit our site anonymously.<br>
<br>
Google, as a third party vendor, uses cookies to serve ads on your
site. Google's use of the DART cookie enables it to serve ads to your
users based on their visit to your sites and other sites on the
Internet. Users may opt out of the use of the DART cookie by visiting
the Google ad and content network privacy policy.<br>
<br>
<strong>What do we use your
information for?</strong><span
 class="Apple-converted-space">&nbsp;</span><br>
<br>
Any of the information we collect from you may be used in one of the
following ways:<span
 class="Apple-converted-space">&nbsp;</span><br>
<br>
&bull; To personalize your experience<br>
(your information helps us to better respond to your individual needs)<br>
<br>
&bull; To improve our website<br>
(we continually strive to improve our website offerings based on the
information and feedback we receive from you)<br>
<br>
&bull; To improve customer service<br>
(your information helps us to more effectively respond to your customer
service requests and support needs)<br>
<br>
<strong>How do we protect your
information?</strong><span
 class="Apple-converted-space">&nbsp;</span><br>
<br>
We implement a variety of security measures to maintain the safety of
your personal information when you submit a request.<span
 class="Apple-converted-space">&nbsp;</span><br>
<br>
These security measures include: password protected directories and
databases to safeguard your information or PCI Scanning to actively
protect our servers from hackers and other vulnerabilities.<span
 class="Apple-converted-space">&nbsp;</span><br>
<br>
We offer the use of a secure server. All supplied sensitive/credit
information is transmitted via Secure Socket Layer (SSL) technology and
then encrypted into our Payment gateway providers database only to be
accessible by those authorized with special access rights to such
systems, and are required to keep the information confidential.<br>
<br>
After a transaction, your private information (credit cards, social
security numbers, financials, etc.) will not be stored on our servers.<br>
<br>
<strong>Do we use cookies?</strong><span
 class="Apple-converted-space">&nbsp;</span><br>
<br>
Yes (Cookies are small files that a site or its service provider
transfers to your computers hard drive through your Web browser (if you
allow) that enables the sites or service providers systems to recognize
your browser and capture and remember certain information.<br>
<br>
<strong>Do we disclose any
information to outside parties?</strong><span
 class="Apple-converted-space">&nbsp;</span><br>
<br>
We do not sell, trade, or otherwise transfer to outside parties your
personally identifiable information. This does not include trusted
third parties who assist us in operating our website, conducting our
business, or servicing you, so long as those parties agree to keep this
information confidential. We may also release your information when we
believe release is appropriate to comply with the law, enforce our site
policies, or protect ours or others' rights, property, or safety.
However, non-personally identifiable visitor information may be
provided to other parties for marketing, advertising, or other uses.<br>
<br>
<strong>Third party links</strong><span
 class="Apple-converted-space">&nbsp;</span><br>
<br>
Occasionally, at our discretion, we may include or offer third party
products or services on our website. These third party sites have
separate and independent privacy policies. We therefore have no
responsibility or liability for the content and activities of these
linked sites. Nonetheless, we seek to protect the integrity of our site
and welcome any feedback about these sites.<br>
<br>
<strong>California Online Privacy
Protection Act Compliance</strong><br>
<br>
Because we value your privacy we have taken the necessary precautions
to be in compliance with the California Online Privacy Protection Act.
We therefore will not distribute your personal information to outside
parties without your consent.<br>
<br>
<strong>Childrens Online Privacy
Protection Act Compliance</strong><span
 class="Apple-converted-space">&nbsp;</span><br>
<br>
We are in compliance with the requirements of COPPA (Childrens Online
Privacy Protection Act), we do not collect any information from anyone
under 13 years of age. Our website, products and services are all
directed to people who are at least 13 years old or older.<br>
<br>
<strong>CAN-SPAM Compliance</strong><span
 class="Apple-converted-space">&nbsp;</span><br>
<br>
We have taken the necessary steps to ensure that we are compliant with
the CAN-SPAM Act of 2003 by never sending out misleading information.<br>
<br>
<strong>Online Privacy Policy Only</strong><span
 class="Apple-converted-space">&nbsp;</span><br>
<br>
This online privacy policy applies only to information collected
through our website and not to information collected offline.<br>
<br>
<strong>Terms and Conditions</strong><span
 class="Apple-converted-space">&nbsp;</span><br>
<br>
Please also visit our Terms and Conditions section establishing the
use, disclaimers, and limitations of liability governing the use of our
website at http://www.<%=Sitestuff::MYDOMAIN%>/terms.html.<br>
<br>
<strong>Your Consent</strong><span
 class="Apple-converted-space">&nbsp;</span><br>
<br>
By using our site, you consent to our privacy policy.<br>
<br>
<strong>Changes to our Privacy
Policy</strong><span
 class="Apple-converted-space">&nbsp;</span><br>
<br>
If we decide to change our privacy policy, we will post those changes
on this page, and/or update the Privacy Policy modification date below.
Policy changes will apply only to information collected after the date
of the change.<span
 class="Apple-converted-space">&nbsp;</span><br>
<br>
This policy was last modified on<span
 class="Apple-converted-space">&nbsp;</span><strong>1/1/2009</strong><br>
<br>
<strong>Contacting Us</strong><span
 class="Apple-converted-space">&nbsp;</span><br>
<br>
If there are any questions regarding this privacy policy you may
contact us using the information below.<span
 class="Apple-converted-space">&nbsp;</span><br>
<br>
140 Iowa Lane #201<br>
Cary NC 27511 USA<br>
<br>
<strong>Privacy Policy Customer
Pledge</strong><br>
<br>
We pledge to you, our customer, that we have made a dedicated effort to
bring our privacy policy in line with the the following important
privacy laws and initiatives:<br>
Federal Trade Commision Fair<br>
California Online Privacy Protection Act<br>
Childrens Online Privacy Protection Act<br>
Privacy Alliance<br>
Controlling the Assault of Non-Solicited Pornography and Marketing Act<br>
<span class="Apple-converted-space"></span><br>
<br>
Respectfully,<span
 class="Apple-converted-space">&nbsp;</span><br>
<br>
WebMaster<span class="Apple-converted-space">&nbsp;</span><br>
www.<%=Sitestuff::MYDOMAIN%><span
 class="Apple-converted-space">&nbsp;</span></span></span>

              	
<br />




</div>

</td>
        </tr>
      </table>


 
 


