<% if @randad %>
    <div id="box"> <center>
<h4><b>Random Ad with Photo </b></h4>
<b><%= @randad.title%> </b>(<%= @randad.adcity.adcityname%>)
<% if @randad.image1 %>
<% @link = url_for(:action => 'adshow', :id => @randad, :addescr => @randad.adtype.adtypename + '-' + @randad.adcity.adcityname+'-'+@randad.title.gsub(/[ ]/, '-')) %>

<a href="<%=@link%>" > <%= image_tag url_for_file_column("randad", "image1", "thumb") %> </a>
<% end %></center>
</div>
<%end%>


