                  <% cache(:action => 'faq', :part => '_tagcloud') do %>
<h2 class="dot">Tag Cloud
                  </h2>
                  
              

                     
                       
                        
                  
                   
			   <table width="100%"  cellpadding="5" cellspacing="5" style="border: 2px solid #CFE4FA;"> 
<tr><td>
        <% @myct = 1 %>
	<% for @mytag in @mytags%>
<% if @mytag.mydesc.downcase != 'sahukaru phaneendra' and  @mytag.mydesc.downcase != 'phaneendra sahukaru'%>
  <% @myc = @myct.remainder(5) %>

	<% if @myc == 1 %><h1><%elsif @myc == 2%><h2><%elsif @myc == 3%><h3><%elsif @myc == 4%><h4><%elsif @myc == 5%><i><% end %>
	<a href="/tags/<%=@mytag.mydesc%>"><%=@mytag.mydesc%></a> &nbsp; &nbsp;   &nbsp; &nbsp; 
	<% if @myc == 1 %></h1><%elsif @myc == 2%></h2><%elsif @myc == 3%></h3><%elsif @myc == 4%></h4><%elsif @myc == 5%></i><% end %>
<% @myct = @myct + 1%>
<%end%>
	<% end %>
</td></tr>		

				</table>
		
<%end%>




