   
                  <h1 class="lheading">Terms and Conditions</h1>
          

			   <table width="100%" border="0" cellspacing="0" cellpadding="0">
                  
               
                  <tr>
                   
                   
                        
              <td class="brmiddle"> <div class="loginlh">
 
 
 By signing up as a member, I agree to the terms and conditions of the site owned and operated by Amtek Systems Inc (Referred as AMTEK). I understand that the owner(s) and/or the operator(s) of the site is not liable to any loss, damage to me. I also agree not to spam the users with emails or unwanted or unrelated solicitation. The site is owned and operated by AmTek Systems Inc.,


<b>Warranty & Liability:</b>
<%=Sitestuff::MYDOMAIN%> or its owner(s) will not be liable for any damages from use of any products. We can not warrant on any information provided by the users on this web site. No Liability: In no event shall <%=Sitestuff::MYDOMAIN%> be liable for any special, incidental, indirect or consequential damages whatsoever (including, without limitation, damages for loss of business profits, business interruption, loss of business information, or any other pecuniary loss) arising out of the use of the information made available on this web site. We do not warranty or guarantee any data in the website. We are not liable for any errors/omissions and any changes to marital status after the profile was posted.




<br/>
<b>Free Trial Period Limitations:</b>
During the free trial period, members are responsible for changing or deleting their own profiles. We will respond to deletion of profiles within the free trial period. After the free trial period we provide service to paid members only. If you are not a paid member and if you want to delete your profile after the free trial period we will charge a nominal fee for our services.
<br/>

<br/>
<b>Paid Members:</b>
We charge a nominal fee only to maintain your profile in our site for one year. You are responsible to contact the profile you are interested in and make further contacts. Note that if you contact a profile and if you are told he/she got married, we are not responsible/liable for this since the profile owner has to inform us in writing requesting deletion of his/her profile. Without the owner's consent we can not delete a profile. One more note for grooms looking for brides. We get many calls about non availability of brides. This is a common problem all across India where we have more boys than girls for marriage. Our recommendation is to lower your expectations, put your full profile with photo, give only accurate information. We also highly recommend pariharams for a speedy marriage. Contact us support@<%=Sitestuff::MYDOMAIN%> for more information

<br/>
<b>Search Engines:</b>
Your public profile will be indexed and will be searchable by all search engines like google, yahoo etc. This gives our members more exposure to find partners. But any informaiton which requires a login (like contact details, private messages) or not searchable by search engines. We advise you to remember when entering your profile description.

If you do not want search engines to index your profile you should contact the search engine directly.


<ul>
  <li>The website is for personal
use only and not to be used by commercial organizations or individuals
for any purpose. Members can not collect emails, addresses or phone
numbers and share it with any individuals or organizations. Members
also agree not to send unsolicited emails, messages in any form to any
other member in the site.</li>
  <li>We may review and delete any
content in our site.</li>
  <li>You are responsible for any
content (like images) being uploaded in your profile and you agree and
vouch that the content you are uploading does not violate any copyright
and you own the rights to the images and you give us the world wide
rights to use, copy, display, edit to any websites. We may ask you to
provide documentary evidence.</li>
  <li>We own and retain
&nbsp;all property rights in the website including the photos or
images uploaded by you. You can not copy, sell or distribute any
content of this website in any form.</li>
  <li>You agree to display your
contact information only in the contact fields and you agree not to
display any contact details like phone number, email, url etc in any
other profile fields.</li>
</ul>

<span class="Apple-style-span"
 style="border-collapse: separate; color: rgb(0, 0, 0); font-family: 'Times New Roman'; font-size: 16px; font-style: normal; font-variant: normal; font-weight: normal; letter-spacing: normal; line-height: normal; orphans: 2; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px;"><span
 class="Apple-style-span"
 style="color: rgb(102, 102, 102); font-family: 'Trebuchet MS'; font-size: 13px;">
<ul style="margin-top: 0in;"
 type="disc">
  <li class="MsoNormal"><span
 class="apple-style-span"><span
 style="font-family: Arial;">THE SITE, SITE CONTENT,
SITE CODE, AND THE SERVICES ARE PROVIDED &ldquo;AS IS&rdquo;
&ldquo;WITH ALL FAULTS&rdquo; AND &ldquo;AS
AVAILABLE&rdquo; AND WITHOUT WARRANTIES OF ANY KIND EITHER EXPRESS
OR IMPLIED. TO THE FULLEST EXTENT PERMISSIBLE PURSUANT TO APPLICABLE
LAW, AMTEK DISCLAIMS ALL WARRANTIES, EXPRESS OR IMPLIED INCLUDING,
WITHOUT LIMITATION, IMPLIED WARRANTIES AND CONDITIONS OF
MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE, WORKMANLIKE
EFFORT, TITLE, AND NON-INFRINGEMENT.</span><o:p></o:p></span></li>
  <li class="MsoNormal"><span
 class="apple-style-span"><span
 style="font-family: Arial;">AMTEK DOES NOT WARRANT
THAT THE AVAILABILITY OF OR THE FUNCTIONS CONTAINED IN THE SITE, SITE
CONTENT, SITE CODE, OR SERVICES WILL BE UNINTERRUPTED OR ERROR-FREE,
THAT DEFECTS WILL BE CORRECTED, OR THAT THIS SITE, SITE CONTENT, SITE
CODE, OR THE SERVER THAT MAKES THEM AVAILABLE, ARE FREE OF VIRUSES OR
OTHER HARMFUL COMPONENTS, OR THAT THE SITE, SITE CONTENT, SITE CODE, OR
SERVER DO NOT VIOLATE ANY PATENT, COPYRIGHT, TRADEMARK OR OTHER
INTELLECTUAL PROPERTY RIGHTS OF ANY PERSON.</span></span><span
 class="apple-converted-space"><span
 style="font-family: Arial;">&nbsp;</span><o:p></o:p></span></li>
  <li class="MsoNormal"><span
 class="apple-style-span"><span
 style="font-family: Arial;">AMTEK
DOES NOT WARRANT OR MAKE ANY REPRESENTATIONS REGARDING THE USE OR THE
RESULTS OF THE USE OF THE SITE, THE SITE CONTENT, THE SITE CODE, OR THE
SERVICES, IN TERMS OF THEIR CORRECTNESS, ACCURACY, RELIABILITY, OR
OTHERWISE. YOU (AND NOT AMTEK) ASSUME THE ENTIRE RISK AS TO THE QUALITY
AND PERFORMANCE OF THE SITE, SITE CONTENT, SITE CODE, OR THE SERVICES,
AS WELL AS THE ENTIRE COST OF ALL NECESSARY SERVICING, REPAIR, OR
CORRECTION IF THERE ARE ANY DEFECTS. NO ORAL OR WRITTEN INFORMATION OR
ADVICE GIVEN BY AMTEK AND ITS AFFILIATED ENTITIES SHALL CREATE A WARRANT</span><o:p></o:p></span></li>
  <li class="MsoNormal"><span
 class="apple-style-span"><span
 style="font-family: Arial;">UNDER NO CIRCUMSTANCES
INCLUDING, WITHOUT LIMITATION, NEGLIGENCE, SHALL AMTEK AND ITS
AFFILIATED ENTITIES BE LIABLE FOR ANY DIRECT, INDIRECT, PUNITIVE,
INCIDENTAL, SPECIAL, EXEMPLARY, CONSEQUENTIAL DAMAGES,
ATTORNEY&rsquo;S FEES OR ANY DAMAGES WHATSOEVER INCLUDING, WITHOUT
LIMITATION, DAMAGES FOR LOSS OF USE, DATA, BUSINESS OR PROFITS THAT
RESULT FROM THE USE OF, OR THE INABILITY TO USE, THE SITE, SITE
CONTENT, SITE CODE, THE SERVICES, EVEN IF THE POSSIBILITY OF SUCH
DAMAGES HAS BEEN ADVISED, AND EVEN IF A REMEDY SET FORTH HEREIN IS
FOUND TO HAVE FAILED ITS ESSENTIAL PURPOSE. WHILE AMTEK TAKES
PRECAUTIONS AGAINST SECURITY BREACHES, NO WEBSITE OR INTERNET
TRANSMISSION IS COMPLETELY SECURE, AND AS SUCH, AMTEK AND ITS
AFFILIATED ENTITIES SHALL NOT BE LIABLE FOR ANY DIRECT, INDIRECT,
PUNITIVE, INCIDENTAL, SPECIAL, EXEMPLARY OR CONSEQUENTIAL DAMAGES THAT
MAY RESULT FROM UNAUTHORIZED ACCESS, HACKING, DATA LOSS, OR OTHER
BREACHES THAT MAY OCCUR ON THE SITE, SITE CONTENT, SITE CODE, THE
SERVICES. APPLICABLE LAW MAY NOT ALLOW THE LIMITATION OR EXCLUSION OF
LIABILITY OR EXEMPLARY, INCIDENTAL OR CONSEQUENTIAL DAMAGES, SO THE
ABOVE LIMITATION OR EXCLUSION MAY NOT APPLY TO YOU. IN NO EVENT SHALL
THE TOTAL LIABILITY OF AMTEK AND ITS AFFILIATED ENTITIES TO YOU FOR ALL
DAMAGES, LOSSES, AND CAUSES OF ACTION, WHETHER IN CONTRACT, TORT
(INCLUDING WITHOUT LIMITATION, NEGLIGENCE), OR OTHERWISE, EXCEED THE
AMOUNT PAID BY YOU TO AMTEK, IF ANY, FOR ACCESSING AND USING THIS SITE
AND/OR THE SERVICES.</span></span></li>
</ul>



 
              </div>

</td>
                   
        </tr>
      </table>


 
 


