<% for column in Membertest.content_columns %>
<p>
  <b><%= column.human_name %>:</b> <%=h @membertest.send(column.name) %>
</p>
<% end %>

<%= link_to 'Edit', :action => 'edit', :id => @membertest %> |
<%= link_to 'Back', :action => 'list' %>
