


.box-container {	
	width:100%;
	text-align:left;
	min-width:100px;
}


h5 {
    font-size: 16px;
    font-weight: normal;
	margin:0px;
    padding: 6px 0px 0px 4px;
	white-space:nowrap;
}


.box-header {
	background: url("/images2/bg-blue-mid.gif") repeat-x; 
    height: 30px;
	width:100%;
}

.box-left {
	background: url("/images2/bg-blue-left.gif") no-repeat scroll top left #ffffff; 
	float:left;
	height:30px;
	width:9px;	
	margin-right:-9px;
}

.box-right {
	background: url("/images2/bg-blue-right.gif") no-repeat scroll top right #ffffff; 
	float:right;
	height:30px;
	width:9px;
	margin-left:-9px;
}

.box-mid {
	float:left;
	height:30px;
	width:100%;	
}

.box-content {
    border-bottom: 1px solid #CCCCCC;
    border-collapse: collapse;
    border-left: 1px solid #CCCCCC;
    border-right: 1px solid #CCCCCC;
    padding: 10px;
}