/** BASIC */

body {
	margin: 0px;
	padding: 0px;
	background: #FFFFFF ;
}

/** FORMS */

form {
	margin: 0px;
	padding: 0px;
}

.input1 {
	width: 160px;
	height: 18px;
	padding: 3px 0px 0px 4px;
	border: none;
	background: transparent url(/images/homepage04.gif) no-repeat fixed left top;
}

html>body .input1 {
	background-attachment: inherit;
}

/** HEADINGS */

h1, h2, h3, h4, h5, h6 {
	margin: 0px;
}

/** TEXTS */

body, th, td, input, textarea, select {
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #5B6066;
}

p, blockquote, ul, ol, dl {
	margin-top: 0px;
	margin-bottom: 1em;
	text-align: justify;
	line-height: 130%;
}

.text1 {
	font-size: 12px;
	font-weight: bold;
	color: #FFFFFF;
}

.text2 {
	position: relative;
	font-size: 18px;
	color: #414549;
}

.text3 {
	clear: both;
	display: block;
}

.text4 {
}

.text5 {
	font-size: 15px;
	font-weight: bold;
	color: #3894A4;
}

.text6 {
	font-size: 11px;
	font-weight: normal;
	margin-bottom: 10px;
	color: #414549;
}

.text7 {
	font-size: 15px;
	font-weight: bold;
	color: #6A9E2D;
}

.text8 {
	font-size: 15px;
	font-weight: bold;
	color: #F4920A;
}

.text9 {
	text-align: center;
	color: #AAAEB2;
}

/** LISTS */

.list1 {
	margin-left: 0px;
	padding-left: 0px;
	list-style: none;
}

.list1 a {
	padding-left: 10px;
	background: url(/images/homepage25.gif) no-repeat left center;
}

.list1 .vline {
	margin-bottom: 4px;
	padding-bottom: 7px;
	background: url(/images/homepage26.gif) repeat-x left bottom;
}

/** LINKS */

a {
	color: #455884;
}

a:hover {
	text-decoration: none;
}

a.link1 {
}

a.link2 {
}

a.link3 {
}

a.link4 {
	text-decoration: none;
	color: #3F4145;
}

a.link4:hover {
	text-decoration: underline;
}

/** STYLES */

.style1 {
}

.style1 a {
}

.style1 a:hover {
}

/** BACKGROUNDS */

.bg1 { background: #9CC741 url(/images/homepage15.gif) no-repeat left top; }
.bg2 { background: #6A83BB url(/images/homepage16.gif) no-repeat left top; }
.bg3 { background: #F3B661 url(/images/homepage17.gif) no-repeat left top; }
.bg4 { background: url(/images/homepage18.gif) repeat-y left top; }
.bg5 { background: url(/images/homepage19.gif) no-repeat left bottom; }
.bg6 { background: url(/images/homepage28.gif) repeat-y left top; }
.bg7 { background: url(/images/homepage36.gif) repeat-x left top; }

/** MISC */

.align-justify { text-align: justify; }
.align-right { text-align: right; }

img { border: none; }

.img1 {
	float: left;
	margin-right: 15px;
}

.img2 {
	float: right;
	margin-right: 15px;
}

hr { display: none; }

.hr1 {
	height: 1px;
}

