body{
font-family: 'lucida sans unicode'; 
font-size: 12px;
line-height: 10px;
color:#2A2828;
font-weight:normal;
text-decoration:none;
margin:0;
}

td, tr{
font-family: 'lucida sans unicode'; 
font-size: 12px;
color:#2A2828;
line-height: 10px;
text-decoration:none;
}

	div.thumbnail_block
	{
		position:relative;
		border:1px solid #9B9A9A;
		text-align:center;
		overflow:hidden;
		padding:0px;
		background-color:#EDECEC;
		background-position:center;
		background-repeat:no-repeat;
	}
	
/*---Header Part Start---*/
#toplink { 
font-family:'Lucida Sans Unicode';
font-size:12px;
text-decoration:none;
font-weight:normal;
color:#ADCEEE;
background-image:url(/images/top-link-back.gif);
height:62px;
line-height:16px;
background-repeat:no-repeat;
} 

#toplink a:link  {
font-family:'Lucida Sans Unicode';
font-size:12px;
text-decoration:none;
font-weight:bold;
color:#ffffff;
}
  
#toplink a:visited {
font-family:'Lucida Sans Unicode';
font-size:12px;
text-decoration:none;
font-weight:bold;
color:#ffffff;
} 

#toplink a:hover { 
font-family:'Lucida Sans Unicode';
font-size:12px;
text-decoration:none;
font-weight:bold;
color:#000000;
  }
  
.toplinkdiv {
margin-top:5px;
margin-left:20px;
}
.searchinput {
background-image:url(/images/input-back.gif);
background-repeat:repeat-x;
height:17px;
border:none #ffffff;
}
.searchdiv {
margin-bottom:10px;
}



/*---Middle Left Start---*/

.imgback {
background-image:url(/images/h2.jpg);
background-repeat:no-repeat;
color:#2A2828;
font-family:'Arial MT';
font-size:17px;
line-height:21px;
vertical-align:top
}
.lookdiv {
margin-top:30px;
margin-left:30px;
}
.looktext {
font-family: Arial, Helvetica, sans-serif;
font-size:41px;
color:#E51F1C;
}
.looktext1 {
font-family:Arial, Helvetica, sans-serif;
font-size:34px;
color:#2475C5;
line-height:50px
}

.ltop {
border-top:1px solid #E8EAEA;
background-color:#FCFCFC;
}
.lleft {
vertical-align:bottom;
background-image:url(/images/left-m-bleft.gif);
background-repeat:repeat-y;
background-position:top;
}
.lright {
vertical-align:bottom;
background-image:url(/images/left-m-bright.gif);
background-repeat:repeat-y;
background-position:top;
}
.lmiddle {
background-image:url(/images/left-middle.gif);
background-position:bottom;
background-color:#FCFCFC;
background-repeat:repeat-x;
vertical-align:top
}
.lbottom {
border-bottom:1px solid #E8EAEA;
background-color:#F0EFEF;
}
.lheading {
font-family:'Arial MT';
font-size:18px;
color:#0F63B5;
display:inline;
font-weight:normal;
margin-left:5px
}
.lheading1 {
font-family:'Arial MT';
font-size:18px;
color:#E51F1C;
display:inline;
font-weight:normal;
}
#hirelist { 
font-size: 12px; 
font-family:'Lucida Sans Unicode';
list-style-type:none;
list-style:none;
line-height:20px;
margin:0px;
padding:0px;
}

#hirelist li { 
font-size: 12px; 
font-family:'Lucida Sans Unicode';
color:#B6070A;
text-decoration:none;
font-weight:bold;
}	
	
#hirelist li a { 
font-weight: normal; 
font-size: 12px; 
font-family:'Lucida Sans Unicode';
color:#292828;
text-decoration:none
}

#hirelist li a:link { 
font-weight: normal; 
font-size: 12px; 
font-family:'Lucida Sans Unicode';
color:#292828;
text-decoration:none
}

#hirelist li a:hover { 
font-weight: normal; 
font-size: 12px; 
font-family:'Lucida Sans Unicode';
color:#E83C39;
text-decoration:none;
border-bottom:1px solid #E83C39;
}

#hirelist1 { 
font-size: 12px; 
font-family:'Lucida Sans Unicode';
list-style-type:none;
list-style:none;
line-height:20px;
margin:0px;
padding:0px;
}

#hirelist1 li { 
font-size: 12px; 
font-family:'Lucida Sans Unicode';
color:#B6070A;
text-decoration:none;
font-weight:bold;
}	
	
#hirelist1 li a { 
font-weight: normal; 
font-size: 12px; 
font-family:'Lucida Sans Unicode';
color:#292828;
text-decoration:none
}

#hirelist1 li a:link { 
font-weight: normal; 
font-size: 12px; 
font-family:'Lucida Sans Unicode';
color:#292828;
text-decoration:none
}

#hirelist1 li a:hover { 
font-weight: normal; 
font-size: 12px; 
font-family:'Lucida Sans Unicode';
color:#E83C39;
text-decoration:none;
border-bottom:1px solid #E83C39;
}

.articlediv {
text-align:justify;
line-height:15px;
}

.brback {
border-left:1px solid #E8EAEA;
border-right:1px solid #E8EAEA;
}
.browsetop {
background-image:url(/images/browse.gif);
height:35px;
background-repeat:no-repeat;
background-position:top;
vertical-align:top;
}
.browsetopdiv {
margin-top:7px;
margin-left:10px;
}

#browselist { 
font-size: 12px; 
font-family:'Lucida Sans Unicode';
list-style-type:none;
list-style:none;
line-height:22px;
margin:0px;
padding:0px;
}

#browselist li { 
font-size: 12px; 
font-family:'Lucida Sans Unicode';
color:#292828;
text-decoration:none;
font-weight:normal;
}	
	
#browselist li a { 
font-weight: normal; 
font-size: 12px; 
font-family:'Lucida Sans Unicode';
color:#292828;
text-decoration:none
}

#browselist li a:link { 
font-weight: normal; 
font-size: 12px; 
font-family:'Lucida Sans Unicode';
color:#292828;
text-decoration:none
}

#browselist li a:hover { 
font-weight: normal; 
font-size: 12px; 
font-family:'Lucida Sans Unicode';
color:#216DB7;
text-decoration:none;
border-bottom:1px solid #216DB7;
}
.browsetopdiv1 {
margin-left:36px;
margin-right:7px
}

#browsetop1 {
background-image:url(/images/browse1.gif);
height:55px;
background-repeat:no-repeat;
background-position:top;
vertical-align:top;
}

.browsetopdiv2 {
margin-top:17px;
margin-left:10px;
}



#prelist { 
font-size: 12px; 
font-family:'Lucida Sans Unicode';
list-style-type:none;
list-style:none;
line-height:15px;
margin:0px;
padding:0px;
}

#prelist li { 
font-size: 12px; 
font-family:'Lucida Sans Unicode';
color:#292828;
text-decoration:none;
font-weight:normal;
}	
	
#prelist li a { 
font-weight: normal; 
font-size: 12px; 
font-family:'Lucida Sans Unicode';
color:#292828;
text-decoration:none
}

#prelist li a:link { 
font-weight: normal; 
font-size: 12px; 
font-family:'Lucida Sans Unicode';
color:#292828;
text-decoration:none
}

#prelist li a:hover { 
font-weight: normal; 
font-size: 12px; 
font-family:'Lucida Sans Unicode';
color:#216DB7;
text-decoration:none;
border-bottom:1px solid #216DB7;
}
/*---Middle Left End---*/




/*---Middle Right Start---*/
.rightimg {
background-image:url(/images/right-back.jpg);
background-repeat:no-repeat;
vertical-align:top;
}
.rttop { 
border-top:1px solid #E8EAEA;
background-color:#ffffff;
}
.rtbottom { 
border-bottom:1px solid #E8EAEA;
background-color:#ffffff;
}
.rtleft { 
border-left:1px solid #E8EAEA;
background-color:#ffffff;
}
.rtright { 
border-right:1px solid #E8EAEA;
background-color:#ffffff;
}
.bgcolor {
background-color:#ffffff;
}
.rrtop {
background-color:#FFD3D2;
}
.rrleft {
background-image:url(/images/red-m-lback.gif);
background-repeat:repeat-y;
vertical-align:top;
}
.rrright {
background-image:url(/images/red-m-rback.gif);
background-repeat:repeat-y;
vertical-align:top;
}
.rrmiddle {
background-color:#FCFCFC;
background-image:url(/images/red-middle.gif);
background-repeat:repeat-x;
vertical-align:top;
}

.rrbottom {
background-color:#FCFCFC;
border-bottom:1px solid #F7D5CF;
}
.redhead {
color:#E51F1C;
font-size:23px;
font-family:'Arial MT';
font-weight:normal;
line-height:none; / line-height:20px;
}

#redlist { 
font-weight: normal; 
font-size: 12px; 
font-family:'Lucida Sans Unicode';
list-style-image:url(/images/bullet-red.gif);
color:#292828;
text-decoration:none;
line-height:20px;
margin-bottom:0px;
margin-left:-20px; / margin-left:20px;
}

#redlist li { 
font-weight: normal; 
font-size: 12px; 
font-family:'Lucida Sans Unicode';
color:#292828;
text-decoration:none
}	
	
#redlist li a { 
font-weight: normal; 
font-size: 12px; 
font-family:'Lucida Sans Unicode';
color:#292828;
text-decoration:none
}

#redlist li a:link { 
font-weight: normal; 
font-size: 12px; 
font-family:'Lucida Sans Unicode';
color:#292828;
text-decoration:none
}

#redlist li a:hover { 
font-weight: normal; 
font-size: 12px; 
font-family:'Lucida Sans Unicode';
color:#E83C39;
text-decoration:none;
border-bottom:1px solid #E83C39;
}




.brtop {
background-color:#CFE4FA;
border-top:1px solid #BFDCF9;
}
.brleft {
background-image:url(/images/blue-m-lback.gif);
background-repeat:repeat-y;
vertical-align:top;
}
.brright {
background-image:url(/images/blue-m-rback.gif);
background-repeat:repeat-y;
vertical-align:top;
}
.brmiddle {
background-color:#ffffff;
background-image:url(/images/blue-middle.gif);
background-repeat:repeat-x;
vertical-align:top;
}

.brbottom {
background-color:#ffffff;
border-bottom:1px solid #BFDCF9;
}
.bluehead {
color:#2475C5;
font-size:23px;
font-family:'Arial MT';
font-weight:normal;
line-height:none; / line-height:20px;
}

#bluelist { 
font-weight: normal; 
font-size: 12px; 
font-family:'Lucida Sans Unicode';
list-style-image:url(/images/bullet-blue.gif);
color:#292828;
text-decoration:none;
line-height:20px;
margin-bottom:0px;
margin-left:-20px; / margin-left:20px;
}

#bluelist li { 
font-weight: normal; 
font-size: 12px; 
font-family:'Lucida Sans Unicode';
color:#292828;
text-decoration:none
}	
	
#bluelist li a { 
font-weight: normal; 
font-size: 12px; 
font-family:'Lucida Sans Unicode';
color:#292828;
text-decoration:none
}

#bluelist li a:link { 
font-weight: normal; 
font-size: 12px; 
font-family:'Lucida Sans Unicode';
color:#292828;
text-decoration:none
}

#bluelist li a:hover { 
font-weight: normal; 
font-size: 12px; 
font-family:'Lucida Sans Unicode';
color:#2475C5;
text-decoration:none;
border-bottom:1px solid #2475C5;
}



.redbar {
background-image:url(/images/red-bar.gif);
height:34px;
vertical-align:top;
font-family:'Arial MT';
font-size:17px;
color:#ffffff;
}
.redbardiv {
margin-top:12px;
margin-left:15px;
}

#redbarlist { 
font-weight: normal; 
font-size: 12px; 
font-family:'Lucida Sans Unicode';
list-style-image:url(/images/bullet-blue.gif);
color:#292828;
text-decoration:none;
line-height:16px;
margin-bottom:0px;
margin-top:0px;
margin-left:-20px; / margin-left:20px;
}

#redbarlist li { 
font-weight: normal; 
font-size: 12px; 
font-family:'Lucida Sans Unicode';
color:#292828;
text-decoration:none
}	
	
#redbarlist li a { 
font-weight: normal; 
font-size: 12px; 
font-family:'Lucida Sans Unicode';
color:#292828;
text-decoration:none;
}

#redbarlist li a:link { 
font-weight: normal; 
font-size: 12px; 
font-family:'Lucida Sans Unicode';
color:#292828;
text-decoration:none
}

#redbarlist li a:hover { 
font-weight: normal; 
font-size: 12px; 
font-family:'Lucida Sans Unicode';
color:#E51F1C;
text-decoration:none;
border-bottom:1px solid #E51F1C;
}


.bluebar {
background-image:url(/images/blue-bar.gif);
height:34px;
vertical-align:top;
font-family:'Arial MT';
font-size:17px;
color:#ffffff;
}

#bluebarlist { 
font-weight: normal; 
font-size: 12px; 
font-family:'Lucida Sans Unicode';
list-style-type:none;
color:#292828;
text-decoration:none;
line-height:16px;
margin-bottom:0px;
margin-top:0px;
margin-left:-20px; / margin-left:20px;
}

#bluebarlist li { 
font-weight: normal; 
font-size: 12px; 
font-family:'Lucida Sans Unicode';
color:#292828;
text-decoration:none
}	
	
#bluebarlist li a { 
font-weight: normal; 
font-size: 12px; 
font-family:'Lucida Sans Unicode';
color:#292828;
text-decoration:none;
}

#bluebarlist li a:link { 
font-weight: normal; 
font-size: 12px; 
font-family:'Lucida Sans Unicode';
color:#292828;
text-decoration:none
}

#bluebarlist li a:hover { 
font-weight: normal; 
font-size: 12px; 
font-family:'Lucida Sans Unicode';
color:#2370BD;
text-decoration:none;
border-bottom:1px solid #2370BD;
}
/*---Middle Right End---*/





/*---Footer Part Css Start--*/


#footer { 
font-family:'Lucida Sans Unicode';
font-size:11px;
text-decoration:none;
color:#2A2828;
text-align:center;
line-height:16px
} 

#footer a:link  {
font-family:'Lucida Sans Unicode';
font-size:11px;
text-decoration:none;
color:#2A2828;
}
  
#footer a:visited {
font-family:'Lucida Sans Unicode';
font-size:11px;
text-decoration:none;
color:#2A2828;
} 

#footer a:hover { 
font-family:'Lucida Sans Unicode';
font-size:11px;
text-decoration:none;
color:#2370BD;
font-weight:normal;
border-bottom:1px solid #2370BD
}
.footer {
border-bottom:1px solid #E8EAEA;
border-top:1px solid #E8EAEA;
background-color:#F7F7F7;
}

.bluetext {
color:#2370BD;
}
#footer1 { 
font-family:'Lucida Sans Unicode';
font-size:11px;
text-decoration:none;
color:#2A2828;
text-align:center;
line-height:16px
} 

#footer1 a:link  {
font-family:'Lucida Sans Unicode';
font-size:11px;
text-decoration:none;
color:#2A2828;
}
  
#footer1 a:visited {
font-family:'Lucida Sans Unicode';
font-size:11px;
text-decoration:none;
color:#2A2828;
} 

#footer1 a:hover { 
font-family:'Lucida Sans Unicode';
font-size:11px;
text-decoration:none;
color:#2370BD;
font-weight:normal;
border-bottom:1px solid #2370BD
}




/*---Footer Part Css End--*/





/*---Login Part Css Start--*/

.lmargin {
margin-left:27px;
margin-top:20px;
margin-right:27px;
}

.lmargin1 {
margin-top:20px
}
.forgotlink {
font-size:10px;
color:#000000;
text-decoration:none;
font-weight:bold;
border-bottom:1px solid #000000;
}

.forgotlink:hover {
font-size:10px;
color:#2370BD;
text-decoration:none;
font-weight:bold;
border-bottom:none;
}

.jlink {
font-size:10px;
color:#1C64AC;
text-decoration:none;
font-weight:normal;
border-bottom:1px solid #1C64AC;
}

.jlink:hover {
font-size:10px;
color:#000000;
text-decoration:none;
font-weight:normal;
border-bottom:none;
}




.searchlink {
font-size:11px;
color:#2370BD;
text-decoration:none;
font-weight:bold;
border-bottom:1px solid #2370BD;
}

.searchlink:hover {
font-size:11px;
color:#000000;
text-decoration:none;
font-weight:bold;
border-bottom:none;
}



.loginlh {
line-height:16px;
text-align:justify
}

.redtext {color: #FF0000}

.loginfont {
font-size:10px;
color: #666666;
}
.loginfont1 {
font-size:11px;
color: #666666;
line-height:16px
}


.fieldWithErrors {
  padding: 2px;
  background-color: red;
  display: table;
}

#errorExplanation {
  width: 400px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#errorExplanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  background-color: #c00;
  color: #fff;
}

#errorExplanation p {
  color: #333;
  margin-bottom: 0;
  padding: 5px;
}

#errorExplanation ul li {
  font-size: 12px;
  list-style: square;


/*---Login Part Css End--*/



