/** TITLES */

.title {
	position: relative;
}

.title h2 {
	width: 177px;
	height: 21px;
	padding: 10px 0px 0px 15px;
}

/** BASIC */

html, body {
	height: 100%;
}

a.link1 {
	position: relative;
	display: block;
	height: 22px;
	background: url(/images/homepage22.gif) no-repeat left top;
}

a.link1 b {
	position: absolute;
	left: -10000px;
}

a.link2 {
	position: relative;
	display: block;
	height: 22px;
	background: url(/images/homepage22.gif) no-repeat right top;
}

a.link2 b {
	position: absolute;
	left: -10000px;
}

a.link3 {
	position: relative;
	display: block;
	height: 22px;
	background: url(/images/homepage33.gif) no-repeat right top;
}

a.link3 b {
	position: absolute;
	left: -10000px;
}

a.link5 {
	position: relative;
	display: block;
	height: 22px;
	background: url(/images/homepage22.gif) no-repeat center top;
}

a.link5 b {
	position: absolute;
	left: -10000px;
}

/** HEADER */

#header {
	width: 760px;
	height: 45px;
	margin: 0px auto;
	padding: 15px 0px 5px 0px;

}

/** LOGO */

#logo {
	float: left;
	width: 192px;
	height: 45px;
	background: url(/images/homepage02.jpg) no-repeat left top;
}

#logo h1, #logo h2 {
	position: absolute;
	left: -10000px;
}

/** SEARCH */

#search {
	float: left;
	width: 356px;
	height: 45px;
	padding: 12px 0px 0px 20px;
	background: url(/images/homepage03.gif) no-repeat left top;
}

/** TOP-MENU */

#top-menu {
	float: left;
	width: 185px;
	height: 45px;
	padding: 0px 0px 0px 7px;
	background: url(/images/homepage03.gif) no-repeat left top;
}

#top-menu ul {
	margin: 0px;
	padding: 0px;
	list-style: none;
}

#top-menu li {
	display: inline;
}

#top-menu a {
	display: block;
	float: left;
	height: 45px;
}

#top-menu b {
	position: absolute;
	left: -10000px;
}

#top-menu1 {
	width: 65px;
	background: url(/images/homepage06.gif) no-repeat left top;
}

#top-menu2 {
	width: 55px;
	background: url(/images/homepage07.gif) no-repeat left top;
}

#top-menu3 {
	width: 65px;
	background: url(/images/homepage08.gif) no-repeat left top;
}

/** CONTENT */

#content {
	width: 760px;
	margin: 0px auto;
}

/** 3-COLUMN LAYOUT */

.three-cols {
}

.three-cols .colA {
	float: left;
	width: 192px;
}

.three-cols .colB {
	float: left;
	width: 374px;
	padding: 0px 1px 0px 1px;
}

.three-cols .colC {
	float: left;
	width: 192px;
}

/** MAIN-MENU */

#main-menu {
	height: 181px;
	padding: 0px 0px 10px 0px;
}

#main-menu ul {
	margin: 0px;
	padding: 0px;
	list-style: none;
}

#main-menu li {
	display: inline;
}

#main-menu a {
	display: block;
	float: left;
	width: 192px;
}

#main-menu b {
	position: absolute;
	left: -10000px;
}

#main-menu1 {
	height: 31px;
	background: url(/images/homepage09.gif) no-repeat left top;
}

#main-menu2 {
	height: 30px;
	background: url(/images/homepage10.gif) no-repeat left top;
}

#main-menu3 {
	height: 30px;
	background: url(/images/homepage11.gif) no-repeat left top;
}

#main-menu4 {
	height: 30px;
	background: url(/images/homepage12.gif) no-repeat left top;
}

#main-menu5 {
	height: 30px;
	background: url(/images/homepage13.gif) no-repeat left top;
}

#main-menu6 {
	height: 30px;
	background: url(/images/homepage14.gif) no-repeat left top;
}

/** BOX1 */

#box1 {
}

#box1 .content {
	padding: 10px 0px 0px 0px;
}

#box1 a.link1 {
	margin: 10px 0px 0px 101px;
}

#box1 .text4 {
	margin: 0px;
	padding: 0px 20px 15px 20px;
}

/** BOX2 */

#box2 {
	margin-top: 10px;
}

#box2 .content {
	padding: 10px 0px 0px 0px;
}

#box2 a.link1 {
	margin: 10px 0px 0px 101px;
}

#box2 .text4 {
	margin: 0px;
	padding: 0px 20px 15px 20px;
}

/** BOX3 */

#box3 {
}

/** BOX4 */

#box4 {
	padding: 20px 18px 20px 18px;
}

/** BOX5 */

#box5 {
	float: left;
	width: 146px;
	padding: 0px 20px 0px 20px;
}

/** BOX6 */

#box6 {
	float: left;
	width: 146px;
	padding: 0px 20px 0px 20px;
}

/** BOX7 */

#box7 {
	padding-bottom: 10px;
}

/** BOX8 */

#box8 {
}

#box8 .content {
	padding: 10px 15px 15px 15px;
}

/** BOX9 */

#box9 {
	padding: 0px 15px 10px 15px;
}

#box9 .item {
	padding: 15px 0px 0px 0px;
}

#box9 .item .image {
	float: left;
	width: 100px;
}

/** FOOTER-MENU */

#footer {
	clear: both;
	width: 760px;
	margin: 0px auto;
	padding: 10px 0px 0px 0px;
}

#extra1 {
	float: left;
	width: 15px;
	height: 38px;
	background: url(/images/homepage34.gif) no-repeat left top;
}

#extra2 {
	float: left;
	width: 15px;
	height: 38px;
	background: url(/images/homepage35.gif) no-repeat left top;
}

#footer-menu {
	float: left;
	width: 730px;
	height: 38px;
	padding: 11px 0px 0px 0px;
	text-align: center;
}

#footer-menu a {
	position: relative;
	padding: 10px;
}

#footer-menu .vline {
	padding-left: 17px;
	background: url(/images/homepage37.gif) no-repeat left top;
}