      <table width="617" border="0" cellspacing="0" cellpadding="0">

        <tr>
          <td>&nbsp;</td>
        </tr>
        
        <tr>
          <td valign="top"><table width="607" border="0" cellspacing="0" cellpadding="0">
            <tr>
              <td width="11"><img src="/images/left-left.gif" alt="" width="11" height="12" /></td>
              <td width="585" class="ltop">&nbsp;</td>
              <td width="11"><img src="/images/left-right.gif" alt="" width="11" height="12" /></td>

            </tr>
            <tr>
              <td class="lleft"><img src="/images/left-m-left.gif" alt="" width="11" height="146" /></td>
              <td class="lmiddle"><img src="/images/bullet.gif" alt="" width="19" height="18" />
                  <h1 class="lheading">Edit My Resume</h1>
                <br />
                <br />
               <div class="lmargin">

			   <table width="100%" border="0" cellspacing="0" cellpadding="0">
                  
                  <tr>
                    <td width="12"><img src="/images/blue-left.gif" alt="" width="12" height="12" /></td>
                    <td class="brtop">&nbsp;</td>
                    <td width="12"><img src="/images/blue-right.gif" alt="" width="12" height="12" /></td>
                  </tr>
                  <tr>
                    <td class="brleft"><img src="/images/blue-m-left.gif" alt="" width="12" height="97" /></td>
                    <td class="brmiddle"><table width="100%" border="0" align="center" cellpadding="4" cellspacing="1">
<tr><td><%= error_messages_for 'profile' %></td></tr>
                      
                           
                        <tr>
                        <td height="25"><font class="redtext"></font> Resume Name :- </td>
                        <td height="25"><%=  text_field 'jbresume', 'name'  %></td>
                        </tr>
                             
                                                    <tr>
                        <td height="25"><font class="redtext"></font> Your Pitch (Brief Profile Max 400 Characters) :- </td>
                        <td height="25"><%=  text_area 'jbresume', 'description',"size" => '36x3'  %></td>
                        </tr>            
                        
                                            
                                                                          <tr>
                        <td height="25"><font class="redtext"></font> Copy and Paste Your Resume :- </td>
                        <td><%=  text_area 'jbresume', 'resumetext',"size" => '36x30'  %></td>
                        </tr>            
                      
               
                                            
                        <tr>
                        <td height="25"><font class="redtext"></font> Resume Active (Searchable by Employers) :- </td>
                        <td height="25"><%= check_box 'jbresume', 'resumeactive'  %></td>
                        </tr>
                        
 
   
                        
                        
                                                                 <tr>
                        <td height="25">&nbsp;</td>
                        <td width="63%" height="25">  <%= submit_tag 'Submit' %></td>
                        </tr>
                      
                    </table></td>
                    <td class="brright"><img src="/images/blue-m-right.gif" alt="" width="12" height="97" /></td>

                  </tr>
                  <tr>
                    <td><img src="/images/blue-b-left.gif" alt="" width="12" height="12" /></td>
                    <td class="brbottom">&nbsp;</td>
                    <td><img src="/images/blue-b-right.gif" alt="" width="12" height="12" /></td>
                  </tr>
                </table>
			   
               </div></td>
              <td class="lright"><img src="/images/left-m-right.gif" alt="" width="11" height="146" /></td>

            </tr>
            <tr>
              <td><img src="/images/left-b-left.gif" alt="" width="11" height="12" /></td>
              <td class="lbottom">&nbsp;</td>
              <td><img src="/images/left-b-right.gif" alt="" width="11" height="12" /></td>
            </tr>
          </table> 
</td>
        </tr>
      </table></td>


 
 


