<% cache(:action => 'faq', :part => 'ad'+@ad.id.to_s) do %>
                            <% if @ad.adcity.jbstate.jbcountry.name == 'United States' %>
						<% @mystate = @ad.adcity.jbstate.statecode %>
				    <% else %>
						<% @mystate = @ad.adcity.jbstate.jbcountry.name  %>
 				    <% end %>
 <table width="617" border="0" cellspacing="0" cellpadding="0">
        <tr>
          <td>&nbsp;</td>
        </tr>
        <tr>
          <td valign="top"><table width="607" border="0" cellspacing="0" cellpadding="0">
            <tr>
              <td width="11"><img src="/images/left-left.gif" alt="" width="11" height="12" /></td>
              <td width="585" class="ltop">&nbsp;</td>
              <td width="11"><img src="/images/left-right.gif" alt="" width="11" height="12" /></td>
            </tr>
            <tr>
              <td class="lleft"><img src="/images/left-m-left.gif" alt="" width="11" height="146" /></td>
              <td class="lmiddle">
             
               
             
                                       <table width="100%" border="0" cellspacing="0" cellpadding="0">
                  
                  <tr>
                    <td width="12"><img src="/images/blue-left.gif" alt="" width="12" height="12" /></td>
                    <td class="brtop">&nbsp;</td>
                    <td width="12"><img src="/images/blue-right.gif" alt="" width="12" height="12" /></td>
                  </tr>
                  <tr>
                    <td class="brleft"><img src="/images/blue-m-left.gif" alt="" width="12" height="97" /></td>
                    <td align="center" class="brmiddle"><table width="100%" border="0" align="center" cellpadding="7" cellspacing="1" bgcolor="#CFE4FA">
                      <!-- ClickJobs AdTemplate Logo insertion section -->
                      <tr >
                        <td width="172" height="40" align="left" bgcolor="#EAF4FE" ><strong>Company Name</strong></td>
                        <td width="373" align="left" bgcolor="#EAF4FE" ><strong><%=@ad.member.jbemployer.company_name if @ad.member.jbemployer.company_name%><br/>
 
                        
                        </strong></td>
                      </tr>
                      
                      <tr>
                        <td height="20" colspan="2" align="left" bgcolor="#FFFFFF"><strong>COMPANY PROFILE</strong>
                                               <% if @ad.member.jbemployer.logo %>
                                               <br/>
                        <% @jbemployer = Jbemployer.find(:first, :conditions => "member_id = "+@ad.member.id.to_s)%>
                        
                        <% @mypath =image_path(url_for_file_column("jbemployer", "logo", "medium")) %>
                                 <% if @jbemployer.url %>
                                           <% if @jbemployer.url > '0' %>
                                           <a href="<%=@jbemployer.url%>"><img src="<%=@mypath%>"/></a>
                                           <% end %>
                                 <% else %>
                                             <img src="<%=@mypath%>"/>
                                 <% end %>
                        <% end %>
                        
                        </td>
                      </tr>
                      <% if @ad.member.jbemployer.profile %>
                      <tr>
                        <td colspan="2" bgcolor="#FFFFFF"><div class="loginlh">
                        <%= @ad.member.jbemployer.profile%></div>                        </td>
                      </tr>
                      <% end %>
                      <tr >
                        <td width="172" align="left" valign="top" bgcolor="#FFFFFF" ><strong>Job Title</strong></td>
                        <td width="373" align="left" bgcolor="#FFFFFF" ><strong><%=@ad.title%></strong></td>
                      </tr>
                       <tr >
                        <td width="172" align="left" valign="top" bgcolor="#FFFFFF" ><strong>Salary</strong></td>
                        <td width="373" align="left" bgcolor="#FFFFFF" ><strong>$<%=@ad.approx_salary%> <%=@ad.salarytype.name%></strong></td>
                      </tr>
                      <% if @ad.job_code %>
                      <tr >
                        <td width="172" align="left" valign="top" bgcolor="#FFFFFF" ><strong>Job Code</strong></td>
                        <td width="373" align="left" bgcolor="#FFFFFF" ><%=@ad.job_code%></td>
                      </tr>
                      <% end %>
                      <% if @ad.short_description %>
                                   			<tr >
                        <td width="172" align="left" valign="top" bgcolor="#FFFFFF" ><strong>Job Summary</strong></td>
                        <td width="373" align="left" bgcolor="#FFFFFF" >
                          <div class="loginlh"><%=@ad.short_description%></div></td>
                      </tr>
                      <% end %>
                      
             			<tr >
                        <td width="172" align="left" valign="top" bgcolor="#FFFFFF" ><strong>Job Description</strong></td>
                        <td width="373" align="left" bgcolor="#FFFFFF" >
                          <div class="loginlh"><%=@ad.description%></div></td>
                      </tr>
                      
                                  			<tr >
                        <td width="172" align="left" valign="top" bgcolor="#FFFFFF" ><strong>Security Clearance Required</strong></td>
                        <td width="373" align="left" bgcolor="#FFFFFF" >
                          <div class="loginlh"><%=@ad.securityclearance.name%></div></td>
                      </tr>
                      
                      <% if @ad.job_requirement %>
                      <tr >
                        <td width="172" align="left" valign="top" bgcolor="#FFFFFF" ><strong>Job Requirements</strong></td>
                        <td width="373" align="left" bgcolor="#FFFFFF" >
                          <div class="loginlh">Extensive experience in Graphic Design, Multimedia / Flash, Fireworks, PhotoShop, Flash etc tools. A good knowledge of Macromedia tools is the added advantage. Good communication skill with strong English vocabulary is must.</div></td>
                      </tr>
                      <% end %>
                      <tr >
                        <td width="172" align="left" bgcolor="#FFFFFF" ><strong>Location</strong></td>
                        <td width="373" align="left" bgcolor="#FFFFFF" ><strong> <%=@ad.adcity.adcityname%>, <%=@mystate%></strong></td>
                      </tr>
                      <% if @ad.key_skills %>
                      <tr >
                        <td width="172" align="left" valign="top" bgcolor="#FFFFFF" ><strong>Key Skills</strong></td>
                        <td width="373" align="left" bgcolor="#FFFFFF" ><span class="content">Graphic Design,  Multimedia / Flash,  Fireworks,  PhotoShop,  Flash etc tools</span></td>
                      </tr>
                      <% end %>
                      <% if @ad.functional_area %>
                      <tr >
                        <td width="172" align="left" valign="top" bgcolor="#FFFFFF" ><strong> Functional Area</strong></td>
                        <td width="373" align="left" bgcolor="#FFFFFF" ><%=@ad.functional_area%></td>
                      </tr>
                      <% end %>
                      <% if @ad.job_role %>
                      <tr >
                        <td width="172" align="left" valign="top" bgcolor="#FFFFFF" ><strong>Job Role</strong></td>
                        <td width="373" align="left" bgcolor="#FFFFFF" >Web Designer</td>
                      </tr>
                      <% end %>
                      <tr >
                        <td width="172" align="left" valign="top" bgcolor="#FFFFFF" ><strong>Job Category</strong></td>
                        <td width="373" align="left" bgcolor="#FFFFFF" ><%=@ad.propertytype.propertytypename%></td>
                      </tr>
 
                      <tr >
                        <td width="172" align="left" valign="top" bgcolor="#FFFFFF" ><strong>Experience Level</strong></td>
                        <td width="373" align="left" bgcolor="#FFFFFF" ><%=@ad.experiencelevel.name%></td>
                      </tr>
                      <tr >
                        <td width="172" align="left" valign="top" bgcolor="#FFFFFF" ><strong>Qualification</strong></td>
                        <td width="373" align="left" bgcolor="#FFFFFF" ><%=@ad.educationtype.name%></td>
                      </tr>
                                           <tr >
                        <td width="172" align="left" valign="top" bgcolor="#FFFFFF" ><strong>Type Of Position</strong></td>
                        <td width="373" align="left" bgcolor="#FFFFFF" ><%=@ad.positiontype.name%></td>
                      </tr>
                         <tr >
                        <td width="172" align="left" valign="top" bgcolor="#FFFFFF" ><strong>Contact Name, Phone and Email for this job</strong></td>
                        <td width="373" align="left" bgcolor="#FFFFFF" ><%=@ad.contact_details%></td>
                      </tr>
                      <% if @ad.external_url %>
                      <% if @ad.external_url > '0' %>
                      <tr >
                        <td width="172" align="left" valign="top" bgcolor="#FFFFFF" ><strong>Web Site Link</strong></td>
                        <td width="373" align="left" bgcolor="#FFFFFF" ><a href="<%=@ad.external_url%>">Click Here </a></td>
                      </tr>
                      <% end %>
                      <% end %>
                      <tr>
                        <td colspan="2" align="left" bgcolor="#FFFFFF" ><a href="#"><img src="/images/blue-members-apply.gif" alt="" width="121" height="26" border="0" /></a> <a href="#"><img src="/images/save-apply.gif" alt="" width="129" height="26" border="0" /></a></td>
                      </tr>
                      <tr>
                        <td colspan="2" align="center" bgcolor="#FFFFFF" ><div class="loginlh"><img src="/images/forward.gif" alt="" width="16" height="14" /> <a href="/tell-a-friend"  class="searchlink">Forward to Friend</a> | <a href="http://www.addthis.com/bookmark.php" onclick="addthis_url   = location.href; addthis_title = document.title; return addthis_click(this);" target="_blank"><img src="http://s9.addthis.com/button1-bm.gif" width="125" height="16" border="0" alt="AddThis Social Bookmark Button" /></a> <script type="text/javascript">var addthis_pub = 'find101';</script><script type="text/javascript" src="http://s9.addthis.com/js/widget.php?v=10"></script> </div></td>
                      </tr>
                      <tr>
                        <td colspan="2" align="left" bgcolor="#FFFFFF">&nbsp;</td>
                      </tr>
                    </table>
                      <br />

                      </td>
                    <td valign="middle" class="brright"><img src="/images/blue-m-right.gif" alt="" width="12" height="97" /></td>
                  </tr>
                  <tr>
                    <td><img src="/images/blue-b-left.gif" alt="" width="12" height="12" /></td>
                    <td class="brbottom">&nbsp;</td>
                    <td><img src="/images/blue-b-right.gif" alt="" width="12" height="12" /></td>
                  </tr>
                </table>
			   
                </td>
              <td class="lright"><img src="/images/left-m-right.gif" alt="" width="11" height="146" /></td>
            </tr>
            <tr>
              <td><img src="/images/left-b-left.gif" alt="" width="11" height="12" /></td>
              <td class="lbottom">&nbsp;</td>
              <td><img src="/images/left-b-right.gif" alt="" width="11" height="12" /></td>
            </tr>
          </table></td>
        </tr>
        <tr><td>
<% end %>
        <%= render :partial => 'superusermenu' %></td></tr><tr><td>


<script type="text/javascript"><!--
google_ad_client = "pub-8650959444792054";
google_ad_width = 336;
google_ad_height = 280;
google_ad_format = "336x280_as";
google_ad_type = "text_image";
google_ad_channel = "";
google_color_border = "FFFFFF";
google_color_bg = "FFFFFF";
google_color_link = "000066";
google_color_text = "000000";
google_color_url = "006699";
google_ui_features = "rc:6";
//-->
</script>
<script type="text/javascript"
  src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
</script>
        
        </td></tr>
      </table></td>
