<%= error_messages_for 'adreporttype' %>

<!--[form:adreporttype]-->
<p><label for="adreporttype_adreporttypename">Adreporttypename</label><br/>
<%= text_field 'adreporttype', 'adreporttypename'  %></p>
<!--[eoform:adreporttype]-->

