		<div id="example" class="post">
			<h2 class="title"><span>Users referred by me</span></h2>
			<div class="story">
				<a href="/affiliate/logout">Logout</a>
<table border="1" width="100%" id="table1">
<% for @ad in @ads %>

<tr>
<td>
	Profile ID : <%=@ad.id.to_s%> 
</td>
<td>Name <%=@ad.fname%>  <%=@ad.lname%></td>
<td>Email: <%=@ad.email%></td>
<td>Mobile: <%=@ad.mobile_no.to_s%><br/><%=@ad.created_on.strftime("%d-%m-%Y")%></td>
<td><%if @ad.usertype_id==1%>Trial User
	<% else%>Paid User
	<% end %>
	</td>
</tr>

<% end %>
</table>
<br/>

<%= link_to 'Previous page', { :page => @ad_pages.current.previous } if @ad_pages.current.previous %>
<%= link_to 'Next page', { :page => @ad_pages.current.next } if @ad_pages.current.next %> 

<br />
</div>
</div>


