<table><tr><td><a href="http://www.brahminsmatrimony.com"><img src="http://www.brahminsmatrimony.com/images/logo1.gif" /></a></td><td><fb:share-button class="url" href="http://apps.facebook.com/brahminsmatrimony" /></td><td><a href="http://www.brahminsmatrimony.com/agebrowse/all/all/all">View More Brahmins Profiles</a></td>
</tr></table>
<h2>Brahmins Matrimony, Brides and Grooms</h2>
<fb:tabs> 
  <fb:tab_item 
href="http://apps.facebook.com/brahminsmatrimony/girls" 
title="Girls">Girls</fb:tab_item>
  <fb:tab_item 
href="http://apps.facebook.com/brahminsmatrimony/boys" 
title="Boys">Boys</fb:tab_item>
  
</fb:tabs>
<%= render :partial => 'fbinclude/fbhotads' %>

