<%= error_messages_for 'pmessage' %>

<!--[form:pmessage]-->
<p><label for="pmessage_from_user">From user</label><br/>
<%= text_field 'pmessage', 'from_user'  %></p>

<p><label for="pmessage_to_user">To user</label><br/>
<%= text_field 'pmessage', 'to_user'  %></p>

<p><label for="pmessage_title">Title</label><br/>
<%= text_field 'pmessage', 'title'  %></p>

<p><label for="pmessage_description">Description</label><br/>
<%= text_field 'pmessage', 'description'  %></p>

<p><label for="pmessage_read_flag">Read flag</label><br/>
<%= text_field 'pmessage', 'read_flag'  %></p>

<p><label for="pmessage_sender_delete">Sender delete</label><br/>
<%= text_field 'pmessage', 'sender_delete'  %></p>

<p><label for="pmessage_receiver_delete">Receiver delete</label><br/>
<%= text_field 'pmessage', 'receiver_delete'  %></p>

<p><label for="pmessage_created_on">Created on</label><br/>
<%= datetime_select 'pmessage', 'created_on'  %></p>

<p><label for="pmessage_read_on">Read on</label><br/>
<%= datetime_select 'pmessage', 'read_on'  %></p>
<!--[eoform:pmessage]-->

