<% for column in Pmessage.content_columns %>
<p>
  <b><%= column.human_name %>:</b> <%=h @pmessage.send(column.name) %>
</p>
<% end %>

<%= link_to 'Edit', :action => 'edit', :id => @pmessage %> |
<%= link_to 'Back', :action => 'list' %>
