<% for column in Ad.content_columns %>
<p>
  <b><%= column.human_name %>:</b> <%=h @ad.send(column.name) %>
</p>
<% end %>

<%= link_to 'Edit', :action => 'edit', :id => @ad %> |
<%= link_to 'Back', :action => 'list' %>
