<% @myad = @my%>

<li data-role="list-divider">
  <div class="ui-grid-a ui-responsive" >
<%=@my.title%></div>

</li>

<li>
  <a href="/mobile/adshow/<%=@my.id.to_s%>" >
    <div><div>
    <% if @myad.image1 %>
        <% @img = @my.image1.gsub("/home/brahminsmatrimony.com/test/public/ad/image1/",'')  %>
        <% @img = @img.gsub(@my.id.to_s+"/",'') %>
        <img src="http://www.brahminsmatrimony.com/ad/image1/<%=@myad.id.to_s%>/thumb/<%=@img%>" />

    <% end %>
</div><div>
    <% @myage = Date.today.year - @myad.year.name %>
    <% if Date.today.month < @myad.month.id  %>
        <% @myage = @myage -1 %>
    <% end %>

   Profile ID : <%=@myad.member_id.to_s%>
    <i>Age <%=@myage.to_s%> <br/><%=@myad.propertytype.propertytypename%>
      <% if Sitestuff::MYDOMAIN == 'MarryaSunni.com'%>
          <% @myc = Mycountry.find(:first, :conditions => 'id = ' + @myad.propertytype_id.to_s)%>
          <% if @myc %>
              <img src="http://www.brahminsmatrimony.com/images/flags/<%=@myc.iso2.downcase%>.gif" alt="<%=@myc.iso2.downcase%>" title="<%=@myc.iso2.downcase%>"/>
          <% end %>
      <% end %>, <%=@myad.adcity.adcityname%></i></b> <br/>

      <%=@myad.member.sex.name%>,  <%=@myad.maritalstatus.name%><br/>

      Degrees : <%=@myad.degrees[0..30]%>
      <% if @myad.educationmajor_id != 0 %>

          <br/>Major : <%=@myad.educationmajor.name%>
      <% end %>
    <br/><%=h @myad.occupation%> In <%=@myad.mycity1%>, <%=@myad.mycountry.name%>
      <% @countdisp = '1' %>
      <% if Sitestuff::MYDOMAIN == 'MarryaSunni.com'%>
          <% if @myad.propertytype_id == @myad.mycountry_id%>
              <% @countdisp = '0'%>
          <% end %>
      <% end %>
      <% if @countdisp == '1'%>
          <img src="http://www.brahminsmatrimony.com/images/flags/<%=@myad.mycountry.iso2.downcase%>.gif" alt="<%=@myad.mycountry.iso2.downcase%>" title="<%=@myad.mycountry.iso2.downcase%>"/><% end %>

    <% if @myad.zodiac_id > 1%>
        <img src="http://www.brahminsmatrimony.com/images/zodiac/<%=@myad.zodiac.name.downcase[0,3]%>.jpg" alt="<%=@myad.zodiac.name%>" title="<%=@myad.zodiac.name%>"/>
    <% end %>

</div>
        </div>
  </a>
</li>



