<script type="text/javascript">

    /*
     Initialize the navbar and toolbars
     */

    $(function() {
        $( "[data-role='navbar']" ).navbar();
        $( "[data-role='header'], [data-role='footer']" ).toolbar();
    });

</script>
<div data-role="header" >
  <a href="/mobile/showadagebrowse" data-theme="c" data-ajax="false">Browse</a>
  <h1>Profiles</h1>
</div>
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- mobile_ad_bottom -->
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-8650959444792054"
     data-ad-slot="9576275008"
     data-ad-format="auto"></ins>
<script>
    (adsbygoogle = window.adsbygoogle || []).push({});
</script>
<div data-role="page" id="adlistdd" data-title="Profiles" >

  <ul data-role="listview" data-theme="a" data-divider-theme="c" data-inset="true">

<% @mycount = 1 %>
    <% for @my in @myads %>
        <%= render :partial => 'mlistonead' %>


        <% @mycount += 1 %>


    <% end %>
  </ul>

  <% if @mycount > 8 %>
  <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
  <!-- mobile_ad_bottom -->
  <ins class="adsbygoogle"
       style="display:block"
       data-ad-client="ca-pub-8650959444792054"
       data-ad-slot="9576275008"
       data-ad-format="auto"></ins>
  <script>
      (adsbygoogle = window.adsbygoogle || []).push({});
  </script>
<% end %>

</div>


