<script type="text/javascript">

    /*
     Initialize the navbar and toolbars
     */

    $(function() {
        $( "[data-role='navbar']" ).navbar();
        $( "[data-role='header'], [data-role='footer']" ).toolbar();
    });

    $().ready(function() {$("#signupnow").validate();
    });

</script>
<div data-role="header"  >
  <a href="/mobile/myhome" data-ajax="false" data-icon="home">Home</a>
  <h1>Free Signup</h1>
</div>

<div data-role="page" id="msignup1" data-title="Signup">
  <div role="main" class="ui-content">
    <form action="/muser/signin" id="signupnow" data-ajax="false" enctype="multipart/form-data" class="ui-body ui-body-a ui-corner-all" method="post" data-transition="pop">



            Email or Profile ID: <input type="text" name="userid" id="userid" class="required" ></td>


          Password: <input type="password" name="passwd" id="passwd" class="required"></td>
      <input type="submit" value="Submit" class="searchbtn" />
                   </form>

</div>


</div>