<script type="text/javascript">

    /*
     Initialize the navbar and toolbars
     */

    $(function() {
        $( "[data-role='navbar']" ).navbar();
        $( "[data-role='header'], [data-role='footer']" ).toolbar();
    });

    $().ready(function() {$("#signupnow").validate();
    });

</script>
<div data-role="header"  >
  <a href="/mobile/myhome" data-ajax="false" data-icon="home">Home</a>
  <h1>Free Signup</h1>
</div>

<div data-role="page" id="msignup1" data-title="Signup">
  <div role="main" class="ui-content">
    <form action="/mobile/membercreate" id="signupnow" data-ajax="false" class="ui-body ui-body-a ui-corner-all" method="post" data-transition="pop">


      <table width="100%" border="1" bordercolor="#CFE4FA" align="center" cellpadding="4" cellspacing="0">
        <tr>
          <td height="25" colspan="2" align="left"><strong>All Fields with * are Required! (We value your privacy. We will not resell your email or personal data to anyone else)</strong> </td>
        </tr>
        <tr>
          <td height="25"><font class="redtext">*</font> E-mail :-</td>
          <td height="25">
            <input type="email" name="member[email]" id="member_email" class="required" minlength="10"></td>

        </tr>

        <tr>
          <td height="25"><font class="redtext">*</font> Password :- </td>
          <td height="25"><input type="password" name="member[password]" id="member_password" class="required" minlength="6"></td>
        </tr>
        <tr>
          <td height="25"><font class="redtext">*</font> Confirm Password :- </td>
          <td height="25"><input type="password" name="member[password_confirmation]" id="member_password_confirmation"class="required" minlength="6"></td>
        </tr>


        <tr>
          <td height="25" colspan="2" bgcolor="#F0F7FE"><b>Personal Information</b></td>
        </tr>


        <tr>
          <td height="25"><font class="redtext">*</font> The Gender of the profile I am going to create is (Boy or girl)  :-</td>
          <td height="25"><%= select("member", "sex_id", Sex.find(:all, :order => "name").collect { |s1| [s1.name, s1.id]} )%></td>

        </tr>



        <tr>
          <td height="25"><font class="redtext">*</font> First Name :-</td>
          <td height="25"><input type="text" name="member[fname]" id="member_fname" class="required" minlength="3"></td>

        </tr>

        <tr>
          <td height="25"><font class="redtext">*</font> Last Name :-</td>
          <td height="25"><input type="text" name="member[lname]" id="member_lname" class="required" minlength="5"></td>

        </tr>


        <tr>
          <td height="25"><font class="redtext">*</font> Country Code Mobile No :-</td>
          <td height="25">+<%= text_field 'member', 'ccode2', "size" => 3  %><%= text_field 'member', 'mobile_no'  %></td>

        </tr>

        <tr>
          <td height="25"> Referred By :-</td>
          <td height="25"><%= text_field 'member', 'referredby'  %></td>

        </tr>


        <tr>
          <td height="25" colspan="2" bgcolor="#F0F7FE"><b><%= check_box 'member', 'terms',:checked => 'checked'   %><a href="/terms.html">I Accept the Terms*</a></b></td>
        </tr>




        <tr>
          <td height="25">&nbsp;</td>
          <td width="63%" height="25">
            <input type="submit" value="Submit" class="searchbtn" />
          </td>
        </tr>

      </table>
            </form>

</div>


</div>