<script type="text/javascript">

    /*
     Initialize the navbar and toolbars
     */

    $(function() {
        $( "[data-role='navbar']" ).navbar();
        $( "[data-role='header'], [data-role='footer']" ).toolbar();
    });

    $().ready(function() {$("#msearchform").validate();
    });

</script>
<div data-role="header"   >
  <a href="/mobile/myhome" data-ajax="false" data-theme="d" data-icon="home">Home</a>
  <h1>Enter Profile ID or Keyword </h1>
</div>

<div data-role="page" id="passwordfor" data-title="Search by Profile ID or Keyword">
  <div role="main" class="ui-content">


    <form action="/mobile/process_msearch" id="msearchform" enctype="multipart/form-data" data-ajax="false" class="ui-body ui-body-a ui-corner-all" method="post" data-transition="pop">
      <div class="ui-field-contain">
        <label for="mkey">Profile ID or Keyword:</label>
        <input type="search" name="mkey" id="mkey" class="required" minlength="5">
      </div>





      <input type="submit" name="sendMessage" id="sendMinessage" data-theme="c" value="Go">

    </form>
  </div>



</div>



