 <script type="text/javascript">
    
    /*
      Initialize the navbar and toolbars
    */
    
    $(function() {
      $( "[data-role='navbar']" ).navbar();
      $( "[data-role='header'], [data-role='footer']" ).toolbar();
    });
    
 </script>
<div data-role="header" >
<a href="/mobile/msearch" data-theme="c" data-ajax="false">Search</a>
<h1>Ads </h1>
</div>
<div data-role="page" id="adlist" data-title="Ads" >
<ul data-role="listview" data-theme="a" data-divider-theme="c" data-inset="true">

<% for ad in @myads %>
      <% @my = Ad.find_by_id(ad[:id]) %>
      <% @mycount = Ad.count(@my.id)%>
         <% if @mycount > 0 and @my.id > 10000 %>

          <%= render :partial => 'mlistonead' %>

          <% end %>


<% end %>


</ul>

</div>
</div>


