<script type="text/javascript">

    /*
     Initialize the navbar and toolbars
     */

    $(function() {
        $( "[data-role='navbar']" ).navbar();
        $( "[data-role='header'], [data-role='footer']" ).toolbar();
    });

</script>
<div data-role="header"   >
  <a href="/mobile/myhome" data-ajax="false" data-theme="d" data-icon="home">Home</a>
  <h1>Browse    By Gender,Type,Age</h1>
</div>
<div data-role="page" id="browse" data-title="Browse By Gender,Type,Age">
  <div role="main" class="ui-content">

    <form action="/mobile/adagebrowse" data-ajax="false" class="ui-body ui-body-a ui-corner-all" method="post" data-transition="pop">
      <div class="ui-field-contain">

        <select id="adtype" name="adtype">
          <option value="-1" <%if  session[:adtype] == "all" %>selected<%end%>>All</option>
          <% for @my in @myadtypes %>
              <option value="<%=@my.adtypename%>" <%if @my.adtypename == session[:adtype] %>selected<%end%>><%=@my.adtypename%></option>

          <% end %>
        </select>

        <select id="propertytype" name="propertytype">
          <option value="-1" <%if  session[:propertytype] == "all" %>selected<%end%>>All</option>
          <% for @my in @myprop %>
              <option value="<%=@my.propertytypename%>" <%if @my.propertytypename == session[:propertytype] %>selected<%end%>><%=@my.propertytypename%></option>

          <% end %>
        </select>



        <select id="agerange" name="agerange">

          <option value="-1" <%if  session[:adcity] == "all" %>selected<%end%>>All</option>
          <% for @my in @myage %>
              <option value="<%=@my.name%>" <%if @my.name == session[:adcity] %>selected<%end%>><%=@my.name%></option>

          <% end %>
        </select>
      </div>

      <input type="submit" name="sendMessage" id="sendMessage" data-theme="c" value="Go">

    </form>
  </div>


</div>
</div>