<div data-role="page" id="home" data-title="MarryaSunni.com">
<div role="main" class="ui-content">
 <div style="text-align: center;">
<img src="http://www.marryasunni.com/images/logo1.gif" alt="Logo"><br/>
   Welcome <% if session[:member] %> <%=session[:myname] %> <% end %> </h1>

</div>
  <a href="/rents101/mbrowse" data-ajax="false" class="ui-btn ui-btn-b ui-corner-all ui-shadow ui-icon-grid ui-btn-icon-left"  data-theme="b">Click Here to Continue</a>

</div>


  <div id="top-nav" class="navbar navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container">
        <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <div class="nav-collapse collapse">
          <ul class="nav pull-right">

          </ul>
          <ul class="nav pull-left">

          </ul>
        </div>
      </div>
    </div>
  </div>

  <div id="title">
    <div class="container">
      <div class="row">
        <div class="span12">

        </div>
      </div>
    </div>
  </div>

  <div id="demo">
    <div class="container">
      <div class="row">
        <div class="span12">

          <div id="owl-demo" class="owl-carousel">
            <div class="item"><img src="/owl/assets/p1.JPG" alt="Owl Image"></div>
            <div class="item"><img src="/owl/assets/p2.JPG" alt="Owl Image"></div>
           
          </div>

        </div>
      </div>
    </div>

  </div>










  <script src="/owl/assets/js/jquery-1.9.1.min.js"></script>
  <script src="/owl/owl-carousel/owl.carousel.js"></script>


  <!-- Demo -->

  <style>
      #owl-demo .item{
          margin: 3px;
      }
      #owl-demo .item img{
          display: block;
          width: 100%;
          height: auto;
      }
  </style>


  <script>
      $(document).ready(function() {
          $("#owl-demo").owlCarousel({
              autoPlay: 3000,
              items : 4,
              itemsDesktop : [1199,3],
              itemsDesktopSmall : [979,3]
          });

      });
  </script>

  <script src="/owl/assets/js/bootstrap-collapse.js"></script>
  <script src="/owl/assets/js/bootstrap-transition.js"></script>
  <script src="/owl/assets/js/bootstrap-tab.js"></script>

  <script src="/owl/assets/js/google-code-prettify/prettify.js"></script>
  <script src="/owl/assets/js/application.js"></script>

</div>


<script type="text/javascript">

    /*
      Initialize the navbar and toolbars
    */

    $(function() {
      $( "[data-role='navbar']" ).navbar();
      $( "[data-role='header'], [data-role='footer']" ).toolbar();
    });


  </script>
<div data-role="footer" data-position="fixed" data-theme="a">
    <div data-role="navbar">
      <ul>
        <li><a href="/rents101/myhome">Home</a></li>
        <li><a href="/rents101/mbrowse" data-ajax="false">Browse Ads</a></li>
        <li><a href="mailto:support@rentinsingapore.com?subject=Mobile%20Suport&body=Rentinsingapore%20Mobile">Contact Us</a></li>
      </ul>
    </div>
  </div>
<div id="status">
</div>
