<% cache(:action => 'faq', :part => 'hourbanner') do %>
<% @mycount = Banner.count(:all, :conditions => 'exp > NOW()  and beg < NOW()')%>
<% if @mycount > 0 %>
<table  border="0" cellspacing="0" cellpadding="1">

            <tr>
              <td class="goldtop" style="width: 248px;" >
              	<h3 class="goldtop">Walkin Registration</h3>
              	</td>
            </tr>
<% @mybanners = Banner.find(:all, :conditions => 'exp > NOW() and beg < NOW()')%>     
<% for @mb in @mybanners %>
            <tr>
              <td>
              	<center>
              	<b><%=@mb.title%></b><br/>
              	<img src="/images/tmp/<%=@mb.image%>" alt="<%=@mb.title%>" title="<%=@mb.title%>" />
              	</center>
            </td>
            </tr>
<% end %>            
          </table>
          <br/>	

<% end %>
<% end %>