          <table width="405" border="0" cellspacing="0" cellpadding="0">
            <tr>
              <td width="11"><img src="/images/left-left.gif" alt="" width="11" height="12" /></td>
              <td width="383" class="ltop">&nbsp;</td>
              <td width="11"><img src="/images/left-right.gif" alt="" width="11" height="12" /></td>
            </tr>

            <tr>
              <td class="lleft"><img src="/images/left-m-left.gif" alt="" width="11" height="146" /></td>
              <td class="lmiddle"><img src="/images/bullet.gif" alt="" width="19" height="18" />
                <h1 class="lheading">Featured Employers</h1><br /><br />
                <table width="100%" border="0" cellpadding="9" cellspacing="1" bgcolor="#E8EAEA">
                  <tr>
                    <td width="33%" bgcolor="#FFFFFF"><img src="/images/es_03.gif" alt="" width="100" height="35" /></td>
                    <td width="34%" bgcolor="#FFFFFF"><img src="/images/es_05.gif" alt="" width="100" height="35" /></td>
                    <td width="33%" bgcolor="#FFFFFF"><img src="/images/es_09.gif" alt="" width="100" height="35" /></td>
                    </tr>
                  <tr>
                    <td bgcolor="#FFFFFF"><img src="/images/es_09.gif" alt="" width="100" height="35" /></td>
                    <td bgcolor="#FFFFFF"><img src="/images/es_53.gif" alt="" width="100" height="35" /></td>
                    <td bgcolor="#FFFFFF"><img src="/images/es_55.gif" alt="" width="100" height="35" /></td>
                    </tr>
                  <tr>
                    <td bgcolor="#FFFFFF"><img src="/images/es_57.gif" alt="" width="100" height="35" /></td>
                    <td bgcolor="#FFFFFF"><img src="/images/es_58.gif" alt="" width="100" height="35" /></td>
                    <td bgcolor="#FFFFFF"><img src="/images/es_67.gif" alt="" width="100" height="35" /></td>
                    </tr>
                  <tr>
                    <td bgcolor="#FFFFFF"><img src="/images/es_69.gif" alt="" width="100" height="35" /></td>
                    <td bgcolor="#FFFFFF"><img src="/images/es_59.gif" alt="" width="100" height="35" /></td>
                    <td bgcolor="#FFFFFF"><img src="/images/es_06.gif" alt="" width="100" height="35" /></td>
                  </tr>
                </table></td>
              <td class="lright"><img src="/images/left-m-right.gif" alt="" width="11" height="146" /></td>
            </tr>
            <tr>
              <td><img src="/images/left-b-left.gif" alt="" width="11" height="12" /></td>
              <td class="lbottom">&nbsp;</td>
              <td><img src="/images/left-b-right.gif" alt="" width="11" height="12" /></td>
            </tr>
          </table>