<% if controller.action_name == 'editcompany'  or controller.action_name  == 'updatecompany'  %>
<% if @jbemployer %>
<% if @jbemployer.adcity %>
<script type="text/javascript">
var mycity = "<%=@jbemployer.adcity.adcityname %>";
</script>
<% end %>
<% end %>

<% end %>

<% if controller.action_name == 'jobedit'  or controller.action_name  == 'jobupdate'  %>
<% if @ad %>
<% if @ad.adcity %>
<script type="text/javascript">
var mycity = "<%=@ad.adcity.adcityname %>";
</script>
<% end %>
<% end %>

<% end %>


<% if controller.action_name == 'editseekerprofile'  or controller.action_name  == 'updateseekerprofile'  %>
<% if @profile %>
<% if @profile.adcity %>
<script type="text/javascript">
var mycity = "<%=@profile.adcity.adcityname %>";
</script>
<% end %>
<% end %>

<% end %>
