                     <table width="405" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
              </tr>
              <tr>
                <td width="11"><img src="/images/left-left.gif" alt="" width="11" height="12" /></td>
                <td width="383" class="ltop">&nbsp;</td>
                <td width="11"><img src="/images/left-right.gif" alt="" width="11" height="12" /></td>
              </tr>
              <tr>
                <td class="lleft"><img src="/images/left-m-left.gif" alt="" width="11" height="146" /></td>
                <td class="lmiddle"><img src="/images/bullet.gif" alt="" width="19" height="18" />
                    <h1 class="lheading">Hiring Now</h1><br /><br />
					<table width="85%" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <td width="50%" valign="top">
	<ul id="hirelist">
	<li>IT / Software</li>
	<li><a href="#">Thesys Technologies</a></li>
	<li><a href="#">Final Quadrant</a></li>
	<li><a href="#">Sage Technologies</a></li>
	<li><a href="#">Sopra Group</a></li>
	<li><a href="#">Ekartha</a></li>
	<li><a href="#">Mahaveer Infoway</a></li>
	<li><a href="#">Symbiosis Network</a></li>
	<li><a href="#">Oracle India</a></li>
	<li><a href="#">Altech Star Solution</a></li>
	<li><a href="#">InfoWeb Inc</a></li>
	<li><a href="#">RecruitRight</a></li>
	</ul>
	</td>
    <td width="50%" valign="top">
	<ul id="hirelist1">
	<li>Consulting Services</li>
	<li><a href="#">Kaycees HR Consultancy</a></li>
	<li><a href="#">Winorwin Consulting</a></li>
	<li><a href="#">HR4Nation</a></li>
	<li><a href="#">Askexim</a></li>
	<li><a href="#">Pegasus Staffing Solutions</a></li>
	<li><a href="#">Business Solutions</a></li>
	<li><a href="#">MAH India</a></li>
	<li><a href="#">Exclusive Search</a></li>
	<li><a href="#">Deeva Network</a></li>
	<li><a href="#">AG Placements</a></li>
	<li><a href="#">New Age Solutions</a></li>
	</ul>
	</td>
  </tr>
</table>

                </td>
                <td class="lright"><img src="/images/left-m-right.gif" alt="" width="11" height="146" /></td>
              </tr>
              <tr>
                <td><img src="/images/left-b-left.gif" alt="" width="11" height="12" /></td>
                <td class="lbottom">&nbsp;</td>
                <td><img src="/images/left-b-right.gif" alt="" width="11" height="12" /></td>
              </tr>
            </table>

   <table width="405" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
              </tr>
              <tr>
                <td width="11"><img src="/images/left-left.gif" alt="" width="11" height="12" /></td>
                <td width="383" class="ltop">&nbsp;</td>
                <td width="11"><img src="/images/left-right.gif" alt="" width="11" height="12" /></td>
              </tr>
              <tr>
                <td class="lleft"><img src="/images/left-m-left.gif" alt="" width="11" height="146" /></td>
                <td class="lmiddle"><img src="/images/bullet.gif" alt="" width="19" height="18" />
                    <h1 class="lheading">Featured <font class="lheading1">Career Articles</font></h1>
                  <br />
                  <br />
                    <table width="85%" border="0" align="center" cellpadding="0" cellspacing="0">
                      <tr>
                        <td width="29%" valign="top"><img src="/images/img2.gif" alt="" width="84" height="78" /></td>
                        <td width="71%" valign="middle">
						<div class="articlediv">
						This space is used to write sample text. This space is used to write sample text. The client will provide the content for website.
						</div>
						</td>
                      </tr>
                      <tr>
                        <td valign="top">&nbsp;</td>
                        <td valign="top">&nbsp;</td>
                      </tr>
                      <tr>
                        <td valign="top"><img src="/images/img3.gif" alt="" width="84" height="78" /></td>
                        <td valign="middle"><div class="articlediv"> This space is used to write sample text. This space is used to write sample text. The client will provide the content for website. </div></td>
                      </tr>
                  </table></td>
                <td class="lright"><img src="/images/left-m-right.gif" alt="" width="11" height="146" /></td>
              </tr>
              <tr>
                <td><img src="/images/left-b-left.gif" alt="" width="11" height="12" /></td>
                <td class="lbottom">&nbsp;</td>
                <td><img src="/images/left-b-right.gif" alt="" width="11" height="12" /></td>
              </tr>
            </table>