<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<%= render :partial => 'menu/title' %>
<%= render :partial => 'menu/jsvariable' %>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link href="/stylesheets/style.css" rel="stylesheet" type="text/css" />
<link href="/stylesheets/boxes.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="/javascripts/prototype.js"></script>


<% if controller.action_name == 'adshow'  or controller.action_name == 'madshow'  or controller.action_name == 'privatephoto' %>
<script type="text/javascript" src="/javascripts/application.js"></script>
<script type="text/javascript" src="/javascripts/effects.js"></script>
<script type="text/javascript" src="/javascripts/controls.js"></script>
<script type="text/javascript" src="/javascripts/dragdrop.js"></script>
<script type="text/javascript" src="/javascripts/effects.js"></script>

<script type="text/javascript" src="/javascripts/lightbox.js"></script>
<script type="text/javascript" src="/javascripts/scriptaculous.js?load=effects"></script>
<%= stylesheet_link_tag "lightbox", :media => "all" %>

<% end %>

<!-- socialize.js script should only be included once -->
<script type="text/javascript" src="http://cdn.gigya.com/js/socialize.js?apiKey=2_KUSCEbF0n0swUJK_FriBiaLdUum2YTZXDr86d5hF4nuvTJisNIXyrNH8v9UFfvh2"></script>
<script type="text/javascript">
var conf={}
</script>


<script language="Javascript">
<!--
//This credit must stay intact
//Script by http://www.java-Scripts.net and http://wsabstract.com
 function doClear(theText) {
     if (theText.value == theText.defaultValue) {
         theText.value = ""
     }
 }
//-->
</script>


</head>
<body  <% if controller.action_name == 'adshow' %> onload="initLightbox()"  <% end %>   >
<div id="container">
<%= render :partial => 'menu/topnew' %>
<% if controller.action_name == 'home' %>
	<%= render :partial => 'menu/searchnew' %>
<% end %>
<!-- content -->
<table width="100%" border="0" cellspacing="0" cellpadding="0" id="content">
<% if flash[:notice] %>
	<tr><td style="width: 525px;">	
      <table  bordercolor="#ff8080" bgColor=#fdfeeb  border="1" cellspacing="0" cellpadding="0">

        <tr>
          <td bgcolor="#fcf83f"><div class="loginlh"><strong><%= flash[:notice] %></strong> </div></td>
        </tr>
       </table>
   </td></tr>
<% end %>


<tr>
<!-- start right column -->
	<td style="width: 525px;">	
		
		
 
<%= @content_for_layout %> 


<%= render :partial => 'menu/sidemenunew' %>
<!-- find love -->


<!-- / end fine love --></td>
<!-- / end left column -->
</tr>
</table>

<!-- / end content -->

<!-- bottom nav row -->
<% cache(:action => 'faq', :part => 'hourbottom1') do %> 
<center>
	<a href="http://www.addtoany.com/share_save"><img src="http://static.addtoany.com/buttons/share_save_171_16.png" width="171" height="16" border="0" alt="Share/Save/Bookmark"/></a><script type="text/javascript">a2a_linkname=document.title;a2a_linkurl=location.href;</script><script type="text/javascript" src="http://static.addtoany.com/menu/page.js"></script> | <a href="/rss">RSS Feed <img src="/images/rss.png" alt="RSS Feed" title="RSS Feed"/></a>
	</center>
<div id="bottomnav">
<ul id="bnav">
		
		<li style="border-right: 1px solid #fff;"><a href="/paynow">Membership Plan</a></li>
		<li style="border-right: 1px solid #fff;"><a href="http://community.brahminsmatrimony.com/profiles/blog/list?tag=faq">FAQ's</a></li>
		<li style="border-right: 1px solid #fff;"><a href="/whyfaq">Features</a></li>
		<li style="border-right: 1px solid #fff;"><a href="/contactus.html">Contact us</a></li>
	
		<li style="border-right: 1px solid #fff;"><a href="/privacy.html">Privacy policy</a> </li>
		<li><a href="/terms.html">Terms of use</a></li>
                    <li><a href="http://community.brahminsmatrimony.com/profiles/blog/list">Our Blog</a></li>
</ul>
</div><!-- / end bottom nav -->
<br/>
  <% if controller.action_name != 'adshow' %>
<iframe src="http://www.facebook.com/plugins/likebox.php?id=139224814880&amp;width=292&amp;connections=10&amp;stream=false&amp;header=true&amp;height=287" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:292px; height:287px;" allowTransparency="true"></iframe>
<br/><a href="http://www.facebook.com/apps/application.php?id=139224814880">Brahmins Matrimony on Facebook</a>

<% end %>
<br />Copyright &copy; 2008.  <%=Sitestuff::MYDOMAIN%>. All rights reserved 
<!-- / end container -->

<br/>
<table width="100%" border="0" cellspacing="0" cellpadding="0">
<tr>
<td><div align="center"><a name="trustlink" href="https://secure.trust-guard.com/certificates/www.brahminsmatrimony.com" target="_blank" onclick="var nonwin=navigator.appName!='Microsoft Internet Explorer'?'yes':'no'; window.open(this.href,'welcome','location='+nonwin+',scrollbars=yes,width=517,height='+screen.availHeight+',menubar=no,toolbar=no'); return false;">
<img name="trust-seal" alt="Security Seal" src="https://secure.trust-guard.com/seals/1596/pci/small/gray/" border="0"/></a></div></td>
<td><div align="center"><a name="trustlink" href="https://secure.trust-guard.com/certificates/www.brahminsmatrimony.com" target="_blank" onclick="var nonwin=navigator.appName!='Microsoft Internet Explorer'?'yes':'no'; window.open(this.href,'welcome','location='+nonwin+',scrollbars=yes,width=517,height='+screen.availHeight+',menubar=no,toolbar=no'); return false;">
<img name="trust-seal" alt="Privacy Seal" src="https://secure.trust-guard.com/seals/1596/privacy/small/gray/" border="0"/></a></div></td>
<td><div align="center"><a name="trustlink" href="https://secure.trust-guard.com/certificates/www.brahminsmatrimony.com" target="_blank" onclick="var nonwin=navigator.appName!='Microsoft Internet Explorer'?'yes':'no'; window.open(this.href,'welcome','location='+nonwin+',scrollbars=yes,width=517,height='+screen.availHeight+',menubar=no,toolbar=no'); return false;">
<img name="trust-seal" alt="Business Verified" src="https://secure.trust-guard.com/seals/1596/business/small/gray/" border="0"/></a></div></td>
<td><div align="center"><a name="trustlink" href="https://secure.trust-guard.com/certificates/www.brahminsmatrimony.com" target="_blank" onclick="var nonwin=navigator.appName!='Microsoft Internet Explorer'?'yes':'no'; window.open(this.href,'welcome','location='+nonwin+',scrollbars=yes,width=517,height='+screen.availHeight+',menubar=no,toolbar=no'); return false;">
<img name="trust-seal" alt="Trust Guard Certified" src="https://secure.trust-guard.com/seals/1596/certified/small/gray/" border="0"/></a></div></td>
</tr>
</table>
<% end %>
</body>
</html>
