<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<title></title>
<meta name="keywords" content="" />
<meta name="description" content="" />
<link href="/stylesheets/default.css" rel="stylesheet" type="text/css" />
<style type="text/css">
<!--
	@import url("/stylesheets/layout.css");
-->
</style>
</head>
<body>
<div id="header">
	<div id="logo">
		<h1>Business Name</h1>
		<h2>Your slogan text here</h2>
	</div>
	<div id="search">
<%= start_form_tag :controller => 'rents101', :action => 'searchads' %>
			<table width="335" border="0" cellpadding="0" cellspacing="0">
				<tr>
					<td><label for="textfield">Property Search:</label></td>
					<td><input name="typed_search" type="text" class="input1" id="textfield" /></td>
					<td><%= submit_tag "Go" %></td>
				</tr>
			</table>
<%= end_form_tag %>
	</div>
	<div id="top-menu">
		<ul>
			<li><a href="#" id="top-menu1" accesskey="1" title=""><b>My Account</b></a></li>
			<li><a href="#" id="top-menu2" accesskey="2" title=""><b>Sitemap</b></a></li>
			<li><a href="#" id="top-menu3" accesskey="3" title=""><b>View Cart</b></a></li>
		</ul>
	</div>
</div>
<div id="content" class="three-cols">
	<div class="colA">
		<div id="box1" class="bg4">
			<div class="title bg1">
				<h2 class="text1">Veroeros Etiam</h2>
			</div>
			<div class="content bg5"> <img src="/images/homepage20.jpg" alt="" width="100" height="100" class="img1" style="margin-left: 1px;" />
				<h3 class="text2">$39<sup>99</sup></h3>
				<p><a href="#" class="link1"><b>Add to Cart</b></a></p>
				<p class="text4"><strong class="text3">Lorem consectetuer</strong> Adipiscing elit. Nunc  neque. Nunc condimentum ipsum.</p>
			</div>
		</div>
		<div id="box2" class="bg4">
			<div class="title bg2">
				<h2 class="text1">Consequat Nullam</h2>
			</div>
			<div class="content bg5"> <img src="/images/homepage21.jpg" alt="" width="100" height="100" class="img1" style="margin-left: 1px;" />
				<h3 class="text2">$39<sup>99</sup></h3>
				<p><a href="#" class="link1"><b>Add to Cart</b></a></p>
				<p class="text4"><strong class="text3">Adipiscing elit</strong> Nunc eget neque. ondimentum ipsum et orci.</p>
			</div>
		</div>
	</div>
	<div class="colB">
			<%= @content_for_layout %>
	</div>

	<div class="colC">
		<div id="box7"><a href="#"><img src="/images/homepage29.jpg" alt="" width="192" height="61" border="0" /></a><a href="#"><img src="/images/homepage30.jpg" alt="" width="192" height="60" border="0" /></a><a href="#"><img src="/images/homepage31.jpg" alt="" width="192" height="60" border="0" /></a></div>
		<div id="box8" class="bg4">
			<div class="title bg3">
				<h2 class="text1">Dolore Magna</h2>
			</div>
			<div class="content bg5">
				<p><img src="/images/homepage32.jpg" alt="" width="150" height="63" /></p>
				<p class="text4"><strong>Lorem ipsum dolore</strong><br />
					Et orci. Aenean est. Cras eget diam. Phasellus vitae magna. Sed dictum.</p>
				<ul class="list1">
					<li class="vline"><a href="#">Et orci. Aenean est</a></li>
					<li class="vline"><a href="#">Cras eget diam</a></li>
					<li class="vline"><a href="#">Phasellus vitae magna</a></li>
					<li class="vline"><a href="#">Sed dictum dolore sit amet</a></li>
					<li class="vline"><a href="#">Quisque bibendum</a></li>
					<li class="vline"><a href="#">Condimentum wisi</a></li>
					<li><a href="#">Pellentesque ut ipsum sit</a></li>
				</ul>
				<p><a href="#" class="link3"><b>More</b></a></p>
			</div>
		</div>
	</div>
</div>
<div id="footer">
	<div id="extra1"></div>
	<p id="footer-menu" class="bg7"><a href="#" class="link4">Homepage</a> <a href="#" class="link4 vline">Browse Products</a> <a href="#" class="link4 vline">Products on Sale</a> <a href="#" class="link4 vline">New Products</a> <a href="#" class="link4 vline">Customer Support</a> <a href="#" class="link4 vline">Contact Us</a></p>
	<div id="extra2"></div>
	<p id="copyright" class="text9">Copyright (c) 2006 BusinessName. All rights reserved.</p>
</div>
</body>
</html>

