

	
<!-- begin right column -->
	<td style="width: 250px;"><div class="w250">
		
				<% if Sitestuff::MYDOMAIN == 'BrahminsMatrimony.com' and  controller.action_name == 'home' and @mys %>
				<% cache(:action => 'faq', :part => 'hoursuc101') do %> 
		  <table  border="0" cellspacing="0" cellpadding="1">

            <tr>
              <td class="goldtop" style="width: 248px;" >
              	<h3 class="goldtop">Success Stories</h3>
              	</td>
            </tr>
            <tr><td><center><b><%=@mys.couple%></b></center></td></tr>
<tr>
              <td><br/><center><a href="<%=@mys.url%>"><img src="/images/success/<%=@mys.img%>" alt="<%=@mys.couple%>"  title="<%=@mys.couple%>" /></a><br/>
              	<%=@mys.desc%>
              </center>

              </td>
            </tr>
</table>
<% end %>
<% end %>
		
		<% if Sitestuff::MYDOMAIN == 'HindusOnlyMatrimony.com'%>
		  <table  border="0" cellspacing="0" cellpadding="1">

            <tr>
              <td class="goldtop" style="width: 248px;" >
              	<h3 class="goldtop">In Person Registration</h3>
              	</td>
            </tr>
            <tr><td>
		
		
		<center><img width="240" src="/images/tmp/hom_meet.jpg" alt="bom meet" />  <br/> 
	</center>
</td></tr></table>
<% end %>
<% if Sitestuff::MYDOMAIN == 'BrahminsMatrimony.com' and  controller.action_name == 'home' %>
		  <table  border="0" cellspacing="0" cellpadding="1">

            <tr>
              <td class="goldtop" style="width: 248px;" >
              	<h3 class="goldtop">Post Your Profile with Confidence</h3>
              	</td>
            </tr>
<tr>
              <td><br/><center>
              	<a name="trustlink" href="https://secure.trust-guard.com/certificates/www.brahminsmatrimony.com" target="_blank" onclick="var nonwin=navigator.appName!='Microsoft Internet Explorer'?'yes':'no'; window.open(this.href,'welcome','location='+nonwin+',scrollbars=yes,width=517,height='+screen.availHeight+',menubar=no,toolbar=no'); return false;">
<img name="trust-seal" alt="Trust Guard Certified" src="https://secure.trust-guard.com/seals/1596/certified/small/gray/" border="0"/></a>
              </center>

              </td>
            </tr>
</table>
<% end %>
	
		       <table  border="0" cellspacing="0" cellpadding="1">

            <tr>
              <td class="goldtop" style="width: 248px;" >
              	<h3 class="goldtop">Search By Profile ID</h3>
              	</td>
            </tr>
     
            <tr>
              <td>
             <%=form_tag({:controller => 'rents101', :action=>'searchbyprofileid'}, :multipart => true)%>
	<table border="0" cellspacing="0" cellpadding="0">
      <tr>
     
              <td align="center"></td>
        <td></td>
        <td><input name="id" type="text" class="searchinput" size="22"/></td>
        
        <td><%= image_submit_tag("/images/search-button.gif")%></td>
      </tr>
    </table>
    </form>
				  
				  
			  </td>
            </tr>
          </table>
          <br/>
          
	
<%= render :partial => 'menu/banner' %>
          
          <% if Sitestuff::MYDOMAIN == 'MarryaSunni.com'%>
           <table  border="0" cellspacing="0" cellpadding="1">
  <tr>
			    <td class="goldtop" style="width: 248px;" >
              	<h3 class="goldtop">Choose Your Language</h3>
          	</td><tr/><tr><td>
			
				<script src="http://www.gmodules.com/ig/ifr?url=http://www.google.com/ig/modules/translatemypage.xml&amp;up_source_language=en&amp;synd=open&amp;w=160&amp;h=60&amp;title=Translate+This+Page&amp;lang=en&amp;country=ALL&amp;border=%23ffffff%7C0px%2C1px+solid+%2399BB66%7C0px%2C2px+solid+%23AACC66%7C0px%2C2px+solid+%23BBDD66&amp;output=js"></script>
			 
	
						</td>
            
          </tr>
          
          
	                  
     
        </table>
          <% end %>
          <br/>
<% if controller.action_name == 'adbrowse' or controller.action_name == 'adstarbrowse' or controller.action_name == 'adcountrybrowse' or controller.action_name == 'adagebrowse' or controller.action_name == 'admarbrowse'%>
         <table  border="0" cellspacing="0" cellpadding="1">

            <tr>
                  <td class="goldtop" style="width: 248px;" >
              	<h3 class="goldtop">More Browsing Options</h3>
              	</td>
            </tr>
         
            <tr>
              <td><ul id="bluebarlist">
              			<% if controller.action_name != 'adagebrowse' %>
                  <li><a href="/agebrowse/all/all/all">Browse By Age Range</a><br /></li>
				  <% end %>
				  
              	<% if controller.action_name != 'adbrowse' %>
                  <li><a href="/browse/all/all/all">Browse By Job or Occupation</a><br /></li>
                 
				  <% end %>
				  
				  		<% if controller.action_name != 'adcountrybrowse' %>
                  <li><a href="/locbrowse/all/all/all">Browse By Location (Country)</a><br /></li>
				  <% end %>
				  
				  		<% if controller.action_name != 'admarbrowse' %>
                  <li><a href="/marbrowse/all/all/all">Browse By Marital Status</a><br /></li>
				  <% end %>

				  		<% if controller.action_name != 'adstarbrowse' %>
                  <li><a href="/star/all/all/all">Browse By Birth Star (Nakshakthra)</a><br /></li>
				  <% end %>
		
		<% if controller.action_name != 'manglikbrowse' %>
                  <li><a href="/manglikbrowse/all/all/all">Browse Manglik Profiles</a><br /></li>
				  <% end %>		  
				  </ul></td>
            </tr>
          </table>
          
          <br/>
                 
<% end %>          
<% if controller.action_name == 'adshow' %>
	
	        <table  border="0" cellspacing="0" cellpadding="1">
  <tr>
			    <td class="goldtop" style="width: 248px;" >
              	<h3 class="goldtop">Photos</h3>
          	</td><tr/><tr><td>
			
				<% @myad = @ad%>
			
			<%= render :partial => 'singlephoto' %>
			 
	
						</td>
            
          </tr>
          
          
	                  
     
        </table>
	<br/>
	<% if @ad.pimage1  and controller.action_name == 'adshow'%>
	<% @pplink = url_for(:controller => 'userfunctions', :action => 'pmnew', :ad_id => @ad.id, :to_user => @ad.member_id) %>
	  
			
				<%=form_tag({:controller => 'userfunctions', :action=>'privatephoto'}, :multipart => true)%>
				<table border="0"><tr><td>Enter Password</td><td>
					<input type="hidden" id="myprofileid" name="myprofileid" value="<%=@ad.id.to_s%>">
				<input id="privpassword" name="privpassword" size="10" type="password" value="" /></td><td>

<input type="submit" name="login" value="Go"  class="logbtn" />
</td></tr></table><table border="0">
<tr><td><a href="<%=@pplink%>">Request Password</a></td></tr>
</table>
</form>
	
	<br/>
	<% end %>
	
		
	<% if @myad.himage1 or @myad.himage2 %>
		<% @oktoshow = 0%>
	<%@destination = '#' %>
	<% if session[:superuser] %> <% @oktoshow = 1%> <% end %>
	   <% if @oktoshow == 0 %>
	     <% if session[:member]%>
	     <% @mycount = Ad.count(:conditions => 'status =  1 and member_id= ' + session[:member].to_s)%>
	     <% if @mycount > 0 %>
	     <% @oktoshow = 1%>
	     <% else%>
	     	    <% flash[:notice] = 'You must have a valid and approved profile to view Horoscopes!' %>
        <% @destination = '/editmyprofile'%>
	     <% end %>
	     <% else%>
	    <% flash[:notice] = 'You must register and logon to view Horoscopes' %>
        <% @destination = '/login'%>
	     <% end %>
	   <% end %>
	<table  border="0" cellspacing="0" cellpadding="1">
  <tr>
			    <td class="goldtop" style="width: 248px;" >
              	<h3 class="goldtop">Horoscope</h3>
          	</td><tr/><tr><td><center>
          		
          		
<% if @myad.himage1 %>
	<% if @oktoshow == 1 %>
<a href="<%= image_path(url_for_file_column("myad", "himage1", "medium")) %>" rel="lightbox['+@myad.id.to_s+']" title="<%=h(@myad.title) %>">    <%= image_tag url_for_file_column("myad", "himage1", "thumb") %> </a>
<% else %>
<a href="<%= @destination %>" >    <%= image_tag url_for_file_column("myad", "himage1", "thumb") %> </a>
<% end %>
<% end %>

       		
<% if @myad.himage2 %>
	<% if @oktoshow == 1 %>
<a href="<%= image_path(url_for_file_column("myad", "himage2", "medium")) %>" rel="lightbox['+@myad.id.to_s+']" title="<%=h(@myad.title) %>">    <%= image_tag url_for_file_column("myad", "himage2", "thumb") %> </a>
<% else %>
<a href="<%= @destination %>" >    <%= image_tag url_for_file_column("myad", "himage2", "thumb") %> </a>
<% end %>
<% end %>

          		</center></td>
          		</tr>
          		</table>
	<% end %>
	<br/>
	<% @addlink = url_for(:controller => 'userfunctions', :action => 'addfavorite') %>
<% @pplink = url_for(:controller => 'userfunctions', :action => 'pmnew', :ad_id => @ad.id, :to_user => @ad.member_id) %>

	
	         <table  border="0" cellspacing="0" cellpadding="1">
               <tr>
              <td class="goldtop" style="width: 248px;" >
              	<h3 class="goldtop">Profile Menu</h3>
              	</td>
            </tr>
            
            <tr>
             <td>
              	
                  <ul id="bluelist">
                  	<li><img src="/images/icons/smiley.png" alt="exp int"  /> <a href="/userfunctions/expinterest/<%=@ad.member_id.to_s%>"  class="searchlink">Express Interest</a></li>
                  	<li><img src="/images/forward.gif" alt="" width="16" height="14" /> <a href="/tell-a-friend"  class="searchlink">Forward to Friend</a></li>
                    <li><img src="/images/icons/star.gif" alt="Add to my favorites" title="Add to my favorites"/>  <a href="<%=@addlink%>"> Add To My Favorites</a></li>
					<li>
<a class="a2a_dd" href="http://www.addtoany.com/share_save"><img src="http://static.addtoany.com/buttons/share_save_171_16.png" width="171" height="16" border="0" alt="Share/Save/Bookmark"/></a><script type="text/javascript">a2a_linkname=document.title;a2a_linkurl=location.href;</script><script type="text/javascript" src="http://static.addtoany.com/menu/page.js"></script> 
</li>
					<li><img src="/images/new_mail_16.gif" alt="" title=""/> <a href="<%=@pplink%>">Send a Private Message</a></li>
					
                  </ul></td>
             
            </tr>
         
          </table>
         
          <br/>
<table  border="0" cellspacing="0" cellpadding="1">
               <tr>
              <td class="goldtop" style="width: 248px;" >
              	<h3 class="goldtop">Enter your feedback or comments</h3>
              	</td>
            </tr>
            
            <tr>
             <td>
             	<div id="mycommentshere">
                            	<%=link_to_remote("Click Here to Enter Comments or feedback or ask a question to the advertiser", :update => 'mycommentshere', :url => '/matcommon/docomment/'+@ad.id.to_s) %>
                            	</div>

         	</td></tr></table>

	<% end %>
	
<% @myalerts = 0 %>	
<% if session[:member] %>

<%  		@myuser = Member.find(session[:member]) %>
<% if @myuser.usertype_id == 1%>
	<% @diff = Time.now.to_date  - @myuser.created_on.to_date %>
	<% @diff = 7 - @diff %>


 <table  border="0" cellspacing="0" cellpadding="1">

            <tr>
              <td class="goldtop" style="width: 248px;" >
              	<h3 class="goldtop">Alerts!</h3>
              	<% @myalerts = 1 %>	
              	</td>
            </tr>
            </table>
     
        <table><tr><td>
			
			<img src="/images/icons/freeover.png" alt=""/></td><td><a href="/paynow"><b>Your free trial period expires in <%=@diff.to_s%> day(s) - Upgrade Now!</a></td></tr></table>
				
					
       
        <br/>
<% end %>



	<% @mypaid = Memberpayment.find(:first, :conditions => "member_id = " + @myuser.id.to_s )%>
      <% if @myuser.usertype_id > 1 and @mypaid%>
	<% @diff = @mypaid.exp_date.to_date - Time.now.to_date  %>
	<% if @diff < 30 %>

<% if @myalerts == 0 %>
 <table  border="0" cellspacing="0" cellpadding="1">

            <tr>
              <td class="goldtop" style="width: 248px;" >
              	<h3 class="goldtop">Alerts!</h3>
              	<% @myalerts = 1 %>	
              	</td>
            </tr>
            </table>
<% end %>
     
        <table><tr><td>
			
			<img src="/images/icons/freeover.png" alt=""/></td><td><a href="/paynow"><b>Your Membership expires in <%=@diff.to_s%> day(s) - Renew Now!</a></td></tr></table>
				
					
       
        <br/>
        <% end %>
<% end %>


<% if @myuser.emailverified == 0 %>
	<% if  @myalerts == 0 %>	
	<table  border="0" cellspacing="0" cellpadding="1">

            <tr>
              <td class="goldtop" style="width: 248px;" >
              	<h3 class="goldtop">Alerts!</h3>
              	<% @myalerts = 1 %>	
              	</td>
            </tr>
            </table>
     <% end %>     
        <table><tr><td>
			
			<img src="/images/icons/emailalert.png" alt=""/></td><td><a href="/userfunctions/getconfirm"><b>Click Here to Confirm Your Email</a></td></tr></table>
				
					
       
        <br/>
<% end %>





         <table  border="0" cellspacing="0" cellpadding="1">
        
          <tr>
          
			    <td class="goldtop" style="width: 248px;" >
              	<h3 class="goldtop">User Menu</h3>
          	</td></tr><tr><td>
			<ul id="redlist">
			<li><a href="/controlpanel">Control Panel (<%= @myuser.usertype.name %>)</a></li>
			<li><a href="/logout">Log Out</a></li>
			<li><a href="/editprofile">Change My Phone no and Password</a></li>
<%@myinbcount = Pmessage.count(:conditions => "to_user="+session[:member].to_s + " and read_on is null and receiver_delete = 0 ")%>
<%if @myinbcount > 0 %>

<li><a href="/mypms">My Private Messages</a> <img src="/images/new.gif"></li>
<%else%>

<li><a href="/mypms">My Private Messagess</a> <img src="/images/new_mail_16.gif"> </li>
<%end%><br/>

	
			<li><a href="/editmyprofile">Edit My Profile</a></li>
			<li><a href="/editprivacy">Edit My Privacy Settings</a></li>
			
			<li><a href="/mysavedsearches">My Email Alerts</a></li>
			<li><a href="/myfavorites">My Saved Profiles</a></li>
			<li><a href="/mymarketads">My Market Ads</a></li>
			
			</ul>			</td>
           
          </tr>
        
        </table>
 
 <% else %>
 
 
         <table  border="0" cellspacing="0" cellpadding="1">
         	
    
          <tr>
          	
            
            
            	      <td class="goldtop" style="width: 248px;" >
              	<h3 class="goldtop">New to Our Site?</h3>
          	</td></tr>
          	<tr>
			<td>
			<ul >
			
			<li><a href="/register" class="green">Register for a Free Trial!</a></li>
			<li><a href="/login" class="green">Login</a></li>
			<li><a href="/whyfaq" class="green">Features</a></li>
			<li><a href="/paynow" class="green">How Much Does it Cost?</a></li>
			<% if Sitestuff::MYDOMAIN != 'MarryaSunni.com'%>
			<li>Questions? Call <b>0944 204 3570</b></li>
			<% end %>
			</ul>			</td>
            
          </tr>
     
        </table>
        
 <% end %>
			
 



<br/>

 
   
<br/>
<% if controller.action_name == 'adshow' %>

          <table  border="0" cellspacing="0" cellpadding="1">
             <tr>
              <td class="goldtop" style="width: 248px;" >
              	<h3 class="goldtop">Report This Profile</h3>
              	</td>
        </tr><tr><td>

<%=form_tag({:controller => 'rents101', :action=>'ad_report'}, :multipart => true)%>
<table><tr><td>
<%=select("adcomplaint","complaint_id", Complaint.find(:all, :order => "name ASC").collect { |s1| [s1.name, s1.id]} )%>
</td></tr></table>
<%= hidden_field "adcomplaint", "ad_id", :value => @ad.id%>
<%= submit_tag "Go!" %>
</form>

</td>
              
            </tr>
          </table>
<br/>
<% end %>



<% if session[:member] %>
<% else %>
           <table  border="0" cellspacing="0" cellpadding="1">
          
            
            	
            <tr>
              <td class="goldtop" style="width: 248px;" >
              	<h3 class="goldtop">Register For Free</h3>
              	</td>
            </tr>
            
             <tr><td>
                  <ul id="bluelist">
                  	<li>Exclusive Site For <%=Sitestuff::MYSINGLEKEY %> Only</li>
                    <li>Protection against Spam </li>
					<li>Free Trial for 7 Days!</li>
					<li>Google Like Search</li>
					<li>Automatic Profile Search Agent</li>
					<li>Get matching profile by Email</li>
                    <li>Excellent Customer Support</li>
                    <li>Safe and Secure Site</li>
                  
                  </ul></td>
              
            </tr>
           
          </table>
<% end %>


           <table  border="0" cellspacing="0" cellpadding="1">
           
            <tr>
                  <td class="goldtop" style="width: 248px;" >
              	<h3 class="goldtop">Resources</h3>
              	</td>
            </tr>
        
            <tr>
              <td>
			  <ul id="redbarlist">
			  <li><a href="/resources" class="green" target='_blank' > <%=Sitestuff::MYSINGLEKEY %> Resources</a><br /></li>
			  	<li><a href="http://twitter.com/<%=Sitestuff::MYTWITTER%>" class="green" target='_blank' >Follow Us On Twitter</a><img src="/images/tmp/twi.jpg" alt='follow us on twitter' /><br /></li>
			  	<% if Sitestuff::MYDOMAIN != 'MarryaSunni.com'%>
			  <li><a href="http://www.bharathforums.com" class="green">Where to find astrological predictions?</a><br /></li>
			  <li><a href="http://www.templetrips.com" class="green">How to speed up marriage process?</a><br /></li>
			  <li><a href="http://www.templetrips.com" class="green">What are pariharams</a><br /></li>
			  <% end %>
			  </ul>		
			   <br/><center>
			  <a href="http://www.brahminsmatrimony.com/12/Temple%20and%20Pariharam%20Services/Chennai%20Metro/mk/simple-pariharams-to-speed-up-your-marriage.html"><img src="/images/icons/pariharam.jpg" alt="pariharams" title="pariharams"/></a></center>
		  	  </td>
            </tr>
          </table>
<% cache(:action => 'faq', :part => 'hourtopsearch') do %> 
          <br/>
          
                    <table  border="0" cellspacing="0" cellpadding="1">

         <tr>
                  <td class="goldtop" style="width: 248px;" >
              	<h3 class="goldtop">Popular Searches</h3>
              	</td>
            </tr>
            <% @mytcount = 1%>
                    <% @myts = Topsearch.find(:all,  :order => ' mycount desc')%>
                    
            <tr>
              <td><ul id="bluebarlis09t">
              	 <% for @myt in @myts %>
                    <a href="/tags/<%=@myt.mydesc%>"> <li><%=@myt.mydesc%></li> </a>
                    <br/>
                    <% @mytcount = @mytcount + 1%>
                    <% break if @mytcount > 20 %>
                    <% end %>
                    
                 
				  </ul><br/>
				  <a href="/tagcloud"><b>More Tags (Tag Cloud)</b></a><br/><br/>
			  </td>
            </tr>
          </table>
          
          
           <table  border="0" cellspacing="0" cellpadding="1">

         <tr>
                  <td class="goldtop" style="width: 248px;" >
              	<h3 class="goldtop">Tips</h3>
              	</td>
            </tr>
           
            <tr>
              <td><ul id="bluebarlist">
                  <li>Put an accurate profile about yourself<br /></li>
				  <li>Put complete description about you<br /></li>
				  <li>Be candid with what you expect from your partner<br /></li>
				  <li>Photographs and Horoscopes are recommended<br /></li>
				  </ul></td>
            </tr>
          </table>

      <table  border="0" cellspacing="0" cellpadding="1">

         <tr>
                  <td class="goldtop" style="width: 248px;" >
              	<h3 class="goldtop">Feedback</h3>
              	</td>
            </tr>
           
            <tr>
              <td>
              	<img src="/images/icons/feedback.png" alt="feedback" title="feedback"/><p>
We listen to our customers. Let us know how we can improve our service and help you better. Click <a href="/feedback">here</a></p>
              </td>
            </tr>
          </table>

<% end %>

</div></td>
