 <%= render :partial => 'menu/sidemenutop' %>
   
<br/>
<% if controller.action_name == 'adshow' %>

          <table width="267" border="0" cellspacing="0" cellpadding="0">
            <tr>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
            </tr>
            <tr>
              <td width="12"><img src="/images/blue-left.gif" alt="" width="12" height="12" /></td>
              <td width="243" class="brtop">&nbsp;</td>
              <td width="12"><img src="/images/blue-right.gif" alt="" width="12" height="12" /></td>
            </tr>
            <tr>
              <td class="brleft"><img src="/images/blue-m-left.gif" alt="" width="12" height="97" /></td>
              <td class="brmiddle">
<b>Report This Profile</b>
<%=form_tag({:controller => 'rents101', :action=>'ad_report'}, :multipart => true)%>
<table><tr><td>
<%=select("adcomplaint","complaint_id", Complaint.find(:all, :order => "name ASC").collect { |s1| [s1.name, s1.id]} )%>
</td></tr></table>
<%= hidden_field "adcomplaint", "ad_id", :value => @ad.id%>
<%= submit_tag "Go!" %>
</form>

</td>
              <td class="brright"><img src="/images/blue-m-right.gif" alt="" width="12" height="97" /></td>
            </tr>
            <tr>
              <td><img src="/images/blue-b-left.gif" alt="" width="12" height="12" /></td>
              <td class="brbottom">&nbsp;</td>
              <td><img src="/images/blue-b-right.gif" alt="" width="12" height="12" /></td>
            </tr>
          </table>
<br/>
<% end %>



<% if session[:member] %>
<% else %>
          <table width="267" border="0" cellspacing="0" cellpadding="0">
            <tr>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
            </tr>
            <tr>
              <td width="12"><img src="/images/blue-left.gif" alt="" width="12" height="12" /></td>
              <td width="243" class="brtop">&nbsp;</td>
              <td width="12"><img src="/images/blue-right.gif" alt="" width="12" height="12" /></td>
            </tr>
            <tr>
              <td class="brleft"><img src="/images/blue-m-left.gif" alt="" width="12" height="97" /></td>
              <td class="brmiddle"><a href="/register"><span class="bluehead">Register For <b> Free!</b></span></a>
                  <ul id="bluelist">
                  	<li>Exclusive Site For <%=Sitestuff::MYSINGLEKEY %> Only</li>
                    <li>Protection against Spam </li>
					<li>Free Trial for 7 Days!</li>
					<li>Google Like Search</li>
					<li>Automatic Profile Search Agent</li>
					<li>Get matching profile by Email</li>
                    <li>Excellent Customer Support</li>
                    <li>Safe and Secure Site</li>
                  
                  </ul></td>
              <td class="brright"><img src="/images/blue-m-right.gif" alt="" width="12" height="97" /></td>
            </tr>
            <tr>
              <td><img src="/images/blue-b-left.gif" alt="" width="12" height="12" /></td>
              <td class="brbottom">&nbsp;</td>
              <td><img src="/images/blue-b-right.gif" alt="" width="12" height="12" /></td>
            </tr>
          </table>
<% end %>


          <table width="267" border="0" cellspacing="0" cellpadding="0">
            <tr>
              <td width="12">&nbsp;</td>
              </tr>
            <tr>
              <td class="redbar"><div class="redbardiv">Resources</div></td>
            </tr>
            <tr>
              <td>&nbsp;</td>
            </tr>
            <tr>
              <td>
			  <ul id="redbarlist">
			  <li><a href="/resources" TARGET='_blank' > <%=Sitestuff::MYSINGLEKEY %> Resources</a><br /><img src="/images/spacer.gif" alt="" width="220" height="1" vspace="7" /></li>
			  	<li><a href="http://twitter.com/<%=Sitestuff::MYTWITTER%>" TARGET='_blank' >Follow Us On Twitter</a><img src="/images/tmp/twi.jpg" alt='follow us on twitter' /><br /><img src="/images/spacer.gif" alt="" width="220" height="1" vspace="7" /></li>
			  <li><a href="http://www.bharathforums.com">Where to find astrological predictions?</a><br /><img src="/images/spacer.gif" alt="" width="220" height="1" vspace="7" /></li>
			  <li><a href="http://www.templetrips.com">How to speed up marriage process?</a><br /><img src="/images/spacer.gif" alt="" width="220" height="1" vspace="7" /></li>
			  <li><a href="http://www.templetrips.com">What are pariharams</a><br /><img src="/images/spacer.gif" alt="" width="220" height="1" vspace="7" /></li>
			  </ul>			  </td>
            </tr>
          </table>
          <table width="267" border="0" cellspacing="0" cellpadding="0">

            <tr>
              <td class="bluebar"><div class="redbardiv">Tips</div></td>
            </tr>
            <tr>
              <td>&nbsp;</td>
            </tr>
            <tr>
              <td><ul id="bluebarlist">
                  <li>Put an accurate profile about yourself<br /><img src="/images/line.gif" alt="" width="220" height="1" vspace="7" /></li>
				  <li>Put complete description about you<br /><img src="/images/line.gif" alt="" width="220" height="1" vspace="7" /></li>
				  <li>Be candid with what you expect from your partner<br /><img src="/images/line.gif" alt="" width="220" height="1" vspace="7" /></li>
				  <li>Photographs and Horoscopes are recommended<br /><img src="/images/line.gif" alt="" width="220" height="1" vspace="7" /></li>
				  </ul></td>
            </tr>
          </table>

<% if controller.action_name == 'home' %>


        
<% end %>
