                            <% @link = url_for(:action => 'adshow', :id => @myad.id, :boygirl => @myad.adtype.url, :brahmintype => @myad.brahmintype, :addescr => @myad.myurl) %>

<% @myage = Date.today.year - @myad.year.name %>
 <tr>     
                       	 <td align="left" valign="top" bgcolor="#FFFFFF"><font class="loginlh"><a href="<%=@link%>" class="searchlink"><%=@myad.title[0..59]%></a>
<br />
<b>Profile ID : <%=@myad.member_id.to_s%></b><br/>
<b>Age <%=@myage.to_s%> - <%=@myad.propertytype.propertytypename%>, <%=@myad.adcity.adcityname%> - <%=@myad.member.sex.name%></b><br/>   
<% if @myad.gothra_id != 5 %> Gothra: <%= @myad.gothra.name%>,<% end %>Star: <%=@myad.birthstar.name%>, <%=@myad.jobtitle.name%>
<% if @myad.intercaste_id != 1 %>, <%=@myad.intercaste.name%>     <% end %>                       
                               
                                <%=h @myad.description[0..80]%>...
<br/>...........Features..............<br/>

	

<% if @myad.verifiedprofile == 1 %>
	<img src="/images/icons/verified16.jpg"  alt="Phone Number and Profile Name Verified by us" title="Phone Number and Profile Name Verified by us"/>
	<% end %>
	
	
<% if @myad.sai == 1 %>
	<img src="/images/icons/sai_big.jpg" width="24" height="20" alt="Devotee of Sathya Sai" title="Devotee of Sathya Sai"/>
	<% end %>
	

<% if @myad.shirdi == 1 %>
	<img src="/images/icons/shirdi.jpg" width="24" height="24" alt="Devotee of Shirdi Sai Baba" title="Devotee of Shirdi Sai Baba"/>
	<% end %>
	
	
	

<% if @myad.vegeterian == 1 %>
	<img src="/images/icons/veg16.jpg"  alt="Vegetarian" title="Vegetarian"/>
	<% end %>
	
	
	

<% if @myad.teetotaler == 1 %>
	<img src="/images/icons/dontdrink16.jpg"  alt="teetotaler" title="teetotaler"/>
	<% end %>
	
	
	

<% if @myad.dontsmoke == 1 %>
	<img src="/images/icons/dontsmoke16.jpg"  alt="Non Smoker" title="Non Smoker"/>
	<% end %>
	
	
	
<br/>                                 

<%  if @myad.status == 0 %>
<h1>Pending Ad </h1>
<% end %>
 
 <a href="/browse/<%=@myad.adtype.adtypename%>/<%=@myad.propertytype.propertytypename%>/<%=@myad.adcity.adcityname%>/all" class="jlink">View similar profiles</a></font></td>
                       	
                       	
                              <td align="left" valign="top" bgcolor="#FFFFFF"><font class="loginlh">
                              	Degrees : <%=@myad.degrees[0..30]%> <br/>Major : <%=@myad.educationmajor.name%><br/>
                              	<%=@myad.occupation%> <br/>Salary:  <%=@myad.salaryrange.name%><br/>
                              	Currently In <%=@myad.mycity1%>, <%=@myad.mycountry.name%> <img src="/images/flags/<%=@myad.mycountry.iso2.downcase%>.gif" alt="<%=@myad.mycountry.iso2.downcase%>" title="<%=@myad.mycountry.iso2.downcase%>"/><br/>
                              	
                              </font>

</td>

 <td align="left" valign="top" bgcolor="#FFFFFF"><%= render :partial => 'singlephoto' %>

</td>
						</tr>