<% if controller.action_name == 'adshow' %>
	
<% @alttext = @ad.title + ' ' + @ad.propertytype.propertytypename +  ' ' + @ad.adcity.adcityname +  ' ' +@ad.adtype.url %>
<% else %>
<% @alttext = Sitestuff::MYSINGLEKEY  +  " Only Matrimony - Marriage and matrimony" %>
<% end %>
<div id="topnav"><a href="/"><img src="/images/logo1.gif" alt="<%=@alttext%>" title="<%=@alttext%>"  style="float: left;" /></a><div id="log">
	<% if session[:member]%>
	<%@mym = Member.find(session[:member])%>
	Welcome <%=@mym.fname%>!
	&nbsp;&nbsp;<a href="/logout">LogOut</a>
	<% else %>
	<%=form_tag({:controller => 'userfunctions', :action=>'signin'}, :multipart => true)%>
	 <input name="userid" type="text" value="Profile ID/email" size="14" onFocus="doClear(this)" />&nbsp;&nbsp; <input name="passwd" type="password" value="password" onFocus="doClear(this)" size="14" />&nbsp;&nbsp;<input type="submit" name="login" value="Log-in"  class="logbtn" /></form>
	<% end %>
	
	
	
</div></div><!-- / end top nav -->

<!-- navigation -->
<div id="navigation">
<ul id="nav">
	<li style="border-right: 2px solid #fff;"><a href="/">Home</a></li>
	<li style="border-right: 2px solid #fff;"><a href="/editmyprofile"><% if session[:member]%>Edit Profile<% else %>Add Profile<% end %></a></li>
	<% if Sitestuff::MYDOMAIN == 'HindusOnlyMatrimony.com'%>
	<li style="border-right: 2px solid #fff;"><a href="/agebrowse/all/all/all/all">Browse Profiles</a></li>
	<% else %>
	<li style="border-right: 2px solid #fff;"><a href="/agebrowse/all/all/all">Browse Profiles</a></li>
	<% end %>
	<li style="border-right: 2px solid #fff;"><a href="/mysearch">Search</a></li>
	<li style="border-right: 2px solid #fff;"><a href="/marketbrowse/all/all/all/all">Market Place</a></li>
	<% if session[:member]%>
	<li style="border-right: 2px solid #fff;"><a href="/controlpanel">My Account</a></li>
	<% else %>
	<li style="border-right: 2px solid #fff;"><a href="/register">Register for Free</a></li>

	<% end %>
       <li><script>function fbs_click() {u=location.href;t=document.title;window.open('http://www.facebook.com/sharer.php?u='+encodeURIComponent(u)+'&t='+encodeURIComponent(t),'sharer','toolbar=0,status=0,width=626,height=436');return false;}</script><style> html .fb_share_link { padding:2px 0 0 20px; height:16px; background:url(http://static.ak.facebook.com/images/share/facebook_share_icon.gif?12:26981) no-repeat top left; }</style><a href="http://www.facebook.com/share.php?u=<url>" onclick="return fbs_click()" target="_blank" class="fb_share_link">Add </a></li>
    
</ul>
</div>
<!-- / end navigation -->
