      <table width="617" border="0" cellspacing="0" cellpadding="0">

        <tr>
          <td>&nbsp;</td>
        </tr>
        
        <tr>
          <td valign="top"><table width="607" border="0" cellspacing="0" cellpadding="0">
            <tr>
              <td width="11"><img src="/images/left-left.gif" alt="" width="11" height="12" /></td>
              <td width="585" class="ltop">&nbsp;</td>
              <td width="11"><img src="/images/left-right.gif" alt="" width="11" height="12" /></td>

            </tr>
            <tr>
              <td class="lleft"><img src="/images/left-m-left.gif" alt="" width="11" height="146" /></td>
              <td class="lmiddle"><img src="/images/bullet.gif" alt="" width="19" height="18" />
                  <h1 class="lheading">Private Photos of Profile ID <%=@myad.member_id.to_s%></h1>
                <br />
                <br />
               <div class="lmargin">

			   <table width="100%" border="0" cellspacing="0" cellpadding="0">
                  
                  <tr>
                    <td width="12"><img src="/images/blue-left.gif" alt="" width="12" height="12" /></td>
                    <td class="brtop">&nbsp;</td>
                    <td width="12"><img src="/images/blue-right.gif" alt="" width="12" height="12" /></td>
                  </tr>
                  <tr>
                    <td class="brleft"><img src="/images/blue-m-left.gif" alt="" width="12" height="97" /></td>
                   
                        
              <td class="brmiddle"> <div class="loginlh">
 <p align="left">
 	<table border="0">
 		<tr>
 			<td>
 				
	<% if @myad.pimage1 %>
	
	
	
<a href="<%= image_path(url_for_file_column("myad", "pimage1", "medium")) %>" rel="lightbox['+@myad.id.to_s+']" title="<%=h(@myad.title) %>">    <%= image_tag url_for_file_column("myad", "pimage1", "thumb") %> </a>


<% end %>

 			</td>
 			<td>
 				<% if @myad.pimage2 %>
	
	
	
<a href="<%= image_path(url_for_file_column("myad", "pimage2", "medium")) %>" rel="lightbox['+@myad.id.to_s+']" title="<%=h(@myad.title) %>">    <%= image_tag url_for_file_column("myad", "pimage2", "thumb") %> </a>


<% end %>
 			</td>
 			<td>
 				<% if @myad.pimage3 %>
	
	
	
<a href="<%= image_path(url_for_file_column("myad", "pimage3", "medium")) %>" rel="lightbox['+@myad.id.to_s+']" title="<%=h(@myad.title) %>">    <%= image_tag url_for_file_column("myad", "pimage3", "thumb") %> </a>


<% end %>
 			</td>
 		</td>
				        </tr></table>
				        <br/>
				        
 	
 	
 
		
 
              </div>

</td>
                    <td valign="middle" class="brright"><img src="/images/blue-m-right.gif" alt="" width="12" height="97" /></td>
                  </tr>
                  <tr>
                    <td><img src="/images/blue-b-left.gif" alt="" width="12" height="12" /></td>
                    <td class="brbottom">&nbsp;</td>
                    <td><img src="/images/blue-b-right.gif" alt="" width="12" height="12" /></td>
                  </tr>
                </table>			   
               </div></td>
              <td class="lright"><img src="/images/left-m-right.gif" alt="" width="11" height="146" /></td>

            </tr>
            <tr>
              <td><img src="/images/left-b-left.gif" alt="" width="11" height="12" /></td>
              <td class="lbottom">&nbsp;</td>
              <td><img src="/images/left-b-right.gif" alt="" width="11" height="12" /></td>
            </tr>
          </table> 
</td>
        </tr>
      </table></td>


 
 


