      <table width="617" border="0" cellspacing="0" cellpadding="0">

        <tr>
          <td>&nbsp;</td>
        </tr>
        
        <tr>

          <td valign="top">
          	
          	
          	<table width="607" border="0" cellspacing="0" cellpadding="0">
            <tr>
              <td width="11"><img src="/images/left-left.gif" alt="" width="11" height="12" /></td>
              <td width="585" class="ltop">&nbsp;</td>
              <td width="11"><img src="/images/left-right.gif" alt="" width="11" height="12" /></td>

            </tr>
            <tr>
              <td class="lleft"><img src="/images/left-m-left.gif" alt="" width="11" height="146" /></td>

              <td class="lmiddle"><img src="/images/bullet.gif" alt="" width="19" height="18" />
                  <h1 class="lheading">Browse By Brahmin Type, Job and Gender</h1><br/>
<%= link_to 'All('+Ad.count.to_s+')', {:action => 'adbrowse', :adtype => 'all', :propertytype => 'all', :adcity => 'all'} %>  
 
                <br />
                <br />
               <div class="lmargin">

			   <table width="100%" border="0" cellspacing="0" cellpadding="0">
                  
                  <tr>

                    <td width="12"><img src="/images/blue-left.gif" alt="" width="12" height="12" /></td>
                    <td class="brtop">&nbsp;</td>
                    <td width="12"><img src="/images/blue-right.gif" alt="" width="12" height="12" /></td>
                  </tr>
                  <tr>
                    <td class="brleft"><img src="/images/blue-m-left.gif" alt="" width="12" height="97" /></td>
                    <td class="brmiddle"><table width="100%" border="0" align="center" cellpadding="4" cellspacing="1">
<tr><td><b>Boy/Girl</b><td><b>Brahmin Type</b>

</td><td><b>Job Type</b></tr>

<tr>
<td bgcolor="#FFFFFF"><font class="loginlh">
	<% for @myadtype in  @myadtypecounts %> | 
<% @link = url_for(:action => 'adbrowse', :adtype => @myadtype.adtypename, 
:propertytype => session[:propertytype] ? session[:propertytype] : 'all', 
:adcity => session[:adcity] ? session[:adcity] : 'all' ) %>
<a href="<%=@link%>"><%=@myadtype.adtypename + "(" + @myadtype.adtypecount.to_s + ")" %></a>
<%end %>


xx <%=@myadtypecounts%>yy
Helo Hello
<% for @myadtype in  @myadtypecounts %> 
xxzz 
<% @link = url_for(:action => 'adbrowse', :adtype => @myadtype.adtypename, 
:propertytype => session[:propertytype] ? session[:propertytype] : 'all', 
:adcity => session[:adcity] ? session[:adcity] : 'all' ) %>
<a href="<%=@link%>" class="searchlink"><%=@myadtype.adtypename + "(" + @myadtype.adtypecount.to_s + ")" %></a>
<br/>
<%end %>



<br/>

 
</font>
</td>
<td bgcolor="#FFFFFF"><font class="loginlh">
  
<% for @myadproperty in  @myadpropertycounts %> 
<% @link = url_for(:action => 'adbrowse', :adtype => session[:adtype] ? session[:adtype] : 'all', 
:propertytype => @myadproperty.propertytypename, 
:adcity => session[:adcity] ? session[:adcity] : 'all'  ) %>
<a href="<%=@link%>" class="searchlink"><%=@myadproperty.propertytypename + "(" + @myadproperty.propertytypecount.to_s + ")" %></a> 
<br/>
<% end %>

<br/>

</font>
</td>

<td bgcolor="#FFFFFF"><font class="loginlh">
  
<% for @myadcity in  @myadcitycounts %>  
<% @link = url_for(:action => 'adbrowse', :adtype => session[:adtype] ? session[:adtype] : 'all', 
:propertytype => session[:propertytype] ? session[:propertytype] : 'all', 
:adcity => @myadcity.adcityname ) %>
<a href="<%=@link%>" class="searchlink"><%=@myadcity.adcityname + "(" + @myadcity.adcitycount.to_s+")"%></a>
<br/><%end %>


</font>
</td>

</tr>


                        
                        
                  
                    </table>

</td>
                    <td class="brright"><img src="/images/blue-m-right.gif" alt="" width="12" height="97" /></td>

                  </tr>
                  <tr>
                    <td><img src="/images/blue-b-left.gif" alt="" width="12" height="12" /></td>
                    <td class="brbottom">&nbsp;</td>
                    <td><img src="/images/blue-b-right.gif" alt="" width="12" height="12" /></td>
                  </tr>
                </table>

			   
               </div></td>
              <td class="lright"><img src="/images/left-m-right.gif" alt="" width="11" height="146" /></td>

            </tr>
            <tr>
              <td><img src="/images/left-b-left.gif" alt="" width="11" height="12" /></td>
              <td class="lbottom">&nbsp;</td>
              <td><img src="/images/left-b-right.gif" alt="" width="11" height="12" /></td>
            </tr>

          </table> 
</td>
        </tr>
      </table>

