<%= start_form_tag :action => 'searchurl' %>
<table border="0" width="38%" id="table1">
<tr>
<td width="96"><p align="right"><font face="Verdana" color="#FFFFFF"><b>Search</b></font></td>
<td><input type="text" name="typed_search" size="18"></td><td>
  <%= submit_tag "Go" %></td></tr>
<%= end_form_tag %>
</table>