<h1>Editing tellafriend</h1>

<%= start_form_tag :action => 'update', :id => @tellafriend %>
  <%= render :partial => 'form' %>
<p><label for="tellafriend_created_on">Created on</label><br/>
<%= datetime_select 'tellafriend', 'created_on'  %></p>

<p><label for="tellafriend_url">Url</label><br/>
<%= text_field 'tellafriend', 'url'  %></p>

  <%= submit_tag 'Edit' %>
<%= end_form_tag %>

<%= link_to 'Show', :action => 'show', :id => @tellafriend %> |
<%= link_to 'Back', :action => 'list' %>
