<h1>Listing tellafriends</h1>

<table>
  <tr>
  <% for column in Tellafriend.content_columns %>
    <th><%= column.human_name %></th>
  <% end %>
  </tr>
  
<% for tellafriend in @tellafriends %>
  <tr>
  <% for column in Tellafriend.content_columns %>
    <td><%=h tellafriend.send(column.name) %></td>
  <% end %>
    <td><%= link_to 'Show', :action => 'show', :id => tellafriend %></td>
    <td><%= link_to 'Edit', :action => 'edit', :id => tellafriend %></td>
    <td><%= link_to 'Destroy', { :action => 'destroy', :id => tellafriend }, :confirm => 'Are you sure?' %></td>
  </tr>
<% end %>
</table>

<%= link_to 'Previous page', { :page => @tellafriend_pages.current.previous } if @tellafriend_pages.current.previous %>
<%= link_to 'Next page', { :page => @tellafriend_pages.current.next } if @tellafriend_pages.current.next %> 

<br />

<%= link_to 'New tellafriend', :action => 'new' %>
