<h2 class="lheading"><img src="/images/new_mail_48.gif"/>Tell A Friend</h2>
      

			   <table width="100%" border="1" bordercolor="#CFE4FA"  cellspacing="0" cellpadding="4">
                  
                 
<tr><td>
<%=form_tag({:controller => 'tellfriend', :action=>'create'}, :multipart => true)%>
<% if @mytellfriendmsg %>
<%= '<p>'+ @mytellfriendmsg + '</p>' %>
<% end %><td></tr>
<td>Enter Your Email ID:- </td><td>
	<% if @myuser %>
<input type="text" name="sender" size="50" value="<%=@myuser.email%>">
<%else %>
<input type="text" name="sender" size="50">
<% end %>
</td></tr>
<tr><td>
Enter Your Friend's Email ID:-</td><td>
<input type="text" name="receiver" size="50">
</td></tr>
<tr><td>Enter Your Message:-</td><td>
<input type="text" name="msg" size="50">
</td></tr>

<tr><td>
	<%= show_simple_captcha %>
</td><td><b>Note: This is not case sensitive. </b></td></tr>

<tr><td>
  <%= submit_tag "Send to your friend" %></td></tr>
</form>
<tr><td>Your IP Address is:- </td><td><%=request.remote_ip%>
</td></tr>



</td></tr>

                        
                        
                  
                    </table>
