<% for column in Tellafriend.content_columns %>
<p>
  <b><%= column.human_name %>:</b> <%=h @tellafriend.send(column.name) %>
</p>
<% end %>

<%= link_to 'Edit', :action => 'edit', :id => @tellafriend %> |
<%= link_to 'Back', :action => 'list' %>
