 <h1>Find Users using email,name,phone etc </h1>
  <form action="/superuser/viewusers" enctype="multipart/form-data" method="post"> 
             
       
        <input name="typed_search" type="text" class="searchinput" size="22"/></form> 
        <hr>
        
        <a href="/superuser/storynew">New Success Story</a>
        <br/>
        <a href="/superuser/showcomments">Show Comments</a>