<h1>Listing reportads</h1>

<table>
  <tr>
  <% for column in Reportad.content_columns %>
    <th><%= column.human_name %></th>
  <% end %>
  </tr>
  
<% for reportad in @reportads %>
  <tr>
  <% for column in Reportad.content_columns %>
    <td><%=h reportad.send(column.name) %></td>
  <% end %>
    <td><%= link_to 'Show', :action => 'show', :id => reportad %></td>
    <td><%= link_to 'Edit', :action => 'edit', :id => reportad %></td>
    <td><%= link_to 'Destroy', { :action => 'destroy', :id => reportad }, :confirm => 'Are you sure?', :post => true %></td>
  </tr>
<% end %>
</table>

<%= link_to 'Previous page', { :page => @reportad_pages.current.previous } if @reportad_pages.current.previous %>
<%= link_to 'Next page', { :page => @reportad_pages.current.next } if @reportad_pages.current.next %> 

<br />

<%= link_to 'New reportad', :action => 'new' %>
