<% cache(:action => 'faq', :part => 'hourpayinfo') do %>                      
     
                  <h2 class="dot">Rate Card</h2><br/>
                  
                  
  <table  width="100%" cellspacing="5" cellpadding="10" bordercolor="#3C74E6"> 
<tr> 
          <td bgcolor="#fcf83f"><b>Features</b></td> 
          <td bgcolor="#fcf83f"><b>Free</b></td> 
          <td bgcolor="#fcf83f"><b>3 Months</b></td> 
          <td bgcolor="#fcf83f"><b>6 Months</b></td> 
          <td bgcolor="#fcf83f"><b>1 Year</b></td> 
          
        </tr> 

<tr> 
          <td>Validity Period</td> 
           <td>7 Days</td> 
            <td>3 Months</td> 
             <td>6 Months</td> 
              <td>1 Year</td> 
              
               
        </tr>             


<tr> 
          <td>Express Interest</td> 
           <td><image src="/images/icons/okpic.jpg"/></td> 
            <td><image src="/images/icons/okpic.jpg"/></td> 
             <td><image src="/images/icons/okpic.jpg"/></td> 
              <td><image src="/images/icons/okpic.jpg"/></td> 
              
               
        </tr>    
        
        

<tr> 
          <td>View Contact Details</td> 
           <td>/td> 
            <td><image src="/images/icons/okpic.jpg"/></td> 
             <td><image src="/images/icons/okpic.jpg"/></td> 
              <td><image src="/images/icons/okpic.jpg"/></td> 
              
               
        </tr>            
                

<tr> 
          <td>Send and Receive Private Messages</td> 
           <td>/td> 
            <td><image src="/images/icons/okpic.jpg"/></td> 
             <td><image src="/images/icons/okpic.jpg"/></td> 
              <td><image src="/images/icons/okpic.jpg"/></td> 
              
               
        </tr>               
        
<tr> 
          <td>Priority Cstomer Support</td> 
           <td>/td> 
            <td></td> 
             <td></td> 
              <td><image src="/images/icons/okpic.jpg"/></td> 
              
               
        </tr>               
        
</table>                        
                  
                  
                  
                  
                  
                  
<% end %>                  