      <table width="617" border="0" cellspacing="0" cellpadding="0">

        <tr>
          <td>&nbsp;</td>
        </tr>
        
        <tr>
          <td valign="top"><table width="607" border="0" cellspacing="0" cellpadding="0">
            <tr>
              <td width="11"><img src="/images/left-left.gif" alt="" width="11" height="12" /></td>
              <td width="585" class="ltop">&nbsp;</td>
              <td width="11"><img src="/images/left-right.gif" alt="" width="11" height="12" /></td>

            </tr>
            <tr>
              <td class="lleft"><img src="/images/left-m-left.gif" alt="" width="11" height="146" /></td>
              <td class="lmiddle"><img src="/images/bullet.gif" alt="" width="19" height="18" />
                  <h1 class="lheading">Edit Job Seeker Profile</h1>
                <br />
                <br />
               <div class="lmargin">

			   <table width="100%" border="0" cellspacing="0" cellpadding="0">
                  
                  <tr>
                    <td width="12"><img src="/images/blue-left.gif" alt="" width="12" height="12" /></td>
                    <td class="brtop">&nbsp;</td>
                    <td width="12"><img src="/images/blue-right.gif" alt="" width="12" height="12" /></td>
                  </tr>
                  <tr>
                    <td class="brleft"><img src="/images/blue-m-left.gif" alt="" width="12" height="97" /></td>
                    <td class="brmiddle"><table width="100%" border="0" align="center" cellpadding="4" cellspacing="1">
<tr><td><%= error_messages_for 'profile' %></td></tr>
                      
                                            <tr>
                        <td height="25"><font class="redtext"></font> Address1 :-</td>
                        <td height="25"><%= text_field 'profile', 'address1'  %></td>
                        </tr>
  
                                            <tr>
                        <td height="25"><font class="redtext"></font> Address2 :- </td>
                        <td height="25"><%= text_field 'profile', 'address2'  %></td>
                        </tr>          
                        
                                             <tr>
                        <td height="25"><font class="redtext"></font> Location (Country, State and City) :- </td>
                        <td height="25">

		<select name="profile[jbcountry_id]" ID="countryDDL" onchange="javascript:countryChanged();"></select>&nbsp;<br/>
		<select name="profile[jbstate_id]" ID="stateDDL" onchange="javascript:stateChanged();"></select>&nbsp;<br/>
		<select name="profile[adcity_id]" ID="cityDDL"  onchange="javascript:cityChanged();"></select>&nbsp;<br/>




</td>
                        </tr>

                        
                        <tr>
                        <td height="25"><font class="redtext"></font> Zipcode :- </td>
                        <td height="25"><%= text_field 'profile', 'zip'  %></td>
                        </tr>
                        
                            <tr>
                        <td height="25"><font class="redtext"></font> Current/Last Employer :- </td>
                        <td height="25"><%= text_field 'profile', 'recent_company'  %></td>
                        </tr>       
                        
                                                <tr>
                        <td height="25"><font class="redtext"></font> Job Title :- </td>
                        <td height="25"><%= text_field 'profile', 'recent_job_title'  %></td>
                        </tr>          
                        
                                                                    <tr>
                        <td height="25"><font class="redtext"></font> School :- </td>
                        <td height="25"><%= text_field 'profile', 'school'  %></td>
                        </tr>   
                        
                                                                    <tr>
                        <td height="25"><font class="redtext"></font> Highest Degree :- </td>
                        <td height="25"><%=select("profile","educationtype_id", Educationtype.find(:all, :order => "name ASC").collect { |s1| [s1.name, s1.id]} )%></td>
                        </tr>   
                        
                            <tr>
                        <td height="25"><font class="redtext"></font> Major :- </td>
                        <td height="25"><%=select("profile","major_id", Major.find(:all, :order => "name ASC").collect { |s1| [s1.name, s1.id]} )%></td>
                        </tr>   
                        
                                                   <tr>
                        <td height="25"><font class="redtext"></font> Job Category :- </td>
                        <td height="25"><%=select("profile","propertytype_id", Propertytype.find(:all, :order => "propertytypename ASC").collect { |s1| [s1.propertytypename, s1.id]} )%></td>
                        </tr>   
                        
   
                                                      <tr>
                        <td height="25"><font class="redtext"></font> Experience Level :- </td>
                        <td height="25"><%=select("profile","experiencelevel_id", Experiencelevel.find(:all, :order => "name ASC").collect { |s1| [s1.name, s1.id]} )%></td>
                        </tr>   
                        
                                                      <tr>
                        <td height="25"><font class="redtext"></font> Willing to Relocate :- </td>
                        <td height="25"><%=select("profile","relocation_id", Relocation.find(:all, :order => "name ASC").collect { |s1| [s1.name, s1.id]} )%></td>
                        </tr>   
                        
                                 <tr>
                        <td height="25"><font class="redtext"></font> Preferred Job Type :- </td>
                        <td height="25"><%=select("profile","positiontype_id", Positiontype.find(:all, :order => "name ASC").collect { |s1| [s1.name, s1.id]} )%></td>
                        </tr>   
   
                             <tr>
                        <td height="25"><font class="redtext"></font> Do you have Any Security Clearance :- </td>
                        <td height="25"><%=select("profile","securityclearance_id", Securityclearance.find(:all, :order => "name ASC").collect { |s1| [s1.name, s1.id]} )%></td>
                        </tr>  
                        
                         
                             <tr>
                        <td height="25"><font class="redtext"></font> Clerance Level:- </td>
                        <td height="25"><%= text_field 'profile', 'clearance_level'  %></td>
                        </tr>  

                             <tr>
                        <td height="25"><font class="redtext"></font> Polygraph Level:- </td>
                        <td height="25"><%= text_field 'profile', 'polygraph_level'  %></td>
                        </tr>  

                        
                             <tr>
                        <td height="25"><font class="redtext"></font> Amount of Travel You can Accept :- </td>
                        <td height="25"><%=select("profile","travel_id", Travel.find(:all, :order => "name ASC").collect { |s1| [s1.name, s1.id]} )%></td>
                        </tr>  
                                                 <tr>
                        <td height="25"><font class="redtext"></font> Expected Salary :- </td>
                        <td height="25"><%= text_field 'profile', 'min_salary', "size"=>5  %><%=select("profile","salarytype_id", Salarytype.find(:all, :order => "name ASC").collect { |s1| [s1.name, s1.id]} )%></td>
                        </tr>   
                        
    <tr>
                        <td height="25"><font class="redtext"></font> Do Not Submit My Resume to the Following Companies/Recruiters :- </td>
                        <td height="25"><%=  text_area 'profile', 'donotsubmit',"size" => '36x10'  %></td>
                        </tr>   

                        
                                                                 <tr>
                        <td height="25">&nbsp;</td>
                        <td width="63%" height="25">  <%= submit_tag 'Submit' %></td>
                        </tr>
                      
                    </table></td>
                    <td class="brright"><img src="/images/blue-m-right.gif" alt="" width="12" height="97" /></td>

                  </tr>
                  <tr>
                    <td><img src="/images/blue-b-left.gif" alt="" width="12" height="12" /></td>
                    <td class="brbottom">&nbsp;</td>
                    <td><img src="/images/blue-b-right.gif" alt="" width="12" height="12" /></td>
                  </tr>
                </table>
			   
               </div></td>
              <td class="lright"><img src="/images/left-m-right.gif" alt="" width="11" height="146" /></td>

            </tr>
            <tr>
              <td><img src="/images/left-b-left.gif" alt="" width="11" height="12" /></td>
              <td class="lbottom">&nbsp;</td>
              <td><img src="/images/left-b-right.gif" alt="" width="11" height="12" /></td>
            </tr>
          </table> 
</td>
        </tr>
      </table></td>


 
 


