<%= error_messages_for 'ad' %>
<p><b>Fields with * are Required</b> </p>
<!--[form:ad]-->
<% if controller.action_name != 'adedit'   %>

<p>Wanted/Available<br/><%=
   select("ad","adtype_id", Adtype.find(:all).collect { |s1| [s1.adtypename, s1.id]} )%>
</p>
<p>Type Of Property<br/><%=
   select("ad","propertytype_id", Propertytype.find(:all).collect { |s1| [s1.propertytypename, s1.id]} )%>
</p>

<p>Location<br/><%=
   select("ad","adcity_id", Adcity.find(:all, :order => "adcityname ASC").collect { |s1| [s1.adcityname, s1.id]} )%>
</p>


<p><label for="ad_title"><b>Title*</b></label><br/>
<%= text_field  'ad', 'title'  %></p>
<% end %>


<p><label for="ad_property_price"><b>Rental Price*</b></label><br/>
<%= text_field  'ad', 'property_price'  %>
Per <%=
   select("ad","renttype_id", Renttype.find(:all).collect { |s1| [s1.name, s1.id]} )%>
</p>
    <div id="box3"><p> Problems Posting Ad? Please <a href="mailto:support@brahminsmatrimony.com">contact us</a> or check our <a href="/livehelp.html">LiveHelp</a>!</p>
</div>

<p><label for="ad_property_address"><b>Property Address*</b></label><br/>
<%= text_field  'ad', 'property_address'  %></p>

<p>Nearest MRT <%=
   select("ad","mrtstation_id", Mrtstation.find(:all, :order => "mrtname ASC").collect { |s1| [s1.mrtname, s1.id]} )%>
</p>

<p><label for="ad_bus_stop_name">Nearest Bus Stop Name </label><br/>
<%= text_field  'ad', 'bus_stop_name'  %></p>

<p><label for="ad_bus_routes">Bus Nos In This Route</label><br/>
<%= text_field  'ad', 'bus_routes'  %></p>

<p><label for="ad_neighbourhood">Locality(Nearby Landmark)</label><br/>
<%= text_field  'ad', 'neighbourhood'  %></p>

<p><label for="ad_property_age">How old is the property</label><br/>
<%= text_field  'ad', 'property_age'  %></p>

<p><label for="ad_building_type">Building type </label><br/>
<%= text_field  'ad', 'building_type'  %></p>

<p><label for="ad_tot_rooms">Total No Of Rooms </label><br/>
<%= text_field  'ad', 'tot_rooms'  %></p>

<p><label for="ad_bedrooms">No. Of Bedrooms</label><br/>
<%= text_field  'ad', 'bedrooms'  %></p>

<p><label for="ad_bathrooms">No. Of Bathrooms</label><br/>
<%= text_field  'ad', 'bathrooms'  %></p>

<p><label for="ad_size">Total Area</label><br/>
<%= text_field  'ad', 'size'  %></p>

<p><label for="ad_size2">Living Area</label><br/>
<%= text_field  'ad', 'size2'  %></p>

<p><label for="ad_property_view">View From Property(Like Lakes, Mountain,etc) </label><br/>
<%= text_field  'ad', 'property_view'  %></p>

<p><label for="ad_parking">Type of Parking Available </label><br/>
<%= text_field  'ad', 'parking'  %></p>

<p><label for="ad_cont_phone">Contact Phone No for this Ad </label><br/>
<%= text_field  'ad', 'cont_phone'  %></p>

<p><label for="ad_cooking">Cooking (Gas/Electric)</label><br/>
<%= text_field  'ad', 'cooking'  %></p>

<p><label for="ad_deposit">Deposit Needed</label><br/>
<%= text_field  'ad', 'deposit'  %></p>

<p><label for="ad_when_available">When Available</label><br/>
<%= text_field  'ad', 'when_available'  %></p>

<p><label for="ad_description"><b>Description*</b></label><br/>
<%= text_area  'ad', 'description'  %></p>

<p>Direction<br/><%=
   select("ad","direction_id", Direction.find(:all).collect { |s1| [s1.name, s1.id]} )%>
</p>
<p>
Preferred Race<br>
<%= check_box 'ad', 'chinese'  %><label for="ad_chinese">Chinese</label>
<%= check_box 'ad', 'indian'  %><label for="ad_indian">Indian</label>
<%= check_box 'ad', 'malay'  %><label for="ad_malay">Malay</label>
</p><hr>
<table border="0" width="60%" id="table1">
<tr>
<td><%= check_box 'ad', 'storage'  %><label for="ad_storage">Storage</label></td>
<td><%= check_box 'ad', 'washer_dryer'  %><label for="ad_washer_dryer">Washer/Dryer</label></td>
<tr>
<td><%= check_box 'ad', 'bus_stop'  %><label for="ad_bus_stop">Walkable to Bus Stop</label></td></tr>
<td><%= check_box 'ad', 'train_station'  %><label for="ad_train_station">Walkable to MRT</label></td>
<td><%= check_box 'ad', 'swimming_pool'  %><label for="ad_swimming_pool">Swimming Pool</label></td>
<tr>
<td><%= check_box 'ad', 'excercise'  %><label for="ad_excercise">Excercise Facility</label></td>
<td><%= check_box 'ad', 'tennis'  %><label for="ad_tennis">Tennis Court</label></td></tr>
<td><%= check_box 'ad', 'spa'  %><label for="ad_spa">Sauna/Spa</label></td></tr>
<tr>
<td><%= check_box 'ad', 'garbage'  %><label for="ad_garbage">Garbage Disposer</label></td>
<td><%= check_box 'ad', 'dishwasher'  %><label for="ad_dishwasher">DishWasher</label></td>
<tr>
<td><%= check_box 'ad', 'balcony'  %><label for="ad_balcony">Balcony/Patio</label></td>
<td><%= check_box 'ad', 'cable_tv'  %><label for="ad_cable_tv">Cable TV</label></td>
<td><%= check_box 'ad', 'pets'  %><label for="ad_pets">Pets Allowed</label></td></tr>
<tr>
<td><%= check_box 'ad', 'internet'  %><label for="ad_internet">High Speed Internet</label></td></tr>
<td><%= check_box 'ad', 'shopping'  %><label for="ad_shopping">Near Shopping Complex/Mall/Market</label></td>
</tr>
<tr>
<td><%= check_box 'ad', 'for_men'  %><label for="ad_for_men">Men Only</label></td>
<td><%= check_box 'ad', 'for_women'  %><label for="ad_for_women">Women Only</label></td></tr>
<td><%= check_box 'ad', 'for_couples'  %><label for="ad_for_couples">For Couples Only</label></td>
</tr><tr>
<td><%= check_box 'ad', 'for_students'  %><label for="ad_for_students">For Students Only</label></td>
<td><%= check_box 'ad', 'for_all'  %><label for="ad_for_all">For Everyone</label></td>
<td><%= check_box 'ad', 'food'  %><label for="ad_food">Food Available</label></td></tr>
<tr>
<td><%= check_box 'ad', 'hot_water'  %><label for="ad_hot_water">Hot Water</label></td>
<td><%= check_box 'ad', 'nobrokers'  %><label for="ad_nobrokers">No Agents</label></td>
<td><%= check_box 'ad', 'aircon'  %><label for="ad_aircon">Air Conditioner</label></td>
</tr>
</table><hr>
<h3> You can load up to 3 images for this ad. </h3>
    <%= file_column_field "ad", "image1" %>
    <%= file_column_field "ad", "image2" %>
    <%= file_column_field "ad", "image3" %>



<!--[eoform:ad]-->

