                  <h2 class="dot">Express Interest Log
                  </h2>
                  
              

                        <% @myuser = Member.find(session[:member]) %>
                       
                        
                  
                   
			   <table width="100%"  cellpadding="5" cellspacing="5" style="border: 2px solid #CFE4FA;"> 
<tr><td><h4>Profiles Which I sent Express Interest</h4></td><td><h4>Profiles Which have expressed intersst in me</h4></td></tr>
<tr><td>
<% for @isend in @isends%>
<a href="http://www.brahminsmatrimony.com/myprofile/<%=@isend.toid.to_s%>"><%=@isend.toid.to_s%></a><br/>
<% end %>	
</td>
<td>
<% for @usend in @usends%>
<a href="http://www.brahminsmatrimony.com/myprofile/<%=@usend.fromid.to_s%>"><%=@usend.fromid.to_s%></a><br/>
<% end %>	
</td></tr>		
				</table>
		



