     
                  <h2><img src="/images/icons/jobagent.png"> My Automatic EMail and Saved Searches</h2>
               
			   <table width="100%" border="0" cellspacing="0" cellpadding="0">
                  
               
                  
                    	<tr><td><a href="/mysearch"><img src="/images/icons/newagent.gif"/>Create a New Automatic Email Profile Agent</a><br/></td></tr>
<% for savedsearch in @savedsearches %>

<tr><td>
<%=savedsearch.savedname%>  | <%= savedsearch.created_on.strftime("%d-%m-%Y") %> | 
<%= link_to 'Search', :action => 'savedsearchsearch', :id => savedsearch %> | 
<%= link_to 'Delete', { :action => 'savedsearchdestroy', :id => savedsearch }, :confirm => 'Are you sure?', :post => true %>


</td></tr>
<% end %>

                        
                        
                  
                    </table>










