<h1>Listing mrtstations</h1>

<table>
  <tr>
  <% for column in Mrtstation.content_columns %>
    <th><%= column.human_name %></th>
  <% end %>
  </tr>
  
<% for mrtstation in @mrtstations %>
  <tr>
  <% for column in Mrtstation.content_columns %>
    <td><%=h mrtstation.send(column.name) %></td>
  <% end %>
    <td><%= link_to 'Show', :action => 'show', :id => mrtstation %></td>
    <td><%= link_to 'Edit', :action => 'edit', :id => mrtstation %></td>
    <td><%= link_to 'Destroy', { :action => 'destroy', :id => mrtstation }, :confirm => 'Are you sure?', :method => :post %></td>
  </tr>
<% end %>
</table>

<%= link_to 'Previous page', { :page => @mrtstation_pages.current.previous } if @mrtstation_pages.current.previous %>
<%= link_to 'Next page', { :page => @mrtstation_pages.current.next } if @mrtstation_pages.current.next %> 

<br />

<%= link_to 'New mrtstation', :action => 'new' %>
