<% for column in Mrtstation.content_columns %>
<p>
  <b><%= column.human_name %>:</b> <%=h @mrtstation.send(column.name) %>
</p>
<% end %>

<%= link_to 'Edit', :action => 'edit', :id => @mrtstation %> |
<%= link_to 'Back', :action => 'list' %>
