<%= error_messages_for 'savedsearch' %>

<!--[form:savedsearch]-->
                      <tr>
                        <td width="37%" height="25" align="left"><font class="redtext"></font> Job Category</td>

                        <td height="25" align="left"><%=select("savedsearch","propertytype_id", Propertytype.find(:all, :order => "propertytypename ASC").collect { |s1| [s1.propertytypename, s1.id]} ) %></td>
                        </tr>
                                             <tr>
                        <td width="37%" height="25" align="left"><font class="redtext"></font> City</td>

                        <td height="25" align="left"><%=select("savedsearch","adcity_id", Adcity.find(:all, :order => " adcityname ASC ").collect { |s1| [s1.adcityname+'('+s1.jbstate.statecode+')', s1.id]} )%></td>
                        </tr>
                        

                                             <tr>
                        <td width="37%" height="25" align="left"><font class="redtext"></font> State</td>

                        <td height="25" align="left"><%=select("savedsearch","jbstate_id", Jbstate.find(:all, :order => " name ASC ").collect { |s1| [s1.name, s1.id]} )%></td>
                        </tr>


                                             <tr>
                        <td width="37%" height="25" align="left"><font class="redtext"></font> Country</td>

                        <td height="25" align="left"><%=select("savedsearch","jbcountry_id", Jbcountry.find(:all, :order => " relative_order ASC ").collect { |s1| [s1.name, s1.id]} )%></td>
                        </tr>


                                                                    <tr>
                        <td width="37%" height="25" align="left"><font class="redtext"></font> Key Words</td>

                        <td height="25" align="left"><%= text_field 'savedsearch', 'searchterms'  %></td>
                        </tr>
<% if session[:member] %>
                                                                    <tr>
                        <td width="37%" height="25" align="left"><font class="redtext"></font> Job Agent Name</td>

                        <td height="25" align="left"><%= text_field 'savedsearch', 'savedname'  %></td>
                        </tr>
     <tr>
                        <td width="37%" height="25" align="left"><font class="redtext"></font> Send Alerts by Email</td>

                        <td height="25" align="left"><%= check_box 'savedsearch', 'emailalert'  %></td>
                        </tr>

<% end %>
                        <tr><td>
    <% if controller.action_name == 'home'   %>
                        <%= submit_tag "Search" %>
    <% else %>
                        <%= submit_tag "Save and Search" %>

    <% end %>
                        </td></tr>
                        

