      <%= javascript_include_tag :fckeditor %>

<table width="617" border="0" cellspacing="0" cellpadding="0">

        <tr>
          <td>&nbsp;</td>
        </tr>
<tr><td><%= error_messages_for 'ad' %></td></tr>

        
        <tr>
          <td valign="top"><table width="607" border="0" cellspacing="0" cellpadding="0">
            <tr>
              <td width="11"><img src="/images/left-left.gif" alt="" width="11" height="12" /></td>
              <td width="585" class="ltop">&nbsp;</td>
              <td width="11"><img src="/images/left-right.gif" alt="" width="11" height="12" /></td>

            </tr>
            <tr>
              <td class="lleft"><img src="/images/left-m-left.gif" alt="" width="11" height="146" /></td>
              <td class="lmiddle"><img src="/images/bullet.gif" alt="" width="19" height="18" />
                  <h1 class="lheading">Create or Edit Your Profile ID <%=@myuser.id.to_s%></h1>
                <br />
                <br />
               <div class="lmargin">

			   <table width="100%" border="0" cellspacing="0" cellpadding="0">
                  
                  <tr>
                    <td width="12"><img src="/images/blue-left.gif" alt="" width="12" height="12" /></td>
                    <td class="brtop">&nbsp;</td>
                    <td width="12"><img src="/images/blue-right.gif" alt="" width="12" height="12" /></td>
                  </tr>
                  <tr>
                    <td class="brleft"><img src="/images/blue-m-left.gif" alt="" width="12" height="97" /></td>
                    <td class="brmiddle"><table width="100%" border="0" align="center" cellpadding="4" cellspacing="1">
                    	</tr>
                    	
                    	  <tr>
                        <td height="25"><font class="redtext">*</font> Real Name :- </td>
                        <td height="25"><%= text_field 'ad', 'realname'  %></td>
                    </tr> 
                    	
                    	<tr>
                        <td height="25"><font class="redtext">*</font> Marital Status :- </td>
                        <td height="25"><%= select("ad","maritalstatus_id", Maritalstatus.find(:all, :order => "name").collect { |s1| [s1.name, s1.id]} )%></td>
                        </tr>
                        
                         <tr>
                        <td height="25"><font class="redtext">*</font> Date Of Birth Year, Month and day:- </td>
                        <td height="25"><%= select("ad","year_id", Year.find(:all, :order => "name").collect { |s1| [s1.name, s1.id]} )%> 
                        	<%= select("ad","month_id", Month.find(:all, :order => "name").collect { |s1| [s1.name, s1.id]} )%>
                        	<%= select("ad","day_id", Day.find(:all, :order => "name").collect { |s1| [s1.name, s1.id]} )%>
                        </td>
                        </tr>
                        
                                   <tr>
                        <td height="25"><font class="redtext">*</font> Type Of Brahmin :- </td>
                        <td height="25"><%= select("ad","propertytype_id", Propertytype.find(:all, :order => "propertytypename").collect { |s1| [s1.propertytypename, s1.id]} )%></td>
                        </tr>

 <tr>
                        <td height="25"><font class="redtext">*</font> Origin :- </td>
                        <td height="25"><%= select("ad","poorviham_id", Poorviham.find(:all, :order => "name").collect { |s1| [s1.name, s1.id]} )%></td>
                        </tr>
 
 <tr>
                        <td height="25"><font class="redtext">*</font> Gothra :- </td>
                        <td height="25"><%= select("ad","gothra_id", Gothra.find(:all, :order => "name").collect { |s1| [s1.name, s1.id]} )%></td>
                        </tr>
                        
                        <tr>
                        <td height="25"><font class="redtext">*</font> Subsect :- </td>
                        <td height="25"><%= select("ad","subsect_id", Subsect.find(:all, :order => "name").collect { |s1| [s1.name, s1.id]} )%></td>
                        </tr>
                        
                        <tr>
                        <td height="25"><font class="redtext">*</font> Birth Star :- </td>
                        <td height="25"><%= select("ad","birthstar_id", Birthstar.find(:all, :order => "name").collect { |s1| [s1.name, s1.id]} )%></td>
                        </tr>
<br/>
                             
                               <tr>
                        <td height="25"><font class="redtext">*</font> Degrees :- </td>
                        <td height="25"><%= text_field 'ad', 'degrees'  %></td>
                        </tr> 
                                                  <tr>
                        <td height="25"><font class="redtext">*</font> Education Major :- </td>
                        <td height="25"><%= select("ad","educationmajor_id", Educationmajor.find(:all, :order => "name").collect { |s1| [s1.name, s1.id]} )%></td>
                        </tr>   
                        
                          <tr>
                        <td height="25"><font class="redtext">*</font> Profession :- </td>
                        <td height="25"><%= select("ad","adcity_id", Adcity.find(:all, :order => "adcityname").collect { |s1| [s1.adcityname, s1.id]} )%></td>
                        </tr> 
                        
                               <tr>
                        <td height="25"><font class="redtext">*</font> Current Job Title :- </td>
                        <td height="25"><%= text_field 'ad', 'occupation'  %></td>
                        </tr> 
                        
                                <tr>
                        <td height="25"><font class="redtext">*</font> Salary Range :- </td>
                        <td height="25"><%= select("ad","salaryrange_id", Salaryrange.find(:all, :order => "name").collect { |s1| [s1.name, s1.id]} )%></td>
                        </tr>
                        
                                         
                         <tr>
                        <td height="25"><font class="redtext">*</font> Job Transferable? :- </td>
                        <td height="25"><%= text_field 'ad', 'jobtransfer'  %></td>
                        </tr> 

                        
                        
                               <tr>
                        <td height="25"><font class="redtext">*</font> Currently Residing At City and Country :- </td>
                        <td height="25"><%= text_field 'ad', 'mycity1'  %> <%= select("ad","mycountry_id", Mycountry.find(:all, :order => "name").collect { |s1| [s1.name, s1.id]} )%></td>
                        </tr> 
                              <tr>
                        <td height="25"><font class="redtext">*</font> Visa Status if Outside India :- </td>
                        <td height="25"><%= text_field 'ad', 'visastatus'  %></td>
                        </tr> 
                        
                        
                         <tr>
                        <td height="25"><font class="redtext">*</font> Contact Address :- </td>
                        <td height="25"><%= text_field 'ad', 'homeaddress'  %></td>
                        </tr> 

                   
                         <tr>
                        <td height="25"><font class="redtext">*</font> Zip/Pin Code :- </td>
                        <td height="25"><%= text_field 'ad', 'zip'  %></td>
                        </tr> 
                                                
                         <tr>
                        <td height="25"><font class="redtext">*</font> Visa Status if Outside India :- </td>
                        <td height="25"><%= text_field 'ad', 'visastatus'  %></td>
                    </tr> 
                    
                                           <tr>
                        <td height="25"><font class="redtext">*</font> Profile Title :- </td>
                        <td height="25"><%= text_field 'ad', 'title', "size" => 55  %></td>
                    </tr> 
                    
                </table>
                        
                        <br/>
                         <table width="100%" bordercolor="#ff8080" bgColor=#fdfeeb  border="1" cellspacing="0" cellpadding="0">

        <tr>
          <td bgcolor="#fcf83f"><div class="loginlh"><strong>Enter your Profile Desscription. You can personalize this with all the tools</strong> </div></td>
        </tr>
       </table>
			   <table width="100%" border="0" cellspacing="0" cellpadding="0">
                  
  
                                     
                    
                         <tr>
                        
                        <td >
                        	<%= fckeditor_textarea("ad", "description",:toolbarSet => 'Simple', :width => '500', :height => '500px')%> 

                        	</td>
                        </tr> 
                    </table><br/>
                    <table width="100%" bordercolor="#ff8080" bgColor=#fdfeeb  border="1" cellspacing="0" cellpadding="0">

        <tr>
          <td bgcolor="#fcf83f"><div class="loginlh"><strong>Enter your Personal Data and Choices</strong> </div></td>
        </tr>
       </table>
			   <table width="100%" border="0" cellspacing="0" cellpadding="0">
			   	               
                     <tr>
                        <td height="25"><font class="redtext"></font> Mother Tongue :- </td>
                        <td height="25"><%= select("ad","language_id", Language.find(:all, :order => "name").collect { |s1| [s1.name, s1.id]} )%></td>
                    </tr> 
			   	<tr>
                        <td height="25"><font class="redtext"></font> Height :- </td>
                        <td height="25"><%= select("ad","height_id", Height.find(:all, :order => "name").collect { |s1| [s1.name, s1.id]} )%></td>
                    </tr> 
			   	
			   	<tr>
                        <td height="25"><font class="redtext"></font> Complexion :- </td>
                        <td height="25"><%= select("ad","complexion_id", Complexion.find(:all, :order => "name").collect { |s1| [s1.name, s1.id]} )%></td>
                    </tr> 
                    
                    <tr>
                        <td height="25"><font class="redtext"></font> Body Type :- </td>
                        <td height="25"><%= select("ad","bodytype_id", Bodytype.find(:all, :order => "name").collect { |s1| [s1.name, s1.id]} )%></td>
                    </tr> 
			   	
			   	
			   	       <tr>
                        <td height="25"><font class="redtext"></font> Doshas If Any :- </td>
                        <td height="25">Sevvai Dosha <%= check_box 'ad', 'sevvai'  %> | Mangla Dosha <%= check_box 'ad', 'mangla'  %> | Kuja Dosha <%= check_box 'ad', 'kuja'  %> |</td>
                    </tr> 
                    
                    
			   	                <tr>
                        <td height="25"><font class="redtext"></font> Vegetarian :- </td>
                        <td height="25"><%= check_box 'ad', 'vegeterian'  %></td>
                    </tr> 
			   	
			   	  <tr>
                        <td height="25"><font class="redtext"></font> Teetotaler :- </td>
                        <td height="25"><%= check_box 'ad', 'teetotaler'  %></td>
                    </tr> 
                    
                    		   	
			   	  <tr>
                        <td height="25"><font class="redtext"></font> Sathya Sai Devotee :- </td>
                        <td height="25"><%= check_box 'ad', 'sai'  %><img src="/images/icons/sai_big.jpg"/></td>
                    </tr> 
                    		   	
			   	  <tr>
                        <td height="25"><font class="redtext"></font> Shirdi Sai Baba Devotee :- </td>
                        <td height="25"><%= check_box 'ad', 'shirdi'  %><img src="/images/icons/shirdi.jpg"/></td>
                    </tr> 
                    
                    	   	
			   	  <tr>
                        <td height="25"><font class="redtext"></font> Padam :- </td>
                        <td height="25"><%= text_field 'ad', 'padam'  %></td>
                    </tr> 
                    
                             	   	
			   	  <tr>
                        <td height="25"><font class="redtext"></font> Nadhi :- </td>
                        <td height="25"><%= text_field 'ad', 'nadhi'  %></td>
                    </tr> 
                    
                     <tr>
                        <td height="25"><font class="redtext"></font> Zodiac :- </td>
                        <td height="25"><%= select("ad","zodiac_id", Zodiac.find(:all, :order => "name").collect { |s1| [s1.name, s1.id]} )%></td>
                    </tr> 
			   	
		   	                  </table>
                    
                    
                            <table width="100%" bordercolor="#ff8080" bgColor=#fdfeeb  border="1" cellspacing="0" cellpadding="0">

        <tr>
          <td bgcolor="#fcf83f"><div class="loginlh"><strong>Upload Up to 6 Pictures including horoscopes</strong> </div></td>
        </tr>
       </table>

                        <table width="100%">
                        
                        <tr><td>Picture1 : <%= file_column_field "ad", "image1" %></td><td>        <% if @ad.image1 %>
                                 <%= image_tag url_for_file_column("ad", "image1", "thumb"),{ "class" => "gallery_pic_bdr"} %>
                                 <% end %>
                                 </td></tr>


                        <tr><td>Picture2 : <%= file_column_field "ad", "image2" %>         </td><td> <% if @ad.image2 %>
                                 <%= image_tag url_for_file_column("ad", "image2", "thumb"),{ "class" => "gallery_pic_bdr"} %>
                                 <% end %>
                                 </td></tr>
                        <tr><td> Picture3 : <%= file_column_field "ad", "image3" %>        </td><td> <% if @ad.image3 %>
                                 <%= image_tag url_for_file_column("ad", "image3", "thumb"),{ "class" => "gallery_pic_bdr"} %>
                                 <% end %>
                                 </td></tr>
                        
                         <tr><td>Picture4 : <%= file_column_field "ad", "image4" %>       </td><td> <% if @ad.image4 %>
                                 <%= image_tag url_for_file_column("ad", "image4", "thumb"),{ "class" => "gallery_pic_bdr"} %>
                                 <% end %>
                                 </td></tr>

<tr><td>Picture5 : <%= file_column_field "ad", "image5" %>         </td><td> <% if @ad.image5 %>
                                 <%= image_tag url_for_file_column("ad", "image5", "thumb"),{ "class" => "gallery_pic_bdr"} %>
                                 <% end %>
                                 </td></tr>
                                 
                                 
                                 <tr><td>Picture6 : <%= file_column_field "ad", "image6" %>         </td><td> <% if @ad.image6 %>
                                 <%= image_tag url_for_file_column("ad", "image6", "thumb"),{ "class" => "gallery_pic_bdr"} %>
                                 <% end %>
                                 </td></tr>
                                 
                    </table></br/>
                     <table width="100%" bordercolor="#ff8080" bgColor=#fdfeeb  border="1" cellspacing="0" cellpadding="0">

        <tr>
          <td bgcolor="#fcf83f"><div class="loginlh"><strong>Details of the Ideal Match You Are looking for</strong> </div></td>
        </tr>
       </table>
                    
                      <table width="100%" border="1" cellspacing="0" cellpadding="0">
                      	 <tr>
                        <td height="25"><font class="redtext">*</font> Age Range :- </td>
                        <td height="25"><%= select("ad","agerange1_id", Agerange1.find(:all, :order => "age").collect { |s1| [s1.age, s1.id]} )%>-<%= select("ad","agerange2_id", Agerange2.find(:all, :order => "age").collect { |s1| [s1.age, s1.id]} )%></td>
                    </tr> 
                      		
                     <tr>
                        <td height="25"><font class="redtext">*</font> Job Type :- </td>
                        <td height="25"><%= text_field 'ad', 'lookingjobtype' %></td>
                    </tr> 
                     <tr>
                        <td height="25"><font class="redtext">*</font> Subsect :- </td>
                        <td height="25"><%= text_field 'ad', 'lookingsubsect' %></td>
                    </tr> 
                    
                     <tr>
                        <td height="25"><font class="redtext">*</font> Complexion :- </td>
                        <td height="25"><%= text_field 'ad', 'lookingcomplexion'  %></td>
                    </tr> 
                    
                     <tr>
                        <td height="25"><font class="redtext">*</font> Brahmin Type :- </td>
                        <td height="25"><%= text_field 'ad', 'lookingbrahmintype' %></td>
                    </tr> 
                    
                     <tr>
                        <td height="25"><font class="redtext">*</font> Origin :- </td>
                        <td height="25"><%= text_field 'ad', 'lookingorigin'%></td>
                    </tr> 
     
                    
                     <tr>
                        <td height="25"><font class="redtext">*</font> Height Range :- </td>
                        <td height="25"><%= select("ad","lookingheight_id", Lookingheight.find(:all, :order => "name").collect { |s1| [s1.name, s1.id]} )%></td>
                    </tr> 
                    
                    
                                      <tr>
                        <td height="25"><font class="redtext">*</font> Body Type :- </td>
                        <td height="25"><%= select("ad","lookingbodytype_id", Lookingbodytype.find(:all, :order => "name").collect { |s1| [s1.name, s1.id]} )%></td>
                    </tr> 
                    
                          <tr>
                        <td height="25"><font class="redtext">*</font> Ideal Match Description :- </td>
                        <td height="25"><%= text_area 'ad', 'partnerdescription'%></td>
                    </tr> 
                        
                        
                                                                 <tr>
                        
                        <td >  <%= submit_tag 'Submit' %></td>
                        </tr>
                      
                    </table></td>
                    <td class="brright"><img src="/images/blue-m-right.gif" alt="" width="12" height="97" /></td>

                  </tr>
                  <tr>
                    <td><img src="/images/blue-b-left.gif" alt="" width="12" height="12" /></td>
                    <td class="brbottom">&nbsp;</td>
                    <td><img src="/images/blue-b-right.gif" alt="" width="12" height="12" /></td>
                  </tr>
                </table>
			   
               </div></td>
              <td class="lright"><img src="/images/left-m-right.gif" alt="" width="11" height="146" /></td>

            </tr>
            <tr>
              <td><img src="/images/left-b-left.gif" alt="" width="11" height="12" /></td>
              <td class="lbottom">&nbsp;</td>
              <td><img src="/images/left-b-right.gif" alt="" width="11" height="12" /></td>
            </tr>
          </table> 
</td>
        </tr>
      </table></td>


 
 


