<% if ad.cable_tv == 1 %><img src="/images/adfolder/cabletv16.jpg"  alt="cable" title="Cable TV"/>  <%end%>
<% if ad.bus_stop == 1 %><img src="/images/adfolder/bus16.jpg"  alt="bus" title="Near Bus Stand"/>  <%end%>
<% if ad.for_men == 1 %><img src="/images/adfolder/men16.jpg"  alt="men only" title="Men Only"/>  <%end%>
<% if ad.shopping == 1 %><img src="/images/adfolder/shop16.jpg"  alt="Shopping" title="Near Shopping Mall"/>  <%end%>
<% if ad.food == 1 %> <img src="/images/adfolder/food16.jpg"  alt="food" title="Food Available"/>  <%end%>
<% if ad.security == 1 %><img src="/images/adfolder/security16.jpg" alt="security" title="Security"/>  <%end%>
<% if ad.train_station == 1 %><img src="/images/adfolder/train16.jpg"  alt="near stn" title="Near Train Station"/>  <%end%>
<% if ad.swimming_pool == 1 %><img src="/images/adfolder/swimming16.jpg"  alt="swimming" title="Swimming Pool"/>  <%end%>
<% if ad.excercise == 1 %><img src="/images/adfolder/exercise16.jpg"  alt="exercicse" title="Exercise Facility"/>  <%end%>
<% if ad.tennis == 1 %><img src="/images/adfolder/tennis16.jpg"  alt="tennis" title="Tennis"/>  <%end%>
<% if ad.dishwasher == 1 %><img src="/images/adfolder/dishwasher16.jpg" alt="Dishwasher" title="Dishwasher"/>  <%end%>
<% if ad.fireplace == 1 %><img src="/images/adfolder/fireplace16.jpg"  alt="fireplace" title="Fireplace"/>  <%end%>
<% if ad.balcony == 1 %><img src="/images/adfolder/patio16.jpg"  alt="balcony" title="Balcony"/>  <%end%>
<% if ad.pets == 1 %><img src="/images/adfolder/pets16.jpg"  alt="pets allowed" title="Pets Allowed"/>  <%end%>
<% if ad.internet == 1 %><img src="/images/adfolder/internet16.jpg"  alt="internet" title="High Speed Internet"/>  <%end%>
<% if ad.for_women == 1 %><img src="/images/adfolder/women16.jpg"  alt="women" title="Women Only"/>  <%end%>
<% if ad.vasthu == 1 %><img src="/images/adfolder/vasthu16.jpg"  alt="Vasthu Compliant" title="Vasthu Compliant"/>  <%end%>
<% if ad.water_supply == 1 %><img src="/images/adfolder/water2416.jpg"  alt="24 Hours Water Supply" title="24 Hours Water Supply"/>  <%end%>
<% if ad.veg == 1 %><img src="/images/adfolder/nomeat16.jpg"  alt="Vegetarian Only" title="Vegetarian Only"/>  <%end%>
<% if ad.nobrokers == 1 %><img src="/images/adfolder/nobrokers16.jpg"  alt="Brokers Excuse" title="Brokers Excuse"/>  <%end%>
<% if ad.for_couples == 1 %><img src="/images/adfolder/couples16.jpg" alt="couples" title="Couples Only"/>  <%end%>
