 <% if session[:member]%>
     <% @myuser = Member.find(session[:member])%>
     <% end %>
     <% @myage = Date.today.year - @ad.year.name %>
                        	<% if Date.today.month < @ad.month.id  %>
	<% @myage = @myage -1 %>
	<% end %>
	<table width="100%" border="0" align="center" cellpadding="7" cellspacing="0" bgcolor="#CFE4FA">
	<tr><td><%=@ad.title%><br/>Age <b><%=@myage.to_s%>, <i><%=@ad.propertytype.propertytypename%></i></b> - <%=@ad.member.sex.name%> 
		
		- <u><%=@ad.maritalstatus.name%></u>
		<% if @ad.adcity_id != 0 %>
		, <%=@ad.adcity.adcityname%><% end %>
                         
     </td></tr></table>

<script type="text/javascript">
var act = new gigya.services.socialize.UserAction();
act.setUserMessage("<%=@ad.title%>");
act.setTitle("<%=@ad.title%>");
act.setLinkBack("<%=request.url%>");
act.setDescription("<%=@ad.title%>");
act.addActionLink("<%=@ad.title%> - BrahminsMatrimony.com", "<%=request.url%>");
var showShareBarUI_params=
{ 
	containerID: 'componentDiv',
	shareButtons: 'facebook-like, Twitter-tweet, google-plusone, share',
	userAction: act
}
</script>
<div id="componentDiv"></div>
<script type="text/javascript">
   gigya.services.socialize.showShareBarUI(conf,showShareBarUI_params);
</script>
<div id="componentDiv"></div>
<script type="text/javascript">
   gigya.services.socialize.showShareBarUI(conf,showShareBarUI_params);
</script>
     <% if session[:member]%>
     
     <table border="0"><tr><td>
     	<% @myc = Expint.count(:conditions => "fromid = " + @myuser.id.to_s + " and toid=" + @ad.member_id.to_s)%>
     	<% if @myc > 0 %><img src="/images/icons/smiley.png" alt="exp int"  />You Have Expressed Interest<%end%>
</td><td>
     	<% @myc = Pmessage.count(:conditions => "from_user = " + @myuser.id.to_s + " and to_user=" + @ad.member_id.to_s)%>
     	<% if @myc > 0 %><img src="/images/new_mail_16.gif" alt="exp int"  />You Have Sent PM<%end%>
     </td></tr></table>
     
     <% end %>
<table width="100%" cellspacing="0" style="border: 1px solid #CFE4FA;" cellpadding="3" id="clientprofiledetails">

<%if @ad.adtype_id ==1 %>
<tr><td colspan="4" style="background-color: pink; height: 3px;"> </td></tr>
	<%else %>
<tr><td colspan="4" style="background-color: #CFE4FA; height: 3px;"> </td></tr>
<% end %>
<tr>
<td colspan="4" style="background-color: #DBF1AE;"><strong>Basic Information</strong></td>

</tr>

<tr>
<td>Profile ID </td>
<td><b><%=@ad.member_id.to_s%></b> </td>
</tr>
<tr>
<td>Name, Contact Info and date of birth</td>
<td><% if @ad.verifiedprofile == 1 %>
	<img src="/images/icons/verified32.jpg"  alt="Phone Number and Profile Name Verified by us" title="Phone Number and Profile Name Verified by us"/>
	<b>*** Verified Phone Number ***</b><br/>
	<% end %>
                        	<% @oktodisplay = 0 %>
                        	<% if session[:member]%>
                        	<% @myuser = Member.find(session[:member])%>
                        	<% if @myuser.usertype_id > 1 or session[:superuser] %>
                        	<% @oktodisplay = 1 %>
                        	<% if @ad.nophone == 0 %>
                        	<% if @ad.member.sex_id != @myuser.sex_id or  session[:superuser] or @ad.member_id == @myuser.id%>
                        	Name: <%=@ad.realname%> <br/><br/>Phone : <% if @ad.member.ccode1 > 0 %> +<%=@ad.member.ccode1.to_s%><% end %> <%=@ad.member.phone_no%> 
                        	<% if @ad.member.mobile_no %> <br/> Mobile No: <% if @ad.member.ccode2 > 0 %> +<%=@ad.member.ccode2.to_s%><% end %> <%=@ad.member.mobile_no.to_s%> <% end %>
                        	 
                        	 <br/>Date Of Birth : <%=@ad.day.name%>-<%=@ad.month.name%>-<%=@ad.year.name%>
                        	 <% else %>
                        	 Same Gender!<%end%>
                        	 <% else%>Please send a Private Message to contact this member

       <% end %>

                        	<% else%>
                        	<% @mycount = Ad.count(:conditions => 'status = 1 and member_id = '+ @myuser.id.to_s)%>
                        	<% if @mycount > 0 %>
                        	
                        	<% if @myuser.emailverified == 0%>
                        	<a href='/userfunctions/getconfirm'>You must Confirm Your Email - Click Here</a>
                        	<% else %>
                        	<%if @myuser.id == @ad.member_id%>
                        	<%=@ad.realname%> <br/><br/>Phone : <%=@ad.member.phone_no%> 
                        	<% if @ad.member.mobile_no %> | Mobile No: <%=@ad.member.mobile_no.to_s%> <% end %> <br/><br/>Address: <%=@ad.homeaddress%> <%=@ad.zip%>
                        	<br/>Date Of Birth : <%=@ad.day.name%>-<%=@ad.month.name%>-<%=@ad.year.name%>
                        	<% end %>
                        	<% if @myuser.sex_id == 2 %>
                        	<% if @myuser.id != @ad.member_id %>
                        	<a href='/paynow'>You must become a Paid Member to view contact details - Click Here</a><% end %>
                        	<% else %>
                        	<% if @ad.member.sex_id == 2%>
                        	<%=@ad.realname%> <br/><br/>Phone : <%=@ad.member.phone_no%> 
                        	<% if @ad.member.mobile_no %> | Mobile No: <%=@ad.member.mobile_no.to_s%> <% end %> <br/><br/>Address: <%=@ad.homeaddress%> <%=@ad.zip%>
                        	<br/>Date Of Birth Shown only to paid members!<%else%>
                        	Same Gender!<%end%>
                        	
                        	<% end %>
                        	<% end %>
                        	<% else %>
                        	<a href='/editmyprofile'>You must create your Profile and must be approved first to view contact details</a>
                        	<% end %>
                        	
                        	<% end %>
                        	
                        	
                        	<% else %>
                        	<a href="/login">Login to View Contact details</a>
                        	<% end %></td>
</tr>
<% cache(:action => 'faq', :part => 'ad'+@ad.id.to_s) do %> 

<tr>
<td>Current Location</td>
<td>
	<% if @ad.mycity_id != 1%><b><i><%=@ad.mycity.name%></i></b><%else%>
        <% if @ad.mycity1%><%if @ad.mycity1 > '0'%>
	<b><i><%=@ad.mycity1%></i></b><%end%><% end %><% end %> <%=@ad.mycountry.name%> <img src="/images/flags/<%=@ad.mycountry.iso2.downcase%>.gif" alt="<%=@ad.mycountry.iso2.downcase%>" title="<%=@ad.mycountry.iso2.downcase%>"/></td>
</tr>
<% if @ad.visastatus %>
<% if @ad.visastatus > '0' %>
<tr>
<td>Visa Status if outside India</td>
<td><%=@ad.visastatus%>&nbsp;</td>
</tr>
<% end %>
<% end %>
<tr>
<td>Citizen Of </td>
<td><%=@ad.citizen.name%> <img src="/images/flags/<%=@ad.citizen.iso2.downcase%>.gif" alt="<%=@ad.citizen.name%>" title="<%=@ad.citizen.name%>"/></td>
</tr>

<tr>
<td colspan="2">
	&nbsp;
</td>

</tr>

<tr>
<td colspan="4" style="background-color: #DBF1AE;"><strong>Education and Career</strong></td>

</tr>

<tr>
<td>Educational Qualifications</td>
<td><%=@ad.degrees%> 
	<% if @ad.educationmajor_id != 0 %> <%=@ad.educationmajor.name%> <% end %>
	<% if @ad.eduinst%><% if @ad.eduinst > '0' %>
	<br/> <%=@ad.eduinst%>
	<% end %><% end %>
</td>
</tr>


<tr>
<td>Profession</td>
<% if Sitestuff::MYDOMAIN == 'HindusOnlyMatrimony.com'%>
<td><%=@ad.jobtitle.name%></td>
<% else %>
<td><%=@ad.adcity.adcityname%></td>
<% end %>
</tr>

<tr>
<td>Current Job Title</td>
<td><i><u><%=@ad.occupation%></u></i></td>
</tr>
<tr>
<td>Salary</td>
<td>
	<% if @ad.forsal%>
	<% if @ad.forsal > '0'%>
	<%= @ad.forsal%> 
	<% else %>
        <%if @ad.salaryrange_id > 0 %>
	<%=@ad.salaryrange.name%>
        <% end %>
	<% end %>
	<%else%>
   <%if @ad.salaryrange_id > 0 %>

	<%=@ad.salaryrange.name%>
<% end %>
	<% end %>
</td>
</tr>


<% if @ad.jobtransfer %>
<% if @ad.jobtransfer  > '0'%>	

<tr>
<td>Job Transferable?</td>
<td><%=@ad.jobtransfer%>&nbsp;</td>
</tr>
<%end %>
<%end %>
<tr>
<td colspan="2">
	&nbsp;
</td>

</tr>

<tr>
<td colspan="2" style="background-color: #DBF1AE;"><strong>Profle Description</strong></td>

</tr>

<tr>
<td colspan="2">
<%end%>
	<%=@adshowdesc.gsub(/\n/, '<br/>').gsub(/,/, ', ')%>
<% cache(:action => 'faq', :part => 'ad2'+@ad.id.to_s) do %>

</td>

</tr>


<tr>
<td colspan="2">
	&nbsp;
</td>

</tr>
<tr>
<td colspan="4" style="background-color: #DBF1AE;"><strong>Appearance and Physical Status</strong></td>

</tr>
<tr>
<td>Physical Status</td>
<td><%=@ad.handicap.name%></td>
</tr>



<% if @ad.bloodgroup_id != 9 %>
<tr>
<td>Blood Group</td>
<td><%=@ad.bloodgroup.name%></td>
</tr>
<% end %>
<% if @ad.height.name != 'None Selected'%>
<tr>
<td>Height</td>
<td><%=@ad.height.name%></td>
</tr>
<% end %>
<% if @ad.myweight.name != '.None Selected' %>
<tr>
<td>Weight</td>
<td><%=@ad.myweight.name%></td>
</tr>
<% end %>
<tr>
<td>Complexion</td>
<td><%=@ad.complexion.name%></td>
</tr>
<% if @ad.bodytype.name != 'None Selected'%>
<tr>
<td>Body Type</td>
<td><%=@ad.bodytype.name%></td>
</tr>
<% end %>
  <% if @ad.facial_id != 49 and @ad.facial_id != 50  and @ad.facial_id != 34  %>
                      
                      
<tr>
<td>Facial Features Look Like</td>
<td><%=@ad.facial.name%></td>
</tr>
<% end %>

<tr>
<td colspan="2">
	&nbsp;
</td>

</tr>

<tr>
<td colspan="4" style="background-color: #DBF1AE;"><strong>Religion and Social</strong></td>

</tr>
<% if @ad.poorviham_id != 1%>

<tr>
<td>Origin</td>
<td><%=@ad.poorviham.name%> </td>
</tr>
<% end %>
<% if @ad.gothra_id != 5%>
<tr>
<td>Gothra</td>
<td><%=@ad.gothra.name%></td>
</tr>
<% end %>
    <% if @ad.subsect_id != 5%>
<tr>
<td>Subsect</td>
<td><%=@ad.subsect.name%>&nbsp; </td>
</tr>
<% end %>
<% if @ad.zodiac_id > 1%>	
<tr>
<td>Zodiac</td>
<td><%=@ad.zodiac.name%> 

	<img src="/images/zodiac/<%=@ad.zodiac.name.downcase[0,3]%>.jpg" alt="<%=@ad.zodiac.name%>" title="<%=@ad.zodiac.name%>"/>
	</td>
</tr>
<% end %>

     <% if @ad.birthstar_id != 5 %>
<tr>
<td>Birth Star</td>
<td><%=@ad.birthstar.name%></td>
</tr>
<% if @ad.nadhi %>
	<% if @ad.nadhi > '0'%>
<tr>
<td>Padam and Nadi</td>
<td> <%=@ad.nadhi%>&nbsp;</td>
</tr>
<% end %>
<% end %>
<% end %>
<% if @ad.sevvai == 1 or @ad.kuja == 1 or @ad.mangla == 1 %>
<tr>
<td>Doshas If Any</td>
<td><% if @ad.sevvai == 1%>
                          	Sevvai Dosha |  
                          	<% end %>
                          
                          	<% if @ad.kuja == 1%>
                          	Kuja Dosha   
                          	<% end %>&nbsp;</td>
</tr>
 <% if @ad.mangla == 1%>
<tr>
<td>Manglik</td>
<td>Profile is Manglik</td>
</tr>
	<% end %>
	<% end %>
	<% if @ad.horoscope_id != 1%>
	<tr>
<td>Horoscope Matching</td>
<td><%=@ad.horoscope.name%></td>
</tr>
<% end %>
	
	<% if @ad.sai == 1 or @ad.shirdi == 1%>
	<tr>
<td>Devotee Of </td>
<td><% if @ad.sai == 1%>
                          	Sathya Sai Devotee <img src="/images/icons/sai_big.jpg" alt="Sathya Sai Devotee" title="Sathya Sai Devotee"/>  
                          	<% end %>
                          	
                          		<% if @ad.shirdi == 1%>
                          	Shirdi Sai Devotee <img src="/images/icons/shirdi.jpg" alt="Shirdi Sai Devotee" title="Shirdi Sai Devotee"/>  
                          	<% end %></td>
</tr>
	<% end %>
	

<tr>
<td colspan="2">
	&nbsp;
</td>

</tr>
<tr>
<td colspan="4" style="background-color: #DBF1AE;"><strong>Family Details</strong></td>

</tr>

<% if @ad.family %>
<% if @ad.family > '0' %>
<tr>
<td>Family Background</td>
<td><%=@ad.family%>&nbsp;</td>
</tr>
<% end %>
<% end %>


<% if @ad.ancestral %>
<% if @ad.ancestral > '0' %>
<tr>
<td>Ancestral Origin (Poorviham): </td>
<td><%=@ad.ancestral%>&nbsp;</td>
</tr>
<% end %>
<% end %>


<tr>
<td>Family Values</td>
<td><%=@ad.familyvalue.name%></td>
</tr>
<%if @ad.familystatus.name != '.None Selected'%>
<tr>
<td>Family Status</td>
<td><%=@ad.familystatus.name%></td>
</tr>
<% end %>

<% if @ad.fathocc %>
<% if @ad.fathocc > '0' %>
	<tr>
<td>Father's Profession</td>
<td><%=@ad.fathocc%>&nbsp;</td>
</tr>
<% end %>
<% end %>


<% if @ad.mothocc %>
<% if @ad.mothocc > '0' %>
	<tr>
<td>Mother's Occupation</td>
<td><%=@ad.mothocc%>&nbsp;</td>
</tr>
<% end %>
<% end %>



<%  if @ad.siblings %>
<% if @ad.siblings > 0 %>
<tr>
<td>Siblings</td>
<td><%=@ad.siblings.to_s%>&nbsp;</td>
</tr>
<% end %>
<% end %>
<% if @ad.marrbro  and  @ad.unmarrbro %>
<% if @ad.marrbro > 0 or @ad.unmarrbro > 0 %>
<tr>
<td>Brothers</td>
<td><% if @ad.marrbro > 0 %>Married : <%=@ad.marrbro.to_s%>&nbsp;<% end %>&nbsp;<% if @ad.unmarrbro > 0 %>UnMarried : <%=@ad.unmarrbro.to_s%><%end %></td>
</tr>
<% end %>
<% end %>


<% if @ad.marrsis and  @ad.unmarrsis  %>
<% if @ad.marrsis > 0 or @ad.unmarrsis > 0 %>
<tr>
<td>Sisters</td>
<td><% if @ad.marrsis > 0 %>Married : <%=@ad.marrsis.to_s%>&nbsp;<% end %>&nbsp;<% if @ad.unmarrsis > 0 %>UnMarried : <%=@ad.unmarrsis.to_s%><%end %></td>
</tr>
<% end %>
<% end %>

<% if @ad.language.name != 'Not Selected'%>
<tr>
<td>Mother Tongue</td>
<td><i><%=@ad.language.name%></i></td>
</tr>
<% end %>

<% if @ad.lang%>
   <% if @ad.lang > '0'%>
<tr>
<td>Known Languages </td>
<td><%=@ad.lang%></td>
</tr>
<% end %>
<% end %>

<tr>
<td colspan="2">
	&nbsp;
</td>

</tr>
<tr>
<td colspan="4" style="background-color: #DBF1AE;"><strong>Life Style</strong></td>

</tr>
   <% if @ad.hobbies%>
   <% if @ad.hobbies > '0'%>
<tr>
<td>Hobbies and Interests</td>
<td><%=@ad.hobbies%>&nbsp;</td>
</tr>
<% end %>
<% end %>


  <% if @ad.dress%>
   <% if @ad.dress > '0'%>
<tr>
<td>Preferred Dress Style</td>
<td><%=@ad.dress%></td>
</tr>
<% end %>
<% end %>



  <% if @ad.music%>
   <% if @ad.music > '0'%>
<tr>
<td>Favorite Music </td>
<td><%=@ad.music%></td>
</tr>
<% end %>
<% end %>

<% if @ad.reads%>
   <% if @ad.reads > '0'%>
<tr>
<td>Books I Like </td>
<td><%=@ad.reads%></td>
</tr>
<% end %>
<% end %>

<% if @ad.movies%>
   <% if @ad.movies > '0'%>
<tr>
<td>Favorite Movies </td>
<td><%=@ad.movies%></td>
</tr>
<% end %>
<% end %>

<% if @ad.sports%>
   <% if @ad.sports > '0'%>
<tr>
<td>Fitness and Sports Activity </td>
<td><%=@ad.sports%></td>
</tr>
<% end %>
<% end %>

<% if @ad.food%>
   <% if @ad.food > '0'%>
<tr>
<td>Favorite Cuisine </td>
<td><%=@ad.food%></td>
</tr>
<% end %>
<% end %>





<% if @ad.vegeterian == 1 or @ad.teetotaler == 1 or @ad.dontsmoke == 1 %> 
<tr>
<td>Habits</td>
<td>
	<% if @ad.vegeterian == 1 %>
	<img src="/images/icons/veg32.jpg"  alt="Vegetarian" title="Vegetarian"/> Vegetarian |  
                          	<% end %>
                          	<% if @ad.teetotaler == 1 %>
                          	<img src="/images/icons/dontdrink16.jpg"  alt="teetotaler" title="teetotaler"/>
                          	Don't Drink |<% end %>
                          	<% if @ad.dontsmoke == 1 %>
                          	<img src="/images/icons/dontsmoke16.jpg"  alt="Non Smoker" title="Non Smoker"/>
                          	Non Smoker |  
                          	<% end %>
                          	
</td>
</tr>
<% end %>

<tr>
<td colspan="2">
	&nbsp;
</td>

</tr>

<tr>
<td colspan="2" style="background-color: #DBF1AE;"><strong>What I am Looking For</strong></td>

</tr>

<tr>
<td>Age Range</td>
<td><%=@ad.agerange1.age%>-<%=@ad.agerange2.age%>&nbsp;</td>
</tr>
<tr>
<td>Job Type</td>
<td><%=@ad.lookingjobtype.gsub(/,/, ', ')%>&nbsp;</td>
</tr>
<tr>
<td>Brahmin Type</td>
<td><% if @ad.nobar == 1%>Any Caste is OK
	<%else%><%=@ad.lookingbrahmintype.gsub(/,/, ', ')%>
	<% end %>
&nbsp;</td>
</tr>
<tr>
<td>Origin</td>
<td><%=@ad.lookingorigin.gsub(/,/, ', ')%>&nbsp;</td>
</tr>
<tr>
<td>Subsects</td>
<td><%=@ad.lookingsubsect.gsub(/,/, ', ')%>&nbsp;</td>
</tr>

<tr>
<td>Complexion</td>
<td><%=@ad.lookingcomplexion.gsub(/,/, ', ')%>&nbsp;</td>
</tr>
<tr>
<td>Height</td>
<td><%=@ad.lookingheight.name%>&nbsp;</td>
</tr>
 <% if @ad.lookingbodytype_id%>
 <% if @ad.lookingbodytype_id > 0 %>
<tr>
<td>Body Type</td>
<td><%=@ad.lookingbodytype.name%>&nbsp;</td>
</tr>
<% end %>
<% end %>

<tr>
<td colspan="2">
	&nbsp;
</td>

</tr>
<tr>
<td colspan="2" style="background-color: #DBF1AE;"><strong>Ideal Match Description</strong></td>

</tr>

<tr>
<td colspan="2">
	<%=@ad.partnerdescription%>&nbsp;
</td>

</tr>


	<tr>
<td><img src="/images/icons/tags.png" alt="tags"/>Tags:</td><td>
	  <% if @ad.adcity_id != 0%><a href="/tags/<%=@ad.adcity.adcityname%>"><%=@ad.adcity.adcityname%></a>&nbsp; &nbsp;<% end %>
 <a href="/tags/<%=@ad.propertytype.propertytypename%>"><%=@ad.propertytype.propertytypename%></a>&nbsp; &nbsp;	
  <% if @ad.subsect_id != 5%><a href="/tags/<%=@ad.subsect.name%>"><%=@ad.subsect.name%></a>&nbsp; &nbsp;<% end %>     
   <% if @ad.gothra_id != 5%><a href="/tags/<%=@ad.gothra.name%>"><%=@ad.gothra.name%></a>&nbsp; &nbsp;<% end %>      
     <% if @ad.birthstar_id != 5%><a href="/tags/<%=@ad.birthstar.name%>"><%=@ad.birthstar.name%></a>&nbsp; &nbsp;<% end %>      
       <% if @ad.zodiac_id != 1%><a href="/tags/<%=@ad.zodiac.name%>"><%=@ad.zodiac.name%></a>&nbsp; &nbsp;<% end %>                               		 
 <a href="/tags/<%=@ad.mycountry.name%>"><%=@ad.mycountry.name%></a>&nbsp; &nbsp;  
 <% if @ad.mycity_id != 1%><a href="/tags/<%=@ad.mycity.name%>"><%=@ad.mycity.name%></a>&nbsp; &nbsp;<% end %>
	                                		                                		<% if @mytags %><br/><% for myi in 0..@mytags.length%>
                                           
                                            <% mytmp = @mytags[myi] %> 
                                                         		
	                                		<a href="/tags/<%=mytmp%>"><%=@mytags[myi]%></a> &nbsp; &nbsp;  
	                                		<% end %><% end %>
</td></tr>	                                		
	                                		


</table>                   
             
             <table width="100%" border="0" align="center" cellpadding="7" cellspacing="1" bgcolor="#CFE4FA">
       
                          	
                              
                                   
                   
                      
<% @addlink = url_for(:controller => 'userfunctions', :action => 'addfavorite') %>
<% @pplink = url_for(:controller => 'userfunctions', :action => 'pmnew', :ad_id => @ad.id, :to_user => @ad.member_id) %>

                        
<% @contactlink = url_for(:controller => 'userfunctions', :action => 'pmnew', :ad_id => @ad.id, :to_user => @ad.member_id) %>

                      <tr>

                        <td colspan="2" align="center" bgcolor="#FFFFFF" ><div class="loginlh"><img src="/images/forward.gif" alt="" width="16" height="14" /> <a href="/tell-a-friend"  class="searchlink">Forward to Friend</a> | <img src="/images/icons/star.gif" alt="Add to my favorites" title="Add to my favorites"/>  <a href="<%=@addlink%>"> Add To My Favorites></a> | <a href="http://www.addthis.com/bookmark.php" onclick="addthis_url   = location.href; addthis_title = document.title; return addthis_click(this);" target="_blank"><img src="http://s9.addthis.com/button1-bm.gif" width="125" height="16" border="0" alt="AddThis Social Bookmark Button" /></a> <script type="text/javascript">var addthis_pub = 'find101';</script><script type="text/javascript" src="http://s9.addthis.com/js/widget.php?v=10"></script>  | <a href="<%=@pplink%>">Send a Private Message</a> 


 </div></td>
                      </tr>
                      <tr>
                      	<% end %>
                        <td colspan="2" align="left" bgcolor="#FFFFFF"><% if session[:member]%>
	<% else %>

	<a href="/register">Register Now </a>To contact this Profile

<% end %></td>
                      </tr>
                    </table>

                      
        <br/>
        <% cache(:action => 'faq', :part => 'adcomm'+@ad.id.to_s) do %> 
        <%= render :partial => 'matcommon/showcomments' %>
        
        

<br/>
        <% @mtmp1 = 0%>
        <% for  @myad in @mpads %>
        <% if @mtmp1 == 0 %>
         <% @mtmp1 = 1%>
         <table width="100%" border="0" align="center" cellpadding="7" cellspacing="0" bgcolor="#CFE4FA">
	<tr><td>Related and Popular Profiles </td></tr><table><br/>
        <% end %>
        
        
                        <table width="100%"  cellpadding="5" cellspacing="0" style="border: 2px solid #CFE4FA;"> 
<%= render :partial => 'singlead' %>
</table>
                      <br/>
						 
        <% end %>
        <br/>
        
        <script type="text/javascript"><!--
google_ad_client = "pub-8650959444792054";
/* 336x280, created 3/17/09 */
google_ad_slot = "9677908553";
google_ad_width = 336;
google_ad_height = 280;
//-->
</script>
<script type="text/javascript"
src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
</script>
        	
        <% end %>
        <br/>

<br/>
<div class="fb-like-box" data-href="http://www.facebook.com/pages/Brahminsmatrimonycom/568303806530351" data-width="292" data-show-faces="true" data-stream="false" data-header="true"></div>
        
        <%= render :partial => 'superusermenu' %>
