<table border="0" cellspacing="0" cellpadding="1" style="width: 525px;">
<tr>
	
	<td class="goldtop" style="width: 520px;"><h3 class="goldtop">Free Registration</h3></td>
	
</tr>
<tr><td><%= error_messages_for 'member' %>
</td></tr>
</table>

<table width="100%" border="1" bordercolor="#CFE4FA" align="center" cellpadding="4" cellspacing="0">
                      <tr>
                        <td height="25" colspan="2" align="left"><strong>All Fields with * are Required! (We value your privacy. We will not resell your email or personal data to anyone else)</strong> </td>
                        </tr>
                                          <tr>
                        <td height="25"><font class="redtext">*</font> E-mail :-</td>
                        <td height="25"><%= text_field 'member', 'email'  %></td>

                      </tr>
   
                      <tr>
                        <td height="25"><font class="redtext">*</font> Password :- </td>
                        <td height="25"><%= password_field 'member', 'password'  %></td>
                        </tr>
                                            <tr>
                        <td height="25"><font class="redtext">*</font> Confirm Password :- </td>
                        <td height="25"><%= password_field 'member', 'password_confirmation'  %></td>
                        </tr>

    
                      <tr>
                        <td height="25" colspan="2" bgcolor="#F0F7FE"><b>Personal Information</b></td>
                        </tr>


                                  <tr>
                        <td height="25"><font class="redtext">*</font> The Gender of the profile I am going to create is (Boy or girl)  :-</td>
                        <td height="25"><%= select("member","sex_id", Sex.find(:all, :order => "name").collect { |s1| [s1.name, s1.id]} )%></td>

                      </tr>
                                            
                                            
                                            
                                  <tr>
                        <td height="25"><font class="redtext">*</font> First Name :-</td>
                        <td height="25"><%= text_field 'member', 'fname'  %></td>

                      </tr>
                                                              
                                            <tr>
                        <td height="25"><font class="redtext">*</font> Last Name :-</td>
                        <td height="25"><%= text_field 'member', 'lname'  %></td>

                      </tr>
 
                                             <tr>
                        <td height="25"><font class="redtext">*</font> Country Code and Phone No :-</td>
                        <td height="25">+<%= text_field 'member', 'ccode1', "size" => 3  %><%= text_field 'member', 'phone_no'  %></td>

                      </tr>                        
                      
                      
                                             <tr>
                        <td height="25"><font class="redtext">*</font> Country Code Mobile No :-</td>
                        <td height="25">+<%= text_field 'member', 'ccode2', "size" => 3  %><%= text_field 'member', 'mobile_no'  %></td>

                      </tr>                       
                      
                      <tr>
                        <td height="25"> Referred By :-</td>
                        <td height="25"><%= text_field 'member', 'referredby'  %></td>

                      </tr>                      


                      <tr>
                        <td height="25" colspan="2" bgcolor="#F0F7FE"><b><%= check_box 'member', 'terms',:checked => 'checked'   %><a href="/terms.html">I Accept the Terms*</a></b></td>
                        </tr>
                        
                        
                        
                        
                                                                 <tr>
                        <td height="25">&nbsp;</td>
                        <td width="63%" height="25">
                        	<input type="submit" value="Submit" class="searchbtn" />
                        	</td>
                        </tr>
                      
                    </table>


<br/>
  <table  bordercolor="#ff8080" bgColor=#fdfeeb  border="1" cellspacing="0" cellpadding="0"> 
 
        <tr> 
          <td bgcolor="#fcf83f"><div class="loginlh"><strong>We are so confident of our lucky website that this profile will get married soon!. Please notify us immediately if the profile's marriage is fixed!</strong> </div></td> 
        </tr> 
       </table> 
       
 
 


