<%= error_messages_for 'member' %>
<!--[form:member]-->
<label for="member_username"><b>Username*</b></label><br/><%= text_field 'member', 'username'  %><br />
<label for="member_password"><b>Password*</b></label><br/>
<%= password_field 'member', 'password'  %><br />



<label for="member_email"><b>Email*</b></label><br/>
<%= text_field 'member', 'email'  %><br />
<label for="member_fname">First Name</label><br/>
<%= text_field 'member', 'fname'  %><br />


<label for="member_lname"><b>Last Name*</b></label><br/>
<%= text_field 'member', 'lname'  %><br />

<br />


<img src="/rents101/code_image"><br/>
<b>Enter the exact 'Code' from the Image above:*</b> 
<input type="text" name="typed_code" size="4"><br/>

<%= check_box 'member', 'terms'  %><label for="member_terms"><b>I accept the Terms*</b></label>


<!--[eoform:member]-->

