<% cache(:action => 'faq', :part => 'hourpayinfo') do %>                      
     
                  <h2 class="dot">Rate Card</h2><br/>
              <% if Sitestuff::MYDOMAIN == 'MarryaSunni.com'%>
              
              <!-- couple -->
<div class="sborder">
<h2 class="dot">How Much Does it Cost?</h2>
	<div style="padding-left:17px; padding-top:9px; padding-right:10px; padding-bottom:12px"><a href="#"><img src="/images/couple.jpg" width="87" height="76" alt="" class="imgborder" /></a><h3>Only US$ 14.99 per year with Unlimited Contacts</h3>

<a href="#" class="green"><strong></strong></a><br />
<br />
Unlike other portals who charges fee for every 10 contacts, you can use our site to get unlimited contacts of the profiles that are of interest to you. We are verified by Paypal. You can use either paypal or google check out.
<br/>
After you make the payment send us an email with your profile ID and transaction ID to support@<%=Sitestuff::MYDOMAIN%>
<br /><br />

 	
 	
				        <br/>
				        <table border=1 cellspacing=0 border="1" bordercolor="#CFE4FA" cellpadding=5>
				        	<tr><td>
<%= render :partial => '/menu/paypal' %></td></tr>
				        	</table>

</div>

<br />
<!-- end couple -->

              <% else %>  

			   <table width="100%" border="0" cellspacing="0" cellpadding="0">
                  
                  <tr>
                    
                   
                        
              <td class="brmiddle"> <div class="loginlh">
              	<center>
              		<img src="/images/tmp/payinfo.jpg" alt="payment info">
              		</center>
 <p align="left">
 	</table>
 	 <table width="100%" border="1" bordercolor="#CFE4FA" cellspacing="0" cellpadding="5">
 	
 		<tr>
					          <td bgcolor="#fcf83f"><div class="loginlh"><strong>Please pay the registration fee as explained after the 7 days free trial period </strong> </div></td>
				        </tr></table>
				        <br/>
				        <table border=1 bordercolor="#CFE4FA"  cellspacing=0 cellpadding=5>
				        	<tr><td><strong>Membership fee for One Year</strong></td><td><strong>Rs. 750 or US$ 16.67 </strong> </td>
				        		</tr>
				        		<tr><td>Net Banking (ICICI)</td><td><b>ICICI bank  A/c No. ANWB 606905014061 Account Holder Name: Harini I.T. & communication ser pvt ltd (P) Ltd, Karaikudi Main Branch 630 001 - When you pay make sure you mention your profile ID or send an email to us with your profile ID and transaction details</td></tr>
				        		<tr><td>Pay by Check or DD, Western Union or Money Order</td><td>Send a Check/DD/Money Order/Western Union Money Transfer in favor of M/s Harini IT and Communication Services (P) Ltd , Payable at Karaikudi and send it with the profile or profile ID to<br/>
M/s Harini IT and Communication Services (P) Ltd, "Sri Sai Bhavanam",32, South First Cross,Sekkalai First Street, , Karaikudi 630 002, Tamil Nadu. Phone (04565) 234496 </td></tr>
<tr><td>Door to Door Service (Additional Charge of Rs 100)</td><td><a href="/contactus.html">Click here to get the list of our Agents in various cities</a></td></tr><tr><td>Pay by Paypal or Google Checkout using Credit cards - Paypal and Google checkout allows credit cards from India
	<br/>
	Please note that Indian Credit card holders will be charged in Indian Rupees even though the payment method is US Dollars. Use this convenient feature to pay online and save time!
	<br/>
</td><td><%= render :partial => '/menu/paypal' %></td></tr>
				        	</table>
				        	
 	
 	<% end %>
 


 <% end %>
 


