                            <% @link = url_for(:action => 'adshow', :id => @myad.id, :boygirl => @myad.adtype.url, :brahmintype => @myad.brahmintype, :addescr => @myad.myurl) %>

<% @myage = Date.today.year - @myad.year.name %>
<% if Date.today.month < @myad.month.id  %>
	<% @myage = @myage -1 %>
	<% end %>
 <tr>     
                       	 <td align="left" valign="top" bgcolor="#FFFFFF"><font class="loginlh"><a href="<%=@link%>" TARGET="_blank" class="searchlink"><%=@myad.title[0..59]%></a>
<br />
<b>Profile ID : <%=@myad.member_id.to_s%></b><br/>
<b>Age <%=@myage.to_s%> - <%=@myad.propertytype.propertytypename%> - <%=@myad.member.sex.name%></b><br/>   
                               
                               
<br/>...........Features..............<br/>

<br/>                                 

<%  if @myad.status == 0 %>
<h1>Pending Ad </h1>
<% end %>
 
 <a href="#" class="jlink">View similar profiles</a></font></td>
                       	
                       	
                              <td align="left" valign="top" bgcolor="#FFFFFF"><font class="loginlh">
                              	Degrees : <%=@myad.degrees[0..30]%> <br/>Major : <%=@myad.educationmajor.name%><br/>
                              	<%=@myad.occupation%> <br/>Salary:  <%=@myad.salaryrange.name%><br/>
                              	Currently In <%=@myad.mycity1%>, <%=@myad.mycountry.name%> <img src="/images/flags/<%=@myad.mycountry.iso2.downcase%>.gif"/><br/>
                              	
                              </font>

</td>

 <td align="left" valign="top" bgcolor="#FFFFFF"><%= render :partial => 'singlephoto' %>

</td>
						</tr>