
	 <% @link = url_for(:action => 'adshow', :id => @myad.id, :boygirl => @myad.adtype.url, :brahmintype => @myad.brahmintype, :addescr => @myad.myurl) %>
	
	<% if controller.action_name == 'adshow' %>

<center>
	
	<% @oktoshow = 0%>
	<%@destination = '#' %>
	<% if session[:superuser] %> <% @oktoshow = 1%> <% end %>
	   <% if @oktoshow == 0 %>
	     <% if session[:member]%>
	     <% @mycount = Ad.count(:conditions => 'status =  1 and member_id= ' + session[:member].to_s)%>
	     <% if @mycount > 0 %>
	     <% @oktoshow = 1%>
	     <% else%>
	     	    <% flash[:notice] = 'You must have a valid and approved profile to view photos!' %>
        <% @destination = '/editmyprofile'%>
	     <% end %>
	     <% else%>
	    <% flash[:notice] = 'You must register and logon to view photos' %>
        <% @destination = '/login'%>
	     <% end %>
	   <% end %>
	
	
	<% if @myad.image1 %>
	
	<% if @oktoshow == 1 %>
	
<a href="<%= image_path(url_for_file_column("myad", "image1", "medium")) %>" rel="lightbox['+@myad.id.to_s+']" title="<%=h(@myad.title) %>">    <%= image_tag url_for_file_column("myad", "image1", "thumb") %> </a>
<% else %>
<a href="<%= @destination %>" >    <%= image_tag url_for_file_column("myad", "image1", "thumb") %> </a>
<% end %>

<% end %>


<% if @myad.image2 %>
	<% if @oktoshow == 1 %>
<a href="<%= image_path(url_for_file_column("myad", "image2", "medium")) %>" rel="lightbox['+@myad.id.to_s+']" title="<%=h(@myad.title) %>">    <%= image_tag url_for_file_column("myad", "image2", "thumb") %> </a>
<% else %>
<a href="<%= @destination %>" >    <%= image_tag url_for_file_column("myad", "image2", "thumb") %> </a>
<% end %>
<% end %>

<% if @myad.image3 %>
	<% if @oktoshow == 1 %>
<a href="<%= image_path(url_for_file_column("myad", "image3", "medium")) %>" rel="lightbox['+@myad.id.to_s+']" title="<%=h(@myad.title) %>">    <%= image_tag url_for_file_column("myad", "image3", "thumb") %> </a>
<% else %>
<a href="<%= @destination %>" >    <%= image_tag url_for_file_column("myad", "image3", "thumb") %> </a>
<% end %>
<% end %>


<% if @myad.image4 %>
	<% if @oktoshow == 1 %>
<a href="<%= image_path(url_for_file_column("myad", "image4", "medium")) %>" rel="lightbox['+@myad.id.to_s+']" title="<%=h(@myad.title) %>">    <%= image_tag url_for_file_column("myad", "image4", "thumb") %> </a>
<% else %>
<a href="<%= @destination %>" >    <%= image_tag url_for_file_column("myad", "image4", "thumb") %> </a>
<% end %>
<% end %>


<% if @myad.image5 %>
	<% if @oktoshow == 1 %>
<a href="<%= image_path(url_for_file_column("myad", "image5", "medium")) %>" rel="lightbox['+@myad.id.to_s+']" title="<%=h(@myad.title) %>">    <%= image_tag url_for_file_column("myad", "image5", "thumb") %> </a>
<% else %>
<a href="<%= @destination %>" >    <%= image_tag url_for_file_column("myad", "image5", "thumb") %> </a>
<% end %>
<% end %>


<% if @myad.image6 %>
	<% if @oktoshow == 1 %>
<a href="<%= image_path(url_for_file_column("myad", "image6", "medium")) %>" rel="lightbox['+@myad.id.to_s+']" title="<%=h(@myad.title) %>">    <%= image_tag url_for_file_column("myad", "image6", "thumb") %> </a>
<% else %>
<a href="<%= @destination %>" >    <%= image_tag url_for_file_column("myad", "image6", "thumb") %> </a>
<% end %>
<% end %>


	</center>

	
	
	<% else %>
	
	 
<a href="<%=@link%>"><img src="<%=url_for_file_column("myad", "image1", "thumb") %>" alt="<%=@myad.title%>" title="<%=@myad.title%>"/></a>

	 
	 
	 
	 <% end %>

