<%= render :partial => 'paynowsubform' %>
<br/>
<br/>
<%=form_tag({:controller => 'userfunctions', :action=>'controlpanel'}, :multipart => true)%>
<%= submit_tag "I got the Message - Go to my Control Panel" %>
</form>