      <table width="617" border="0" cellspacing="0" cellpadding="0">

        <tr>
          <td>&nbsp;</td>
        </tr>
        
        <tr>
          <td valign="top"><table width="607" border="0" cellspacing="0" cellpadding="0">
            <tr>
              <td width="11"><img src="/images/left-left.gif" alt="" width="11" height="12" /></td>
              <td width="585" class="ltop">&nbsp;</td>
              <td width="11"><img src="/images/left-right.gif" alt="" width="11" height="12" /></td>

            </tr>
            <tr>
              <td class="lleft"><img src="/images/left-m-left.gif" alt="" width="11" height="146" /></td>
              <td class="lmiddle"><img src="/images/bullet.gif" alt="" width="19" height="18" />
                  <h1 class="lheading">Free Registration</h1>
                <br />
                <br />
               <div class="lmargin">

			   <table width="100%" border="0" cellspacing="0" cellpadding="0">
                  
                  <tr>
                    <td width="12"><img src="/images/blue-left.gif" alt="" width="12" height="12" /></td>
                    <td class="brtop">&nbsp;</td>
                    <td width="12"><img src="/images/blue-right.gif" alt="" width="12" height="12" /></td>
                  </tr>
                  <tr>
                    <td class="brleft"><img src="/images/blue-m-left.gif" alt="" width="12" height="97" /></td>
                    <td class="brmiddle"><table width="100%" border="0" align="center" cellpadding="4" cellspacing="1">

                      <tr>
                        <td height="25" colspan="2" align="left"><strong>All Fields with * are Required! (We value your privacy. We will not resell your email or personal data to anyone else)</strong> </td>
                        </tr>
                      <tr>
                        <td width="37%" height="25" align="left"><font class="redtext">*</font> User Name :- </td>

                        <td height="25" align="left"><input type="text" name="textfield2" /></td>
                        </tr>
                      <tr>
                        <td height="25"><font class="redtext">*</font> Password :- </td>
                        <td height="25"><input type="password" name="textfield22" /></td>
                        </tr>
                      
                      <tr>
                        <td height="25"><font class="redtext">*</font> E-mail :-</td>
                        <td height="25"><input type="text" name="textfield23" /></td>

                      </tr>
                      <tr>
                        <td height="25" colspan="2" bgcolor="#F0F7FE"><b>Personal Information</b></td>
                        </tr>
                      <tr>
                        <td height="25"><font class="redtext">*</font> Name :-</td>
                        <td height="25"><input type="text" name="textfield232" /></td>

                      </tr>
                      <tr>
                        <td height="25"><font class="redtext">*</font> Gender :-</td>
                        <td height="25">
                          <input name="radiobutton" type="radio" value="radiobutton" />Male
             			  <input name="radiobutton" type="radio" value="radiobutton" />Female</td>
                      </tr>

                      <tr>
                        <td height="25"><font class="redtext">*</font> Date of 
          Birth :-</td>
                        <td height="25"><select name="select8">
                          <option selected="selected">--date--</option>
                          <option>01</option>
                          <option>02</option>

                          <option>03</option>
                          <option>04</option>
                          <option>05</option>
                          <option>06</option>
                          <option>07</option>
                          <option>08</option>

                          <option>09</option>
                          <option>10</option>
                          <option>11</option>
                          <option >12</option>
                          <option>13</option>
                          <option>14</option>

                          <option>15</option>
                          <option>16</option>
                          <option>17</option>
                          <option>18</option>
                          <option>19</option>
                          <option>20</option>

                          <option>21</option>
                          <option>22</option>
                          <option>23</option>
                          <option>24</option>
                          <option>25</option>
                          <option >26</option>

                          <option>27</option>
                          <option>28</option>
                          <option>29</option>
                          <option>30</option>
                          <option>31</option>
                          </select>

                          <select name="select8"> 
						  <option selected="selected">--month--</option> 
						  <option>January</option> 
						  <option>February</option>
						  <option>March</option>
						  <option>April</option>
						  <option>May</option> 
              			  <option>June</option> 
			 			  <option>July</option>

			   			  <option>August</option>
			    		  <option>September</option>
				 		  <option>October</option>
				 		  <option>November</option>
				   		  <option>December</option>
                          </select> 
			  
			  <select name="select9"> 
			  <option selected="selected">--year--</option> 
			  <option>1930</option> 
			  <option>1931</option> 
			  <option>1932</option> 
			  <option>1933</option> 
			  <option>1934</option> 
			  <option>1935</option> 
			  <option>1936</option> 
			  <option>1937</option> 
			  <option>1938</option> 
			  <option>1939</option> 
			  <option>1940</option> 
			  <option>1941</option> 
			  <option>1942</option> 
			  <option>1943</option> 
			  <option>1944</option> 
			  <option>1945</option> 
			  <option>1946</option> 
			  <option>1947</option> 
			  <option >1948</option> 
			  <option>1949</option> 
			  <option>1950</option> 
			  <option>1951</option> 
			  <option>1952</option> 
			  <option>1953</option> 
			  <option>1954</option> 
			  <option>1955</option> 
			  <option>1956</option> 
			  <option>1957</option> 
			  <option>1958</option> 
			  <option>1959</option> 
			  <option>1960</option> 
			  <option>1961</option> 
			  <option>1962</option> 
			  <option>1963</option> 
			  <option>1964</option> 
			  <option>1965</option> 
			  <option>1966</option> 
			  <option>1967</option> 
			  <option>1968</option> 
			  <option>1969</option> 
			  <option>1970</option> 
			  <option >1971</option> 
			  <option>1972</option> 
			  <option>1973</option> 
			  <option>1974</option> 
			  <option>1975</option> 
			  <option>1976</option> 
			  <option>1977</option> 
			  <option>1978</option> 
			  <option>1979</option> 
			  <option>1980</option> 
			  <option>1981</option> 
			  <option>1982</option> 
			  <option>1983</option> 
			  <option>1984</option> 
			  <option>1985</option> 
			  <option>1986</option> 
			  <option>1987</option> 
			  <option>1988</option> 
			  <option>1989</option> 
			  <option>1990</option> 
			  <option>1991</option> 
			  <option>1992</option>

			  </select></td>
                      </tr>
                      <tr>
                        <td height="25"><font class="redtext">*</font> Residing 
            country :-</td>
                        <td height="25"><select name="select10"> 
						<option selected="selected">--select--</option
						></select></td>
                      </tr>

                      <tr>
                        <td height="25"><font class="redtext">*</font> Current 
            Location :-</td>
                        <td height="25"><select name="select11">
						<option selected="selected">--select--</option>
						</select></td>
                      </tr>
                      <tr>

                        <td height="25" valign="top"><font class="redtext">*</font> Contact 
            Number :-<br /></td>
                        <td height="25"><input name="residence_area" value="Area Code"/> 
			<input value="Telephone" name="residence_phoneno"/>
                          <br />
                          <input value="Mobile Number" name="Mobile" /></td>
                      </tr>
                      <tr>
                        <td height="25" colspan="2" bgcolor="#F0F7FE"><strong>Education</strong> ( Please enter your educational 
            qualification in chronological order )</td>

                        </tr>
                      <tr>
                        <td height="25" colspan="2">
						<table cellspacing="0" cellpadding="4" width="100%" border="0">
              
              <tr>
                <td width="37%" ><font class="redtext">*</font>
                Qualification</td>
                <td width="63%" >Qualification - If Others</td>

                </tr>
              <tr>
                <td><select name="select2">
                  <option>---select---</option>
                </select></td>
                <td><input type="text" name="textfield23222" /></td>
                </tr>
              
              <tr>

                <td><select name="select3">
                  <option>---select---</option>
                </select></td>
                <td><input type="text" name="textfield23223" /></td>
                </tr>
             </table>
                          <table cellspacing="0" cellpadding="4" width="100%" border="0">
                           <tr><td width="37%" ><font class="redtext">*</font> Specialization</td>

                                <td width="63%" >Specialization - If Others</td>
                              </tr>
                              <tr>
                               
                                
                                <td>
                                  <select name="select">
                                    <option>---select---</option>
                                  </select>                                </td>

                                <td><input type="text" name="textfield2322" /></td>
                              </tr>
                              
                              <tr>
                               
                                
                                <td><select name="select4">
                                  <option>---select---</option>
                                </select></td>
                                <td><input type="text" name="textfield2323" /></td>
                              </tr>

                              </table></td>
                        </tr>
                      <tr>
                        <td height="25" colspan="2" bgcolor="#F0F7FE"><strong>Professional Experience</strong></td>
                        </tr>
                      <tr>
                        <td height="25"><font class="redtext">*</font> Total Years of 
            Experience </td>

                        <td height="25">
                          <select name="select12">
                            <option selected="selected">Years</option>
                            <option>0</option>
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>

                            <option>4</option>
                            <option>5</option>
                            <option>6</option>
                            <option>7</option>
                            <option>8</option>
                            <option>9</option>

                            <option>10</option>
                            <option>11</option>
                            <option>12</option>
                            <option>13</option>
                            <option>14</option>
                            <option>15</option>

                            <option>16</option>
                            <option>17</option>
                            <option>18</option>
                            <option>19</option>
                            <option>20</option>
                            <option>21</option>

                            <option>22</option>
                            <option>23</option>
                            <option>24</option>
                            <option>25</option>
                            <option>26</option>
                            <option>27</option>

                            <option>28</option>
                            <option>29</option>
                            <option>30</option>
                            <option>31</option>
                            <option>32</option>
                            <option>33</option>

                            <option>34</option>
                            <option>35</option>
                            <option>36</option>
                            <option>37</option>
                            <option>38</option>
                            <option>39</option>

                            <option>40</option>
                            <option>40+</option>
                          </select>
                          <select name="select12">
						  <option selected="selected">Months</option>
						  <option>0</option> 
              <option>1</option> 
			  <option>2</option> 
			  <option>3</option> 
			  <option>4</option> 
			  <option>5</option> 
              <option>6</option> 
			  <option>7</option> 
			  <option>8</option> 
			  <option>9</option> 
			  <option>10</option> 
              <option>11</option>

			  </select></td>
                      </tr>
                      <tr>
                        <td height="25"><font class="redtext">*</font> Current 
          Industry</td>
                        <td height="25"><select name="select5">
                          <option>---select---</option>
                        </select></td>

                      </tr>
                      <tr>
                        <td height="25"><font class="redtext">*</font> Current Functional 
            Area</td>
                        <td height="25"><select name="select6">
                          <option>---select---</option>
                        </select></td>
                      </tr>

                      <tr>
                        <td height="25"><font class="redtext">*</font> Current Job 
          Role</td>
                        <td height="25"><select name="select7">
                          <option>---select---</option>
                        </select></td>
                      </tr>
                      <tr>

                        <td height="25"><font class="redtext">*</font> Key Skills<br />
                          <br />
                          <font class="loginfont">( Do not enter soft skills such as "Hard Working", "Sincere" etc )</font></td>
                        <td height="25"> <textarea name="textarea" rows="3"></textarea></td>
                      </tr>
                      <tr>

                        <td height="25">Resume 
          Headline</td>
                        <td height="25"><input type="text" name="textfield23232" /></td>
                      </tr>
                      <tr>
                        <td height="25" colspan="2" bgcolor="#F0F7FE"><strong>Resume Details </strong>( <font class="redtext">*</font> select One 
            option ) </td>
                        </tr>

                      <tr>
                        <td height="25" colspan="2">Upload Resume
 <font class="loginfont">( Recommended )</font></td>
                        </tr>
                      <tr>
                        <td height="25" colspan="2">
                          <input type="file" name="file" /> <br />
                          <br />

<strong>Note : </strong><br />
 <font class="loginfont1">
- Please make sure your document is closed before uploading it to avoid any errors.<br />
- You may upload Word / Acrobat / Text (.doc / .pdf / .txt) documents.<br />
- Maximum size 125kb. </font>                     </td>
                        </tr>
                      <tr>
                        <td height="25" colspan="2"><b>OR</b></td>

                        </tr>
                      <tr>
                        <td height="25" colspan="2">Copy and Paste 
            Resume</td>
                        </tr>
                      <tr>
                        <td height="25" colspan="2"><img src="/images/up.gif" alt="" width="441" height="144" /><br />
                          <br />
<strong>Note : </strong><br />

 <font class="loginfont1">
Employers will view your resume in the same format and alignment as it appears on this text box. Kindly check your resume format and make any required changes 
 before you Submit.We recommend you use the Upload Resume option to 
            avoid any distortion.</font></td>
                        </tr>
                      
                      <tr>
                        <td height="25">&nbsp;</td>
                        <td width="63%" height="25"><a href="#"><img src="/images/continue.gif" alt="" width="107" height="27" border="0" /></a></td>
                        </tr>
                      
                    </table></td>
                    <td class="brright"><img src="/images/blue-m-right.gif" alt="" width="12" height="97" /></td>

                  </tr>
                  <tr>
                    <td><img src="/images/blue-b-left.gif" alt="" width="12" height="12" /></td>
                    <td class="brbottom">&nbsp;</td>
                    <td><img src="/images/blue-b-right.gif" alt="" width="12" height="12" /></td>
                  </tr>
                </table>
			   
               </div></td>
              <td class="lright"><img src="/images/left-m-right.gif" alt="" width="11" height="146" /></td>

            </tr>
            <tr>
              <td><img src="/images/left-b-left.gif" alt="" width="11" height="12" /></td>
              <td class="lbottom">&nbsp;</td>
              <td><img src="/images/left-b-right.gif" alt="" width="11" height="12" /></td>
            </tr>
          </table></td>
        </tr>
      </table></td>

               		<div id="example" class="post">
			
			<div class="story">

<%=form_tag({:controller => 'rents101', :action=>'check_code'}, :multipart => true)%>
  <%= render :partial => 'memberform' %><br />
  <%= submit_tag "Create My Account" %>
</form>

			</div>
		</div>

