   
                  <h2>Why <%=Sitestuff::MYDOMAIN%>?</h2>
                <br />
                <br />
               <div class="lmargin">

			
 
<b>Features and Benefits of our site</b>
<div class="loginlh">
<table border="1"  bordercolor="#CFE4FA" cellspacing=0 cellpadding=2><tbody>
	<tr><td><b><img src="/images/icons/nolimit.gif" alt='no limit', title='no limit'/>Unlimited Contacts</b></td><td>Unlike other websites which charges for every 10 contacts, our members can get the contact details of any profiles in our site - No Limit!!!</td></tr>
	<tr><td><b>Free Registration</b></td><td>Sign up and try our site for free for 7 days. If you like it then pay for the registration</td></tr>
	<tr><td><b><img src="/images/icons/privacy.gif"/><br/>Privacy Protection</b></td><td>Excellent Privacy features - Send Private messages safely and securely without revealing your Email</td></tr>

<tr><td><b><img src="/images/icons/privatemalebig.gif" width="48" length="48"/><br/>Private Photo Gallery</b></td><td>Have your own private password protected photo gallery!</td></tr>
	
	
	<tr><td><b><img src="/images/icons/help.gif"/><br/>Excellent Support</b></td><td>Excellent Support  over phone, email and Live Help</td></tr>
	
	<tr><td><b>Google Like Search</b></td><td>Just try our search like Google; example if you are looking for Madhwa working in tcs just type in Madhwa + tcs  and hit enter</td></tr>
	<tr><td><b><img src="/images/icons/jobagent.png"/><br/>Automatic Email Alerts</b></td><td>Looking for certain <%=Sitestuff::MYSINGLEKEY %> in a specific Age Range? Our automatic email alert will send matching profiles daily by email</td></tr>
<tr><td><b><img src="/images/icons/cupid48.jpg"/><br/>Curious Matching</b></td><td>Want to know who is looking at your profile or may have a crush on you? Our analytical tool will show you who has been looking at you or saving your profile so you can contact and proceed further. </td></tr>

</tbody></table>
</div>
  
  


 
 


