<script type="text/javascript">

    /*
     Initialize the navbar and toolbars
     */

    $(function() {
        $( "[data-role='navbar']" ).navbar();
        $( "[data-role='header'], [data-role='footer']" ).toolbar();
    });

</script>

<div data-role="header"   >
  <a href="/mobile/myhome" data-ajax="false" data-theme="d" data-icon="home">Flash Page</a>
  </div>
<div data-role="page" id="home" data-title="MarryASunni.com">
<div role="main" class="ui-content">
  <div style="text-align: center;">
    <img src="http://www.brahminsmatrimony.com/images/logo1.gif" alt="Logo"><br/>
    Welcome <% if session[:member] %> <%=session[:myname] %> <% end %> </h1>

  </div>
   <a href="/mobile/showadagebrowse" data-ajax="false" class="ui-btn ui-btn-b ui-corner-all ui-shadow ui-icon-grid ui-btn-icon-left"  data-theme="b">Browse Profiles</a>

</div>
</div>

<div data-role="footer" data-position="fixed" data-theme="a">
    <div data-role="navbar">
      <ul>
            <li><a href="mailto:support@brahminsmatrimony.com?subject=Mobile%20Suport&body=BrahminsMatrimony%20Mobile">Contact Us</a></li>
      </ul>
    </div>
  </div>
<div id="status">
</div>
