<h1>Listing members</h1>

<table>
  <tr>
    <th>Id</th>
  </tr>

<% for member in @members %>
  <tr>
    <td><%=h member.id %></td>
    <td><%= link_to 'Show', member %></td>
    <td><%= link_to 'Edit', edit_member_path(member) %></td>
    <td><%= link_to 'Destroy', member, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New member', new_member_path %>
