<%= error_messages_for 'pmessage' %>

<!--[form:pmessage]-->
<p><label for="pmessage_title">Message Title</label><br/>
<%= text_field 'pmessage', 'title'  %></p>

<p><label for="pmessage_description">Message</label><br/>
<%= text_area 'pmessage', 'description'  %></p>

<!--[eoform:pmessage]-->

