      <%= javascript_include_tag :fckeditor %>
     
<h2 class="dot">Create or Edit Your Profile ID <%=@myuser.id.to_s%></h2>
 <%= error_messages_for 'ad' %>
<table border="0" cellspacing="0" cellpadding="0">

      

			   <table width="100%" border="0" cellspacing="0" cellpadding="0">
        
                    	
                    	  <tr>
                        <td height="25"><font class="redtext">*</font> Real Name :- </td>
                        <td height="25"><%= text_field 'ad', 'realname'  %></td>
                    </tr> 
                    	
                    	<tr>
                        <td height="25"><font class="redtext">*</font> Marital Status :- </td>
                        <td height="25"><%= select("ad","maritalstatus_id", Maritalstatus.find(:all, :order => "name").collect { |s1| [s1.name, s1.id]} )%></td>
                        </tr>
                        
                         <tr>
                        <td height="25"><font class="redtext">*</font> Date Of Birth Year, Month and day:- </td>
                        <td height="25"><%= select("ad","year_id", Year.find(:all, :order => "name").collect { |s1| [s1.name, s1.id]} )%> 
                        	<%= select("ad","month_id", Month.find(:all, :order => "id").collect { |s1| [s1.name, s1.id]} )%>
                        	<%= select("ad","day_id", Day.find(:all, :order => "name").collect { |s1| [s1.name, s1.id]} )%>
                        </td>
                        </tr>
                        
                                   <tr>
                        <td height="25"><font class="redtext">*</font> Origin :- </td>
                        <td height="25"><%= select("ad","propertytype_id", Propertytype.find(:all, :order => "propertytypename").collect { |s1| [s1.propertytypename, s1.id]} )%></td>
                        </tr>

 <tr>
                        <td height="25"><font class="redtext">*</font> Math’hab followed  :- </td>
                        <td height="25"><%= select("ad","adcity_id", Adcity.find(:all, :order => "adcityname").collect { |s1| [s1.adcityname, s1.id]} )%></td>
                        </tr>  

 
 
      
                     
                             	   	
			   
                    
                     <tr>
                        <td height="25"><font class="redtext"></font> Zodiac :- </td>
                        <td height="25"><%= select("ad","zodiac_id", Zodiac.find(:all, :order => "name").collect { |s1| [s1.name, s1.id]} )%></td>
                    </tr> 
<br/>
                             
                               <tr>
                        <td height="25"><font class="redtext">*</font> Educational Qualification :- </td>
                        <td height="25"><%= text_field 'ad', 'degrees'  %></td>
                        </tr> 
                                                  <tr>
                        <td height="25"><font class="redtext">*</font> Education Major :- </td>
                        <td height="25"><%= select("ad","educationmajor_id", Educationmajor.find(:all, :order => "name").collect { |s1| [s1.name, s1.id]} )%></td>
                        </tr>   
                        
                         
                      
                               <tr>
                        <td height="25"><font class="redtext">*</font> Job Type :- </td>
                        <td height="25"><%= select("ad","jobtitle_id", Jobtitle.find(:all, :order => "name").collect { |s1| [s1.name, s1.id]} )%></td>
                        </tr> 
                                                
                               <tr>
                        <td height="25"><font class="redtext">*</font> Current Job Title :- </td>
                        <td height="25"><%= text_field 'ad', 'occupation'  %></td>
                        </tr> 
                        
                                <tr>
                        <td height="25"><font class="redtext">*</font> Salary/Income :- </td>
                        <td height="25"><%= text_field 'ad', 'mysalary'  %></td>
                        </tr>
                        
                                         
                         <tr>
                        <td height="25"><font class="redtext">*</font> Job Transferable? :- </td>
                        <td height="25"><%= text_field 'ad', 'jobtransfer'  %></td>
                        </tr> 

                        
                        
                               <tr>
                        <td height="25"><font class="redtext">*</font> Currently Residing At City and Country :- </td>
                        <td height="25"><%= text_field 'ad', 'mycity1'  %> <%= select("ad","mycountry_id", Mycountry.find(:all, :order => "name").collect { |s1| [s1.name, s1.id]} )%></td>
                        </tr> 
                              <tr>
                        <td height="25"><font class="redtext">*</font> Visa Status if Outside Home Country :- </td>
                        <td height="25"><%= text_field 'ad', 'visastatus'  %></td>
                        </tr> 
                        
                        
                         <tr>
                        <td height="25"><font class="redtext">*</font> Contact Address :- </td>
                        <td height="25"><%= text_field 'ad', 'homeaddress'  %></td>
                        </tr> 

                   
                         <tr>
                        <td height="25"><font class="redtext">*</font> Zip/Pin Code :- </td>
                        <td height="25"><%= text_field 'ad', 'zip'  %></td>
                        </tr> 
                                                
                         
                    
                                           <tr>
                        <td height="25"><font class="redtext">*</font> Profile Title :- </td>
                        <td height="25"><%= text_field 'ad', 'title', "size" => 55  %></td>
                    </tr> 
                    
                </table>
                        
                        <br/>
                         <table width="100%" bordercolor="#ff8080" bgColor=#fdfeeb  border="1" cellspacing="0" cellpadding="0">

        <tr>
          <td bgcolor="#fcf83f"><div class="loginlh"><strong>Enter your Profile Desscription. You can personalize this with all the tools - *** Important *** Please do not include any contact Information in this like email or phone no - we will remove it as per our policy </strong> </div></td>
        </tr>
       </table>
			   <table width="100%" border="0" cellspacing="0" cellpadding="0">
                  
  
                                     
                    
                         <tr>
                        
                        <td >
                        	<%= fckeditor_textarea("ad", "description",:toolbarSet => 'Simple', :width => '500', :height => '500px')%> 

                        	</td>
                        </tr> 
                    </table><br/>
                    <table width="100%" bordercolor="#ff8080" bgColor=#fdfeeb  border="1" cellspacing="0" cellpadding="0">

        <tr>
          <td bgcolor="#fcf83f"><div class="loginlh"><strong>Enter your Personal Data and Choices</strong> </div></td>
        </tr>
       </table>
			   <table width="100%" border="0" cellspacing="0" cellpadding="0">
			   	     <tr>
                        <td height="25"><font class="redtext"></font> Family Details :- </td>
                        <td height="25"><%= text_area  'ad', 'family', "size" => '40x4'  %>
</td>
                    </tr> 
                     <tr>
                        <td height="25"><font class="redtext"></font> Hobbies and Interests :- </td>
                        <td height="25"><%= text_area  'ad', 'hobbies', "size" => '40x4'  %></td>
                    </tr> 
                               
                     <tr>
                        <td height="25"><font class="redtext"></font> Mother Tongue :- </td>
                        <td height="25"><%= text_field 'ad', 'mylang'  %></td>
                    </tr> 
			   	<tr>
                        <td height="25"><font class="redtext"></font> Height :- </td>
                        <td height="25"><%= select("ad","height_id", Height.find(:all, :order => "cms").collect { |s1| [s1.name, s1.id]} )%></td>
                    </tr> 
			   	
			   	<tr>
                        <td height="25"><font class="redtext"></font> Complexion :- </td>
                        <td height="25"><%= select("ad","complexion_id", Complexion.find(:all, :order => "name").collect { |s1| [s1.name, s1.id]} )%></td>
                    </tr> 
                    
                    <tr>
                        <td height="25"><font class="redtext"></font> Body Type :- </td>
                        <td height="25"><%= select("ad","bodytype_id", Bodytype.find(:all, :order => "name").collect { |s1| [s1.name, s1.id]} )%></td>
                    </tr> 
			   	
                     <tr>
                        <td height="25"><font class="redtext"></font> Blood Group :- </td>
                        <td height="25"><%= select("ad","bloodgroup_id", Bloodgroup.find(:all, :order => "name").collect { |s1| [s1.name, s1.id]} )%></td>
                    </tr> 
			   	
                          


                    
			   	              
			   	
			   	  <tr>
                        <td height="25"><font class="redtext"></font> Teetotaler :- </td>
                        <td height="25"><%= check_box 'ad', 'teetotaler'  %></td>
                    </tr> 
                    
                      <tr>
                        <td height="25"><font class="redtext"></font> Non Smoker :- </td>
                        <td height="25"><%= check_box 'ad', 'dontsmoke'  %></td>
                    </tr> 
                    
                    		   	
			 
                    
                    	   	
	
			   	
		   	                  </table>
                    
                    
                            <table width="100%" bordercolor="#ff8080" bgColor=#fdfeeb  border="1" cellspacing="0" cellpadding="0">

        <tr>
          <td bgcolor="#fcf83f"><div class="loginlh"><strong>Upload Up to 6 Pictures including horoscopes - Only upload pictures - No pdf or word files. Load images which are less than 100Kb. Only the following types are supported - jpg, gif, png</strong> </div></td>
        </tr>
       </table>

                        <table width="100%">
                        
                        <tr><td>Picture1 : <%= file_column_field "ad", "image1" %></td><td>        <% if @ad.image1 %>
                                 <%= image_tag url_for_file_column("ad", "image1", "thumb"),{ "class" => "gallery_pic_bdr"} %>
                                 <br/><%=link_to "Clear this Image", :controller => 'userfunctions', :action => 'clearphoto', :myadid => @ad.id, :myimageid => 1 %>
                                
                                 
                                 <% end %>
                                 </td></tr>


                        <tr><td>Picture2 : <%= file_column_field "ad", "image2" %>         </td><td> <% if @ad.image2 %>
                                 <%= image_tag url_for_file_column("ad", "image2", "thumb"),{ "class" => "gallery_pic_bdr"} %>
                                  <br/><%=link_to "Clear this Image", :controller => 'userfunctions', :action => 'clearphoto', :myadid => @ad.id, :myimageid => 2 %>
                                 <% end %>
                                 </td></tr>
                        <tr><td> Picture3 : <%= file_column_field "ad", "image3" %>        </td><td> <% if @ad.image3 %>
                                 <%= image_tag url_for_file_column("ad", "image3", "thumb"),{ "class" => "gallery_pic_bdr"} %>
                                  <br/><%=link_to "Clear this Image", :controller => 'userfunctions', :action => 'clearphoto', :myadid => @ad.id, :myimageid => 3 %>
                                 <% end %>
                                 </td></tr>
                        
                         <tr><td>Picture4 : <%= file_column_field "ad", "image4" %>       </td><td> <% if @ad.image4 %>
                                 <%= image_tag url_for_file_column("ad", "image4", "thumb"),{ "class" => "gallery_pic_bdr"} %>
                                  <br/><%=link_to "Clear this Image", :controller => 'userfunctions', :action => 'clearphoto', :myadid => @ad.id, :myimageid => 4 %>
                                 <% end %>
                                 </td></tr>

<tr><td>Picture5 : <%= file_column_field "ad", "image5" %>         </td><td> <% if @ad.image5 %>
                                 <%= image_tag url_for_file_column("ad", "image5", "thumb"),{ "class" => "gallery_pic_bdr"} %>
                             <br/><%=link_to "Clear this Image", :controller => 'userfunctions', :action => 'clearphoto', :myadid => @ad.id, :myimageid => 5 %>
                                 <% end %>
                                 </td></tr>
                                 
                                 
                                 <tr><td>Picture6 : <%= file_column_field "ad", "image6" %>         </td><td> <% if @ad.image6 %>
                               <br/><%=link_to "Clear this Image", :controller => 'userfunctions', :action => 'clearphoto', :myadid => @ad.id, :myimageid => 6 %>
                                 <% end %>
                                 </td></tr>
                                 
                                   </table>
                    
                    
                            <table width="100%" bordercolor="#ff8080" bgColor=#fdfeeb  border="1" cellspacing="0" cellpadding="0">

        <tr>
          <td bgcolor="#fcf83f"><div class="loginlh"><strong>Upload Up to 3 Private Password Protected photos. Load images which are less than 100Kb. Only the following types are supported - jpg, gif, png</strong> </div></td>
        </tr>
       </table>

                        <table width="100%">
                        
                        	   	  <tr>
                        <td height="25"><font class="redtext"></font> Password for Private Photos :- </td>
                        <td height="25"><%= text_field 'ad', 'privatepass'  %></td>
                    </tr> 
                    
                        <tr><td>Private Photo1 : <%= file_column_field "ad", "pimage1" %></td><td>        <% if @ad.pimage1 %>
                                 <%= image_tag url_for_file_column("ad", "pimage1", "thumb"),{ "class" => "gallery_pic_bdr"} %>
                                  <br/><%=link_to "Clear this Image", :controller => 'userfunctions', :action => 'clearphoto', :myadid => @ad.id, :myimageid => 11 %>
                                 <% end %>
                                 </td></tr>


                        <tr><td>Private Photo2 : <%= file_column_field "ad", "pimage2" %>         </td><td> <% if @ad.pimage2 %>
                                 <%= image_tag url_for_file_column("ad", "pimage2", "thumb"),{ "class" => "gallery_pic_bdr"} %>
                                  <br/><%=link_to "Clear this Image", :controller => 'userfunctions', :action => 'clearphoto', :myadid => @ad.id, :myimageid => 12 %>
                                 <% end %>
                                 </td></tr>
                        <tr><td>Private Photo3 : <%= file_column_field "ad", "pimage3" %>        </td><td> <% if @ad.pimage3 %>
                                 <%= image_tag url_for_file_column("ad", "pimage3", "thumb"),{ "class" => "gallery_pic_bdr"} %>
                                  <br/><%=link_to "Clear this Image", :controller => 'userfunctions', :action => 'clearphoto', :myadid => @ad.id, :myimageid => 13 %>
                                 <% end %>
                                 </td></tr>
                        
                     
                                 
                    </table></br/>
                     <table width="100%" bordercolor="#ff8080" bgColor=#fdfeeb  border="1" cellspacing="0" cellpadding="0">

        <tr>
          <td bgcolor="#fcf83f"><div class="loginlh"><strong>Details of the Ideal Match You Are looking for</strong> </div></td>
        </tr>
       </table>
                    
                      <table width="100%" border="1" cellspacing="0" cellpadding="0">
                      	 <tr>
                        <td height="25"><font class="redtext">*</font> Age Range :- </td>
                        <td height="25"><%= select("ad","agerange1_id", Agerange1.find(:all, :order => "age").collect { |s1| [s1.age, s1.id]} )%>-<%= select("ad","agerange2_id", Agerange2.find(:all, :order => "age").collect { |s1| [s1.age, s1.id]} )%></td>
                    </tr> 
                      		
                                      
                    
                     <tr>
                        <td height="25"><font class="redtext">*</font> Job Type :- </td>
                        <td height="25"><%= text_field 'ad', 'lookingjobtype' %></td>
                    </tr> 
                     
                    
                     <tr>
                        <td height="25"><font class="redtext">*</font> Complexion :- </td>
                        <td height="25"><%= text_field 'ad', 'lookingcomplexion'  %></td>
                    </tr> 
                    
                   
                    
                     <tr>
                        <td height="25"><font class="redtext">*</font> Origin :- </td>
                        <td height="25"><%= text_field 'ad', 'lookingorigin'%></td>
                    </tr> 
     
                    
                     <tr>
                        <td height="25"><font class="redtext">*</font> Height Range :- </td>
                        <td height="25"><%= select("ad","lookingheight_id", Lookingheight.find(:all, :order => "name").collect { |s1| [s1.name, s1.id]} )%></td>
                    </tr> 
                    
                    
                                      <tr>
                        <td height="25"><font class="redtext">*</font> Body Type :- </td>
                        <td height="25"><%= select("ad","lookingbodytype_id", Lookingbodytype.find(:all, :order => "name").collect { |s1| [s1.name, s1.id]} )%></td>
                    </tr> 
                    
                          <tr>
                        <td height="25"><font class="redtext">*</font> Ideal Match Description :- </td>
                        <td height="25"><%= text_area 'ad', 'partnerdescription', "size" => '40x10'  %></td>
                    </tr> 
                        
                        
                                                                 <tr>
                        
                        <td ><input type="submit" value="Submit" class="searchbtn" />  </td>
                        </tr>
                      
                    </table>
                    

 
 


