<h1>New pmessage</h1>

<%=form_tag({:controller => 'userfunctions', :id => params[:ad_id], :action=>'pmcreate'},  :multipart => true)%>
  <%= render :partial => 'pmform' %>
  <%= submit_tag "Create" %>
</form>

