<h1>Reply To PM</h1>

<%=form_tag({:controller => 'userfunctions', :action=>'pmreplycreate', :reply_member_id => params[:reply_member_id]}, :multipart => true)%>
  <%= render :partial => 'pmform' %>
  <%= submit_tag "Create" %>
</form>

