<h1>Editing savedsearch</h1>

<%=form_tag({:controller => 'userfunctions', :action=>'savedsearchupdate', :id => @savedsearch}, :multipart => true)%>


<%= error_messages_for 'savedsearch' %>

<!--[form:savedsearch]-->
<p>Wanted/Available<br/><%=
   select("savedsearch","adtype_id", Adtype.find_all.collect { |s1| [s1.adtypename, s1.id]} )%>
</p>
<p>Type Of Property<br/><%=
   select("savedsearch","propertytype_id", Propertytype.find_all.collect { |s1| [s1.propertytypename, s1.id]} )%>
</p>

<p>Location<br/><%=
   select("savedsearch","adcity_id", Adcity.find_all.collect { |s1| [s1.adcityname, s1.id]} )%>
</p>

<p><label for="savedsearch_searchterms">Search Terms</label><br/>
<%= text_field 'savedsearch', 'searchterms'  %></p>


<p><label for="savedsearch_savedname">Give a Name for this Search</label><br/>
<%= text_field 'savedsearch', 'savedname'  %></p>

<p>
<%= check_box 'savedsearch', 'emailalert'  %><label for="savedsearch_emailalert">Alert me by Email for new ads</label>
</p>
<!--[eoform:savedsearch]-->

  <%= submit_tag 'Edit' %>

</form>


