
                  <h2 class="dot">Browse By Category and Location</h2>
                  <% if session[:superuser] %>
                  <% @mylink = 'All('+Mad.count.to_s+')' %>
                  <% else %>
                  <% @mylink = 'All'%>
                  <% end %>
<br/><h3><%= link_to @mylink, {:action => 'marketbrowse', :mtype => 'all', :mcat => 'all', :mlocation => 'all', :marea => 'all'} %>  
<% for @mymtype in  @mymtypes %> 
| <% @link = url_for(:action => 'marketbrowse', :mtype => @mymtype.mtypename, 
:mcat => session[:mcat] ? session[:mcat] : 'all', 
:mlocation => session[:mlocation] ? session[:mlocation] : 'all', :marea => session[:marea] ? session[:marea] : 'all' ) %>
<a href="<%=@link%>" ><%=@mymtype.mtypename %></a>

<%end %> | <a href="/marketplace/newad">Post a New Ad to Market Place (Free!)</a>

</h3>

<br/>

  
 

			   
                  
               
                    <table width="100%" border="0" align="center" cellpadding="4" cellspacing="1" bgcolor="#CFE4FA">
<tr><td><b>Category</b></td><td><b>Location</b>

</td></tr>
	<tr>
	<td bgcolor="#FFFFFF"><font class="loginlh">
  
<% for @mymcat in  @mymcats %> 
<% @link = url_for(:action => 'marketbrowse', :mtype => session[:mtype] ? session[:mtype] : 'all', 
:mcat => @mymcat.mcatname, 
:mlocation => session[:mlocation] ? session[:mlocation] : 'all'  , :marea => session[:marea] ? session[:marea] : 'all'  )  %>
<a href="<%=@link%>" ><%=@mymcat.mcatname %></a> 
<br/>
<% end %>

<br/>

</font>
</td>

<td bgcolor="#FFFFFF"><font class="loginlh">
  
<% for @mymloc in  @mymlocs %>  
<% @link = url_for(:action => 'marketbrowse', :mtype => session[:mtype] ? session[:mtype] : 'all', 
:mcat => session[:mcat] ? session[:mcat] : 'all', 
:mlocation => @mymloc.mlocname , :marea => session[:marea] ? session[:marea] : 'all'  )  %>
<a href="<%=@link%>" ><%=@mymloc.mlocname %></a>
<br/><%end %>


</font>
</td>





</tr>


                        
                        
                  
                    </table>

