                            <% @link = url_for(:action => 'madshow', :id => @myad.id, :mcat => @myad.mcatname, :mloc => @myad.mlocname,  :addescr => @myad.myurl) %>

 <tr>     
                       	 <td align="left" valign="top" bgcolor="#FFFFFF"><font class="loginlh"><a href="<%=@link%>" class="searchlink"><%=@myad.title[0..59]%></a>
<br />
<br/>

  
	
	
<br/>                                 
<%=@myad.shortdesc%>
<%  if @myad.status == 0 %>
	
<h1>Pending Ad </h1>
<% end %>
 
                       	
                       	
                              <td align="left" valign="top" bgcolor="#FFFFFF"><font class="loginlh">
                              	
                              	<b><%=@myad.mcat.name%></b>
                              	
                              </font>

</td>

 <td align="left" valign="top" bgcolor="#FFFFFF">
 	<b><%=@myad.mlocation.name%>, <%=@myad.mlocation.marea.name%></b> <br/> <br/> <br/>
 	<% if @myad.image1 %> <a href="<%=@link%>"><%= image_tag url_for_file_column("myad", "image1", "thumb") %>
 		<% end %>
 	</a>
 	
</td>
						</tr>