<% if session[:superuser] %>
<h2> Super User Menu </h2>
<% if @ad.member%>
<h3>IP Address: <%=@ad.member.ipaddress%>  password : <%=@ad.member.password %> email: <%=@ad.member.email%> <br/></h3>

	<%=@ad.member.usertype.name%>
	<% end %>
	
<%=link_to "Approve/Pause Ad", :controller => 'superuser', :action => 'madapprove', :id => @ad %> 
<%=link_to "Edit", :controller => 'marketplace', :action => 'medit', :id => @ad.id %>
<%= link_to 'Delete', { :controller => 'marketplace', :action => 'maddestroy', :id => @ad, :boxid => 'inbox' }, :confirm => 'Are you sure?', :post => true %>


<%=link_to "Clear Images", :controller => 'superuser', :action => 'mclearimages', :id => @ad.id %>

<% end %>
