      <table width="617" border="0" cellspacing="0" cellpadding="0">
        <tr>
          <td>&nbsp;</td>
        </tr>
        <tr>
          <td valign="top">
          	<table width="607" border="0" cellspacing="0" cellpadding="0">
            <tr>
              <td width="11"><img src="/images/left-left.gif" alt="" width="11" height="12" /></td>
              <td width="585" class="ltop">&nbsp;</td>
              <td width="11"><img src="/images/left-right.gif" alt="" width="11" height="12" /></td>
            </tr>
            <tr>
              <td class="lleft"><img src="/images/left-m-left.gif" alt="" width="11" height="146" /></td>
              <td class="lmiddle">
             
               
             
                                       <table width="100%" border="0" cellspacing="0" cellpadding="0">
                  
                  <tr>
                    <td width="12"><img src="/images/blue-left.gif" alt="" width="12" height="12" /></td>
                    <td class="brtop">&nbsp;</td>
                    <td width="12"><img src="/images/blue-right.gif" alt="" width="12" height="12" /></td>
                  </tr>
                  <tr>
                    <td class="brleft"><img src="/images/blue-m-left.gif" alt="" width="12" height="97" /></td>
                    <td align="center" class="brmiddle">
                    	<table width="100%" border="0" cellspacing="0" cellpadding="5">
                      <tr>
                        <td colspan="7" align="left"><strong>My Job Applicants
</strong></td>
                               <tr>
                        <td align="left">&nbsp;</td>
                        </tr>
                      
                    </table>
                      <br />

                      ..........................................................................................................................................<br />
                      <br />
<table width="100%" border="0" cellspacing="0" cellpadding="7">
                        
                        <tr>
                          <td colspan="2" align="left">
                          	<table width="100%" border="0" cellpadding="5" cellspacing="1" bgcolor="#CFE4FA">
                            <tr>
                              <td width="44%" align="left" bgcolor="#EAF4FE"><strong>Date</strong></td>
                              <td width="24%" align="left" bgcolor="#EAF4FE"><strong>Job Title</strong></td>
                              <td width="11%" align="left" bgcolor="#EAF4FE"><strong>Click To View</strong></td>
                              <td width="15%" align="left" bgcolor="#EAF4FE"><strong>Delete</strong></td>
                            </tr>
<% for ad in @ads %>
<% @link = url_for(:action => 'viewapplicant', :appid => ad.id) %>                                                       

                            
                            <tr>
                              <td align="left" valign="top" bgcolor="#FFFFFF"><font class="loginlh">
				<%=ad.created_at.strftime("%m/%d/%Y")%></td>
                              <td align="left" valign="top" bgcolor="#FFFFFF"><font class="loginlh">
						<%=ad.ad.title%>                                  </font></td>
                              <td align="left" valign="top" bgcolor="#FFFFFF"><a href="<%=@link%>">View</a></td>
                              <td align="left" valign="top" bgcolor="#FFFFFF">
<%= link_to 'Delete', { :action => 'appdestroy', :id => ad }, :confirm => 'Do you really want to delete?', :post => true %></td>
                            </tr>
                            <% end %>
                          </table></td>
                          </tr>
  

                        <tr><td>
                   
<%= link_to 'Previous page', { :page => @ad_pages.current.previous } if @ad_pages.current.previous %>
<%= link_to 'Next page', { :page => @ad_pages.current.next } if @ad_pages.current.next %> 


                   
                        </td></tr>
                      </table></td>
                    <td valign="middle" class="brright"><img src="/images/blue-m-right.gif" alt="" width="12" height="97" /></td>
                  </tr>
                  <tr>
                    <td><img src="/images/blue-b-left.gif" alt="" width="12" height="12" /></td>
                    <td class="brbottom">&nbsp;</td>
                    <td><img src="/images/blue-b-right.gif" alt="" width="12" height="12" /></td>
                  </tr>
                </table>
			   
                </td>
              <td class="lright"><img src="/images/left-m-right.gif" alt="" width="11" height="146" /></td>
            </tr>
            <tr>
              <td><img src="/images/left-b-left.gif" alt="" width="11" height="12" /></td>
              <td class="lbottom">&nbsp;</td>
              <td><img src="/images/left-b-right.gif" alt="" width="11" height="12" /></td>
            </tr>
          </table></td>
        </tr>
      </table>  </td>
      
