      <table width="617" border="0" cellspacing="0" cellpadding="0">

        <tr>
          <td>&nbsp;</td>
        </tr>
        
        <tr>
          <td valign="top"><table width="607" border="0" cellspacing="0" cellpadding="0">
            <tr>
              <td width="11"><img src="/images/left-left.gif" alt="" width="11" height="12" /></td>
              <td width="585" class="ltop">&nbsp;</td>
              <td width="11"><img src="/images/left-right.gif" alt="" width="11" height="12" /></td>

            </tr>
            <tr>
              <td class="lleft"><img src="/images/left-m-left.gif" alt="" width="11" height="146" /></td>
              <td class="lmiddle"><img src="/images/bullet.gif" alt="" width="19" height="18" />
                  <h1 class="lheading">Control Panel</h1>
                <br />
                <br />
               <div class="lmargin">

			   <table width="100%" border="0" cellspacing="0" cellpadding="0">
                  
                  <tr>
                    <td width="12"><img src="/images/blue-left.gif" alt="" width="12" height="12" /></td>
                    <td class="brtop">&nbsp;</td>
                    <td width="12"><img src="/images/blue-right.gif" alt="" width="12" height="12" /></td>
                  </tr>
                  <tr>
                    <td class="brleft"><img src="/images/blue-m-left.gif" alt="" width="12" height="97" /></td>
                    <td class="brmiddle"><table width="100%" border="0" align="center" cellpadding="4" cellspacing="1">
<tr><td><%= error_messages_for 'member' %></td></tr>
                        <% @myuser = Member.find(session[:member]) %>
                        <% if session[:employer] %>
                         	<% if @myuser.jbemployer %>
						<% if @myuser.jbemployer.resumecredits < 1 %>
      					  <tr>
					          <td bgcolor="#fcf83f"><div class="loginlh"><strong>You have 0 Resume Credits - <a href="mailto:support@HindusOnlyMatrimony.com">Click Here to Buy More</a> </strong> </div></td>
					        </tr>
						<% end %>
	 				<% else %>
      					  <tr>
					          <td bgcolor="#fcf83f"><div class="loginlh"><strong>Please Complete Your Company Details! - <a href="/editcompany">Click Here</a> </strong> </div></td>
					        </tr>

					<% end %>

				<% else %>

					<% if @myuser.profile %>
						  <% if @myuser.jbresume %>
						  <% else %>
      					  <tr>
					          <td bgcolor="#fcf83f"><div class="loginlh"><strong>Post your resume today (It is FREE!) - <a href="/editresume">Click Here</a> </strong> </div></td>
					        </tr>

						  <% end %>

					<% else %>
      					  <tr>
					          <td bgcolor="#fcf83f"><div class="loginlh"><strong>Please Complete Your Job Seeker Profile! - <a href="/editseekerprofile">Click Here</a> </strong> </div></td>
					        </tr>


					<% end %>

				<% end %>
                     
                        
                        
                  
                    </table>
			   <table  border="0" cellspacing="0" cellpadding="15">
<% if session[:employer] %>
		<tr>
<td><img src="/images/icons/profile.gif"/></td><td><a href="/editcompany" class="searchlink">Edit Company Data</a></td>
<td><img src="/images/icons/resume.gif"/></td><td><a href="/newjob" class="searchlink">Post A New Job</a></td>
</tr>
		<tr>
<td><img src="/images/icons/star.gif"/></td><td><a href="/myjobs" class="searchlink">My Posted Jobs</a></td>
<td><img src="/images/icons/applicants.gif"/></td><td><a href="/myapplicants" class="searchlink">Applicants for My Jobs</a></td>
</tr>
		<tr>
<td><img src="/images/icons/pmessages.gif"/></td><td><a href="/mypms" class="searchlink">My Private Messages</a></td>
<td><img src="/images/icons/help.gif"/></td><td><a href="mailto:support@HindusOnlyMatrimony.com" class="searchlink">Help and Contact</a></td>
</tr>

<% else %>
		<tr>
<td><img src="/images/icons/profile.gif"/></td><td><a href="/editseekerprofile" class="searchlink">Edit Profile</a></td>
<td><img src="/images/icons/resume.gif"/></td><td><a href="/editresume" class="searchlink">Edit Resume</a></td>
</tr>
		<tr>
<td><img src="/images/icons/pmessages.gif"/></td><td><a href="/mypms" class="searchlink">My Private Messages</a></td>
<td><img src="/images/icons/privacy.gif"/></td><td><a href="/editprivacy" class="searchlink">Edit My Privacy Settings</a></td>
</tr>
		<tr>
<td><img src="/images/icons/star.gif"/></td><td><a href="/myfavorites" class="searchlink">My Favorite/Saved Jobs</a></td>
<td><img src="/images/icons/help.gif"/></td><td><a href="mailto:support@HindusOnlyMatrimony.com" class="searchlink">Help and Contact</a></td>
</tr>

<% end %>
		</table>
</td>
                    <td class="brright"><img src="/images/blue-m-right.gif" alt="" width="12" height="97" /></td>

                  </tr>
                  <tr>
                    <td><img src="/images/blue-b-left.gif" alt="" width="12" height="12" /></td>
                    <td class="brbottom">&nbsp;</td>
                    <td><img src="/images/blue-b-right.gif" alt="" width="12" height="12" /></td>
                  </tr>
                </table>
			   
               </div></td>
              <td class="lright"><img src="/images/left-m-right.gif" alt="" width="11" height="146" /></td>

            </tr>
            <tr>
              <td><img src="/images/left-b-left.gif" alt="" width="11" height="12" /></td>
              <td class="lbottom">&nbsp;</td>
              <td><img src="/images/left-b-right.gif" alt="" width="11" height="12" /></td>
            </tr>
          </table> 
</td>
        </tr>
      </table></td>


 
 


