
.forum_post_tag
{
	margin:5px 0px 5px 2px;
}

.forum_post_tag_title
{
	padding-bottom:5px;
}

div.forum_outer
{
	position:relative; 
	border-top:1px #dfdfdf solid;
	padding-top:10px;
}

div.forum_outer div.forum_user_info_holder
{
	position:absolute; 
	width:100px;
	left:0;	
}

div.forum_outer div.forum_user_info_holder_inner
{	
	position:relative;
	width:141px;	
}

div.forum_outer div.forum_user_info
{
	width:100px;
	background:#f7f7f7;
	border:1px #dfdfdf solid;
	padding:5px 15px 5px 15px;
	-moz-border-radius:8px;
	-webkit-border-radius:8px;
  	border-radius:8px;	
	z-index:1;
}

.forum_user_info_holder_inner_image
{
	position:absolute;
	background:url('../image/layout/forum_user_info_holder_inner.png') no-repeat;
	z-index:100;
	width:10px;
	height:16px;
	top:10px;
	right:0px;
}

.forum_thread_photo
{
	padding-bottom:5px;
}

.forum_thread_user a,
.forum_thread_user a:hover
{
	font-size:12px;
	font-weight:bold;
}

div.forum_main
{
	margin-left:150px;	
	position:relative;
}

div.forum_header
{
	background:#F1F1F1; padding:5px; border-bottom:1px #F1F1F1 solid;
}

div.forum_content
{
	padding:5px; height:auto !important; height:150px; min-height:150px;
}

span.forum_post_id
{
	float:right; position:relative; margin-right:1px;
}

div.forum_signature
{
	padding:6px 4px 4px 4px;
	margin-top:12px;
	border-top:1px #DDE4EB solid;
}

div.forum_post_title
{
	border-bottom:1px #DDE4EB solid;
	padding:4px;
	margin-bottom:8px;
}

div.forum_menu
{	
	border-top:1px #DDE4EB solid;
	text-align:right;		
	height:30px;
}

.forum_menu ul
{
	margin:5px;
	padding:2px;		
}

.forum_menu li
{
	display:inline;	
	padding-left:1px;	
}

.forum_menu li a
{
	padding:7px 3px 1px 3px;		
}

.forum_menu li a:hover
{
	background:#54A4DE;	
}

.forum_menu li a.selected, .forum_menu li a:hover.selected
{
	background:#DF308B;
}

.forum_pager_bottom
{
	border:1px #EDF1F5 solid; margin-bottom:10px; border-top:none;
}

.forum_pager_top
{
	border:1px #EDF1F5 solid; border-bottom:none;
}

.forum_pager_padding
{
	padding:0px 4px 4px 4px;	
}

.forum_image
{
	width:50px;
}

.forum_image_small
{
	width:20px;
}

.forum_title
{
	width:50%;
}

.forum_count
{
	width:50px;
}

.forum_last_post
{
	width:280px;
}

.forum_full_width
{
	width:95%;	
}

.forum_announcement
{
	background:#EDEDED;
}

.forum_sticky
{
	background:#EDEDED;
}

.forum_sponsor
{
    background:#CDEAB1;
}

div.forum_image_holder
{
	position:relative;
}

div.forum_mini_new,
div.forum_mini_old,
div.forum_mini_closed
{
	position:absolute;
	left:0px;
	bottom:1px;
}

div.forum_mini_new
{
	width:15px;
	height:19px;
	text-indent:-9999px;
	overflow:hidden;	
	margin:auto;
	background:url('../image/forum/thread_new.png');
}

div.forum_mini_old
{
	width:15px;
	height:19px;
	text-indent:-9999px;
	overflow:hidden;	
	margin:auto;
	background:url('../image/forum/thread.png');
}

div.forum_mini_closed
{
	width:15px;
	height:19px;
	text-indent:-9999px;
	overflow:hidden;	
	margin:auto;
	background:url('../image/forum/thread_lock.png');
}

div.forum_large_new
{
	width:45px;
	height:45px;
	text-indent:-9999px;
	overflow:hidden;	
	margin:auto;
	background:url('../image/forum/forum_new.png');
}

div.forum_large_old
{
	width:45px;
	height:45px;
	text-indent:-9999px;
	overflow:hidden;	
	margin:auto;
	background:url('../image/forum/forum.png');
}

div.forum_large_closed
{
	width:45px;
	height:45px;
	text-indent:-9999px;
	overflow:hidden;	
	margin:auto;
	background:url('../image/forum/forum_lock.png');
}

span.forum_tag_sticky
{
	color:green;
}

div.forum_main div.attachment_holder
{
	padding:10px;
}

div#content div.forum_main div.attachment_holder h3
{
	color:#000;
	font-size:10pt;	
	font-weight:bold;
}

.forum_thank
{
	padding:4px;
	margin:8px;
	background:#F9F9F9;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
  	border-radius:4px;	
}

.forum_poll_content
{
	padding:4px;
	margin-bottom:16px;
}

.forum_row
{
	position:relative;
}

.forum_header_menu
{
	position:absolute;
	right:0px;
	top:0px;	
}

.forum_search_post
{
	border-bottom:1px #dfdfdf solid;
	padding-bottom:10px;
	margin-bottom:5px;
}

.forum_thread_view_holder
{
	border-bottom:1px #dfdfdf solid;
}

.forum_image
{

}

.forum_title
{
	min-height:60px;
	position:absolute;
	left:60px;
	top:0px;	
}

.forum_thread_total
{
	position:absolute;
	top:0px;
	right:240px;	
}

.forum_title .extra_info,
.forum_title .extra_info_link
{
	padding-top:8px;
}

.forum_last_post,
.forum_thread_last_post
{
	position:absolute;
	top:5px;
	right:0px;
	width:40%;
	background:#f7f7f7;
	border:1px #dfdfdf solid;
	padding:5px;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
  	border-radius:6px;	 
}

.forum_thread_last_post
{
	width:220px;
}

a.forum_title_link,
a.forum_title_link:hover
{
	font-size:13px;
	font-weight:bold;	
}

a.forum_thread_link,
a.forum_thread_link:hover
{
	font-size:13px;
}

a.forum_thread_link_new,
a.forum_thread_link_new:hover
{
	font-weight:bold;
}

.forum_time_stamp
{
	min-height:25px;
}