<html>
<head>
  <title>Memadmin: <%= controller.action_name %></title>
  <%= stylesheet_link_tag 'scaffold' %>
</head>
<body>
  <%= render :partial => 'menu/topmenu' %>


<p style="color: green"><%= flash[:notice] %></p>

<%= @content_for_layout %>

</body>
</html>
