<h1>New member</h1>

<%= error_messages_for :member %>

<% form_for(@member) do |f| %>
  <p>
    <b>Id</b><br />
    <%= f.text_field :id %>
  </p>

  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>

<%= link_to 'Back', members_path %>
